<div class="flex h-full flex-row items-center justify-center">
  <div
    *ngIf="params.data.query?.status === queryStatusEnum.Running"
    class="relative h-9 w-9"
  >
    <ngx-spinner
      [name]="spinnerName"
      color="rgba(54, 94, 224, 100)"
      bdColor="rgba(0, 0, 0, 0)"
      size="default"
      type="ball-pulse"
      [fullScreen]="false"
      [disableAnimation]="true"
      [zIndex]="99998"
    >
    </ngx-spinner>
  </div>

  <div
    *ngIf="params.data.query?.status === queryStatusEnum.Error"
    class="text-red1 flex h-8 w-8 flex-shrink-0"
    tippy="Query Error: {{ params.data.query?.lastErrorMessage }}"
  >
    <m-exclamation-icon></m-exclamation-icon>
  </div>

  <!-- <div>{{ params.value }}</div> -->
</div>
