<div
  class="flex flex-col divide-y divide-gray-300 my-3 py-1 px-5 bg-gray-200 rounded"
>
  <div
    *ngFor="let filter of extendedFilters; let filterIndex = index"
    class="flex flex-row items-start justify-start py-1"
  >
    <div class="flex flex-row items-start justify-center">
      <m-field-label
        [column]="filter.field"
        class="text-sm w-96"
      ></m-field-label>
    </div>

    <div class="w-20 text-gray1 text-sm">{{
      filter.field.result | result
    }}</div>

    <div>
      <div
        class="flex flex-row justify-start items-start group"
        *ngFor="
          let fraction of filter.fractions;
          let isFirst = first;
          let fractionIndex = index
        "
      >
        <div class="flex w-10 items-center justify-start">
          {{
            !isFirst && fraction.operator === fractionOperatorEnum.Or
              ? 'OR'
              : !isFirst && fraction.operator === fractionOperatorEnum.And
              ? 'AND'
              : ''
          }}
        </div>
        <div class="ml-1">
          {{ fraction.brick }}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="extendedFilters$ | async"></div>
