<mat-form-field>
  <mat-select
    placeholder="ColorScheme"
    data-cy="chartColorScheme"
    class="mp-chart-editor-field-full-width"
    [(ngModel)]="chart.color_scheme"
    (selectionChange)="colorSchemeChange($event)"
  >
    <mat-option
      [value]="chartColorSchemeEnum.Vivid"
      data-cy="chartColorSchemeVivid"
      >Vivid (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Natural"
      data-cy="chartColorSchemeNatural"
      >Natural (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Cool"
      data-cy="chartColorSchemeCool"
      >Cool (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Fire"
      data-cy="chartColorSchemeFire"
      >Fire (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Solar"
      data-cy="chartColorSchemeSolar"
      >Solar (continuous)</mat-option
    >

    <mat-option [value]="chartColorSchemeEnum.Air" data-cy="chartColorSchemeAir"
      >Air (continuous)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Aqua"
      data-cy="chartColorSchemeAqua"
      >Aqua (continuous)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Flame"
      data-cy="chartColorSchemeFlame"
      >Flame (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Ocean"
      data-cy="chartColorSchemeOcean"
      >Ocean (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Forest"
      data-cy="chartColorSchemeForest"
      >Forest (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Horizon"
      data-cy="chartColorSchemeHorizon"
      >Horizon (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Neons"
      data-cy="chartColorSchemeNeons"
      >Neons (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Picnic"
      data-cy="chartColorSchemePicnic"
      >Picnic (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.Night"
      data-cy="chartColorSchemeNight"
      >Night (ordinal)</mat-option
    >

    <mat-option
      [value]="chartColorSchemeEnum.NightLights"
      data-cy="chartColorSchemeNightLights"
      >NightLights (ordinal)</mat-option
    >
  </mat-select>
</mat-form-field>
