<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="renameFolderDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Rename Folder</div
  >

  <form
    class="flex flex-col w-80"
    [formGroup]="renameFolderForm"
    (ngSubmit)="save()"
  >
    <input
      spellcheck="false"
      data-cy="renameFolderDialogFolderNameInput"
      class="mt-9 form-input rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          renameFolderForm.controls['folderName'].invalid &&
          renameFolderForm.controls['folderName'].touched
      }"
      formControlName="folderName"
      placeholder="Folder Name"
    />
    <m-validation
      [control]="renameFolderForm.controls['folderName']"
    ></m-validation>

    <div class="mt-6">
      <button
        data-cy="renameFolderDialogSaveButton"
        class="py-3 w-28 text-base bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="renameFolderDialogCancelButton"
        class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
