<div class="mp-min-width-3 mp-max-width-3">
  <mat-toolbar>
    <a>Add this BlockML to reports section of dashboard file</a>

    <span class="example-fill-remaining-space"></span>

    <button
      mat-raised-button
      color="accent"
      ngxClipboard
      [cbContent]="reportYaml"
      >Copy to clipboard
    </button>
  </mat-toolbar>

  <ngx-monaco-editor
    *ngIf="fileEditorTheme"
    class="generate-blockml__code-editor"
    data-cy="generateBlockmlCodeEditor"
    [options]="editorOptions"
    [(ngModel)]="reportYaml"
    (onInit)="onEditorInit($event)"
  ></ngx-monaco-editor>
</div>

<div *ngIf="(fileEditorTheme$ | async)"></div>
