<div class="flex flex-row ml-2 space-x-5 h-16">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionNumberTypeSelect
      data-cy="fractionNumberTypeSelect"
      class="w-64 focus:outline-none"
      [items]="fractionNumberTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
    </ng-select>
  </form>

  <form
    [formGroup]="numberValuesForm"
    *ngIf="
      fraction.type === fractionTypeEnum.NumberIsEqualTo ||
      fraction.type === fractionTypeEnum.NumberIsNotEqualTo
    "
  >
    <input
      data-cy="fractionNumberValuesInput"
      class="w-[404px] h-[36px] form-input rounded border-gray3 focus:border-blue3 resize-none rows"
      [ngClass]="{
        'border-red-600':
          numberValuesForm.controls['numberValues'].invalid &&
          numberValuesForm.controls['numberValues'].touched
      }"
      formControlName="numberValues"
      (blur)="numberValuesBlur()"
    />
    <m-validation
      [control]="numberValuesForm.controls['numberValues']"
    ></m-validation>
  </form>

  <form
    [formGroup]="numberSingleValueForm"
    *ngIf="
      fraction.type === fractionTypeEnum.NumberIsGreaterThan ||
      fraction.type === fractionTypeEnum.NumberIsGreaterThanOrEqualTo ||
      fraction.type === fractionTypeEnum.NumberIsLessThan ||
      fraction.type === fractionTypeEnum.NumberIsLessThanOrEqualTo
    "
  >
    <input
      data-cy="fractionNumberSingleValueInput"
      class="w-48 h-[36px] form-input rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          numberSingleValueForm.controls['numberValue1'].invalid &&
          numberSingleValueForm.controls['numberValue1'].touched
      }"
      formControlName="numberValue1"
      (blur)="numberSingleValueBlur()"
    />

    <m-validation
      [control]="numberSingleValueForm.controls['numberValue1']"
    ></m-validation>
  </form>

  <form
    [formGroup]="numberBetweenOptionsForm"
    *ngIf="
      fraction.type === fractionTypeEnum.NumberIsBetween ||
      fraction.type === fractionTypeEnum.NumberIsNotBetween
    "
  >
    <ng-select
      #fractionBetweenOptionSelect
      data-cy="fractionBetweenOptionSelect"
      class="w-48 focus:outline-none h-[36px]"
      [items]="fractionNumberBetweenOptionsList"
      [clearable]="false"
      [searchable]="false"
      (change)="betweenOptionChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="numberBetweenOption"
    >
    </ng-select>
  </form>

  <form
    [formGroup]="numberBetweenForm"
    *ngIf="
      fraction.type === fractionTypeEnum.NumberIsBetween ||
      fraction.type === fractionTypeEnum.NumberIsNotBetween
    "
    class="flex flex-row space-x-5"
  >
    <div>
      <input
        data-cy="fractionNumberBetweenFirstValueInput"
        class="w-48 h-[36px] form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            numberBetweenForm.controls['numberBetweenFirstValue'].invalid &&
            numberBetweenForm.controls['numberBetweenFirstValue'].touched
        }"
        formControlName="numberBetweenFirstValue"
        (blur)="numberBetweenFirstValueBlur()"
      />

      <m-validation
        [control]="numberBetweenForm.controls['numberBetweenFirstValue']"
      ></m-validation>
    </div>

    <div>
      <input
        data-cy="fractionNumberBetweenSecondValueInput"
        class="w-48 h-[36px] form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            numberBetweenForm.controls['numberBetweenSecondValue'].invalid &&
            numberBetweenForm.controls['numberBetweenSecondValue'].touched
        }"
        formControlName="numberBetweenSecondValue"
        (blur)="numberBetweenSecondValueBlur()"
      />

      <m-validation
        [control]="numberBetweenForm.controls['numberBetweenSecondValue']"
      ></m-validation>
    </div>
  </form>
</div>
