<div class="flex h-full cursor-default flex-col bg-blue1">
  <div class="mx-6 mb-6 mt-8 flex h-full flex-row">
    <div class="flex min-w-[2px] flex-grow flex-col">
      <div class="flex h-11 flex-row items-center justify-between">
        <div
          data-cy="filesTitle"
          class="flex items-center self-center text-2xl font-semibold text-gray1"
          >{{ pageTitle }}
        </div>

        <div class="flex flex-row items-center" *ngIf="!!repo">
          <div
            tippy="Production is the read-only version of the Remote repo. Switch to the Dev repo in the navigation bar to enter Development mode."
            *ngIf="nav?.isRepoProd === true"
            class="mr-5 flex h-11 flex-row items-center text-lg font-semibold text-gray-500"
          >
            PRODUCTION
          </div>

          <!-- <div
            *ngIf="nav?.isRepoProd === false"
            class="mr-5 flex flex-row h-11 items-center text-lg font-semibold text-gray-500"
          >
            DEVELOPMENT REPO
          </div>           -->

          <ng-template #templateCommit>
            <div *ngIf="needSave === true">Need to Save changes</div>

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedResolve
              "
              >Need to Resolve conflicts</div
            >

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedPull
              "
              >Need to Pull changes from Remote</div
            >

            <div
              *ngIf="
                needSave === false &&
                (repo.repoStatus === repoStatusOk ||
                  repo.repoStatus === repoStatusNeedPush)
              "
              >No changes to commit</div
            >
          </ng-template>

          <div
            *ngIf="nav?.isRepoProd === false"
            [tippy]="templateCommit"
            [isEnabled]="
              repo.repoStatus !== repoStatusNeedCommit || needSave === true
            "
          >
            <button
              type="button"
              data-cy="filesCommitButton"
              class="ml-3 rounded py-2 px-5 text-base font-medium text-white focus:outline-none"
              [ngClass]="{
                'cursor-default bg-gray-400':
                  repo.repoStatus !== repoStatusNeedCommit || needSave === true,
                'bg-blue3':
                  repo.repoStatus === repoStatusNeedCommit && needSave === false
              }"
              (click)="commit()"
              [disabled]="
                repo.repoStatus !== repoStatusNeedCommit || needSave === true
              "
              >Commit</button
            >
          </div>

          <ng-template #templatePullFromRemote>
            <div *ngIf="needSave === true">Need to Save changes</div>
          </ng-template>

          <div
            *ngIf="repo.repoStatus === repoStatusNeedPull"
            [tippy]="templatePullFromRemote"
            [isEnabled]="needSave === true"
          >
            <button
              type="button"
              data-cy="filesCommitButton"
              class="ml-3 rounded py-2 px-5 text-base font-medium text-white focus:outline-none"
              [ngClass]="{
                'cursor-default bg-gray-400':
                  repo.repoStatus !== repoStatusNeedPull || needSave === true,
                'bg-blue3':
                  repo.repoStatus === repoStatusNeedPull && needSave === false
              }"
              (click)="pull()"
              [disabled]="
                repo.repoStatus !== repoStatusNeedPull || needSave === true
              "
              >Pull from Remote</button
            >
          </div>

          <ng-template #templatePushToRemote>
            <div *ngIf="needSave === true">Need to Save changes</div>

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedCommit
              "
              >Need to Commit changes</div
            >

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedResolve
              "
              >Need to Resolve conflicts</div
            >

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedPull
              "
              >Need to Pull changes from Remote</div
            >

            <div *ngIf="needSave === false && repo.repoStatus === repoStatusOk"
              >No changes to Push</div
            >
          </ng-template>

          <div
            *ngIf="nav?.isRepoProd === false"
            [tippy]="templatePushToRemote"
            [isEnabled]="
              repo.repoStatus !== repoStatusNeedPush || needSave === true
            "
          >
            <button
              type="button"
              data-cy="filesPushButton"
              class="ml-3 rounded py-2 px-5 text-base font-medium text-white focus:outline-none"
              [ngClass]="{
                'cursor-default bg-gray-400':
                  repo.repoStatus !== repoStatusNeedPush || needSave === true,
                'bg-blue3':
                  repo.repoStatus === repoStatusNeedPush && needSave === false
              }"
              (click)="push()"
              [disabled]="
                repo.repoStatus !== repoStatusNeedPush || needSave === true
              "
              >Push to Remote</button
            >
          </div>

          <div class="relative ml-5">
            <m-repo-options></m-repo-options>
          </div>
        </div>
      </div>

      <div class="mt-6 flex flex-grow flex-row">
        <m-files-tree class="flex w-1/3 flex-shrink-0"></m-files-tree>

        <div class="ml-6 flex min-w-[2px] flex-grow">
          <div class="w-full rounded bg-white shadow-lg">
            <div
              *ngIf="lastUrl === pathFiles"
              class="flex h-full items-center justify-center text-xl"
              >Select file...</div
            >

            <router-outlet *ngIf="lastUrl !== pathFiles"></router-outlet>
          </div>
        </div>
      </div>
    </div>

    <m-files-right class="flex w-3/12 flex-shrink-0"></m-files-right>
  </div>
</div>

<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="repo$ | async"></div>
<div *ngIf="needSave$ | async"></div>
