<mat-form-field>
  <mat-select
    placeholder="yField"
    name="chartYField"
    class="mp-chart-editor-field-full-width"
    [(ngModel)]="chart.y_field"
    (selectionChange)="yFieldChange($event)"
  >
    <mat-option
      *ngFor="let field of selectFields"
      name="chartYFieldOption"
      [value]="field.id"
    >
      <span>{{ field.top_label + ' ' | capitalize }}</span>
      <span *ngIf="field.group_label">{{
        field.group_label + ' ' | capitalize
      }}</span>
      <span>{{ field.label | capitalize }}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-error *ngIf="!chart.y_field">
  <m-validation-msg [errors]="{ required: true }"></m-validation-msg>
</mat-error>
