<div class="bg-blue1 flex justify-center items-center h-full">
  <form
    class="flex flex-col w-96"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <div
      data-cy="registerTitle"
      class="text-gray2 text-2xl text-center font-semibold"
      >Sign Up</div
    >

    <input
      data-cy="registerEmailInput"
      class="mt-9 form-input rounded border-gray3 focus:border-blue3 font-regular"
      [ngClass]="{
        'border-red-600':
          registerForm.controls['email'].invalid &&
          registerForm.controls['email'].touched
      }"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <m-validation [control]="registerForm.controls['email']"></m-validation>

    <input
      data-cy="registerPasswordInput"
      class="mt-1 form-input rounded border-gray3 focus:border-blue3 font-regular"
      [ngClass]="{
        'border-red-600':
          registerForm.controls['password'].invalid &&
          registerForm.controls['password'].touched
      }"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <m-validation [control]="registerForm.controls['password']"></m-validation>

    <button
      data-cy="registerSignUpButton"
      class="mt-1 py-3 bg-blue3 text-white rounded font-medium focus:outline-none"
      type="submit"
      >Sign Up</button
    >
  </form>
</div>
