<div class="flex h-full items-center justify-center bg-blue1">
  <form
    class="flex w-96 flex-col"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <div
      data-cy="registerTitle"
      class="text-center text-2xl font-semibold text-gray2"
      >{{ pageTitle }}</div
    >

    <input
      spellcheck="false"
      data-cy="registerEmailInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          registerForm.controls['email'].invalid &&
          registerForm.controls['email'].touched
      }"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <m-validation [control]="registerForm.controls['email']"></m-validation>

    <input
      spellcheck="false"
      data-cy="registerPasswordInput"
      class="form-input mt-1 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          registerForm.controls['password'].invalid &&
          registerForm.controls['password'].touched
      }"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <m-validation [control]="registerForm.controls['password']"></m-validation>

    <button
      data-cy="registerSignUpButton"
      class="mt-1 rounded bg-blue3 py-3 font-medium text-white focus:outline-none"
      type="submit"
      >Sign Up</button
    >
  </form>
</div>
