:host {
  // display: block;
  // width: 100%;
  // padding: 24px;
  // box-sizing: border-box;

  // .grid-container {
  //     padding: 4px;
  //     box-sizing: border-box;
  //     border: 1px solid gray;
  //     border-radius: 2px;
  //     background: #313131;
  // }

  // .grid-item-content {
  //     box-sizing: border-box;
  //     background: #ccc;
  //     border: 1px solid black;
  //     color: black;
  //     width: 100%;
  //     height: 100%;
  //     user-select: none;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  // }

  // ktd-grid {
  //     transition: height 500ms ease;
  // }

  ktd-grid-item {
    .drag-handle {
      position: absolute;
      top: -8px;
      left: -8px;
      width: 64px;
      height: 64px;
      // background-color: #ffa726;
      transform: rotate(45deg);
      color: #121212;
      cursor: grab;
    }

    // .handle-2 {
    //     border: 1px solid #121212;
    //     border-radius: 2px;
    //     color: #121212;
    //     cursor: move;
    // }

    &.ktd-grid-item-dragging {
      .drag-handle {
        cursor: grabbing;
      }
    }

    .resize-handle {
      position: absolute;
      right: 18px;
      bottom: 24px;
      width: 48px;
      height: 48px;
      // background-color: #ffa726;
      cursor: se-resize;
      color: #121212;
      transform: rotate(90deg);
    }
  }

  // customize placeholder
  ::ng-deep .ktd-grid-item-placeholder {
    background-color: #ffa726;
  }
}
