<div class="bg-blue1 flex flex-col h-full">
  <div class="flex flex-row h-full">
    <div class="flex flex-col flex-grow mx-6 mb-6 mt-8 min-w-[2px]">
      <div class="flex flex-row justify-between items-center h-11">
        <div class="flex flex-row items-center w-full">
          <div class="flex flex-row items-center space-x-5">
            <div
              data-cy="dashboardTitle"
              class="flex font-semibold text-2xl text-gray1 items-center self-center"
            >
              {{ pageTitle }}
            </div>

            <div class="text-xl text-gray1">{{
              (dashboard?.title ? dashboard?.title : dashboard?.dashboardId)
                | capitalize
            }}</div>
          </div>

          <div class="flex flex-row items-center space-x-5">
            <ui-switch
              class="ml-5"
              [checked]="showBricks"
              (change)="toggleShowReportFilters()"
            ></ui-switch>

            <div class="flex h-9 text-gray1 text-base items-center select-none"
              >Show Report Filters</div
            >
          </div>

          <button
            type="button"
            data-cy="dashboardAddReportButton"
            class="px-6 h-12 ml-5 text-blue3 border-2 text-base rounded font-medium focus:outline-none"
            (click)="addReport()"
            >Add Report</button
          >

          <button
            type="button"
            data-cy="dashboardAddFilterButton"
            class="px-6 h-12 ml-5 text-blue3 border-2 text-base rounded font-medium focus:outline-none"
            (click)="addFilter()"
            >Add Filter</button
          >

          <button
            type="button"
            data-cy="dashboardEditListenButton"
            class="px-6 h-12 ml-5 text-blue3 border-2 text-base rounded font-medium focus:outline-none"
            (click)="editListen()"
            >Edit Listen</button
          >

          <div class="flex-grow"></div>

          <div class="flex flex-row items-center text-base text-gray1">
            <button
              type="button"
              data-cy="dashboardSaveAsButton"
              class="px-6 h-12 ml-5 text-blue3 border-2 text-base rounded font-medium focus:outline-none"
              (click)="saveAs()"
              >Save As</button
            >

            <button
              type="button"
              data-cy="dashboardRunButton"
              class="px-8 py-2 ml-5 text-white text-base rounded font-medium focus:outline-none"
              [ngClass]="{
                'bg-blue3': dashboard?.reports.length > 0,
                'bg-gray-400 cursor-default': dashboard?.reports.length === 0
              }"
              (click)="run()"
              [disabled]="dashboard?.reports.length === 0"
              >Run</button
            >

            <div class="relative ml-5">
              <m-dashboard-options
                [dashboard]="dashboard"
              ></m-dashboard-options>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col flex-grow space-y-6 min-w-[2px] mt-6">
        <div class="bg-white rounded shadow-md w-full">
          <div class="flex flex-col">
            <div
              class="flex flex-row flex-grow mr-5 min-h-[95px] flex-shrink-0"
            >
              <div
                (click)="toggleFiltersPanel()"
                class="flex flex-row space-x-2 mt-5 py-3 px-5 items-start cursor-pointer font-semibold text-2xl text-gray1 select-none"
              >
                <div class="flex flex-row items-center space-x-2">
                  <div> Filters </div>
                  <m-chevron-right-icon
                    *ngIf="!filtersIsExpanded"
                  ></m-chevron-right-icon>
                  <m-chevron-down-icon
                    *ngIf="filtersIsExpanded"
                  ></m-chevron-down-icon>
                </div>
              </div>

              <div
                [ngClass]="{
                  'mt-4': dashboard?.extendedFilters.length === 1
                }"
              >
                <m-bricks
                  class="mr-5 my-3 flex flex-row items-start justify-start overflow-auto max-h-[150px] max-w-max"
                  *ngIf="!filtersIsExpanded && dashboard?.fields.length > 0"
                  [extendedFilters]="dashboard.extendedFilters"
                ></m-bricks>
              </div>

              <div
                *ngIf="filtersIsExpanded && dashboard?.fields.length === 0"
                class="flex items-center justify-center text-xl mt-9 h-full w-full select-none text-gray1"
                >No filters</div
              >

              <div
                class="flex-1 w-2 mt-2 max-h-96 overflow-auto"
                *ngIf="filtersIsExpanded && dashboard?.fields.length > 0"
              >
                <m-dashboard-filters
                  [dashboard]="dashboard"
                ></m-dashboard-filters>
              </div>
            </div>
          </div>
        </div>

        <div #scrollable class="flex flex-row flex-grow mt-6 overflow-auto h-2">
          <ktd-grid
            *ngIf="dashboard?.reports"
            [compactType]="compactType"
            [preventCollision]="preventCollision"
            [cols]="cols"
            [rowHeight]="rowHeight"
            [layout]="layout"
            [scrollableParent]="scrollable"
            [scrollSpeed]="scrollSpeed"
            (layoutUpdated)="onLayoutUpdated($event)"
            (resizeEnded)="onResizeEnded($event)"
            (dragStarted)="onDragStarted($event)"
            (dragEnded)="onDragEnded($event)"
          >
            <ktd-grid-item
              class="group"
              *ngFor="let item of layout; trackBy: trackByFn"
              [id]="item.id"
            >
              <div
                ktdGridDragHandle
                class="flex drag-handle justify-center items-center invisible group-hover:visible"
                ><m-drag-icon></m-drag-icon
              ></div>
              <div class="pb-6 pr-5 w-full h-full">
                <m-chart-rep
                  #chartRep
                  [isShow]="isShow"
                  [title]="item.report.title"
                  [report]="item.report"
                  [dashboard]="dashboard"
                  [randomId]="randomId"
                  [mconfig]="item.report.mconfig"
                  [query]="item.report.query"
                  [showBricks]="showBricks"
                ></m-chart-rep>
              </div>
              <m-resize-icon
                ktdGridResizeHandle
                class="flex resize-handle justify-center items-center invisible group-hover:visible"
              ></m-resize-icon>
            </ktd-grid-item>
          </ktd-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="dashboard$ | async"></div>
<div *ngIf="nav$ | async"></div>
