<div fxLayout="column" fxLayoutAlign="center center">
  <h3 data-cy="updatePasswordTitle">Set New Password</h3>

  <form
    [formGroup]="updatePasswordForm"
    (ngSubmit)="onSubmit(updatePasswordForm.value)"
  >
    <br />

    <mat-form-field>
      <input
        data-cy="updatePasswordNewPasswordInput"
        matInput
        type="password"
        formControlName="password"
        placeholder="new password"
      />
      <mat-error>
        <m-validation-msg
          [errors]="updatePasswordForm.controls['password'].errors"
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input
        data-cy="updatePasswordConfirmPasswordInput"
        matInput
        type="password"
        formControlName="confirmPassword"
        placeholder="confirm password"
      />
      <mat-error>
        <m-validation-msg
          [errors]="updatePasswordForm.controls['confirmPassword'].errors"
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <button
      data-cy="updatePasswordSetPasswordButton"
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="!updatePasswordForm.valid"
      >Set Password
    </button>
  </form>
</div>
