<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="editNameDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Edit Organization Name</div
  >

  <form
    class="flex flex-col w-80"
    [formGroup]="editOrgNameForm"
    (ngSubmit)="save()"
  >
    <input
      data-cy="editNameDialogOrgNameInput"
      class="mt-9 form-input rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          editOrgNameForm.controls['orgName'].invalid &&
          editOrgNameForm.controls['orgName'].touched
      }"
      formControlName="orgName"
      placeholder="Name"
    />
    <m-validation
      [control]="editOrgNameForm.controls['orgName']"
    ></m-validation>

    <div class="mt-6">
      <button
        data-cy="editNameDialogSaveButton"
        class="py-3 w-28 bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editNameDialogCancelButton"
        class="ml-3 py-3 w-28 rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
