<div
  [formGroup]="parameterFormulaForm"
  class="relative ml-5 mr-5 flex flex-1 flex-row"
>
  <div class="flex w-2/3">
    <textarea
      data-cy="parameterFormulaInput"
      class="form-input border-gray3 focus:border-blue3 flex max-h-[150px] min-h-[70px] w-full resize-y rounded font-mono"
      [ngClass]="{
        'border-red-600':
          parameterFormulaForm.controls['formula'].invalid &&
          parameterFormulaForm.controls['formula'].touched
      }"
      formControlName="formula"
      placeholder="Python formula to calculate a parameter based on the parameters of any row in the report"
      (blur)="parameterFormulaBlur()"
    ></textarea>

    <m-validation
      class="absolute -bottom-[22px] left-0"
      [control]="parameterFormulaForm.controls['formula']"
    ></m-validation>
  </div>

  <ng-template #templateParameterFormula>
    <div *ngIf="parameterFilter.isSchemaValid === false">{{
      parameterFilter.schemaError
    }}</div>
  </ng-template>

  <div
    *ngIf="
      parameterFilter.isJsonValid === false ||
      parameterFilter.isSchemaValid === false
    "
    class="text-red1 ml-5 mt-1 flex h-8 w-8 flex-shrink-0"
    [tp]="templateParameterFormula"
  >
    <m-exclamation-icon></m-exclamation-icon>
  </div>

  <!-- <div class="flex flex-1"></div> -->
</div>
