<div class="flex flex-col bg-b1 justify-center items-center h-full">
  <div class="mb-8 text-t1 text-2xl text-center font-semibold"
    >Verify your email address</div
  >
  <div class="text-t1 text-base">We sent an email to {{ email$ | async }}</div>
  <div class="text-t1 text-base"
    >Please check your inbox and confirm your email</div
  >
  <div class="mt-8 text-t1 text-base w-">Didn't receive the email?</div>
  <button
    class="font-regular focus:outline-none"
    [ngClass]="{
      'text-t2': isResendEnabled === true,
      'text-t3': isResendEnabled === false,
      'cursor-default': isResendEnabled === false,
      'text-left': isResendEnabled === false,
      'font-semibold': isResendEnabled === false,
      'w-72': isResendEnabled === false
    }"
    [disabled]="!isResendEnabled"
    (click)="resendEmail()"
    >{{ buttonText }}</button
  >
</div>
