<div class="flex flex-row items-center">
  <div>Metric</div>

  <div class="ml-5 flex flex-row items-center">
    <div
      class="flex h-9 cursor-pointer select-none items-center text-gray-500"
      [ngClass]="{
        'font-semibold': showMetricsTimeFieldName === true,
        'font-normal': showMetricsTimeFieldName === false
      }"
      (click)="toggleShowMetricsTimeFieldName()"
      >Time</div
    >
  </div>

  <div class="ml-5 flex flex-row items-center">
    <div
      class="flex h-9 cursor-pointer select-none items-center text-gray-500"
      [ngClass]="{
        'font-semibold': showMetricsModelName === true,
        'font-normal': showMetricsModelName === false
      }"
      (click)="toggleShowMetricsModelName()"
      >Model</div
    >
  </div>

  <div class="ml-5 flex flex-row items-center">
    <div
      class="flex h-9 cursor-pointer select-none items-center text-gray-500"
      [ngClass]="{
        'font-semibold': showParametersJson === true,
        'font-normal': showParametersJson === false
      }"
      (click)="toggleShowParametersJson()"
      >JSON</div
    >
  </div>

  <button
    data-cy="metricsEscButton"
    class="ml-[50px] rounded border px-4 py-1 focus:outline-none"
    [ngClass]="{
      'border-gray-400 text-gray-500 hover:bg-white':
        repSelectedNodes.length > 0,
      'cursor-default border-gray-300 text-gray-400':
        repSelectedNodes.length === 0
    }"
    type="button"
    (click)="esc()"
    [disabled]="repSelectedNodes.length === 0"
    >ESC</button
  >
</div>

<div *ngIf="repSelectedNodes$ | async"></div>
<div *ngIf="uiQuery$ | async"></div>
