@mixin pdts-theme($theme) {
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);

  .pdts {
    &__error {
      color: mat-color($warn);
    }
  }

  .detail-error {
    color: mat-color($warn);
  }
}
