<mat-toolbar class="space__sub-toolbar space_border_bottom fixed-toolbar">
  {{ selectedProjectId$ | async }}
  {{ (isDev$ | async) ? 'Dev' : 'Prod' }} Permanent Derived Tables (PDTs)
</mat-toolbar>

<div class="pdts-table">
  <table
    mat-table
    [dataSource]="pdtsExtra"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <!--
      Expanded Content Column - The detail row is made up of this one column that spans across all columns
    -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div fxLayout="row">
          <div fxFlex="3"></div> <div fxFlex="10">Dependencies:</div>
          <div fxFlex>
            <div *ngIf="element.pdt_deps.length > 0" fxLayout="column">
              <span fxFlex *ngFor="let dep of element.pdt_deps">{{ dep }}</span>
            </div>
            <div *ngIf="element.pdt_deps.length === 0"> - </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="3"></div> <div fxFlex="10">Last Run at:</div>
          <div fxFlex>
            <span>{{
              element.last_run_ts === 1 ? 'never' : element.last_run_ts
            }}</span>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="3"></div> <div fxFlex="10">Last Complete at:</div>
          <div fxFlex>
            <span>{{
              element.last_complete_ts === 1
                ? 'never'
                : element.last_complete_ts
            }}</span>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="3"></div> <div fxFlex="10">Query duration, s:</div>
          <div fxFlex>
            <span>{{ element.extra_last_complete_duration_ceil }}</span>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="pdt_id">
      <th mat-header-cell *matHeaderCellDef>PDT</th>
      <td mat-cell *matCellDef="let element"> {{ element.pdt_id }} </td>
    </ng-container>

    <ng-container matColumnDef="pdt_trigger_time">
      <th mat-header-cell *matHeaderCellDef>Trigger time</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.pdt_trigger_time">{{
          element.pdt_trigger_time.substring(2)
        }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="show_pdt_trigger_sql">
      <th mat-header-cell *matHeaderCellDef>Trigger SQL</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          *ngIf="element.pdt_trigger_sql"
          (click)="showPdtTriggerSql(element)"
          data-cy="showPdtTriggerSql"
          >Trigger SQL</button
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="pdt_trigger_sql_value">
      <th mat-header-cell *matHeaderCellDef>Trigger value</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.pdt_trigger_sql_last_error_message">{{
          element.pdt_trigger_sql_value
        }}</span>

        <span
          *ngIf="element.pdt_trigger_sql_last_error_message"
          class="pdts__error"
          matTooltip="{{element.pdt_trigger_sql_last_error_message}}"
          [matTooltipShowDelay]="appConfig.tooltipDelay"
          >error
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="show_sql">
      <th mat-header-cell *matHeaderCellDef>SQL</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          (click)="showSql(element)"
          data-cy="showPdtSql"
          >SQL</button
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.status !== queryStatusEnum.Error">{{
          element.status
        }}</span>

        <span
          *ngIf="element.status === queryStatusEnum.Error"
          class="pdts__error"
          matTooltip="{{row.last_error_message}}"
          [matTooltipShowDelay]="appConfig.tooltipDelay"
          >{{ element.status }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef>Menu</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [matMenuTriggerFor]="pdtMenu"
          [matMenuTriggerData]="{ r: element }"
          data-cy="pdtMenu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr> -->

    <tr
      mat-row
      *matRowDef="let element; let index; columns: columnsToDisplay"
      class="example-element-row"
    >
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>

  <!--
    <td-data-table [data]="pdtsExtra" [columns]="columns" class="table--pdts">

      <ng-template
        tdDataTableTemplate="scheduled"
        let-value="value"
        let-row="row"
        let-column="column"
      >
        <span flex>{{
          (row.pdt_trigger_sql || row.pdt_trigger_time) &&
          (prodStructId$ | async) === row.struct_id
            ? 'Yes'
            : 'No'
        }}</span>
      </ng-template>

    </td-data-table>
  -->
</div>

<mat-menu #pdtMenu="matMenu">
  <ng-template matMenuContent let-r="r">
    <button
      mat-menu-item
      [disabled]="!(selectedProjectUserIsEditor$ | async)"
      (click)="run(r.query_id)"
      >Run</button
    >

    <button
      mat-menu-item
      [disabled]="!(selectedProjectUserIsEditor$ | async)"
      (click)="runRefresh(r.query_id)"
      >Refresh required PDTs and Run</button
    >
  </ng-template>
</mat-menu>

<div *ngIf="(pdtsExtra$ | async)"></div>
