<mat-toolbar class="space__sub-toolbar space_border_bottom fixed-toolbar">
  {{ selectedProjectId$ | async }}
  {{ (isDev$ | async) ? 'Dev' : 'Prod' }} Permanent Derived Tables (PDTs)
</mat-toolbar>

<div class="pdts-table">
  <td-data-table [data]="pdtsExtra" [columns]="columns" class="table--pdts">
    <ng-template
      tdDataTableTemplate="pdt_deps"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <div layout="column">
        <span flex *ngFor="let dep of value">{{ dep }}</span>
      </div>
    </ng-template>

    <!--
      <ng-template
        tdDataTableTemplate="scheduled"
        let-value="value"
        let-row="row"
        let-column="column"
      >
        <span flex>{{
          (row.pdt_trigger_sql || row.pdt_trigger_time) &&
          (prodStructId$ | async) === row.struct_id
            ? 'Yes'
            : 'No'
        }}</span>
      </ng-template>
    -->

    <ng-template
      tdDataTableTemplate="pdt_trigger_time"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <span *ngIf="row.pdt_trigger_time" flex>{{
        row.pdt_trigger_time.substring(2)
      }}</span>
    </ng-template>

    <ng-template
      tdDataTableTemplate="show_pdt_trigger_sql"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <button
        mat-raised-button
        *ngIf="row.pdt_trigger_sql"
        (click)="showPdtTriggerSql(row)"
        data-cy="showPdtTriggerSql"
        >Trigger SQL</button
      >
    </ng-template>

    <ng-template
      tdDataTableTemplate="pdt_trigger_sql_value"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <span flex *ngIf="!row.pdt_trigger_sql_last_error_message">{{
        value
      }}</span>

      <span
        flex
        *ngIf="row.pdt_trigger_sql_last_error_message"
        class="pdts__error"
        matTooltip="{{row.pdt_trigger_sql_last_error_message}}"
        [matTooltipShowDelay]="appConfig.tooltipDelay"
        >error
      </span>
    </ng-template>

    <ng-template
      tdDataTableTemplate="show_sql"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <button mat-raised-button (click)="showSql(row)" data-cy="showPdtSql"
        >SQL</button
      >
    </ng-template>

    <ng-template
      tdDataTableTemplate="status"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <span flex *ngIf="value !== queryStatusEnum.Error">{{ value }}</span>

      <span
        flex
        *ngIf="value === queryStatusEnum.Error"
        class="pdts__error"
        matTooltip="{{row.last_error_message}}"
        [matTooltipShowDelay]="appConfig.tooltipDelay"
        >{{ value }}
      </span>
    </ng-template>

    <ng-template
      tdDataTableTemplate="last_run_ts"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <span flex>{{ value === 1 ? 'never' : value }}</span>
    </ng-template>

    <ng-template
      tdDataTableTemplate="last_complete_ts"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <span flex>{{ value === 1 ? 'never' : value }}</span>
    </ng-template>

    <ng-template
      tdDataTableTemplate="menu"
      let-value="value"
      let-row="row"
      let-column="column"
    >
      <button
        mat-icon-button
        [matMenuTriggerFor]="pdtMenu"
        [matMenuTriggerData]="{ r: row }"
        data-cy="pdtMenu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-template>
  </td-data-table>
</div>

<mat-menu #pdtMenu="matMenu">
  <ng-template matMenuContent let-r="r">
    <button
      mat-menu-item
      [disabled]="!(selectedProjectUserIsEditor$ | async)"
      (click)="run(r.query_id)"
      >Run</button
    >

    <button
      mat-menu-item
      [disabled]="!(selectedProjectUserIsEditor$ | async)"
      (click)="runRefresh(r.query_id)"
      >Refresh required PDTs and Run</button
    >
  </ng-template>
</mat-menu>

<div *ngIf="(pdtsExtra$ | async)"></div>
