.pdts-table {
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

tr.example-detail-row {
  background: #f5f5f5;
}

.example-element-row td {
  border-bottom-width: 0;
}

.mat-column-pdt_trigger_time {
  min-width: 100px;
}

.mat-column-show_pdt_trigger_sql {
  min-width: 150px;
}

.mat-column-pdt_trigger_sql_value {
  min-width: 150px;
  max-width: 150px;
}

.mat-column-show_sql {
  min-width: 100px;
}

.mat-column-status {
  min-width: 120px;
}

.mat-column-menu {
  min-width: 80px;
}
