<div class="ml-2 flex h-16 flex-row space-x-5">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionMonthNameTypeSelect
      data-cy="fractionMonthNameTypeSelect"
      class="custom popup-55 w-48 focus:outline-none"
      [items]="fractionMonthNameTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>

  <form
    [formGroup]="fractionForm"
    *ngIf="
      fraction.type === fractionTypeEnum.MonthNameIs ||
      fraction.type === fractionTypeEnum.MonthNameIsNot
    "
  >
    <ng-select
      #fractionMonthNameValueSelect
      data-cy="fractionMonthNameValueSelect"
      class="custom popup-55 w-48 focus:outline-none"
      [items]="fractionMonthNameValuesList"
      [clearable]="false"
      [searchable]="false"
      (change)="monthNameValueChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="monthNameValue"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>
</div>
