<mat-toolbar class="space__sub-toolbar space_border_bottom fixed-toolbar">
  <div data-cy="projectSettingsTitle">
    {{ selectedProjectId$ | async }} Settings
  </div>
</mat-toolbar>

<div class="settings">
  <div class="settings__row">
    <div class="settings__label"> Connection </div>
    <div class="settings__value">
      <m-update-connection></m-update-connection>
    </div>
  </div>

  <div *ngIf="projectConnection === projectConnectionEnum.BigQuery">
    <div class="settings__row">
      <div class="settings__label ttu">
        Google cloud project service account credentials
      </div>
      <div class="settings__value"></div>
    </div>

    <div class="settings__row">
      <div class="settings__label"> BigQuery project </div>
      <div class="settings__value">
        <div data-cy="projectSettingsBigqueryProjectData">{{
          selectedProjectBqProject$ | async
        }}</div>
      </div>
    </div>

    <div class="settings__row">
      <div class="settings__label"> Client email </div>
      <div class="settings__value">
        <div data-cy="projectSettingsBigqueryClientEmailData">{{
          selectedProjectClientEmail$ | async
        }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="projectConnection === projectConnectionEnum.PostgreSQL">
    <div class="settings__row">
      <div class="settings__label ttu"> PostgreSQL credentials </div>
      <div class="settings__value"></div>
    </div>

    <div class="settings__row">
      <div class="settings__label"> Host </div>
      <div class="settings__value">
        <div data-cy="projectSettingsPostgresHost">{{
          postgresHost$ | async
        }}</div>
      </div>
    </div>

    <div class="settings__row">
      <div class="settings__label"> Port </div>
      <div class="settings__value">
        <div data-cy="projectSettingsPostgresPort">{{
          postgresPort$ | async
        }}</div>
      </div>
    </div>

    <div class="settings__row">
      <div class="settings__label"> Database </div>
      <div class="settings__value">
        <div data-cy="projectSettingsPostgresDatabase">{{
          postgresDatabase$ | async
        }}</div>
      </div>
    </div>

    <div class="settings__row">
      <div class="settings__label"> User </div>
      <div class="settings__value">
        <div data-cy="projectSettingsPostgresUser">{{
          postgresUser$ | async
        }}</div>
      </div>
    </div>
  </div>

  <div class="settings__row settings__row-edit">
    <button
      mat-raised-button
      [disabled]="!(selectedProjectUserIsAdmin$ | async)"
      color="primary"
      (click)="openUpdateCredentialsDialog()"
      data-cy="projectSettingsEditCredentialsButton"
      >Edit Credentials</button
    >
  </div>

  <!--
    <div class="settings__row">
      <div class="settings__label"> Data Size Limit per request, GB </div>
      <div class="settings__value">
        <m-update-query-size-limit></m-update-query-size-limit>
      </div>
    </div>
  -->

  <div class="settings__row">
    <div class="settings__label"> Timezone </div>
    <div class="settings__value">
      <m-update-project-timezone></m-update-project-timezone>
    </div>
  </div>

  <div class="settings__row">
    <div class="settings__label"> Week Start Day </div>
    <div class="settings__value">
      <m-update-week-start></m-update-week-start>
    </div>
  </div>

  <div class="settings__row">
    <div class="settings__label"> Mprove Project </div>
    <div class="settings__value">
      <div data-cy="projectSettingsProjectIdData">{{
        selectedProjectId$ | async
      }}</div>
    </div>
  </div>

  <div class="settings__row settings__row-delete">
    <button
      mat-raised-button
      [disabled]="!(selectedProjectUserIsAdmin$ | async)"
      color="warn"
      (click)="openDeleteProjectDialog()"
      data-cy="projectSettingsDeleteButton"
      >DELETE PROJECT</button
    >
  </div>
</div>

<div *ngIf="(selectedProjectConnection$ | async)"></div>
