@import 'styles/variables';
@import 'styles/functions';
@import 'styles/app-theme';

@import 'styles/custom-palettes/light-primary';
@import 'styles/custom-palettes/light-accent';
@import 'styles/custom-palettes/light-warn';

@import 'styles/custom-palettes/dark-primary';
@import 'styles/custom-palettes/dark-accent';
@import 'styles/custom-palettes/dark-warn';

@import '../node_modules/@angular/material/theming';
// @import '../node_modules/@covalent/core/common/platform.scss';
@import '../node_modules/@covalent/core/theming/all-theme';

// Manually import since we're not using platform.css
// Include the core styles for Covalent
@include covalent-core();
// Include pre-bundled material-icons
$mat-font-url: '../node_modules/@covalent/core/common/styles/font/';
@include covalent-material-icons();
// Include covalent utility classes
@include covalent-utilities();
// Include flex layout classes
@include covalent-layout();
// Include covalent color classes
@include covalent-colors();

@import '../node_modules/angular-tree-component/dist/angular-tree-component';
// @import '../node_modules/jquery-jcrop/css/jquery.Jcrop';

@include mat-core();

$primary: mat-palette($light-primary);
$accent: mat-palette($light-accent, A200, A100, A400);
$warn: mat-palette($light-warn);
$theme: custom-mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);
@include material-app-theme($theme);

.dark-theme {
  $primary: mat-palette($dark-primary);
  $accent: mat-palette($dark-accent, A200, A100, A400);
  $warn: mat-palette($dark-warn);
  $theme: custom-mat-dark-theme($primary, $accent, $warn);

  @include angular-material-theme($theme);
  @include covalent-theme($theme);
  @include material-app-theme($theme);
}

.will-load {
  min-height: 80px;
}

a[md-icon-button] {
  line-height: 36px;
}

.text-capital {
  text-transform: capitalize;
}

@media only screen and (min-width: 800px) {
  md-sidenav.mat-sidenav-opened,
  md-sidenav.mat-sidenav-opening {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.08),
      0px 1px 1px 0px rgba(0, 0, 0, 0.07), 0px 1px 3px 0px rgba(0, 0, 0, 0.14) !important;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

body.clear-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

pre {
  font-family: $primary-font;
  font-size: 14px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/**
  * Basic styles from Material Design Lite for HTML elements
  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em;
}

h1 {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  font-family: $primary-font;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  font-family: $primary-font;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px;
}

h5 {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px;
}

h6 {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-bottom: 16px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 0;
}

a {
  font-weight: 500;
}

blockquote {
  font-family: $primary-font;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: 0.08em;
}

blockquote:before {
  position: absolute;
  left: -0.5em;
  content: '“';
}

blockquote:after {
  content: '”';
  margin-left: -0.05em;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal;
}

ul,
ol {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}
.ttu {
  text-transform: uppercase;
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.mp-min-width-1 {
  min-width: 300px;
}

.mp-min-width-2 {
  min-width: 600px;
}

.mp-min-width-3 {
  min-width: 900px;
}

// max-width

.mp-max-width-1 {
  max-width: 300px;
}

.mp-max-width-2 {
  max-width: 600px;
}

.mp-max-width-3 {
  max-width: 900px;
}

//

.mp-fraction-type-select-width-230 {
  width: 230px;
}

.mp-fraction-between-select-width-180 {
  width: 180px;
}

.mp-fraction-date-width-70 {
  width: 70px;
}

.mp-fraction-on-to-width-20 {
  width: 20px;
}

.mp-fraction-relative-value-width-50 {
  width: 50px;
}

.mp-fraction-last-value-width-50 {
  width: 50px;
}

.mp-fraction-for-value-width-50 {
  width: 50px;
}

.mp-fraction-last-complete-option-width-230 {
  width: 230px;
}

.mp-full-width {
  width: 100%;
}

.mp-cancel {
  float: right;
}

.mp-float-right {
  float: right;
}

// /deep/.mp-space-10 {
//   width: 10px;
//   height: 10px;
//   background: red;
// }

// .mp-space-24 {
//   width: 24px;
// }

// .mp-space-50 {
//   width: 50px;
// }

.mp-height-40 {
  height: 40px;
}

.tdloading-size {
  height: 35px;
  width: 35px;
}

.mp-data-sort-index-width-20 {
  width: 20px;
}

.mp-overflow-auto {
  overflow: auto;
}

.mp-dialog-timezone-field-full-width {
  width: 240px;
}

.app_loader {
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
