<div
  class="border-s200 flex w-full flex-row flex-wrap items-stretch overflow-visible border-b"
>
  <button
    *ngFor="let tab of tabs; trackBy: trackByTabId"
    type="button"
    class="text-s1 hover:bg-m50 group relative flex h-12 min-w-36 max-w-[30rem] flex-shrink-0 select-none flex-row items-center gap-x-2 px-5 text-base focus:outline-none"
    [ngClass]="{
      'text-m600': tab.id === activeTabId,
      'text-s500': tab.id !== activeTabId
    }"
    (click)="onSelect(tab)"
  >
    <span class="truncate">{{ tab.label }}</span>
    <span
      *ngIf="tab.id === activeTabId"
      class="bg-m600 absolute bottom-0 left-0 h-[2px] w-full"
    ></span>
  </button>
</div>
