<div class="bg-m0 flex h-[430px] flex-col items-center p-9">
  <div class="text-s2 mb-8 text-2xl font-semibold">Error</div>
  <div class="flex-grow overflow-auto">
    <div class="text-s1 grid grid-cols-4 gap-4 text-base">
      <div>Message</div>
      <div data-cy="errorDialogMessage" class="col-span-3 break-words">{{
        message
      }}</div>

      <div *ngIf="description">Description</div>
      <div
        *ngIf="description"
        data-cy="errorDialogDescription"
        class="col-span-3 break-words"
        >{{ description }}</div
      >

      <div *ngIf="originalErrorMessage">Info</div>
      <div class="col-span-3 break-words" *ngIf="originalErrorMessage">
        {{ originalErrorMessage }}
      </div>

      <div *ngIf="path">Path</div>
      <div class="col-span-3 break-words">{{ path }}</div>

      <div *ngIf="traceId">TraceId</div>
      <div class="col-span-3 break-words">{{ traceId }}</div>
    </div>
  </div>

  <div class="mt-8">
    <button
      class="bg-m600 text-m0 rounded px-5 py-3 text-base font-medium focus:outline-none"
      (click)="onOk()"
      >{{ buttonText || 'Ok' }}</button
    >
  </div>
</div>
