<div class="flex flex-col bg-white p-9">
  <div
    data-cy="editOrgOwnerDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Edit Organization Owner</div
  >

  <form
    class="flex w-96 flex-col"
    [formGroup]="editOrgOwnerForm"
    (ngSubmit)="save()"
  >
    <input
      spellcheck="false"
      data-cy="editOrgOwnerDialogEmailInput"
      type="email"
      class="form-input mt-9 w-80 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          editOrgOwnerForm.controls['ownerEmail'].invalid &&
          editOrgOwnerForm.controls['ownerEmail'].touched
      }"
      formControlName="ownerEmail"
      placeholder="New Owner Email"
    />
    <m-validation
      [control]="editOrgOwnerForm.controls['ownerEmail']"
    ></m-validation>

    <p class="text-base text-gray1"
      >The new owner must be a registered Mprove user with a verified email
      address</p
    >

    <div class="mt-6">
      <button
        data-cy="editOrgOwnerDialogSaveButton"
        class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editOrgOwnerDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
