<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="mx-6 mt-8 flex h-2 flex-1 flex-row">
    <div class="flex flex-grow flex-col">
      <div class="flex h-11 flex-row items-center">
        <div
          data-cy="vizsTitle"
          class="text-gray1 flex items-center self-center text-2xl font-semibold"
          >{{ pageTitle }}
        </div>

        <m-search-icon class="text-gray1 ml-6"></m-search-icon>

        <input
          spellcheck="false"
          data-cy="vizsSearchInput"
          class="form-input bg-blue1 focus:border-blue3 ml-3 h-10 w-[400px] rounded border-gray-400"
          placeholder="Search by Title, File Name"
          [ngClass]="{
            'bg-purple-200': !!word
          }"
          [(ngModel)]="word"
          (ngModelChange)="searchWordChange()"
        />

        <div class="h-9 w-9">
          <m-delete-icon
            *ngIf="!!word"
            class="text-gray1 ml-3 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
            [ngClass]="{
              'cursor-pointer bg-purple-200 hover:bg-purple-300': !!word
            }"
            (click)="resetSearch()"
          ></m-delete-icon>
        </div>

        <div class="ml-10 flex flex-row items-center space-x-5">
          <m-view-list-icon
            class="cursor-pointer"
            [ngClass]="{
              'text-blue-500': showList === true
            }"
            (click)="setShowListTrue()"
          ></m-view-list-icon>

          <m-view-grid-icon
            class="cursor-pointer"
            [ngClass]="{
              'text-blue-500': showList === false
            }"
            (click)="setShowListFalse()"
          ></m-view-grid-icon>
        </div>

        <div
          class="ml-10 flex flex-row items-center space-x-5"
          *ngIf="showList === false"
        >
          <ui-switch
            [checked]="showBricks"
            (change)="toggleShowFilters()"
          ></ui-switch>

          <div class="text-gray1 flex h-9 select-none items-center text-base"
            >Show Filters</div
          >
        </div>

        <div class="flex-grow"></div>

        <div class="text-gray1 flex flex-row items-center text-base">
          <ng-template #templateNewViz>
            <div *ngIf="alias === restrictedUserAlias"
              >User is restricted. Sign Up at https://mprove.io to get full
              access.</div
            >

            <div *ngIf="alias !== restrictedUserAlias && isExplorer === false"
              >Explorer role required</div
            >

            <div
              *ngIf="
                alias !== restrictedUserAlias &&
                isExplorer === true &&
                hasAccessModels.length === 0
              "
              >No models available</div
            >
          </ng-template>

          <div
            [tp]="templateNewViz"
            [tpIsEnabled]="
              alias === restrictedUserAlias ||
              isExplorer === false ||
              hasAccessModels.length === 0
            "
            class="ml-5 mr-9"
          >
            <button
              type="button"
              data-cy="vizsNewButton"
              class="w-24 rounded py-2 text-base font-medium text-white focus:outline-none"
              [ngClass]="{
                'bg-blue3 cursor-pointer':
                  alias !== restrictedUserAlias &&
                  isExplorer === true &&
                  hasAccessModels?.length > 0,
                'cursor-default bg-gray-400':
                  alias === restrictedUserAlias ||
                  isExplorer === false ||
                  hasAccessModels.length === 0
              }"
              (click)="newViz()"
              [disabled]="
                alias === restrictedUserAlias ||
                isExplorer === false ||
                hasAccessModels.length === 0
              "
            >
              New
            </button>
          </div>
        </div>
      </div>

      <div class="mt-6 flex h-2 flex-1 flex-row">
        <div class="mb-6 flex w-1/6 flex-shrink-0">
          <div class="flex w-full flex-grow rounded bg-white shadow">
            <div
              class="text-gray1 mr-5 mt-6 flex w-full flex-col pl-5 text-base"
            >
              <div class="mb-3 flex text-lg font-semibold">by Model</div>

              <div class="flex h-2 flex-grow flex-col overflow-y-auto pr-5">
                <div
                  class="flex flex-row justify-between rounded px-4 py-2 hover:cursor-pointer"
                  [ngClass]="{
                    'bg-blue-100': !modelId,
                    'hover:bg-blue2': !!modelId
                  }"
                  (click)="allModelsOnClick()"
                >
                  <div class="text-gray1"> All Models </div>
                  <div class="ml-3 flex w-12 justify-end">
                    {{ vizsFilteredByWord?.length }}
                  </div>
                </div>

                <div
                  *ngFor="let model of vizsModels"
                  class="flex w-full flex-row rounded px-4 py-2 hover:cursor-pointer"
                  [ngClass]="{
                    'bg-blue-100': modelId === model.modelId,
                    'hover:bg-blue2': modelId !== model.modelId
                  }"
                  (click)="modelOnClick(model.modelId)"
                >
                  <div class="text-gray1 truncate">
                    {{ model.label | capitalize }}
                  </div>

                  <div class="flex flex-grow"></div>

                  <div class="ml-3 flex w-12 justify-end">
                    {{ model.totalVizs }}
                  </div>
                </div>

                <div class="h-12 flex-shrink-0"></div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="mb-6 ml-6 flex flex-grow rounded bg-white shadow"
          *ngIf="showList === true"
        >
          <div
            class="ml-5 mr-5 mt-10 flex w-full flex-col divide-y divide-gray-500"
          >
            <div
              class="text-gray1 mb-3 mr-5 flex flex-row space-x-5 px-5 text-base font-semibold"
            >
              <div class="flex w-9"></div>
              <div class="flex w-1/6">File</div>
              <div class="flex w-1/3">Visualization</div>
              <div class="flex flex-1 flex-row space-x-5">
                <div class="flex flex-1">Model</div>
                <div class="flex flex-1">Access Roles</div>
                <div class="flex flex-1">Access Users</div>
                <div class="flex flex-1">Author</div>
              </div>
            </div>

            <div
              *ngIf="isShow === true && filteredVizs?.length > 0"
              class="h-2 flex-1 overflow-y-auto"
            >
              <div
                *ngFor="let item of filteredVizs; trackBy: trackByFn"
                class="flex flex-row"
                [ngStyle]="
                  item.vizId !==
                    filteredVizs[filteredVizs.length - 1].vizId && {
                    'border-bottom-width': '1px'
                  }
                "
                [ngClass]="{
                  'border-gray-300':
                    item.vizId !== filteredVizs[filteredVizs.length - 1].vizId
                }"
              >
                <div class="flex-grow flex-col">
                  <div
                    class="text-gray1 hover:border-blue2 hover:bg-blue2 group mr-5 flex w-full flex-row items-start space-x-5 rounded border border-white bg-white px-5 focus:outline-none"
                  >
                    <div class="flex w-9 pt-1">
                      <button
                        data-cy="vizOptionsMenuButton"
                        class="invisible flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none group-hover:visible"
                        #t1="tippy"
                        [tp]="templateVizOptions"
                        [tpHideOnEscape]="true"
                        tpVariation="menu"
                        className="my-menu"
                      >
                        <m-dots-vertical-icon></m-dots-vertical-icon>
                      </button>

                      <ng-template #templateVizOptions>
                        <div
                          class="border-gray4 w-64 rounded-md border-2 bg-white shadow-xl"
                        >
                          <ng-template #templateExploreViz>
                            <div *ngIf="isExplorer === false"
                              >Explorer role required</div
                            >
                            <div *ngIf="isExplorer === true"
                              >No access to model</div
                            >
                          </ng-template>

                          <!-- <div
                          [tp]="templateExploreViz"
                          placement="left"
                          [tpIsEnabled]="item.canEditOrDeleteViz === false"
                        >
                          <button
                            data-cy="vizOptionsExplore"
                            class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                            [ngClass]="{
                              'cursor-default text-gray-400':
                                item.tiles[0].hasAccessToModel === false
                            }"
                            (click)="t1.hide(); explore($event, item)"
                            [disabled]="
                              item.tiles[0].hasAccessToModel === false
                            "
                            >Explore</button
                          >
                        </div> -->

                          <div
                            tp="Viz can be edited by author and project members with ProjectAdmin or FilesEditor role. Try to save viz as new to become an author."
                            placement="left"
                            [tpIsEnabled]="item.canEditOrDeleteViz === false"
                          >
                            <button
                              data-cy="vizOptionsEditInfo"
                              class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                              [ngClass]="{
                                'cursor-default text-gray-400':
                                  item.canEditOrDeleteViz === false
                              }"
                              (click)="t1.hide(); editVizInfo($event, item)"
                              [disabled]="item.canEditOrDeleteViz === false"
                              >Edit Info</button
                            >
                          </div>

                          <!-- <button
                          data-cy="vizOptionsGoToFile"
                          class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                          (click)="t1.hide(); goToVizFile($event, item)"
                          >Go to file</button
                        > -->

                          <div
                            tp="Viz can be deleted by author and project members with ProjectAdmin or FilesEditor role. Try to save viz as new to become an author."
                            placement="left"
                            [tpIsEnabled]="item.canEditOrDeleteViz === false"
                          >
                            <button
                              data-cy="vizOptionsDelete"
                              class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                              [ngClass]="{
                                'cursor-default text-gray-400':
                                  item.canEditOrDeleteViz === false
                              }"
                              (click)="t1.hide(); deleteViz($event, item)"
                              [disabled]="item.canEditOrDeleteViz === false"
                              >Delete</button
                            >
                          </div>
                        </div>
                      </ng-template>
                    </div>

                    <div
                      class="flex w-1/6 cursor-pointer items-start truncate py-3 hover:text-blue-500 focus:outline-none"
                      (click)="goToVizFile($event, item)"
                    >
                      <span class="truncate">
                        {{ item.vizId }}
                      </span>
                    </div>

                    <div
                      class="flex w-1/3 cursor-pointer flex-row py-3 text-base hover:text-blue-500"
                      (click)="showChart(item)"
                    >
                      <div class="flex flex-row items-center">
                        <div>{{ item.title || item.vizId | capitalize }}</div>
                        <div class="relative mx-5 flex h-2 w-9 flex-shrink-0">
                          <ngx-spinner
                            [name]="item.vizId"
                            color="rgba(54, 94, 224, 100)"
                            bdColor="rgba(0, 0, 0, 0)"
                            size="default"
                            type="ball-clip-rotate"
                            [fullScreen]="false"
                            [disableAnimation]="true"
                            [zIndex]="99998"
                          >
                          </ngx-spinner>
                        </div>
                      </div>
                    </div>

                    <div
                      class="flex flex-1 cursor-default flex-row space-x-5 text-base"
                    >
                      <ng-template #templateVizsModel>
                        <div *ngIf="isExplorer === false"
                          >Explorer role required</div
                        >
                        <div *ngIf="isExplorer === true"
                          >No access to model</div
                        >
                      </ng-template>

                      <div
                        class="flex flex-1 flex-row truncate py-3"
                        [tp]="templateVizsModel"
                        [tpIsEnabled]="item.tiles[0].hasAccessToModel === false"
                      >
                        <button
                          class="flex cursor-default items-start truncate focus:outline-none"
                          [ngClass]="{
                            'cursor-pointer hover:text-blue-500':
                              item.tiles[0].hasAccessToModel === true,
                            'cursor-default':
                              item.tiles[0].hasAccessToModel === false
                          }"
                          (click)="goToModel(item.tiles[0].modelId)"
                          [disabled]="!item.tiles[0].hasAccessToModel"
                        >
                          <span class="truncate">
                            {{ item.tiles[0].modelLabel | capitalize }}
                          </span>
                        </button>

                        <m-lock-closed-icon
                          class="mb-1 ml-2 text-gray-400"
                          *ngIf="item.tiles[0].hasAccessToModel === false"
                        ></m-lock-closed-icon>
                      </div>

                      <div
                        class="flex flex-1 flex-wrap truncate py-3 text-base"
                      >
                        <span
                          *ngFor="let role of item.accessRoles"
                          class="mr-2 truncate"
                        >
                          {{ role }}
                        </span>
                      </div>

                      <div
                        class="flex flex-1 flex-wrap truncate py-3 text-base"
                      >
                        <span
                          *ngFor="let user of item.accessUsers"
                          class="mr-2 truncate"
                        >
                          {{ user }}
                        </span>
                      </div>

                      <div
                        class="flex flex-1 items-start truncate py-3 focus:outline-none"
                      >
                        <span>
                          {{ item.author }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="h-12"></div>
            </div>

            <div
              class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
              *ngIf="filteredVizs?.length === 0"
              >No visualizations</div
            >
          </div>
        </div>

        <div class="ml-6 flex flex-grow" *ngIf="showList === false">
          <div class="h-full w-full">
            <cdk-virtual-scroll-viewport
              itemSize="590"
              minBufferPx="1180"
              maxBufferPx="1180"
              *ngIf="showList === false && filteredVizRows?.length > 0"
              class="h-full w-full"
            >
              <div
                *cdkVirtualFor="let itemsRow of filteredVizRows"
                class="flex h-[590px] w-full flex-row"
              >
                <div
                  *ngFor="let item of itemsRow"
                  class="h-full w-1/2 pb-6 pr-5"
                >
                  <m-chart-viz
                    *ngIf="isShow === true"
                    [title]="item.title"
                    [tile]="item.tiles[0]"
                    [viz]="item"
                    [showBricks]="showBricks"
                    [vizDeletedFnBindThis]="vizDeletedFnBindThis"
                  ></m-chart-viz>
                </div>
              </div>
            </cdk-virtual-scroll-viewport>

            <div
              class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
              *ngIf="filteredVizs?.length === 0"
              >No visualizations</div
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="vizs$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="member$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
<div *ngIf="alias$ | async"></div>

<!-- [ngClass]="{
  'h-1/2': screenAspectRatio >= 1.5,
  'h-2/5': screenAspectRatio >= 1.2 && screenAspectRatio < 1.5,
  'h-1/3': screenAspectRatio < 1.2
}" -->
