<div class="flex flex-col h-full bg-blue1">
  <div class="flex flex-row h-full mx-6 mt-8">
    <div class="flex flex-col flex-grow">
      <div class="flex flex-row items-center h-11">
        <div
          data-cy="vizsTitle"
          class="flex font-semibold text-2xl text-gray1 items-center self-center"
          >{{ pageTitle }}
        </div>

        <div class="flex-grow"></div>

        <div class="flex flex-row items-center text-base text-gray1">
          <button
            type="button"
            data-cy="vizsNewButton"
            class="w-24 py-2 ml-5 mr-9 text-white text-base rounded font-medium focus:outline-none"
            [ngClass]="{
              'bg-blue3 cursor-pointer':
                isExplorer === true && modelsList?.length > 0,
              'bg-gray-400 cursor-default':
                isExplorer === false || !modelsList || modelsList.length === 0
            }"
            (click)="newViz()"
          >
            <div *ngIf="isExplorer === true && modelsList?.length > 0">New</div>

            <div
              *ngIf="isExplorer === false"
              nz-tooltip
              [nzTooltipTitle]="'Role Model Explorer is required'"
              nzTooltipPlacement="left"
              >New</div
            >

            <div
              *ngIf="
                isExplorer === true && (!modelsList || modelsList.length === 0)
              "
              nz-tooltip
              [nzTooltipTitle]="'No models available'"
              nzTooltipPlacement="left"
              >New</div
            >
          </button>
        </div>
      </div>

      <div class="flex flex-row flex-grow mt-6">
        <div class="flex w-1/6 mb-6">
          <div class="bg-white rounded shadow-lg w-full">
            <div class="flex flex-col text-base text-gray1 ml-5 mr-5 mt-5">
              <div class="mb-5 flex flex-row items-center">
                <m-search-icon class="text-gray1"></m-search-icon>

                <input
                  data-cy="vizsSearchInput"
                  class="w-full ml-3 h-10 form-input rounded border-gray3 focus:border-blue3"
                  placeholder="Search by Title"
                  [ngClass]="{
                    'bg-blue-100': !!word
                  }"
                  [(ngModel)]="word"
                  (ngModelChange)="searchWordChange()"
                />

                <m-delete-icon
                  *ngIf="!!word"
                  class="flex ml-3 text-gray1 h-8 w-8 rounded focus:outline-none items-center justify-center flex-shrink-0"
                  [ngClass]="{
                    'cursor-pointer hover:bg-blue2': !!word
                  }"
                  (click)="resetSearch()"
                ></m-delete-icon>
              </div>

              <div class="w-full flex flex-col text-gray-300">
                <div></div>
                <div></div>
              </div>

              <div
                class="flex flex-row justify-between hover:cursor-pointer py-2 px-4 rounded mt-5"
                [ngClass]="{
                  'bg-blue-100': !modelId,
                  'hover:bg-blue2': !!modelId
                }"
                (click)="allModelsOnClick()"
              >
                <div> All Models </div>
                <div class="flex justify-end ml-3 w-12">
                  {{ vizs?.length }}
                </div>
              </div>

              <div
                *ngFor="let modelsItem of vizsModelsList"
                class="flex flex-row hover:cursor-pointer py-2 px-4 rounded"
                [ngClass]="{
                  'bg-blue-100': modelId === modelsItem.modelId,
                  'hover:bg-blue2': modelId !== modelsItem.modelId
                }"
                (click)="modelOnClick(modelsItem.modelId)"
              >
                <div>
                  {{ modelsItem.label | capitalize }}
                </div>

                <div class="flex flex-grow"></div>

                <div class="ml-5 w-6">
                  <m-lock-closed-icon
                    class="text-gray-400"
                    *ngIf="modelsItem.hasAccess === false"
                    nz-tooltip
                    [nzTooltipTitle]="'No access to model'"
                    nzTooltipPlacement="bottom"
                  ></m-lock-closed-icon>
                </div>

                <div class="flex justify-end ml-3 w-12">
                  {{ modelsItem.totalVizs }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-grow ml-6">
          <div class="w-full">
            <virtual-scroller
              *ngIf="filteredVizs?.length > 0"
              #scroll
              [items]="filteredVizs"
              class="w-full h-full"
            >
              <div
                *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn"
                class="inline-block w-1/2 h-1/2"
              >
                <div class="pb-6 pr-5 w-full h-full">
                  <m-chart-viz
                    [title]="item.title"
                    [report]="item.reports[0]"
                    [viz]="item"
                    (vizDeleted)="vizDeleted($event)"
                  ></m-chart-viz>
                </div>
              </div>
            </virtual-scroller>

            <div
              class="flex items-center justify-center text-xl h-full w-full select-none text-gray1"
              *ngIf="filteredVizs?.length === 0"
              >No visualizations</div
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="vizs$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
