<div class="flex flex-col h-full bg-blue1">
  <div class="flex flex-row h-full mx-6 mb-6 mt-8">
    <div class="flex flex-col flex-grow">
      <div class="flex flex-row justify-between items-center h-11">
        <div
          data-cy="vizsTitle"
          class="flex font-semibold text-2xl text-gray1 items-center self-center"
          >Visualizations
        </div>
      </div>

      <div class="flex flex-row flex-grow mt-6">
        <div class="flex w-1/6">
          <div class="bg-white rounded shadow-lg w-full">
            <div class="flex flex-col text-base text-gray1 ml-5 mr-5 mt-5">
              <div class="mb-5 flex flex-row items-center">
                <m-search-icon class="text-gray1"></m-search-icon>

                <input
                  data-cy="vizsSearchInput"
                  class="w-full ml-3 h-10 form-input rounded border-gray3 focus:border-blue3"
                  placeholder="Search by Title"
                  [(ngModel)]="word"
                  (ngModelChange)="searchWordChange()"
                />
              </div>

              <div class="w-full flex flex-col text-gray-300">
                <div></div>
                <div></div>
              </div>

              <div
                class="hover:cursor-pointer py-2 px-4 rounded mt-5"
                [ngClass]="{
                  'bg-blue-100': !modelId,
                  'hover:bg-blue2': !!modelId
                }"
                (click)="allModelsOnClick()"
                >All Models</div
              >

              <div
                *ngFor="let modelsItem of modelsList"
                class="hover:cursor-pointer py-2 px-4 rounded"
                [ngClass]="{
                  'bg-blue-100': modelId === modelsItem.modelId,
                  'hover:bg-blue2': modelId !== modelsItem.modelId
                }"
                (click)="modelOnClick(modelsItem.modelId)"
                >{{ modelsItem.label | capitalize }}</div
              >
            </div>
          </div>
        </div>

        <div class="flex flex-grow ml-6">
          <div class="bg-white rounded shadow-lg w-full">
            <!-- <div *ngFor="let v of filteredVizs">
              {{ v.title }}
            </div> -->

            <virtual-scroller
              #scroll
              [items]="filteredVizs"
              class="w-full h-full"
            >
              <div
                *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn"
                class="inline-block w-1/2 h-2/5"
              >
                <m-chart-viz
                  [title]="item.title"
                  [report]="item.reports[0]"
                  [viz]="item"
                  (vizDeleted)="vizDeleted($event)"
                ></m-chart-viz>
              </div>
            </virtual-scroller>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="vizs$ | async"></div>
