<div class="mp-min-width-1 mp-max-width-1">
  <mat-toolbar color="primary">Send Reset Password Link</mat-toolbar>
  <form
    [formGroup]="resetPasswordForm"
    class="reset-password-form"
    (ngSubmit)="onSubmit(resetPasswordForm.value); dialogRef.close()"
  >
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        data-cy="dialogResetPasswordEmailInput"
        formControlName="email"
        placeholder="email"
        required
      />
      <mat-error>
        <m-validation-msg
          [errors]="resetPasswordForm.controls['email'].errors"
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>
    <br />
    <br />
    <button
      data-cy="dialogResetPasswordSendButton"
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="!resetPasswordForm.valid"
      >Send
    </button>
    <button
      data-cy="dialogResetPasswordCancelButton"
      type="reset"
      class="mp-cancel"
      mat-raised-button
      (click)="dialogRef.close()"
      >Cancel
    </button>
  </form>
</div>
