<div class="bg-m1 flex h-full cursor-default flex-col">
  <div class="flex h-2 flex-1 flex-row overflow-y-auto">
    <div class="mt-8 flex min-w-[2px] flex-grow flex-col" *ngIf="!!dashboard">
      <div class="flex h-11 flex-row items-center justify-between">
        <div class="flex w-full flex-row items-center">
          <div class="flex flex-row items-center">
            <!-- <div class="text-s1 ml-5 text-xl">{{
              (dashboard.title ? dashboard.title : dashboard.dashboardId)
                | capitalize
            }}</div> -->

            <ng-template #templateAddTile>
              <div *ngIf="isExplorer === false">Explorer role required</div>

              <div *ngIf="isExplorer === true && dashboard.draft === true"
                >Save changes to be able to add tiles</div
              >

              <div
                *ngIf="
                  isExplorer === true &&
                  dashboard.draft === false &&
                  dashboard.canEditOrDeleteDashboard === false
                "
                >Only the dashboard author, project editors, and administrators
                can edit this dashboard. Try saving this dashboard as a new one
                to become an author.</div
              >
            </ng-template>

            <div
              [tp]="templateAddTile"
              [tpIsEnabled]="
                isExplorer === false ||
                dashboard.draft === true ||
                dashboard.canEditOrDeleteDashboard === false
              "
              class="ml-5 flex h-11 flex-shrink-0"
            >
              <button
                type="button"
                data-cy="dashboardAddTileButton"
                class="flex-shrink-0 rounded border px-5 py-2 text-base font-medium focus:outline-none"
                [ngClass]="{
                  'border-s400 text-s500 hover:bg-m0':
                    isExplorer === true &&
                    dashboard.draft === false &&
                    dashboard.canEditOrDeleteDashboard === true,
                  'border-s300 text-s400 cursor-default':
                    isExplorer === false ||
                    dashboard.draft === true ||
                    dashboard.canEditOrDeleteDashboard === false
                }"
                (click)="addTile()"
                [disabled]="
                  isExplorer === false ||
                  dashboard.draft === true ||
                  dashboard.canEditOrDeleteDashboard === false
                "
                >Add Tile</button
              >
            </div>

            <ng-template #templateEditListeners>
              <div *ngIf="dashboard.tiles.length === 0">No tiles</div>
              <div *ngIf="dashboard.fields.length === 0">No parameters</div>
            </ng-template>

            <div
              [tp]="templateEditListeners"
              [tpIsEnabled]="
                dashboard.tiles.length === 0 || dashboard.fields.length === 0
              "
              class="ml-5 h-11 flex-shrink-0"
            >
              <button
                type="button"
                data-cy="dashboardEditListenButton"
                class="flex h-11 flex-row items-center rounded border px-4 py-2 text-base font-medium focus:outline-none"
                (click)="editListeners()"
                [ngClass]="{
                  'border-s400 text-s500 hover:bg-m0':
                    dashboard.tiles.length > 0 && dashboard.fields.length > 0,
                  'border-s300 text-s400 cursor-default':
                    dashboard.tiles.length === 0 ||
                    dashboard.fields.length === 0
                }"
                [disabled]="
                  dashboard.tiles.length === 0 || dashboard.fields.length === 0
                "
              >
                <m-link-icon
                  class="text-s500"
                  [ngClass]="{
                    'text-s500':
                      dashboard.tiles.length > 0 && dashboard.fields.length > 0,
                    'text-s400':
                      dashboard.tiles.length === 0 ||
                      dashboard.fields.length === 0
                  }"
                ></m-link-icon>

                <div class="ml-3"> Listeners </div>
              </button>
            </div>

            <div
              class="ml-10 flex cursor-pointer flex-row items-center"
              (click)="toggleShowTileFilters()"
            >
              <ui-switch [checked]="showBricks" color="#64BD63"></ui-switch>

              <div
                class="text-s1 ml-5 flex h-9 select-none items-center text-base"
                >Show Tile Parameters</div
              >
            </div>
          </div>

          <div class="flex-grow"></div>

          <div class="flex flex-row justify-end">
            <div
              *ngIf="!!firstCompletedQuery"
              class="flex flex-row items-center justify-end"
            >
              <m-query-status
                [query]="firstCompletedQuery"
                [showDataRowsLength]="false"
                [showLastCompleteDuration]="false"
                [completedWord]="'Completed - last run'"
              ></m-query-status>
            </div>

            <!-- <div class="flex-grow"></div> -->

            <div class="flex flex-shrink-0 flex-row">
              <!-- <ng-template #templateDashboardSaveAs>
                <div *ngIf="isExplorer === false">Explorer role required</div>

                <div
                  *ngIf="isExplorer === true && alias === restrictedUserAlias"
                  >User is restricted. Sign Up at https://mprove.io to get full
                  access.</div
                >
              </ng-template> -->

              <!-- <div
                class="ml-5 flex h-12 flex-shrink-0"
                [tp]="templateDashboardSaveAs"
                [tpIsEnabled]="
                  isExplorer === false || alias === restrictedUserAlias
                "
              >
                <button
                  type="button"
                  data-cy="dashboardSaveAsButton"
                  class="h-12 rounded border px-6 text-base font-medium focus:outline-none"
                  [ngClass]="{
                    'text-m0': dashboard.draft === true,
                    'bg-m500':
                      dashboard.draft === true &&
                      isExplorer === true &&
                      alias !== restrictedUserAlias,
                    'cursor-default bg-s400':
                      dashboard.draft === true &&
                      (isExplorer === false || alias === restrictedUserAlias),
                    ' border-s400 text-s500 hover:bg-m0':
                      dashboard.draft === false &&
                      isExplorer === true &&
                      alias !== restrictedUserAlias
                  }"
                  (click)="saveAs()"
                  [disabled]="
                    isExplorer === false || alias === restrictedUserAlias
                  "
                  >Save As</button
                >
              </div> -->

              <div
                class="ml-7 flex cursor-pointer flex-row items-center"
                (click)="toggleAutoRun()"
              >
                <ui-switch
                  class="mt-1"
                  [checked]="isAutoRun"
                  color="#64BD63"
                ></ui-switch>

                <div
                  class="text-s1 ml-5 flex h-9 flex-shrink-0 select-none items-center text-base"
                  >Auto Run</div
                >
              </div>

              <button
                type="button"
                data-cy="dashboardRunButton"
                class="text-m0 ml-5 mr-9 flex h-12 w-24 items-center justify-center rounded text-base font-medium focus:outline-none"
                [ngClass]="{
                  'bg-m600': dashboard.tiles.length > 0,
                  'cursor-default':
                    dashboard.tiles.length === 0 || isRunButtonPressed === true,
                  'bg-s400': dashboard.tiles.length === 0
                }"
                (click)="run()"
                [disabled]="
                  dashboard.tiles.length === 0 || isRunButtonPressed === true
                "
              >
                <div *ngIf="isRunButtonPressed === false">Run</div>
                <div
                  *ngIf="isRunButtonPressed === true"
                  class="relative flex h-9 w-9 flex-shrink-0"
                >
                  <ngx-spinner
                    [name]="dashboardRunButtonSpinnerName"
                    color="#FFFFFF"
                    bdColor="#00000000"
                    size="default"
                    type="ball-clip-rotate"
                    [fullScreen]="false"
                    [disableAnimation]="true"
                    [zIndex]="99998"
                  >
                  </ngx-spinner>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="divide-s300 mt-6 divide-y">
        <div></div>
        <div></div>
      </div>

      <div class="mt-6 w-full shadow-md">
        <div class="flex flex-col">
          <div class="mr-5 flex min-h-[44px] flex-shrink-0 flex-grow flex-row">
            <div
              (click)="toggleFiltersPanel()"
              class="text-s1 mt-2 flex h-11 select-none flex-row items-start space-x-2 px-5 text-xl font-semibold"
              [ngClass]="{
                'cursor-pointer': dashboard.fields.length > 0,
                'cursor-default': dashboard.fields.length === 0
              }"
            >
              <div class="flex flex-row items-center space-x-2">
                <m-chevron-right-icon
                  *ngIf="!filtersIsExpanded && dashboard.fields.length > 0"
                ></m-chevron-right-icon>
                <m-chevron-down-icon
                  *ngIf="filtersIsExpanded && dashboard.fields.length > 0"
                ></m-chevron-down-icon>

                <div
                  class="h-6 w-6"
                  *ngIf="dashboard.fields.length === 0"
                ></div>

                <div> Parameters </div>
              </div>
            </div>

            <button
              *ngIf="
                filtersIsExpanded === true || dashboard?.fields.length === 0
              "
              type="button"
              data-cy="dashboardAddFilterButton"
              class="border-s400 text-s500 hover:bg-m0 ml-4 h-11 flex-shrink-0 select-none rounded border px-4 py-2 text-base font-medium focus:outline-none"
              (click)="addFilter()"
              >Add Filter</button
            >

            <div class="min-h-[68px]"></div>

            <div
              class="ml-7 mr-5 mt-1 flex flex-row items-start"
              *ngIf="!filtersIsExpanded && dashboard.fields.length > 0"
            >
              <m-bricks
                class="mb-5 flex max-h-[150px] max-w-max flex-row items-start justify-start overflow-auto"
                [extendedFilters]="dashboard.extendedFilters"
                [isKeepBackgroundColor]="false"
              ></m-bricks>
            </div>

            <div
              class="ml-7 mt-1 max-h-96 w-2 flex-1 overflow-auto"
              *ngIf="filtersIsExpanded && dashboard.fields.length > 0"
            >
              <m-dashboard-filters
                [dashboard]="dashboard"
              ></m-dashboard-filters>
            </div>
          </div>
        </div>
      </div>

      <div class="flex min-w-[2px] flex-grow flex-col">
        <div
          #scrollable
          class="mt-1 flex h-2 flex-grow flex-row overflow-auto pl-6 pt-6"
        >
          <ktd-grid
            class="w-[75.5vw]"
            *ngIf="dashboard.tiles"
            [compactType]="compactType"
            [preventCollision]="preventCollision"
            [cols]="cols"
            [rowHeight]="rowHeight"
            [layout]="layout"
            [scrollableParent]="scrollable"
            [scrollSpeed]="scrollSpeed"
            (layoutUpdated)="onLayoutUpdated($event)"
            (resizeEnded)="onResizeEnded($event)"
            (dragStarted)="onDragStarted($event)"
            (dragEnded)="onDragEnded($event)"
          >
            <ktd-grid-item
              class="group"
              [transition]="null"
              *ngFor="let item of layout; trackBy: trackByFn"
              [id]="item.id"
            >
              <div
                ktdGridDragHandle
                class="drag-handle invisible flex items-center justify-center group-hover:visible"
                ><m-drag-icon></m-drag-icon
              ></div>
              <div class="h-full w-full pb-6 pr-5">
                <m-dashboard-tile-chart
                  #chartRep
                  [isShow]="isShow"
                  [title]="item.tile.title"
                  [tile]="item.tile"
                  [deleteFilterFn]="deleteFilterFnBindThis"
                  [dashboard]="dashboard"
                  [randomId]="randomId"
                  [mconfig]="item.tile.mconfig"
                  [query]="item.tile.query"
                  [showBricks]="showBricks"
                  (dashTileDeleted)="tileDeleted($event)"
                  (queryUpdated)="tileQueryUpdated($event, item.tile.title)"
                ></m-dashboard-tile-chart>
              </div>
              <m-resize-icon
                ktdGridResizeHandle
                class="resize-handle invisible flex items-center justify-center group-hover:visible"
              ></m-resize-icon>
            </ktd-grid-item>
          </ktd-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="dashboard$ | async"></div>
<div *ngIf="isAutoRun$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
<div *ngIf="alias$ | async"></div>
