:host {
  ::ng-deep .ktd-grid-item-placeholder {
    background-color: #ffa726;
  }

  ktd-grid-item {
    .drag-handle {
      position: absolute;
      transform: rotate(45deg);
      left: 27px;
      top: 39px;
      cursor: grab;
    }

    &.ktd-grid-item-dragging {
      .drag-handle {
        cursor: grabbing;
      }
    }

    .delete-handle {
      position: absolute;
      left: 22px;
      bottom: 32px;
      width: 36px;
      height: 36px;
    }

    .warn-handle {
      position: absolute;
      left: 50%;
      bottom: 32px;
      transform: translateX(-50%) translateX(-10px);
    }

    .resize-handle {
      position: absolute;
      right: 20px;
      bottom: 24px;
      cursor: se-resize;
    }
  }

  // display: block;
  // width: 100%;
  // padding: 24px;
  // box-sizing: border-box;

  // .grid-container {
  //     padding: 4px;
  //     box-sizing: border-box;
  //     border: 1px solid gray;
  //     border-radius: 2px;
  //     background: #313131;
  // }

  // .grid-item-content {
  //     box-sizing: border-box;
  //     background: #ccc;
  //     border: 1px solid black;
  //     color: black;
  //     width: 100%;
  //     height: 100%;
  //     user-select: none;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  // }

  // ktd-grid {
  //     transition: height 500ms ease;
  // }
}
