.git

_nogit/
nogit/

**/.angular/

.claude/
.devcontainer/
.pnpm-store/

.turbo/
**/.turbo/

.vscode/

.bun/
**/.bun/

dist/
**/dist/

mprove_data/

node_modules/
**/node_modules/

secrets/
tmp/

.env
.envrc

**/.DS_Store





