.envrc

nogit
old-code
old-data
test-credentials
test-projects/demo
test-projects/wood

# debug
yarn-error.log
ormlogs.log

# System Files
.DS_Store
Thumbs.db

# compiled output
dist

# dependencies
node_modules

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json



