.envrc
# System Files
.DS_Store
Thumbs.db

# compiled output
dist

# dependencies
node_modules

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# debug
yarn-error.log

# e2e
/reports/*.json

/cypress/screenshots
