_nogit/
nogit/

.angular/
.devcontainer/.zshrc
.turbo/
.pnpm-store/
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
apps/mcli/bin/
dist/
malloy/
malloy_data/
mprove_data/
node_modules/
notes/_dev.md
secrets/
tmp/
setup-docker/data/
*.env
.envrc

# System Files
.DS_Store
Thumbs.db

# compiled output
out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Tests
coverage/
.nyc_output

.turbo/

