services:
  db:
    image: docker.io/bitnami/postgresql:17.0.0-debian-12-r9
    environment:
      POSTGRESQL_DATABASE: $COMPOSE_DB_PG_POSTGRESQL_DATABASE
      POSTGRESQL_USERNAME: $COMPOSE_DB_PG_POSTGRESQL_USERNAME
      POSTGRESQL_PASSWORD: $COMPOSE_DB_PG_POSTGRESQL_PASSWORD
      POSTGRESQL_POSTGRES_PASSWORD: $COMPOSE_DB_PG_POSTGRESQL_POSTGRES_PASSWORD
    ports:
      - 5432:5432
    volumes:
      - type: bind
        source: $COMPOSE_DB_PG_VOLUME_SOURCE_PATH
        target: /bitnami/postgresql

  redis:
    image: bitnami/redis:$REDIS_RELEASE_TAG
    environment:
      - REDIS_PASSWORD=$COMPOSE_REDIS_PASSWORD
      - REDIS_AOF_ENABLED=yes
    command: ["/opt/bitnami/scripts/redis/run.sh", "--maxmemory-policy", "volatile-lru", "--appendfsync", "everysec"]
    ports:
      - 6379:6379
    volumes:
      - type: bind
        source: $COMPOSE_REDIS_VOLUME_SOURCE_PATH
        target: /bitnami/redis/data

  rabbit:
    image: rabbitmq:$RABBIT_RELEASE_TAG
    environment:
      - RABBITMQ_DEFAULT_USER=$COMPOSE_RABBITMQ_DEFAULT_USER
      - RABBITMQ_DEFAULT_PASS=$COMPOSE_RABBITMQ_DEFAULT_PASS
      - RABBITMQ_ERLANG_COOKIE=$COMPOSE_RABBITMQ_ERLANG_COOKIE
    ports:
      - 5672:5672
      - 15672:15672

  disk:
    build:
      context: ./
      dockerfile: tools/docker/disk.Dockerfile
    image: ghcr.io/mprove-io/mprove-disk:$MPROVE_RELEASE_TAG
    env_file:
      - $ENV_FILE_PATH
    depends_on:
      - rabbit
    command: sh -c 'scripts/wait-for-it.sh rabbit:5672 --timeout=120 -- node dist/apps/disk/main.js'
    volumes:
      - type: bind
        source: $ENV_FILE_SOURCE_PATH
        target: $ENV_FILE_TARGET_PATH
      - type: bind
        source: $COMPOSE_DISK_ORGANIZATIONS_VOLUME_SOURCE_PATH
        target: $COMPOSE_DISK_ORGANIZATIONS_VOLUME_PATH

  blockml:
    build:
      context: ./
      dockerfile: tools/docker/blockml.Dockerfile
    image: ghcr.io/mprove-io/mprove-blockml:$MPROVE_RELEASE_TAG
    env_file:
      - $ENV_FILE_PATH
    depends_on:
      - rabbit
    command: sh -c 'scripts/wait-for-it.sh rabbit:5672 --timeout=120 -- node dist/apps/blockml/main.js'
    volumes:
      - type: bind
        source: $ENV_FILE_SOURCE_PATH
        target: $ENV_FILE_TARGET_PATH

  backend:
    build:
      context: ./
      dockerfile: tools/docker/backend.Dockerfile
    image: ghcr.io/mprove-io/mprove-backend:$MPROVE_RELEASE_TAG
    env_file:
      - $ENV_FILE_PATH
    environment:
      BACKEND_IS_SCHEDULER: 'TRUE'
    ports:
      - 3000:3000
    depends_on:
      - db
      - rabbit
    command: sh -c 'scripts/wait-for-it.sh rabbit:5672 --timeout=120 -- scripts/wait-for-it.sh db:5432 --timeout=120 -- node dist/apps/backend/main.js'     
    volumes:
      - type: bind
        source: $ENV_FILE_SOURCE_PATH
        target: $ENV_FILE_TARGET_PATH
      - type: bind
        source: $COMPOSE_BACKEND_DEMO_PROJECT_BIGQUERY_CREDENTIALS_SOURCE_PATH
        target: $COMPOSE_BACKEND_DEMO_PROJECT_BIGQUERY_CREDENTIALS_PATH
      - type: bind
        source: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PRIVATE_KEY_SOURCE_PATH
        target: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PRIVATE_KEY_PATH
      - type: bind
        source: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PUBLIC_KEY_SOURCE_PATH
        target: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PUBLIC_KEY_PATH

  front:
    build:
      context: ./
      dockerfile: tools/docker/front.Dockerfile
    image: ghcr.io/mprove-io/mprove-front:$MPROVE_RELEASE_TAG
    ports:
      - 3003:80

  calc-postgres:
    image: postgres:17.6
    environment:
      - POSTGRES_PASSWORD=$COMPOSE_CALC_POSTGRES_PASSWORD
      - PGPORT=5437
    ports:
      - 5437:5437

  dwh-postgres:
    build:
      context: ./
      dockerfile: tools/docker/dwh-postgres.Dockerfile
    image: ghcr.io/mprove-io/mprove-dwh-postgres:$MPROVE_DWH_POSTGRES_TAG
    environment:
      - POSTGRES_PASSWORD=$COMPOSE_DWH_POSTGRES_PASSWORD
      - PGDATA=$COMPOSE_DWH_POSTGRES_PGDATA
      - PGPORT=5436
    ports:
      - 5436:5436
    volumes:
      - type: bind
        source: $COMPOSE_DWH_POSTGRES_VOLUME_SOURCE_PATH
        target: /var/lib/postgresql/data

  dwh-mysql:
    build:
      context: ./
      dockerfile: tools/docker/dwh-mysql.Dockerfile
    image: ghcr.io/mprove-io/mprove-dwh-mysql:$MPROVE_DWH_MYSQL_TAG
    environment:
      - MYSQL_ROOT_PASSWORD=$COMPOSE_DWH_MYSQL_ROOT_PASSWORD
    command:
      [
        # '--default-authentication-plugin=mysql_native_password',
        '--max_allowed_packet=128M',
        '--innodb-buffer-pool-size=1G'
      ]
    ports:
      - 3306:3306
    volumes:
      - type: bind
        source: $COMPOSE_DWH_MYSQL_VOLUME_SOURCE_PATH
        target: /var/lib/mysql

  dwh-trino:
    image: trinodb/trino:476
    ports:
      - 8080:8080
    volumes:
      - type: bind
        source: $COMPOSE_DWH_TRINO_VOLUME_SOURCE_PATH
        target: /etc/trino/catalog

  dwh-clickhouse:
    build:
      context: ./
      dockerfile: tools/docker/dwh-clickhouse.Dockerfile
    image: ghcr.io/mprove-io/mprove-dwh-clickhouse:$MPROVE_DWH_CLICKHOUSE_TAG
    environment:
      - CLICKHOUSE_USER=$COMPOSE_DWH_CLICKHOUSE_USER
      - CLICKHOUSE_PASSWORD=$COMPOSE_DWH_CLICKHOUSE_PASSWORD
      - CLICKHOUSE_DB=$COMPOSE_DWH_CLICKHOUSE_DB
    ports:
      - 8123:8123
      - 9000:9000
    volumes:
      - type: bind
        source: $COMPOSE_DWH_CLICKHOUSE_VOLUME_SOURCE_PATH
        target: /var/lib/clickhouse
      - type: bind
        source: $COMPOSE_DWH_CLICKHOUSE_LOGS_VOLUME_SOURCE_PATH
        target: /var/log/clickhouse-server

  mcli:
    build:
      context: ./
      dockerfile: tools/docker/mcli.Dockerfile
    image: ghcr.io/mprove-io/mprove-mcli:$MPROVE_RELEASE_TAG
    env_file:
      - $ENV_FILE_PATH    
    volumes:
      - type: bind
        source: $ENV_FILE_SOURCE_PATH
        target: $ENV_FILE_TARGET_PATH
      - type: bind
        source: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PRIVATE_KEY_SOURCE_PATH
        target: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PRIVATE_KEY_PATH
      - type: bind
        source: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PUBLIC_KEY_SOURCE_PATH
        target: $COMPOSE_BACKEND_DEMO_PROJECT_REMOTE_PUBLIC_KEY_PATH        

  # integra:
  #   build:
  #     context: ./
  #     dockerfile: tools/docker/integra.Dockerfile
  #   image: ghcr.io/mprove-io/mprove-integra:$MPROVE_RELEASE_TAG

networks:
  app-network:
    driver: bridge
