<div class="flex flex-col bg-white p-9">
  <div
    data-cy="editPhoneNumberDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Edit Contact Phone Number</div
  >

  <form
    class="flex w-80 flex-col"
    [formGroup]="editPhoneNumberForm"
    (ngSubmit)="save()"
  >
    <input
      spellcheck="false"
      data-cy="editPhoneNumberDialogContactPhoneInput"
      type="tel"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          editPhoneNumberForm.controls['contactPhone'].invalid &&
          editPhoneNumberForm.controls['contactPhone'].touched
      }"
      formControlName="contactPhone"
      placeholder="+1 (555) 555-1234"
    />
    <m-validation
      [control]="editPhoneNumberForm.controls['contactPhone']"
    ></m-validation>

    <div class="mt-6">
      <button
        data-cy="editPhoneNumberDialogSaveButton"
        class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editPhoneNumberDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
