<div fxLayout="column" class="chart-editor" fxFlexFill>
  <mat-toolbar class="chart-editor__toolbar space_border_bottom">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
      <div fxFlex></div>

      <button
        mat-icon-button
        color="primary"
        name="chartAddChart"
        (click)="duplicateChart()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        mat-icon-button
        name="chartRemoveChart"
        color="warn"
        (click)="removeChart()"
      >
        <mat-icon>close</mat-icon>
      </button>

      <div fxFlex="6px"></div>

      <button
        mat-raised-button
        name="chartSaveChart"
        class="chart-editor__save-button"
        color="accent"
        (click)="openGenerateBlockmlDialog()"
        >Save as BlockML
      </button>

      <div fxFlex="52px"></div>
    </div>
  </mat-toolbar>

  <div
    fxLayout="column"
    fxLayoutGap="20px"
    class="mp-overflow-auto chart-inner"
  >
    <div class="chart-title__wrapper">
      <m-chart-control-title
        [chart]="chart"
        (titleChange)="titleChange($event)"
      ></m-chart-control-title>
    </div>

    <div>
      <m-chart-control-select-type
        [chart]="chart"
        (selectTypeChange)="delayChartChange($event)"
      ></m-chart-control-select-type>
    </div>

    <m-chart-table
      *ngIf="chart.type === chartTypeEnum.Table"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-table>

    <m-chart-gauge
      *ngIf="chart.type === chartTypeEnum.Gauge"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-gauge>

    <m-chart-number-card
      *ngIf="chart.type === chartTypeEnum.NumberCard"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-number-card>

    <m-chart-gauge-linear
      *ngIf="chart.type === chartTypeEnum.GaugeLinear"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-gauge-linear>

    <m-chart-tree-map
      *ngIf="chart.type === chartTypeEnum.TreeMap"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-tree-map>

    <m-chart-heat-map
      *ngIf="chart.type === chartTypeEnum.HeatMap"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-heat-map>

    <m-chart-line
      *ngIf="chart.type === chartTypeEnum.Line"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-line>

    <m-chart-area
      *ngIf="chart.type === chartTypeEnum.Area"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-area>

    <m-chart-area-stacked
      *ngIf="chart.type === chartTypeEnum.AreaStacked"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-area-stacked>

    <m-chart-area-normalized
      *ngIf="chart.type === chartTypeEnum.AreaNormalized"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-area-normalized>

    <m-chart-pie
      *ngIf="chart.type === chartTypeEnum.Pie"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-pie>

    <m-chart-pie-advanced
      *ngIf="chart.type === chartTypeEnum.PieAdvanced"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-pie-advanced>

    <m-chart-pie-grid
      *ngIf="chart.type === chartTypeEnum.PieGrid"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-pie-grid>

    <m-chart-bar-vertical
      *ngIf="chart.type === chartTypeEnum.BarVertical"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-vertical>

    <m-chart-bar-vertical-grouped
      *ngIf="chart.type === chartTypeEnum.BarVerticalGrouped"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-vertical-grouped>

    <m-chart-bar-vertical-stacked
      *ngIf="chart.type === chartTypeEnum.BarVerticalStacked"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-vertical-stacked>

    <m-chart-bar-horizontal
      *ngIf="chart.type === chartTypeEnum.BarHorizontal"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-horizontal>

    <m-chart-bar-horizontal-grouped
      *ngIf="chart.type === chartTypeEnum.BarHorizontalGrouped"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-horizontal-grouped>

    <m-chart-bar-horizontal-stacked
      *ngIf="chart.type === chartTypeEnum.BarHorizontalStacked"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-horizontal-stacked>

    <h5>Data</h5>

    <div
      fxFlex="50px"
      fxLayout="column"
      fxFlexAlign="end start"
      fxFlexFill
      *ngIf="xFieldChartTypes.indexOf(chart.type) > -1"
    >
      <div fxFlex></div>
      <m-chart-control-select-x-field
        [chart]="chart"
        [selectFields]="selectFields"
        (selectXFieldChange)="delayChartChange($event)"
      ></m-chart-control-select-x-field>
    </div>

    <div
      fxFlex="50px"
      fxLayout="column"
      fxFlexAlign="end start"
      fxFlexFill
      *ngIf="yFieldChartTypes.indexOf(chart.type) > -1"
    >
      <div fxFlex></div>
      <m-chart-control-select-y-field
        [chart]="chart"
        [selectFields]="selectFields"
        (selectYFieldChange)="delayChartChange($event)"
      ></m-chart-control-select-y-field>
    </div>

    <div *ngIf="yFieldsChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-checkbox-y-fields
        [chart]="chart"
        [selectFields]="selectFields"
        (checkboxYFieldsChange)="delayChartChange($event)"
      ></m-chart-control-checkbox-y-fields>
    </div>

    <!--
      <div *ngIf="hideColumnsChartTypes.indexOf(chart.type) > -1">
        <m-chart-control-checkbox-hide-columns
          [chart]="chart"
          [selectFields]="selectFields"
          (checkboxHideColumnsChange)="delayChartChange($event)"
        ></m-chart-control-checkbox-hide-columns>
      </div>
    -->

    <div
      fxFlex="50px"
      fxLayout="column"
      fxFlexAlign="end start"
      fxFlexFill
      *ngIf="multiFieldChartTypes.indexOf(chart.type) > -1"
    >
      <div fxFlex></div>
      <m-chart-control-select-multi-field
        [chart]="chart"
        [selectFields]="selectFields"
        (selectMultiFieldChange)="delayChartChange($event)"
      ></m-chart-control-select-multi-field>
    </div>

    <!--
      <div *ngIf="valueFieldChartTypes.indexOf(chart.type) > -1">
        <m-chart-control-select-value-field
          [chart]="chart"
          [selectFields]="selectFields"
          (selectValueFieldChange)="delayChartChange($event)"
        ></m-chart-control-select-value-field>
      </div>

      <div
        *ngIf="previousValueFieldChartTypes.indexOf(chart.type) > -1"
        class="mp-chart-editor__value-field"
      >
        <m-chart-control-select-previous-value-field
          [chart]="chart"
          [selectFields]="selectFields"
          (selectPreviousValueFieldChange)="delayChartChange($event)"
        ></m-chart-control-select-previous-value-field>
      </div>
    -->

    <h5>Axis</h5>

    <mat-slide-toggle
      *ngIf="xAxisChartTypes.indexOf(chart.type) > -1"
      (change)="toggleXAxis()"
      name="chartXAxisToggle"
      [checked]="chart.x_axis"
    >
      <div name="chartXAxisToggleInner">x axis</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="showXAxisLabelChartTypes.indexOf(chart.type) > -1"
      (change)="toggleShowXAxisLabel()"
      name="chartShowXAxisLabelToggle"
      [checked]="chart.show_x_axis_label"
    >
      <div name="chartShowXAxisLabelToggleInner">show x axis label</div>
    </mat-slide-toggle>

    <div *ngIf="xAxisLabelChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-x-axis-label
        [chart]="chart"
        (xAxisLabelChange)="xAxisLabelChange($event)"
      ></m-chart-control-x-axis-label>
    </div>

    <mat-slide-toggle
      *ngIf="yAxisChartTypes.indexOf(chart.type) > -1"
      (change)="toggleYAxis()"
      name="chartYAxisToggle"
      [checked]="chart.y_axis"
    >
      <div name="chartYAxisToggleInner">y axis</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="showYAxisLabelChartTypes.indexOf(chart.type) > -1"
      (change)="toggleShowYAxisLabel()"
      name="chartShowYAxisLabelToggle"
      [checked]="chart.show_y_axis_label"
    >
      <div name="chartShowYAxisLabelToggleInner">show y axis label</div>
    </mat-slide-toggle>

    <div *ngIf="yAxisLabelChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-y-axis-label
        [chart]="chart"
        (yAxisLabelChange)="yAxisLabelChange($event)"
      ></m-chart-control-y-axis-label>
    </div>

    <mat-slide-toggle
      *ngIf="showAxisChartTypes.indexOf(chart.type) > -1"
      name="chartShowAxisToggle"
      (change)="toggleShowAxis()"
      [checked]="chart.show_axis"
    >
      <div name="chartShowAxisToggleInner">show axis</div>
    </mat-slide-toggle>

    <h5>Options</h5>

    <mat-slide-toggle
      *ngIf="animationsChartTypes.indexOf(chart.type) > -1"
      (change)="toggleAnimations()"
      name="chartAnimationsToggle"
      [checked]="chart.animations"
    >
      <div name="chartAnimationsToggleInner">animations</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="gradientChartTypes.indexOf(chart.type) > -1"
      (change)="toggleGradient()"
      name="chartGradientToggle"
      [checked]="chart.gradient"
    >
      <div name="chartGradientToggleInner">gradient</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="legendChartTypes.indexOf(chart.type) > -1"
      (change)="toggleLegend()"
      name="chartLegendToggle"
      [checked]="chart.legend"
    >
      <div name="chartLegendToggleInner">legend</div>
    </mat-slide-toggle>

    <div *ngIf="legendTitleChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-legend-title
        [chart]="chart"
        (legendTitleChange)="legendTitleChange($event)"
      ></m-chart-control-legend-title>
    </div>

    <mat-slide-toggle
      *ngIf="tooltipDisabledChartTypes.indexOf(chart.type) > -1"
      (change)="toggleTooltipDisabled()"
      name="chartTooltipDisabledToggle"
      [checked]="!chart.tooltip_disabled"
    >
      <div name="chartTooltipDisabledToggleInner">tooltip</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="roundEdgesChartTypes.indexOf(chart.type) > -1"
      (change)="toggleRoundEdges()"
      name="chartRoundEdgesToggle"
      [checked]="chart.round_edges"
    >
      <div name="chartRoundEdgesToggleInner">round edges</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="roundDomainsChartTypes.indexOf(chart.type) > -1"
      (change)="toggleRoundDomains()"
      name="chartRoundDomainsToggle"
      [checked]="chart.round_domains"
    >
      <div name="chartRoundDomainsToggleInner">round domains</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="showGridLinesChartTypes.indexOf(chart.type) > -1"
      (change)="toggleShowGridLines()"
      name="chartShowGridLinesToggle"
      [checked]="chart.show_grid_lines"
    >
      <div name="chartShowGridLinesToggleInner">show grid lines</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="timelineChartTypes.indexOf(chart.type) > -1"
      (change)="toggleTimeline()"
      name="chartTimelineToggle"
      [checked]="chart.timeline"
    >
      <div name="chartTimelineToggleInner">timeline</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="autoScaleChartTypes.indexOf(chart.type) > -1"
      (change)="toggleAutoScale()"
      name="chartAutoScaleToggle"
      [checked]="chart.auto_scale"
    >
      <div name="chartAutoScaleToggleInner">auto scale</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="doughnutChartTypes.indexOf(chart.type) > -1"
      (change)="toggleDoughnut()"
      name="chartDoughnutToggle"
      [checked]="chart.doughnut"
    >
      <div name="chartDoughnutToggleInner">doughnut</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="explodeSlicesChartTypes.indexOf(chart.type) > -1"
      (change)="toggleExplodeSlices()"
      name="chartExplodeSlicesToggle"
      [checked]="chart.explode_slices"
    >
      <div name="chartExplodeSlicesToggleInner">explode slices</div>
    </mat-slide-toggle>

    <mat-slide-toggle
      *ngIf="labelsChartTypes.indexOf(chart.type) > -1"
      (change)="toggleLabels()"
      name="chartLabelsToggle"
      [checked]="chart.labels"
    >
      <div name="chartLabelsToggleInner">labels</div>
    </mat-slide-toggle>

    <div *ngIf="interpolationChartTypes.indexOf(chart.type) > -1">
      <div class="vertical-space"></div>

      <div class="chart-editor__block">
        <m-chart-control-select-interpolation
          [chart]="chart"
          (selectInterpolationChange)="delayChartChange($event)"
        ></m-chart-control-select-interpolation>
      </div>
    </div>

    <div
      class="chart-editor__block"
      *ngIf="colorSchemeChartTypes.indexOf(chart.type) > -1"
    >
      <m-chart-control-select-color-scheme
        [chart]="chart"
        (selectColorSchemeChange)="delayChartChange($event)"
      ></m-chart-control-select-color-scheme>
    </div>

    <div *ngIf="schemeTypeChartTypes.indexOf(chart.type) > -1">
      <div class="vertical-space"></div>

      <m-chart-control-select-scheme-type
        [chart]="chart"
        (selectSchemeTypeChange)="delayChartChange($event)"
      ></m-chart-control-select-scheme-type>
    </div>

    <!--
      <div *ngIf="pageSizeChartTypes.indexOf(chart.type) > -1">
        <m-chart-control-page-size
          [chart]="chart"
          (pageSizeChange)="pageSizeChange($event)"
        ></m-chart-control-page-size>
      </div>
    -->

    <div *ngIf="arcWidthChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-arc-width
        [chart]="chart"
        (arcWidthChange)="arcWidthChange($event)"
      ></m-chart-control-arc-width>
    </div>

    <div *ngIf="barPaddingChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-bar-padding
        [chart]="chart"
        (barPaddingChange)="barPaddingChange($event)"
      ></m-chart-control-bar-padding>
    </div>

    <div *ngIf="groupPaddingChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-group-padding
        [chart]="chart"
        (groupPaddingChange)="groupPaddingChange($event)"
      ></m-chart-control-group-padding>
    </div>

    <div *ngIf="innerPaddingChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-inner-padding
        [chart]="chart"
        (innerPaddingChange)="innerPaddingChange($event)"
      ></m-chart-control-inner-padding>
    </div>

    <div *ngIf="angleSpanChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-angle-span
        [chart]="chart"
        (angleSpanChange)="angleSpanChange($event)"
      ></m-chart-control-angle-span>
    </div>

    <div *ngIf="startAngleChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-start-angle
        [chart]="chart"
        (startAngleChange)="startAngleChange($event)"
      ></m-chart-control-start-angle>
    </div>

    <div *ngIf="yScaleMinChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-y-scale-min
        [chart]="chart"
        (yScaleMinChange)="yScaleMinChange($event)"
      ></m-chart-control-y-scale-min>
    </div>

    <div *ngIf="yScaleMaxChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-y-scale-max
        [chart]="chart"
        (yScaleMaxChange)="yScaleMaxChange($event)"
      ></m-chart-control-y-scale-max>
    </div>

    <div *ngIf="xScaleMaxChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-x-scale-max
        [chart]="chart"
        (xScaleMaxChange)="xScaleMaxChange($event)"
      ></m-chart-control-x-scale-max>
    </div>

    <div *ngIf="bigSegmentsChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-big-segments
        [chart]="chart"
        (bigSegmentsChange)="bigSegmentsChange($event)"
      ></m-chart-control-big-segments>
    </div>

    <div *ngIf="smallSegmentsChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-small-segments
        [chart]="chart"
        (smallSegmentsChange)="smallSegmentsChange($event)"
      ></m-chart-control-small-segments>
    </div>

    <div *ngIf="minChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-min
        [chart]="chart"
        (minChange)="minChange($event)"
      ></m-chart-control-min>
    </div>

    <div *ngIf="maxChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-max
        [chart]="chart"
        (maxChange)="maxChange($event)"
      ></m-chart-control-max>
    </div>

    <div *ngIf="unitsChartTypes.indexOf(chart.type) > -1">
      <m-chart-control-units
        [chart]="chart"
        (unitsChange)="unitsChange($event)"
      ></m-chart-control-units>
    </div>

    <!--
      <m-colorpicker
        *ngIf="bandColorChartTypes.indexOf(chart.type) > -1"
        placeholder="Band Color"
        name="chartBandColor"
        [(ngModel)]="chart.band_color"
        (change)="bandColorChange($event)"
        format="rgb"
      ></m-colorpicker>

      <m-colorpicker
        *ngIf="cardColorChartTypes.indexOf(chart.type) > -1"
        placeholder="Card Color"
        name="chartCardColor"
        [(ngModel)]="chart.card_color"
        (change)="cardColorChange($event)"
        format="rgb"
      ></m-colorpicker>

      <m-colorpicker
        *ngIf="textColorChartTypes.indexOf(chart.type) > -1"
        placeholder="Text Color"
        name="chartTextColor"
        [(ngModel)]="chart.text_color"
        (change)="textColorChange($event)"
        format="rgb"
      ></m-colorpicker>

      <m-colorpicker
        *ngIf="emptyColorChartTypes.indexOf(chart.type) > -1"
        placeholder="Empty Color"
        name="chartEmptyColor"
        [(ngModel)]="chart.empty_color"
        (change)="emptyColorChange($event)"
        format="rgb"
      ></m-colorpicker>
    -->

    <h5>Tile</h5>

    <div>
      <div class="vertical-space"></div>

      <div fxLayout="row" class="select-wrapper">
        <m-chart-control-select-tile-width
          [chart]="chart"
          (selectTileWidthChange)="delayChartChange($event)"
        ></m-chart-control-select-tile-width>

        <m-chart-control-select-tile-height
          [chart]="chart"
          (selectTileHeightChange)="delayChartChange($event)"
        ></m-chart-control-select-tile-height>
      </div>
    </div>

    <div>
      <div class="vertical-space"></div>

      <m-chart-control-select-view-size
        [chart]="chart"
        (selectViewSizeChange)="delayChartChange($event)"
      ></m-chart-control-select-view-size>
    </div>

    <div>
      <div
        fxLayout="row"
        class="flex-wrap"
        *ngIf="chart.view_size === chartViewSizeEnum.Manual"
      >
        <m-chart-control-view-width
          [chart]="chart"
          (viewWidthChange)="viewWidthChange($event)"
        ></m-chart-control-view-width>

        <m-chart-control-view-height
          [chart]="chart"
          (viewHeightChange)="viewHeightChange($event)"
        ></m-chart-control-view-height>
      </div>

      <div class="vertical-space"></div>
    </div>
  </div>
</div>
