.chart-editor {
  &__save-button {
    min-width: 140px;
  }
  &__toolbar {
    min-height: 64px;
  }
  &__color-picker {
    border: none;
    width: 20px;
    cursor: pointer;
    outline: none;
    background-color: #000;
  }
  .vertical-space {
    height: 20px;
  }

  /deep/ .mat-slide-toggle-label {
    max-width: 180px;
  }

  /deep/ .parameters-group {
    padding: 5px;
  }
}
.chart-inner {
  padding-left: 15px;
  padding-right: 15px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.chart-title__wrapper {
  padding-top: 30px;
}
.mat-slide-toggle {
  margin-bottom: 35px !important;
}

/deep/ .mat-form-field-underline {
  max-width: 360px;
}
/deep/ .mat-form-field-infix {
  max-width: 360px;
}
/deep/ .cdk-overlay-pane > .mat-select-panel {
  position: relative;
  left: -25px;
}
