<div fxLayout="column" class="chart-editor" fxFlexFill>
  <mat-toolbar class="chart-editor__toolbar space_border_bottom">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
      <div fxFlex></div>

      <button
        mat-icon-button
        color="primary"
        name="chartAddChart"
        (click)="duplicateChart()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <button
        mat-icon-button
        name="chartRemoveChart"
        color="warn"
        (click)="removeChart()"
      >
        <mat-icon>close</mat-icon>
      </button>

      <div fxFlex="6px"></div>

      <button
        mat-raised-button
        name="chartSaveChart"
        class="chart-editor__save-button"
        color="accent"
        (click)="openGenerateBlockmlDialog()"
        >Save as BlockML
      </button>

      <div fxFlex="52px"></div>
    </div>
  </mat-toolbar>

  <div
    fxLayout="column"
    fxLayoutGap="20px"
    class="mp-overflow-auto chart-inner"
  >
    <div class="chart-title__wrapper">
      <m-chart-control-title
        [chart]="chart"
        (titleChange)="titleChange($event)"
      ></m-chart-control-title>
    </div>

    <div>
      <m-chart-control-select-type
        [chart]="chart"
        (selectTypeChange)="delayChartChange($event)"
      ></m-chart-control-select-type>
    </div>

    <m-chart-table
      *ngIf="chart.type === chartTypeEnum.Table"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-table>

    <m-chart-gauge
      *ngIf="chart.type === chartTypeEnum.Gauge"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-gauge>

    <m-chart-number-card
      *ngIf="chart.type === chartTypeEnum.NumberCard"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-number-card>

    <m-chart-gauge-linear
      *ngIf="chart.type === chartTypeEnum.GaugeLinear"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-gauge-linear>

    <m-chart-tree-map
      *ngIf="chart.type === chartTypeEnum.TreeMap"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-tree-map>

    <m-chart-heat-map
      *ngIf="chart.type === chartTypeEnum.HeatMap"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-heat-map>

    <m-chart-line
      *ngIf="chart.type === chartTypeEnum.Line"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-line>

    <m-chart-area
      *ngIf="chart.type === chartTypeEnum.Area"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-area>

    <m-chart-area-stacked
      *ngIf="chart.type === chartTypeEnum.AreaStacked"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-area-stacked>

    <m-chart-area-normalized
      *ngIf="chart.type === chartTypeEnum.AreaNormalized"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-area-normalized>

    <m-chart-pie
      *ngIf="chart.type === chartTypeEnum.Pie"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-pie>

    <m-chart-pie-advanced
      *ngIf="chart.type === chartTypeEnum.PieAdvanced"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-pie-advanced>

    <m-chart-pie-grid
      *ngIf="chart.type === chartTypeEnum.PieGrid"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-pie-grid>

    <m-chart-bar-vertical
      *ngIf="chart.type === chartTypeEnum.BarVertical"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-vertical>

    <m-chart-bar-vertical-grouped
      *ngIf="chart.type === chartTypeEnum.BarVerticalGrouped"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-vertical-grouped>

    <m-chart-bar-vertical-stacked
      *ngIf="chart.type === chartTypeEnum.BarVerticalStacked"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-vertical-stacked>

    <m-chart-bar-vertical-normalized
      *ngIf="chart.type === chartTypeEnum.BarVerticalNormalized"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-vertical-normalized>

    <m-chart-bar-horizontal
      *ngIf="chart.type === chartTypeEnum.BarHorizontal"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-horizontal>

    <m-chart-bar-horizontal-normalized
      *ngIf="chart.type === chartTypeEnum.BarHorizontalNormalized"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-horizontal-normalized>

    <m-chart-bar-horizontal-grouped
      *ngIf="chart.type === chartTypeEnum.BarHorizontalGrouped"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-horizontal-grouped>

    <m-chart-bar-horizontal-stacked
      *ngIf="chart.type === chartTypeEnum.BarHorizontalStacked"
      [chart]="chart"
      [selectFields]="selectFields"
      (partChange)="partChange($event)"
    ></m-chart-bar-horizontal-stacked>

    <h5 class="parameters-group">Tile</h5>

    <div>
      <div class="vertical-space"></div>

      <div fxLayout="row" class="select-wrapper">
        <m-chart-control-select-tile-width
          [chart]="chart"
          (selectTileWidthChange)="delayChartChange($event)"
        ></m-chart-control-select-tile-width>

        <m-chart-control-select-tile-height
          [chart]="chart"
          (selectTileHeightChange)="delayChartChange($event)"
        ></m-chart-control-select-tile-height>
      </div>
    </div>

    <div>
      <div class="vertical-space"></div>

      <m-chart-control-select-view-size
        [chart]="chart"
        (selectViewSizeChange)="delayChartChange($event)"
      ></m-chart-control-select-view-size>
    </div>

    <div>
      <div
        fxLayout="row"
        class="flex-wrap"
        *ngIf="chart.view_size === chartViewSizeEnum.Manual"
      >
        <m-chart-control-view-width
          [chart]="chart"
          (viewWidthChange)="viewWidthChange($event)"
        ></m-chart-control-view-width>

        <m-chart-control-view-height
          [chart]="chart"
          (viewHeightChange)="viewHeightChange($event)"
        ></m-chart-control-view-height>
      </div>

      <div class="vertical-space"></div>
    </div>
  </div>
</div>
