<mat-form-field>
  <mat-select
    placeholder="TileHeight"
    data-cy="chartTileHeight"
    [(ngModel)]="chart.tile_height"
    (selectionChange)="tileHeightChange($event)"
  >
    <mat-option [value]="chartTileHeightEnum._300" data-cy="chartTileHeight300"
      >300</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._400" data-cy="chartTileHeight400"
      >400</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._500" data-cy="chartTileHeight500"
      >500</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._600" data-cy="chartTileHeight600"
      >600</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._700" data-cy="chartTileHeight700"
      >700</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._800" data-cy="chartTileHeight800"
      >800</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._900" data-cy="chartTileHeight900"
      >900</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1000"
      data-cy="chartTileHeight1000"
      >1000</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1100"
      data-cy="chartTileHeight1100"
      >1100</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1200"
      data-cy="chartTileHeight1200"
      >1200</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1300"
      data-cy="chartTileHeight1300"
      >1300</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1400"
      data-cy="chartTileHeight1400"
      >1400</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1500"
      data-cy="chartTileHeight1500"
      >1500</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1600"
      data-cy="chartTileHeight1600"
      >1600</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1700"
      data-cy="chartTileHeight1700"
      >1700</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1800"
      data-cy="chartTileHeight1800"
      >1800</mat-option
    >

    <mat-option
      [value]="chartTileHeightEnum._1900"
      data-cy="chartTileHeight1900"
      >1900</mat-option
    >
  </mat-select>
</mat-form-field>
