<button
  class="h-7 w-7 border-2 border-gray-500 rounded focus:outline-none align-middle"
  [ngStyle]="{ 'background-color': color }"
  #t1="tippy"
  [tippy]="templateColor"
  [hideOnEscape]="true"
  variation="menu"
  placement="right-start"
  className="my-menu"
>
  <div *ngIf="!color">U</div>
</button>

<ng-template #templateColor>
  <div class="w-56 z-10 bg-white rounded-md shadow-xl border-2 border-gray4">
    <color-sketch
      [color]="rgbaColor"
      (onChangeComplete)="onChangeComplete($event)"
    ></color-sketch>

    <div class="flex flex-row justify-between bg-white">
      <button
        class="block px-3 py-2 bg-blue3 rounded text-white font-medium text-sm focus:outline-none"
        (click)="t1.hide(); save()"
        >Save</button
      >

      <button
        class="block px-3 py-2 bg-blue3 rounded text-white font-medium text-sm focus:outline-none"
        (click)="t1.hide(); cancel()"
        >Cancel</button
      >

      <button
        class="block px-3 py-2 bg-blue3 rounded text-white font-medium text-sm focus:outline-none"
        (click)="t1.hide(); clear()"
        >Undef</button
      >
    </div>
  </div>
</ng-template>
