<form [formGroup]="yAxisLabelForm">
  <mat-form-field>
    <input
      matInput
      type="text"
      data-cy="chartYAxisLabel"
      class="mp-chart-editor-field-full-width"
      placeholder="yAxisLabel"
      [formControl]="yAxisLabel"
      [errorStateMatcher]="showOnInvalidErrorStateMatcher"
      (blur)="yAxisLabelBlur()"
    />
    <mat-error>
      <m-validation-msg
        [errors]="yAxisLabelForm.controls['yAxisLabel'].errors"
      ></m-validation-msg>
    </mat-error>
  </mat-form-field>
</form>
