<table class="min-w-full divide-y divide-gray-500 h-full">
  <thead>
    <tr class="h-12">
      <th *ngFor="let column of sortedColumns; let columnIndex = index">
        <div class="flex flex-col justify-center items-start">
          <div class="font-normal text-sm">{{
            column.topLabel | capitalize
          }}</div>

          <div class="flex flex-row font-semibold">
            <div *ngIf="column.groupLabel">{{
              column.groupLabel | capitalize
            }}</div>

            <div data-cy="mainTableColumnLabel">{{
              column.label | capitalize
            }}</div>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody class="divide-y divide-gray-300">
    <tr data-cy="mainTableRow" *ngFor="let row of filteredData; let i = index">
      <td data-cy="mainTableCell" *ngFor="let column of sortedColumns">
        {{ row[column.sqlName] }}
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="mconfigSelectModelFields$ | async"></div>
<div *ngIf="mconfig$ | async"></div>
<div *ngIf="query$ | async"></div>
