<table class="">
  <thead class="">
    <tr class="">
      <th
        style="min-width: 200px; max-width: 350px"
        class="px-5"
        *ngFor="let column of sortedColumns; let columnIndex = index"
      >
        <div class="mr-5 h-12 flex items-center justify-start">
          <button
            *ngIf="column.sorting?.desc === false"
            class="h-6 w-6 flex items-center justify-center bg-blue-500 text-white focus:outline-none"
            (click)="sort(column.id, false)"
          >
            <m-chevron-up-icon></m-chevron-up-icon>
          </button>

          <button
            *ngIf="column.sorting?.desc === true"
            class="h-6 w-6 flex items-center justify-center bg-blue-500 text-white focus:outline-none"
            (click)="sort(column.id, true)"
          >
            <m-chevron-down-icon></m-chevron-down-icon>
          </button>

          <button
            *ngIf="!column.sorting"
            class="h-6 w-6 flex items-center justify-center focus:outline-none"
            (click)="sort(column.id, true)"
          >
            <m-chevron-down-icon></m-chevron-down-icon>
          </button>
        </div>

        <div
          class="flex flex-col justify-center items-start overflow-clip overflow-hidden"
        >
          <div class="flex flex-col justify-center items-start">
            <div class="font-normal text-sm truncate">{{
              column.topLabel | capitalize
            }}</div>

            <div class="flex flex-row font-semibold text-left h-12">
              <div *ngIf="column.groupLabel"
                >{{ column.groupLabel | capitalize }} -
                {{ column.label | capitalize }}</div
              >

              <div *ngIf="!column.groupLabel" class="">{{
                column.label | capitalize
              }}</div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody class="">
    <tr
      class=""
      data-cy="mainTableRow"
      *ngFor="let row of filteredData; let i = index"
    >
      <td
        style="min-width: 200px; max-width: 350px"
        data-cy="mainTableCell"
        *ngFor="let column of sortedColumns"
        class="px-5 truncate"
      >
        {{ row[column.sqlName] }}
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="mconfigSelectModelFields$ | async"></div>
<div *ngIf="mconfig$ | async"></div>
<div *ngIf="query$ | async"></div>
