<div class="flex flex-col h-full">
  <div
    class="flex mt-6 mx-6 mb-6 flex-row items-center space-x-3 font-semibold text-2xl text-red1"
  >
    <m-exclamation-icon></m-exclamation-icon>
    <div>BlockML Errors</div>
  </div>

  <div class="flex flex-grow flex-col overflow-y-auto">
    <div *ngIf="errors" class="mt-5 space-y-5 h-2">
      <div *ngFor="let error of errors">
        <div class="mx-6 text-red1 text-base">{{ error.title }}</div>
        <div class="ml-10 mr-6 mt-2 mb-1 text-gray-500 text-base">{{
          error.message | capitalize
        }}</div>
        <div
          *ngFor="let line of error.lines"
          class="pl-10 pr-6 py-2 text-base hover:bg-blue2 hover:cursor-pointer"
          (click)="goToFileLine(line)"
        >
          <div *ngIf="line.lineNumber !== 0" class="flex flex-row w-full">
            <div class="truncate max-w-[80%]">{{ line.fileName }}</div>

            <div class="flex ml-5 font-semibold"
              >line: {{ line.lineNumber }}</div
            >
          </div>

          <div class="font-semibold" *ngIf="line.lineNumber === 0"
            >line: {{ line.fileName }}</div
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="struct$ | async"></div>
