<div class="bg-m1 flex h-full cursor-default flex-col">
  <div class="flex h-2 flex-1 flex-row">
    <div class="mx-6 mb-6 mt-8 flex min-w-[2px] flex-grow flex-col">
      <div class="flex h-11 flex-row items-center justify-between">
        <div class="flex h-11 w-1/4 flex-row items-center justify-start">
          <m-left-panel-icon
            data-cy="filesLeftPanelToggle"
            class="text-s500 ml-5 flex-shrink-0 cursor-pointer"
            (click)="toggleShowLeft()"
            [isFilled]="showFilesLeftPanel === true"
          ></m-left-panel-icon>

          <div class="ml-7 flex select-none flex-row items-center">
            <div
              class="flex cursor-pointer flex-row items-center"
              tp="Need to Save changes"
              [tpIsEnabled]="needSave === true"
              (click)="setPanel(panelTree)"
            >
              <!-- <m-document-icon></m-document-icon> -->

              <button
                class="flex w-[54px] items-center justify-center text-lg focus:outline-none"
                [ngClass]="{
                  'text-m500 font-semibold':
                    panel === panelTree && showFilesLeftPanel,
                  'text-s500': panel !== panelTree || !showFilesLeftPanel
                }"
                [disabled]="needSave === true"
                >Files</button
              >
            </div>

            <div
              class="ml-7"
              tp="Need to Save changes"
              [tpIsEnabled]="needSave === true"
            >
              <button
                class="flex flex-shrink-0 cursor-pointer flex-row items-center focus:outline-none"
                (click)="setPanel(panelChangesToCommit)"
                [disabled]="needSave === true"
              >
                <div
                  class="flex w-[110px] flex-shrink-0 justify-end text-lg"
                  [ngClass]="{
                    'text-m500 font-semibold':
                      panel === panelChangesToCommit && showFilesLeftPanel,
                    'text-s500':
                      panel !== panelChangesToCommit || !showFilesLeftPanel
                  }"
                  >To Commit</div
                >

                <div
                  class="text-m0 ml-4 flex h-7 min-w-7 flex-shrink-0 items-center justify-center rounded px-2 py-[1px]"
                  [ngClass]="{
                    'bg-m500':
                      panel === panelChangesToCommit && showFilesLeftPanel,
                    'bg-m600':
                      (panel !== panelChangesToCommit || !showFilesLeftPanel) &&
                      repo?.changesToCommit?.length > 0,
                    'bg-s400':
                      (panel !== panelChangesToCommit || !showFilesLeftPanel) &&
                      !(repo?.changesToCommit?.length > 0)
                  }"
                  >{{ repo?.changesToCommit?.length }}</div
                >
              </button>
            </div>

            <ng-template #templateChangesToPush>
              <div *ngIf="needSave === true">Need to Save changes</div>
              <div
                *ngIf="needSave === false && repo?.changesToCommit?.length > 0"
                >Commit to see Changes to Push</div
              >
              <div
                *ngIf="
                  needSave === false &&
                  repo?.changesToCommit?.length === 0 &&
                  repo?.changesToPush?.length === 0 &&
                  repo.repoStatus === repoStatusNeedPush
                "
                >Push branch to Remote</div
              >
            </ng-template>

            <div
              class="ml-7"
              [tp]="templateChangesToPush"
              [tpIsEnabled]="
                needSave === true ||
                repo?.changesToCommit?.length > 0 ||
                (repo?.changesToPush?.length === 0 &&
                  repo.repoStatus === repoStatusNeedPush)
              "
            >
              <button
                class="flex flex-shrink-0 flex-row items-center focus:outline-none"
                [ngClass]="{
                  'cursor-pointer': repo?.changesToCommit?.length === 0
                }"
                [disabled]="
                  needSave === true || repo?.changesToCommit?.length > 0
                "
                (click)="setPanel(panelChangesToPush)"
              >
                <div
                  class="flex w-[80px] flex-shrink-0 justify-end text-lg"
                  [ngClass]="{
                    'text-m500 font-semibold':
                      panel === panelChangesToPush && showFilesLeftPanel,
                    'text-s500':
                      panel !== panelChangesToPush || !showFilesLeftPanel
                  }"
                  >To Push</div
                >

                <div
                  class="ml-4 flex h-7 min-w-7 flex-shrink-0 items-center rounded"
                >
                  <div
                    class="text-m0 flex h-7 min-w-7 flex-shrink-0 items-center rounded px-2 py-[1px]"
                    [ngClass]="{
                      'bg-m500':
                        panel === panelChangesToPush && showFilesLeftPanel,
                      'bg-m600':
                        (panel !== panelChangesToPush || !showFilesLeftPanel) &&
                        repo?.changesToPush?.length > 0,
                      'bg-s400':
                        (panel !== panelChangesToPush || !showFilesLeftPanel) &&
                        !(repo?.changesToPush?.length > 0)
                    }"
                    *ngIf="
                      repo?.changesToCommit?.length === 0 &&
                      (repo?.changesToPush?.length > 0 ||
                        repo.repoStatus !== repoStatusNeedPush)
                    "
                  >
                    {{ repo?.changesToPush?.length }}
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>

        <div class="flex flex-1 flex-row items-center" *ngIf="!!repo">
          <!-- <m-both-panels-icon
            class="text-s500 ml-12 flex-shrink-0 cursor-pointer"
            (click)="toggleBothPanels()"
            [isFilled]="
              showFilesLeftPanel === true && showFilesRightPanel === true
            "
          ></m-both-panels-icon> -->

          <button
            class="ml-12 flex w-[130px] select-none items-center justify-center text-lg focus:outline-none"
            [ngClass]="{
              'text-m500 font-semibold':
                lastUrl === pathBuilder || !file?.fileId,
              'text-s500': lastUrl !== pathBuilder && !!file?.fileId
            }"
            (click)="showSession()"
            >Chat Session</button
          >

          <button
            type="button"
            class="ml-3 mr-5 flex select-none flex-row items-center rounded px-3 py-2 text-xs focus:outline-none"
            [ngClass]="{
              'bg-blue-100 text-blue-700': debugMode,
              'text-s500 hover:bg-s100': !debugMode
            }"
            (click)="toggleDebug()"
          >
            Debug
          </button>

          <ng-template #templateCommit>
            <div *ngIf="needSave === true">Need to Save changes</div>

            <!-- <div
              *ngIf="
                needSave === false && repo.conflicts.length > 0
              "
              >Need to Resolve conflicts</div
            > -->

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedPull
              "
              >Need to Pull changes from Remote</div
            >

            <div
              *ngIf="
                needSave === false &&
                (repo.repoStatus === repoStatusOk ||
                  repo.repoStatus === repoStatusNeedPush)
              "
              >No changes to commit</div
            >
          </ng-template>

          <div class="flex flex-1"></div>

          <div
            *ngIf="sessionId"
            class="text-s500 mr-5 flex h-11 select-none flex-row items-center text-xs"
          >
            {{ sessionId }}
          </div>

          <div
            tp="Production repo is a read-only version of a Remote repo. Switch to the Dev repo to enter development mode."
            *ngIf="nav?.isRepoProd === true"
            class="text-s500 mr-5 flex h-11 flex-row items-center text-lg font-semibold"
          >
            production - {{ nav.branchId }}
          </div>

          <div
            *ngIf="nav?.isRepoProd === false"
            class="text-s500 mr-5 flex h-11 select-none flex-row items-center text-lg font-semibold"
          >
            dev-{{ user.alias }} - {{ nav.branchId }}
          </div>

          <div
            *ngIf="isEditor === true"
            [tp]="templateCommit"
            [tpIsEnabled]="
              repo.repoStatus !== repoStatusNeedCommit || needSave === true
            "
          >
            <button
              type="button"
              data-cy="filesCommitButton"
              class="text-m0 ml-3 h-11 select-none rounded px-5 py-2 text-base font-medium focus:outline-none"
              [ngClass]="{
                'bg-s400 cursor-default':
                  repo.repoStatus !== repoStatusNeedCommit || needSave === true,
                'bg-m600':
                  repo.repoStatus === repoStatusNeedCommit && needSave === false
              }"
              (click)="commit()"
              [disabled]="
                repo.repoStatus !== repoStatusNeedCommit || needSave === true
              "
              >Commit</button
            >
          </div>

          <ng-template #templatePullFromRemote>
            <div *ngIf="needSave === true">Need to Save changes</div>
          </ng-template>

          <div
            *ngIf="isEditor === true && repo.repoStatus === repoStatusNeedPull"
            [tp]="templatePullFromRemote"
            [tpIsEnabled]="needSave === true"
          >
            <button
              type="button"
              data-cy="filesPullFromRemoteButton"
              class="text-m0 ml-3 h-11 rounded px-5 py-2 text-base font-medium focus:outline-none"
              [ngClass]="{
                'bg-s400 cursor-default':
                  repo.repoStatus !== repoStatusNeedPull || needSave === true,
                'bg-m600':
                  repo.repoStatus === repoStatusNeedPull && needSave === false
              }"
              (click)="pull()"
              [disabled]="
                repo.repoStatus !== repoStatusNeedPull || needSave === true
              "
              >Pull from Remote</button
            >
          </div>

          <ng-template #templatePushToRemote>
            <div *ngIf="needSave === true">Need to Save changes</div>

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedCommit
              "
              >Need to Commit changes</div
            >

            <!-- <div
              *ngIf="
                needSave === false && repo.conflicts.length > 0
              "
              >Need to Resolve conflicts</div
            > -->

            <div
              *ngIf="
                needSave === false && repo.repoStatus === repoStatusNeedPull
              "
              >Need to Pull changes from Remote</div
            >

            <div *ngIf="needSave === false && repo.repoStatus === repoStatusOk"
              >No changes to Push</div
            >
          </ng-template>

          <div
            *ngIf="isEditor === true"
            [tp]="templatePushToRemote"
            [tpIsEnabled]="
              repo.repoStatus !== repoStatusNeedPush || needSave === true
            "
          >
            <button
              type="button"
              data-cy="filesPushButton"
              class="text-m0 ml-3 h-11 select-none rounded px-5 py-2 text-base font-medium focus:outline-none"
              [ngClass]="{
                'bg-m600':
                  needSave === false &&
                  (repo.repoStatus === repoStatusNeedPush ||
                    (repo.repoStatus === repoStatusOk &&
                      repo?.changesToCommit?.length === 0 &&
                      repo?.changesToPush?.length > 0)),
                'bg-s400 cursor-default':
                  needSave === true ||
                  (repo.repoStatus !== repoStatusNeedPush &&
                    !(
                      repo.repoStatus === repoStatusOk &&
                      repo?.changesToCommit?.length === 0 &&
                      repo?.changesToPush?.length > 0
                    ))
              }"
              (click)="push()"
              [disabled]="
                needSave === true ||
                (repo.repoStatus !== repoStatusNeedPush &&
                  !(
                    repo.repoStatus === repoStatusOk &&
                    repo?.changesToCommit?.length === 0 &&
                    repo?.changesToPush?.length > 0
                  ))
              "
              >Push to Remote</button
            >
          </div>

          <div
            *ngIf="isEditor === true"
            tp="Need to Save changes"
            [tpIsEnabled]="needSave === true"
          >
            <button
              tp="Refresh repo status (git fetch). Does not validate files."
              type="button"
              data-cy="filesRefreshButton"
              class="ml-4 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
              [ngClass]="{
                'cursor-default': needSave === true,
                'hover:bg-m200': needSave === false
              }"
              [disabled]="needSave === true"
              (click)="refresh()"
            >
              <m-refresh-icon></m-refresh-icon>
            </button>
          </div>

          <div
            class="relative ml-3 mr-9"
            [ngClass]="{
              'mr-[50px]': !secondFileNodeId,
              'mr-4': !!secondFileNodeId
            }"
            *ngIf="isEditor === true"
          >
            <m-repo-options></m-repo-options>
          </div>
        </div>

        <div
          class="flex flex-row items-center justify-end"
          [ngClass]="{
            'w-1/4': !secondFileNodeId,
            'flex-1': !!secondFileNodeId
          }"
        >
          <div class="flex flex-row items-center">
            <button
              class="flex w-[100px] select-none flex-row items-center justify-end text-lg focus:outline-none"
              [ngClass]="{
                'text-m500 font-semibold':
                  filesRightPanelTab === filesRightPanelTabErrors &&
                  isRightPanelVisible,
                'text-s500':
                  filesRightPanelTab !== filesRightPanelTabErrors ||
                  !isRightPanelVisible
              }"
              (click)="setRightPanelTab(filesRightPanelTabErrors)"
              >Validation</button
            >

            <div
              class="text-m0 ml-4 flex h-7 min-w-7 flex-shrink-0 select-none items-center justify-center rounded px-2 py-[1px]"
              [ngClass]="{
                'bg-m500':
                  filesRightPanelTab === filesRightPanelTabErrors &&
                  isRightPanelVisible,
                'bg-r1':
                  (filesRightPanelTab !== filesRightPanelTabErrors ||
                    !isRightPanelVisible) &&
                  struct?.errors?.length > 0,
                'bg-s400':
                  (filesRightPanelTab !== filesRightPanelTabErrors ||
                    !isRightPanelVisible) &&
                  !(struct?.errors?.length > 0)
              }"
              >{{ struct?.errors?.length }}</div
            >

            <button
              class="ml-7 flex w-[90px] select-none items-center justify-center text-lg focus:outline-none"
              [ngClass]="{
                'text-m500 font-semibold':
                  filesRightPanelTab === filesRightPanelTabSessions &&
                  isRightPanelVisible,
                'text-s500':
                  filesRightPanelTab !== filesRightPanelTabSessions ||
                  !isRightPanelVisible
              }"
              (click)="setRightPanelTab(filesRightPanelTabSessions)"
              >Sessions</button
            >
          </div>

          <m-right-panel-icon
            class="text-s500 ml-7 mr-5 flex-shrink-0 cursor-pointer"
            [isFilled]="showFilesRightPanel === true"
            (click)="toggleShowRight()"
          ></m-right-panel-icon>
        </div>
      </div>

      <div class="mt-6 flex h-2 flex-1 flex-row">
        <div class="flex w-1/4 flex-shrink-0">
          <m-builder-left
            *ngIf="showFilesLeftPanel === true"
            [panel]="panel"
            [isEditor]="isEditor"
            (newFileClick)="newFile()"
            class="flex w-full"
          ></m-builder-left>
        </div>

        <div class="ml-6 flex flex-1 flex-col">
          <div class="bg-m0 flex h-full flex-grow rounded shadow">
            <div
              class="h-full w-full"
              *ngIf="
                (lastUrl !== pathBuilder && !!file?.fileId) || isSessionRoute
              "
            >
              <router-outlet></router-outlet>
            </div>

            <div
              class="h-full w-full"
              *ngIf="
                !isSessionRoute && (lastUrl === pathBuilder || !file?.fileId)
              "
            >
              <m-session></m-session>
            </div>
          </div>
        </div>

        <div
          class="ml-6 flex"
          [ngClass]="{
            'w-1/4 flex-shrink-0': !secondFileNodeId,
            'flex-1': !!secondFileNodeId
          }"
          *ngIf="
            panel === panelTree || lastUrl === pathBuilder || !file?.fileId
          "
        >
          <m-builder-right
            *ngIf="showFilesRightPanel === true"
            class="flex w-full"
          ></m-builder-right>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="secondFileNodeId$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="panel$ | async"></div>
<div *ngIf="showFilesLeftPanel$ | async"></div>
<div *ngIf="showFilesRightPanel$ | async"></div>
<div *ngIf="filesRightPanelTab$ | async"></div>
<div *ngIf="debugMode$ | async"></div>
<div *ngIf="sessionId$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
<div *ngIf="user$ | async"></div>
