<div class="flex flex-col bg-white p-9">
  <div
    data-cy="createFolderDialogTitle"
    class="text-gray2 mt-5 flex-grow text-left text-2xl font-semibold"
    >Create Folder</div
  >

  <form
    class="flex w-[450px] flex-col"
    [formGroup]="createFolderForm"
    (ngSubmit)="create()"
  >
    <input
      #folderName
      spellcheck="false"
      data-cy="createFolderDialogFolderNameInput"
      class="form-input border-gray3 focus:border-blue3 mt-9 rounded"
      [ngClass]="{
        'border-red-600':
          createFolderForm.controls['folderName'].invalid &&
          createFolderForm.controls['folderName'].touched
      }"
      formControlName="folderName"
      placeholder="Folder Name"
    />
    <m-validation
      [control]="createFolderForm.controls['folderName']"
    ></m-validation>

    <div class="mt-6">
      <button
        data-cy="createFolderDialogCreateButton"
        class="bg-blue3 w-28 rounded py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Create</button
      >

      <button
        data-cy="createFolderDialogCancelButton"
        class="border-blue3 text-blue3 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
