<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="createBranchDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Create Local Branch</div
  >

  <form
    class="flex flex-col w-80"
    [formGroup]="createBranchForm"
    (ngSubmit)="create()"
  >
    <input
      data-cy="createBranchDialogBranchIdInput"
      class="mt-9 form-input rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          createBranchForm.controls['branchId'].invalid &&
          createBranchForm.controls['branchId'].touched
      }"
      formControlName="branchId"
      placeholder="Branch Name"
    />
    <m-validation
      [control]="createBranchForm.controls['branchId']"
    ></m-validation>

    <div>Base on branch:</div>
    <ng-select
      #branchSelect
      data-cy="branchSelect"
      class="mt-2 flex focus:outline-none w-80"
      [items]="branchesList"
      [clearable]="false"
      [searchable]="false"
      (change)="branchChange($event)"
      formControlName="fromBranch"
      placeholder="Branches"
      bindLabel="extraName"
      bindValue="extraId"
    >
      <ng-template
        ng-header-tmp
        *ngIf="branchesList?.length > 0 && selectedBranchItem"
      >
        <div class="font-semibold text-sm"> Repository - Branch </div>
      </ng-template>
    </ng-select>

    <div class="mt-80">
      <button
        data-cy="createBranchDialogCreateButton"
        class="py-3 w-28 bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Create</button
      >

      <button
        data-cy="createBranchDialogCancelButton"
        class="ml-3 py-3 w-28 rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
