@mixin settings-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .settings {
    &__button-success {
      color: mat-color($primary)
    }

    &__button-warn {
      color: mat-color($warn)
    }
  }
}
