<mat-toolbar class="space__sub-toolbar space_border_bottom fixed-toolbar">
  <div name="projectSettingsTitle">
    {{ selectedProjectId$ | async }} Settings
  </div>
</mat-toolbar>
<div class="settings">
  <div class="settings__row">
    <div class="settings__label ttu">
      Google cloud project service account credentials
    </div>
    <div class="settings__value"></div>
  </div>
  <!-- settings__row -->

  <div class="settings__row">
    <div class="settings__label"> BigQuery project </div>
    <div class="settings__value">
      <div name="projectSettingsBqProject">{{
        selectedProjectBqProject$ | async
      }}</div>
    </div>
  </div>
  <!-- settings__row -->

  <div class="settings__row">
    <div class="settings__label"> Client email </div>
    <div class="settings__value">
      <div name="projectSettingsClientEmail">{{
        selectedProjectClientEmail$ | async
      }}</div>
    </div>
    <button
      mat-raised-button
      [disabled]="!(selectedProjectUserIsAdmin$ | async)"
      color="primary"
      (click)="openUpdateCredentialsDialog()"
      name="projectSettingsUpdateCredentials"
      >Edit</button
    >
  </div>
  <!-- settings__row -->

  <div class="settings__row">
    <div class="settings__label"> Data Size Limit per request, GB </div>
    <div class="settings__value">
      <m-update-query-size-limit
        [selectedProject]="selectedProject$ | async"
      ></m-update-query-size-limit>
    </div>
  </div>
  <!-- settings__row -->

  <div class="settings__row">
    <div class="settings__label"> Timezone </div>
    <div class="settings__value">
      <m-update-project-timezone
        [selectedProject]="selectedProject$ | async"
      ></m-update-project-timezone>
    </div>
  </div>
  <!-- settings__row -->

  <div class="settings__row">
    <div class="settings__label"> Week Start Day </div>
    <div class="settings__value">
      <m-update-week-start
        [selectedProject]="selectedProject$ | async"
      ></m-update-week-start>
    </div>
  </div>
  <!-- settings__row -->

  <div class="settings__row">
    <div class="settings__label"> Mprove Project </div>
    <div class="settings__value">
      <div name="projectSettingsProjectId">{{
        selectedProjectId$ | async
      }}</div>
    </div>
  </div>
  <!-- settings__row -->

  <div class="settings__row settings__row-delete">
    <button
      mat-raised-button
      [disabled]="!(selectedProjectUserIsAdmin$ | async)"
      color="warn"
      (click)="openDeleteProjectDialog()"
      name="projectSettingsDelete"
      >DELETE PROJECT</button
    >
  </div>
  <!-- settings__row -->
</div>
