<mat-form-field>
  <div fxLayout="row">
    <img
      class="chart-control-select-type__icon"
      width="22"
      height="17"
      [src]="'/assets/app/charts/' + (chart.type | chartIcon) + '.svg'"
      alt="chart"
    />

    <mat-select
      placeholder="Type"
      class="mp-chart-editor-field-full-width"
      name="chartType"
      [(ngModel)]="chart.type"
      (selectionChange)="typeChange($event)"
    >
      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeTable"
        [value]="chartTypeEnum.Table"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.Table + '.svg'"
          alt="chart"
        />
        Table
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarVertical"
        [value]="chartTypeEnum.BarVertical"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.BarVertical + '.svg'"
          alt="chart"
        />
        Bar Vertical
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarVerticalGrouped"
        [value]="chartTypeEnum.BarVerticalGrouped"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="
            '/assets/app/charts/' + chartIconEnum.BarVerticalGrouped + '.svg'
          "
          alt="chart"
        />
        Bar Vertical Grouped
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarVerticalStacked"
        [value]="chartTypeEnum.BarVerticalStacked"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="
            '/assets/app/charts/' + chartIconEnum.BarVerticalStacked + '.svg'
          "
          alt="chart"
        />
        Bar Vertical Stacked
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarVerticalNormalized"
        [value]="chartTypeEnum.BarVerticalNormalized"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="
            '/assets/app/charts/' + chartIconEnum.BarVerticalNormalized + '.svg'
          "
          alt="chart"
        />
        Bar Vertical Normalized
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarHorizontal"
        [value]="chartTypeEnum.BarHorizontal"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.BarHorizontal + '.svg'"
          alt="chart"
        />
        Bar Horizontal
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarHorizontalGrouped"
        [value]="chartTypeEnum.BarHorizontalGrouped"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="
            '/assets/app/charts/' + chartIconEnum.BarHorizontalGrouped + '.svg'
          "
          alt="chart"
        />
        Bar Horizontal Grouped
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarHorizontalStacked"
        [value]="chartTypeEnum.BarHorizontalStacked"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="
            '/assets/app/charts/' + chartIconEnum.BarHorizontalStacked + '.svg'
          "
          alt="chart"
        />
        Bar Horizontal Stacked
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeBarHorizontalNormalized"
        [value]="chartTypeEnum.BarHorizontalNormalized"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="
            '/assets/app/charts/' +
            chartIconEnum.BarHorizontalNormalized +
            '.svg'
          "
          alt="chart"
        />
        Bar Horizontal Normalized
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypePie"
        [value]="chartTypeEnum.Pie"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.Pie + '.svg'"
          alt="chart"
        />
        Pie
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypePieAdvanced"
        [value]="chartTypeEnum.PieAdvanced"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.PieAdvanced + '.svg'"
          alt="chart"
        />
        Pie Advanced
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypePieGrid"
        [value]="chartTypeEnum.PieGrid"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.PieGrid + '.svg'"
          alt="chart"
        />
        Pie Grid
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeLine"
        [value]="chartTypeEnum.Line"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.Line + '.svg'"
          alt="chart"
        />
        Line
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeArea"
        [value]="chartTypeEnum.Area"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.Area + '.svg'"
          alt="chart"
        />
        Area
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeAreaStacked"
        [value]="chartTypeEnum.AreaStacked"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.AreaStacked + '.svg'"
          alt="chart"
        />
        Area Stacked
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeAreaNormalized"
        [value]="chartTypeEnum.AreaNormalized"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.AreaNormalized + '.svg'"
          alt="chart"
        />
        Area Normalized
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeHeatMap"
        [value]="chartTypeEnum.HeatMap"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.HeatMap + '.svg'"
          alt="chart"
        />
        Heat Map
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeTreeMap"
        [value]="chartTypeEnum.TreeMap"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.TreeMap + '.svg'"
          alt="chart"
        />
        Tree Map
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeNumberCard"
        [value]="chartTypeEnum.NumberCard"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.NumberCard + '.svg'"
          alt="chart"
        />
        Number Card
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeGauge"
        [value]="chartTypeEnum.Gauge"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          [src]="'/assets/app/charts/' + chartIconEnum.Gauge + '.svg'"
          alt="chart"
        />
        Gauge
      </mat-option>

      <mat-option
        class="chart-control-select-type__option"
        name="chartTypeGaugeLinear"
        [value]="chartTypeEnum.GaugeLinear"
      >
        <img
          class="chart-control-select-type__icon"
          width="22"
          height="22"
          [src]="'/assets/app/charts/' + chartIconEnum.GaugeLinear + '.svg'"
          alt="chart"
        />
        Gauge Linear
      </mat-option>
    </mat-select>
  </div>
</mat-form-field>
