<div class="select-none truncate" *ngIf="isOption === false">
  <div
    *ngIf="
      !!inputItem.labelFormat &&
      !!inputItem.labelOutput &&
      !!inputItem.labelInput
    "
    class="truncate"
  >
    <span>
      {{ inputItem.labelFormat }}
    </span>

    <span class="ml-2">
      {{ inputItem.labelOutput }}
    </span>

    <span class="ml-2"> << </span>

    <span class="ml-2">
      {{ inputItem.labelInput }}
    </span>
  </div>

  <div
    *ngIf="
      !(
        !!inputItem.labelFormat &&
        !!inputItem.labelOutput &&
        !!inputItem.labelInput
      )
    "
    class="truncate"
    >{{ inputItem.id }}</div
  >
</div>

<div class="select-none truncate" *ngIf="isOption === true">
  <span>
    {{ inputItem.labelFormat }}
  </span>

  <span class="ml-2">
    {{ inputItem.labelOutput }}
  </span>

  <span class="ml-2"> << </span>

  <span class="ml-2">
    {{ inputItem.labelInput }}
  </span>
</div>

<!-- <span>{{ column.topLabel | capitalize }}</span>
<span class="ml-2 font-semibold" *ngIf="column.groupLabel"
  >{{ column.groupLabel | capitalize }} - {{ column.label | capitalize }}</span
>

<span class="ml-2 font-semibold" *ngIf="!column.groupLabel">{{
  column.label | capitalize
}}</span> -->
