<div
  class="ml-2 flex flex-row space-x-5"
  [ngClass]="{
    'h-16': ['TsIsBetween', 'TsIsNotBetween'].indexOf(fraction.type) < 0,
    'h-32': ['TsIsBetween', 'TsIsNotBetween'].indexOf(fraction.type) > -1
  }"
>
  <div
    tp="Turn off formula to activate control"
    [tpIsEnabled]="isDisabled === true"
  >
    <ng-container *ngTemplateOutlet="tSelect"></ng-container>

    <ng-template #tSelect>
      <ng-select
        #fractionTsTypeSelect
        [fixNgSelectBottom]="fractionTsTypeSelect"
        data-cy="fractionTsTypeSelect"
        class="fraction-type-select"
        [class.w-[180px]]="isMetrics === true"
        [class.w-[280px]]="isMetrics === false"
        [class.mt-[32px]]="
          ['TsIsBetween', 'TsIsNotBetween'].indexOf(fraction.type) > -1
        "
        [items]="fractionTsTypesList"
        [clearable]="false"
        [searchable]="false"
        [disabled]="isDisabled === true"
        [(ngModel)]="fraction.type"
        (change)="typeChange($event)"
        (keyup.esc)="
          $event.stopImmediatePropagation(); fractionTsTypeSelect.blur()
        "
        (keyup.enter)="
          $event.stopImmediatePropagation(); fractionTsTypeSelect.blur()
        "
        appendTo="body"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-label-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-yellow-700': item.operator === 'And',
              'text-s400':
                item.operator !== 'And' &&
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-yellow-700': item.operator === 'And',
              'text-s400':
                item.operator !== 'And' &&
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1" *ngIf="isMetrics === false"
              >{{ item.operator | uppercase }} -</div
            >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>
      </ng-select>
    </ng-template>
  </div>

  <div
    *ngIf="
      fraction.type === 'TsIsOnYear' ||
      fraction.type === 'TsIsOnQuarter' ||
      fraction.type === 'TsIsOnMonth' ||
      fraction.type === 'TsIsOnWeek' ||
      fraction.type === 'TsIsOnDay' ||
      fraction.type === 'TsIsOnHour' ||
      fraction.type === 'TsIsOnMinute' ||
      fraction.type === 'TsIsOnTimestamp' ||
      fraction.type === 'TsIsBefore' ||
      fraction.type === 'TsIsThrough' ||
      fraction.type === 'TsIsAfter' ||
      fraction.type === 'TsIsStarting' ||
      fraction.type === 'TsIsBeginFor' ||
      fraction.type === 'TsIsNotOnYear' ||
      fraction.type === 'TsIsNotOnQuarter' ||
      fraction.type === 'TsIsNotOnMonth' ||
      fraction.type === 'TsIsNotOnWeek' ||
      fraction.type === 'TsIsNotOnDay' ||
      fraction.type === 'TsIsNotOnHour' ||
      fraction.type === 'TsIsNotOnMinute' ||
      fraction.type === 'TsIsNotOnTimestamp' ||
      fraction.type === 'TsIsNotBeginFor'
    "
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <ng-select
        #fractionTsMomentTypeSelect
        [fixNgSelectBottom]="fractionTsMomentTypeSelect"
        data-cy="fractionTsMomentTypeSelect"
        class="fraction-ts-moment-select w-[140px]"
        [items]="fractionTsMomentTypesList"
        [clearable]="false"
        [searchable]="false"
        [disabled]="isDisabled === true"
        [(ngModel)]="fraction.tsMomentType"
        (change)="momentChange()"
        (keyup.esc)="
          $event.stopImmediatePropagation(); fractionTsMomentTypeSelect.blur()
        "
        (keyup.enter)="
          $event.stopImmediatePropagation(); fractionTsMomentTypeSelect.blur()
        "
        appendTo="body"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div
    *ngIf="
      [
        'TsIsBefore',
        'TsIsThrough',
        'TsIsAfter',
        'TsIsStarting',
        'TsIsBeginFor',
        'TsIsOnTimestamp',
        'TsIsNotBeginFor',
        'TsIsNotOnTimestamp'
      ].indexOf(fraction.type) > -1 && fraction.tsMomentType === 'Timestamp'
    "
    class="flex flex-row space-x-5"
  >
    <div class="flex h-9 items-center">UTC</div>

    <form [formGroup]="tsTimestampValueForm">
      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <fieldset [disabled]="isDisabled === true">
          <input
            autocomplete="off"
            spellcheck="false"
            data-cy="fractionTsTimestampValueInput"
            class="form-input border-s3 focus:border-m600 h-[36px] w-[255px] rounded"
            [ngClass]="{
              'border-r600':
                tsTimestampValueForm.controls['tsTimestampValue'].invalid &&
                tsTimestampValueForm.controls['tsTimestampValue'].touched
            }"
            formControlName="tsTimestampValue"
            (blur)="timestampValueBlur()"
          />
        </fieldset>
      </div>

      <m-validation
        [control]="tsTimestampValueForm.controls['tsTimestampValue']"
      ></m-validation>
    </form>
  </div>

  <div
    *ngIf="
      ([
        'TsIsBefore',
        'TsIsThrough',
        'TsIsAfter',
        'TsIsStarting',
        'TsIsBeginFor',
        'TsIsNotBeginFor'
      ].indexOf(fraction.type) > -1 &&
        (fraction.tsMomentType === 'Literal' ||
          ['This', 'Last', 'Next'].indexOf(fraction.tsMomentType) > -1)) ||
      (['TsIsOnDay', 'TsIsNotOnDay'].indexOf(fraction.type) > -1 &&
        ['Last', 'Next'].indexOf(fraction.tsMomentType) > -1)
    "
    tp="Turn off formula to activate control"
    [tpIsEnabled]="isDisabled === true"
  >
    <ng-select
      #tsMomentOnUnitSelect
      [fixNgSelectBottom]="tsMomentOnUnitSelect"
      data-cy="tsMomentOnUnitSelect"
      class="fraction-mix-unit-select"
      [class.w-[110px]]="
        fraction.tsMomentType === 'Literal' || fraction.tsMomentType === 'This'
      "
      [class.w-[150px]]="
        fraction.tsMomentType !== 'Literal' && fraction.tsMomentType !== 'This'
      "
      [items]="
        ['TsIsOnDay', 'TsIsNotOnDay'].indexOf(fraction.type) > -1 &&
        ['Last', 'Next'].indexOf(fraction.tsMomentType) > -1
          ? fractionTsOnDayUnitsList
          : fraction.tsMomentType === 'Literal'
            ? fractionTsLiteralUnitsList
            : fraction.tsMomentType === 'This'
              ? fractionTsMixUnitsTempList
              : fractionTsOnUnitsList
      "
      [clearable]="false"
      [searchable]="false"
      [disabled]="isDisabled === true"
      [(ngModel)]="fraction.tsMomentUnit"
      (change)="onUnitChange()"
      (keyup.esc)="
        $event.stopImmediatePropagation(); tsMomentOnUnitSelect.blur()
      "
      (keyup.enter)="
        $event.stopImmediatePropagation(); tsMomentOnUnitSelect.blur()
      "
      appendTo="body"
      bindLabel="label"
      bindValue="value"
    >
      <ng-template ng-label-tmp let-item="item">
        <div
          class="flex flex-row"
          [ngClass]="{
            'text-s400':
              item.timeframeLevel !== 0 &&
              item.timeframeLevel < fieldTimeframeLevel
          }"
        >
          <div class="ml-1 truncate">{{ item.label }}</div>
        </div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div
          class="flex flex-row"
          [ngClass]="{
            'text-s400':
              item.timeframeLevel !== 0 &&
              item.timeframeLevel < fieldTimeframeLevel
          }"
        >
          <div class="ml-1 truncate">{{ item.label }}</div>
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div
    *ngIf="
      [
        'TsIsOnYear',
        'TsIsOnQuarter',
        'TsIsOnMonth',
        'TsIsOnWeek',
        'TsIsOnDay',
        'TsIsOnHour',
        'TsIsOnMinute',
        'TsIsBefore',
        'TsIsThrough',
        'TsIsAfter',
        'TsIsStarting',
        'TsIsBeginFor',
        'TsIsNotOnYear',
        'TsIsNotOnQuarter',
        'TsIsNotOnMonth',
        'TsIsNotOnWeek',
        'TsIsNotOnDay',
        'TsIsNotOnHour',
        'TsIsNotOnMinute',
        'TsIsNotBeginFor'
      ].indexOf(fraction.type) > -1 &&
      ['Ago', 'FromNow'].indexOf(fraction.tsMomentType) > -1
    "
    class="flex flex-row space-x-5"
  >
    <form [formGroup]="tsMomentAgoFromNowQuantityForm">
      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <fieldset [disabled]="isDisabled === true">
          <input
            autocomplete="off"
            spellcheck="false"
            data-cy="fractionTsMomentAgoFromNowQuantityInput"
            class="form-input border-s3 focus:border-m600 h-[36px] w-16 rounded"
            [ngClass]="{
              'border-r600':
                tsMomentAgoFromNowQuantityForm.controls[
                  'tsMomentAgoFromNowQuantity'
                ].invalid &&
                tsMomentAgoFromNowQuantityForm.controls[
                  'tsMomentAgoFromNowQuantity'
                ].touched
            }"
            formControlName="tsMomentAgoFromNowQuantity"
            (blur)="agoFromNowQuantityBlur()"
          />
        </fieldset>
      </div>

      <m-validation
        [control]="
          tsMomentAgoFromNowQuantityForm.controls['tsMomentAgoFromNowQuantity']
        "
      ></m-validation>
    </form>
  </div>

  <div
    *ngIf="
      [
        'TsIsBefore',
        'TsIsThrough',
        'TsIsAfter',
        'TsIsStarting',
        'TsIsBeginFor',
        'TsIsNotBeginFor'
      ].indexOf(fraction.type) > -1 &&
      ['Ago', 'FromNow'].indexOf(fraction.tsMomentType) > -1
    "
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <ng-select
        #tsMomentAgoFromNowUnitSelect
        [fixNgSelectBottom]="tsMomentAgoFromNowUnitSelect"
        data-cy="tsMomentAgoFromNowUnitSelect"
        class="popup-55 w-32"
        [items]="fractionTsAgoFromNowUnitsList"
        [clearable]="false"
        [searchable]="false"
        [disabled]="isDisabled === true"
        [(ngModel)]="fraction.tsMomentUnit"
        (change)="agoFromNowUnitChange()"
        (keyup.esc)="
          $event.stopImmediatePropagation(); tsMomentAgoFromNowUnitSelect.blur()
        "
        (keyup.enter)="
          $event.stopImmediatePropagation(); tsMomentAgoFromNowUnitSelect.blur()
        "
        appendTo="body"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-label-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label + 's' }}</div>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label + 's' }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div
    *ngIf="
      [
        'TsIsOnYear',
        'TsIsOnQuarter',
        'TsIsOnMonth',
        'TsIsOnWeek',
        'TsIsOnDay',
        'TsIsOnHour',
        'TsIsOnMinute',
        'TsIsNotOnYear',
        'TsIsNotOnQuarter',
        'TsIsNotOnMonth',
        'TsIsNotOnWeek',
        'TsIsNotOnDay',
        'TsIsNotOnHour',
        'TsIsNotOnMinute'
      ].indexOf(fraction.type) > -1 &&
      ['Ago', 'FromNow'].indexOf(fraction.tsMomentType) > -1
    "
  >
    <div class="flex h-9 items-center">{{ fraction.tsMomentUnit + 's' }}</div>
  </div>

  <!-- on year -->
  <div
    *ngIf="
      ['TsIsOnYear', 'TsIsNotOnYear'].indexOf(fraction.type) > -1 &&
      fraction.tsMomentType === 'Literal'
    "
    tp="Turn off formula to activate control"
    [tpIsEnabled]="isDisabled === true"
  >
    <vaadin-date-picker
      #datePickerOnYear
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="onYearDateI18n"
      (value-changed)="yearDateValueChanged($event)"
      [disabled]="isDisabled === true"
    ></vaadin-date-picker>
  </div>

  <!-- on quarter -->
  <div
    *ngIf="
      ['TsIsOnQuarter', 'TsIsNotOnQuarter'].indexOf(fraction.type) > -1 &&
      fraction.tsMomentType === 'Literal'
    "
    tp="Turn off formula to activate control"
    [tpIsEnabled]="isDisabled === true"
  >
    <vaadin-date-picker
      #datePickerOnQuarter
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="onQuarterDateI18n"
      (value-changed)="quarterDateValueChanged($event)"
      [disabled]="isDisabled === true"
    ></vaadin-date-picker>
  </div>

  <!-- on month -->
  <div
    *ngIf="
      ['TsIsOnMonth', 'TsIsNotOnMonth'].indexOf(fraction.type) > -1 &&
      fraction.tsMomentType === 'Literal'
    "
    tp="Turn off formula to activate control"
    [tpIsEnabled]="isDisabled === true"
  >
    <vaadin-date-picker
      #datePickerOnMonth
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="onMonthDateI18n"
      (value-changed)="monthDateValueChanged($event)"
      [disabled]="isDisabled === true"
    ></vaadin-date-picker>
  </div>

  <!-- on week -->
  <div
    *ngIf="
      ['TsIsOnWeek', 'TsIsNotOnWeek'].indexOf(fraction.type) > -1 &&
      fraction.tsMomentType === 'Literal'
    "
    tp="Turn off formula to activate control"
    [tpIsEnabled]="isDisabled === true"
  >
    <vaadin-date-picker
      #datePickerOnWeek
      class="week-width py-0"
      required
      [value]="dateStr"
      [i18n]="onWeekDateI18n"
      (value-changed)="weekDateValueChanged($event)"
      [disabled]="isDisabled === true"
    ></vaadin-date-picker>
  </div>

  <!-- on day -->
  <div
    *ngIf="
      ['TsIsOnDay', 'TsIsNotOnDay'].indexOf(fraction.type) > -1 &&
      fraction.tsMomentType === 'Literal'
    "
    tp="Turn off formula to activate control"
    [tpIsEnabled]="isDisabled === true"
  >
    <vaadin-date-picker
      #datePickerOnDay
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="onDayDateI18n"
      (value-changed)="dayDateValueChanged($event)"
      [disabled]="isDisabled === true"
    ></vaadin-date-picker>
  </div>

  <!-- on hour -->
  <div
    *ngIf="
      ['TsIsOnHour', 'TsIsNotOnHour'].indexOf(fraction.type) > -1 &&
      fraction.tsMomentType === 'Literal'
    "
    class="flex flex-row space-x-5"
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-date-picker
        #datePickerOnHour
        class="py-0"
        required
        [value]="dateStr"
        [i18n]="onHourDateI18n"
        (value-changed)="hourDateValueChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-date-picker>
    </div>

    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-time-picker
        #timePickerOnHour
        class="py-0"
        required
        [value]="timeStr"
        (value-changed)="hourTimeValueChanged($event)"
        (opened-changed)="hourTimeOpenedChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-time-picker>
    </div>
  </div>

  <!-- on minute -->
  <div
    *ngIf="
      ['TsIsOnMinute', 'TsIsNotOnMinute'].indexOf(fraction.type) > -1 &&
      fraction.tsMomentType === 'Literal'
    "
    class="flex flex-row space-x-5"
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-date-picker
        #datePickerOnMinute
        class="py-0"
        required
        [value]="dateStr"
        [i18n]="onMinuteDateI18n"
        (value-changed)="minuteDateValueChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-date-picker>
    </div>

    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-time-picker
        #timePickerOnMinute
        class="py-0"
        required
        [value]="timeStr"
        (value-changed)="minuteTimeValueChanged($event)"
        (opened-changed)="minuteTimeOpenedChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-time-picker>
    </div>
  </div>

  <!-- between -->
  <div
    *ngIf="['TsIsBetween', 'TsIsNotBetween'].indexOf(fraction.type) > -1"
    class="flex flex-col"
  >
    <div class="flex h-16 flex-row space-x-5">
      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <ng-select
          #fractionTsFromMomentTypeSelect
          [fixNgSelectBottom]="fractionTsFromMomentTypeSelect"
          data-cy="fractionTsFromMomentTypeSelect"
          class="fraction-ts-moment-select w-[140px]"
          [items]="fractionTsMomentTypesList"
          [clearable]="false"
          [searchable]="false"
          [disabled]="isDisabled === true"
          [(ngModel)]="fraction.tsFromMomentType"
          (change)="betweenFromMomentChange()"
          (keyup.esc)="
            $event.stopImmediatePropagation();
            fractionTsFromMomentTypeSelect.blur()
          "
          (keyup.enter)="
            $event.stopImmediatePropagation();
            fractionTsFromMomentTypeSelect.blur()
          "
          appendTo="body"
          bindLabel="label"
          bindValue="value"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.label }}</div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.label }}</div>
          </ng-template>
        </ng-select>
      </div>

      <div
        *ngIf="fraction.tsFromMomentType === 'Timestamp'"
        class="flex flex-row space-x-5"
      >
        <div class="flex h-9 items-center">UTC</div>

        <form [formGroup]="tsFromTimestampValueForm">
          <div
            tp="Turn off formula to activate control"
            [tpIsEnabled]="isDisabled === true"
          >
            <fieldset [disabled]="isDisabled === true">
              <input
                autocomplete="off"
                spellcheck="false"
                data-cy="fractionTsFromTimestampValueInput"
                class="form-input border-s3 focus:border-m600 h-[36px] w-[255px] rounded"
                [ngClass]="{
                  'border-r600':
                    tsFromTimestampValueForm.controls['tsFromTimestampValue']
                      .invalid &&
                    tsFromTimestampValueForm.controls['tsFromTimestampValue']
                      .touched
                }"
                formControlName="tsFromTimestampValue"
                (blur)="betweenFromTimestampValueBlur()"
              />
            </fieldset>
          </div>

          <m-validation
            [control]="
              tsFromTimestampValueForm.controls['tsFromTimestampValue']
            "
          ></m-validation>
        </form>
      </div>

      <div
        *ngIf="['Ago', 'FromNow'].indexOf(fraction.tsFromMomentType) > -1"
        class="flex flex-row space-x-5"
      >
        <form [formGroup]="tsFromMomentAgoFromNowQuantityForm">
          <div
            tp="Turn off formula to activate control"
            [tpIsEnabled]="isDisabled === true"
          >
            <fieldset [disabled]="isDisabled === true">
              <input
                autocomplete="off"
                spellcheck="false"
                data-cy="fractionTsFromMomentAgoFromNowQuantityInput"
                class="form-input border-s3 focus:border-m600 h-[36px] w-16 rounded"
                [ngClass]="{
                  'border-r600':
                    tsFromMomentAgoFromNowQuantityForm.controls[
                      'tsFromMomentAgoFromNowQuantity'
                    ].invalid &&
                    tsFromMomentAgoFromNowQuantityForm.controls[
                      'tsFromMomentAgoFromNowQuantity'
                    ].touched
                }"
                formControlName="tsFromMomentAgoFromNowQuantity"
                (blur)="betweenFromMomentAgoFromNowQuantityBlur()"
              />
            </fieldset>
          </div>

          <m-validation
            [control]="
              tsFromMomentAgoFromNowQuantityForm.controls[
                'tsFromMomentAgoFromNowQuantity'
              ]
            "
          ></m-validation>
        </form>

        <div
          tp="Turn off formula to activate control"
          [tpIsEnabled]="isDisabled === true"
        >
          <ng-select
            #tsFromMomentAgoFromNowUnitSelect
            [fixNgSelectBottom]="tsFromMomentAgoFromNowUnitSelect"
            data-cy="tsFromMomentAgoFromNowUnitSelect"
            class="popup-55 w-32"
            [items]="fractionTsAgoFromNowUnitsList"
            [clearable]="false"
            [searchable]="false"
            [disabled]="isDisabled === true"
            [(ngModel)]="fraction.tsFromMomentUnit"
            (change)="betweenFromMomentAgoFromNowUnitChange()"
            (keyup.esc)="
              $event.stopImmediatePropagation();
              tsFromMomentAgoFromNowUnitSelect.blur()
            "
            (keyup.enter)="
              $event.stopImmediatePropagation();
              tsFromMomentAgoFromNowUnitSelect.blur()
            "
            appendTo="body"
            bindLabel="label"
            bindValue="value"
          >
            <ng-template ng-label-tmp let-item="item">
              <div
                class="flex flex-row"
                [ngClass]="{
                  'text-s400':
                    item.timeframeLevel !== 0 &&
                    item.timeframeLevel < fieldTimeframeLevel
                }"
              >
                <div class="ml-1 truncate">{{ item.label + 's' }}</div>
              </div>
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              <div
                class="flex flex-row"
                [ngClass]="{
                  'text-s400':
                    item.timeframeLevel !== 0 &&
                    item.timeframeLevel < fieldTimeframeLevel
                }"
              >
                <div class="ml-1 truncate">{{ item.label + 's' }}</div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div
        *ngIf="
          fraction.tsFromMomentType === 'Literal' ||
          ['This', 'Last', 'Next'].indexOf(fraction.tsFromMomentType) > -1
        "
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <ng-select
          #tsFromMomentOnUnitSelect
          [fixNgSelectBottom]="tsFromMomentOnUnitSelect"
          data-cy="tsFromMomentOnUnitSelect"
          class="fraction-mix-unit-select"
          [class.w-[110px]]="fraction.tsFromMomentType === 'Literal'"
          [class.w-[150px]]="fraction.tsFromMomentType !== 'Literal'"
          [items]="
            fraction.tsFromMomentType === 'Literal'
              ? fractionTsLiteralUnitsList
              : fraction.tsFromMomentType === 'This'
                ? fractionTsMixUnitsTempList
                : fractionTsOnUnitsList
          "
          [clearable]="false"
          [searchable]="false"
          [disabled]="isDisabled === true"
          [(ngModel)]="fraction.tsFromMomentUnit"
          (change)="betweenFromUnitChange()"
          (keyup.esc)="
            $event.stopImmediatePropagation(); tsFromMomentOnUnitSelect.blur()
          "
          (keyup.enter)="
            $event.stopImmediatePropagation(); tsFromMomentOnUnitSelect.blur()
          "
          appendTo="body"
          bindLabel="label"
          bindValue="value"
        >
          <ng-template ng-label-tmp let-item="item">
            <div
              class="flex flex-row"
              [ngClass]="{
                'text-s400':
                  item.timeframeLevel !== 0 &&
                  item.timeframeLevel < fieldTimeframeLevel
              }"
            >
              <div class="ml-1 truncate">{{ item.label }}</div>
            </div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div
              class="flex flex-row"
              [ngClass]="{
                'text-s400':
                  item.timeframeLevel !== 0 &&
                  item.timeframeLevel < fieldTimeframeLevel
              }"
            >
              <div class="ml-1 truncate">{{ item.label }}</div>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <div
        *ngIf="fraction.tsFromMomentType === 'Literal'"
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <vaadin-date-picker
          #datePickerBetweenFrom
          class="py-0"
          [ngClass]="{
            'week-width': fraction.tsFromMomentUnit === 'week'
          }"
          required
          [value]="dateStr"
          [i18n]="betweenFromDateI18n"
          (value-changed)="betweenFromDateValueChanged($event)"
          [disabled]="isDisabled === true"
        ></vaadin-date-picker>
      </div>

      <div
        *ngIf="
          fraction.tsFromMomentType === 'Literal' &&
          ['hour', 'minute'].indexOf(fraction.tsFromMomentUnit) > -1
        "
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <vaadin-time-picker
          #timePickerBetweenFrom
          class="py-0"
          required
          [value]="timeStr"
          (value-changed)="betweenFromTimeValueChanged($event)"
          (opened-changed)="betweenFromTimeOpenedChanged($event)"
          [disabled]="isDisabled === true"
        ></vaadin-time-picker>
      </div>
    </div>

    <div class="flex h-16 flex-row space-x-5">
      <!-- <div class="flex h-[36px] items-center justify-center">to</div> -->

      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <ng-select
          #fractionTsToMomentTypeSelect
          [fixNgSelectBottom]="fractionTsToMomentTypeSelect"
          data-cy="fractionTsToMomentTypeSelect"
          class="fraction-ts-moment-select w-[140px]"
          [items]="fractionTsMomentTypesList"
          [clearable]="false"
          [searchable]="false"
          [disabled]="isDisabled === true"
          [(ngModel)]="fraction.tsToMomentType"
          (change)="betweenToMomentChange()"
          (keyup.esc)="
            $event.stopImmediatePropagation();
            fractionTsToMomentTypeSelect.blur()
          "
          (keyup.enter)="
            $event.stopImmediatePropagation();
            fractionTsToMomentTypeSelect.blur()
          "
          appendTo="body"
          bindLabel="label"
          bindValue="value"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.label }}</div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.label }}</div>
          </ng-template>
        </ng-select>
      </div>

      <div
        *ngIf="fraction.tsToMomentType === 'Timestamp'"
        class="flex flex-row space-x-5"
      >
        <div class="flex h-9 items-center">UTC</div>

        <form [formGroup]="tsToTimestampValueForm">
          <div
            tp="Turn off formula to activate control"
            [tpIsEnabled]="isDisabled === true"
          >
            <fieldset [disabled]="isDisabled === true">
              <input
                autocomplete="off"
                spellcheck="false"
                data-cy="fractionTsToTimestampValueInput"
                class="form-input border-s3 focus:border-m600 h-[36px] w-[255px] rounded"
                [ngClass]="{
                  'border-r600':
                    tsToTimestampValueForm.controls['tsToTimestampValue']
                      .invalid &&
                    tsToTimestampValueForm.controls['tsToTimestampValue']
                      .touched
                }"
                formControlName="tsToTimestampValue"
                (blur)="betweenToTimestampValueBlur()"
              />
            </fieldset>
          </div>

          <m-validation
            [control]="tsToTimestampValueForm.controls['tsToTimestampValue']"
          ></m-validation>
        </form>
      </div>

      <div
        *ngIf="['Ago', 'FromNow'].indexOf(fraction.tsToMomentType) > -1"
        class="flex flex-row space-x-5"
      >
        <form [formGroup]="tsToMomentAgoFromNowQuantityForm">
          <div
            tp="Turn off formula to activate control"
            [tpIsEnabled]="isDisabled === true"
          >
            <fieldset [disabled]="isDisabled === true">
              <input
                autocomplete="off"
                spellcheck="false"
                data-cy="fractionTsToMomentAgoFromNowQuantityInput"
                class="form-input border-s3 focus:border-m600 h-[36px] w-16 rounded"
                [ngClass]="{
                  'border-r600':
                    tsToMomentAgoFromNowQuantityForm.controls[
                      'tsToMomentAgoFromNowQuantity'
                    ].invalid &&
                    tsToMomentAgoFromNowQuantityForm.controls[
                      'tsToMomentAgoFromNowQuantity'
                    ].touched
                }"
                formControlName="tsToMomentAgoFromNowQuantity"
                (blur)="betweenToMomentAgoFromNowQuantityBlur()"
              />
            </fieldset>
          </div>

          <m-validation
            [control]="
              tsToMomentAgoFromNowQuantityForm.controls[
                'tsToMomentAgoFromNowQuantity'
              ]
            "
          ></m-validation>
        </form>

        <div
          tp="Turn off formula to activate control"
          [tpIsEnabled]="isDisabled === true"
        >
          <ng-select
            #tsToMomentAgoFromNowUnitSelect
            [fixNgSelectBottom]="tsToMomentAgoFromNowUnitSelect"
            data-cy="tsToMomentAgoFromNowUnitSelect"
            class="popup-55 w-32"
            [items]="fractionTsAgoFromNowUnitsList"
            [clearable]="false"
            [searchable]="false"
            [disabled]="isDisabled === true"
            [(ngModel)]="fraction.tsToMomentUnit"
            (change)="betweenToMomentAgoFromNowUnitChange()"
            (keyup.esc)="
              $event.stopImmediatePropagation();
              tsToMomentAgoFromNowUnitSelect.blur()
            "
            (keyup.enter)="
              $event.stopImmediatePropagation();
              tsToMomentAgoFromNowUnitSelect.blur()
            "
            appendTo="body"
            bindLabel="label"
            bindValue="value"
          >
            <ng-template ng-label-tmp let-item="item">
              <div
                class="flex flex-row"
                [ngClass]="{
                  'text-s400':
                    item.timeframeLevel !== 0 &&
                    item.timeframeLevel < fieldTimeframeLevel
                }"
              >
                <div class="ml-1 truncate">{{ item.label + 's' }}</div>
              </div>
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              <div
                class="flex flex-row"
                [ngClass]="{
                  'text-s400':
                    item.timeframeLevel !== 0 &&
                    item.timeframeLevel < fieldTimeframeLevel
                }"
              >
                <div class="ml-1 truncate">{{ item.label + 's' }}</div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div
        *ngIf="
          fraction.tsToMomentType === 'Literal' ||
          ['This', 'Last', 'Next'].indexOf(fraction.tsToMomentType) > -1
        "
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <ng-select
          #tsToMomentOnUnitSelect
          [fixNgSelectBottom]="tsToMomentOnUnitSelect"
          data-cy="tsToMomentOnUnitSelect"
          class="fraction-mix-unit-select"
          [class.w-[110px]]="fraction.tsToMomentType === 'Literal'"
          [class.w-[150px]]="fraction.tsToMomentType !== 'Literal'"
          [items]="
            fraction.tsToMomentType === 'Literal'
              ? fractionTsLiteralUnitsList
              : fraction.tsToMomentType === 'This'
                ? fractionTsMixUnitsTempList
                : fractionTsOnUnitsList
          "
          [clearable]="false"
          [searchable]="false"
          [disabled]="isDisabled === true"
          [(ngModel)]="fraction.tsToMomentUnit"
          (change)="betweenToUnitChange()"
          (keyup.esc)="
            $event.stopImmediatePropagation(); tsToMomentOnUnitSelect.blur()
          "
          (keyup.enter)="
            $event.stopImmediatePropagation(); tsToMomentOnUnitSelect.blur()
          "
          appendTo="body"
          bindLabel="label"
          bindValue="value"
        >
          <ng-template ng-label-tmp let-item="item">
            <div
              class="flex flex-row"
              [ngClass]="{
                'text-s400':
                  item.timeframeLevel !== 0 &&
                  item.timeframeLevel < fieldTimeframeLevel
              }"
            >
              <div class="ml-1 truncate">{{ item.label }}</div>
            </div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div
              class="flex flex-row"
              [ngClass]="{
                'text-s400':
                  item.timeframeLevel !== 0 &&
                  item.timeframeLevel < fieldTimeframeLevel
              }"
            >
              <div class="ml-1 truncate">{{ item.label }}</div>
            </div>
          </ng-template>
        </ng-select>
      </div>

      <div
        *ngIf="fraction.tsToMomentType === 'Literal'"
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <vaadin-date-picker
          #datePickerBetweenTo
          class="py-0"
          [ngClass]="{
            'week-width': fraction.tsToMomentUnit === 'week'
          }"
          required
          [value]="dateToStr"
          [i18n]="betweenToDateI18n"
          (value-changed)="betweenToDateValueChanged($event)"
          [disabled]="isDisabled === true"
        ></vaadin-date-picker>
      </div>

      <div
        *ngIf="
          fraction.tsToMomentType === 'Literal' &&
          ['hour', 'minute'].indexOf(fraction.tsToMomentUnit) > -1
        "
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <vaadin-time-picker
          #timePickerBetweenTo
          class="py-0"
          required
          [value]="timeToStr"
          (value-changed)="betweenToTimeValueChanged($event)"
          (opened-changed)="betweenToTimeOpenedChanged($event)"
          [disabled]="isDisabled === true"
        ></vaadin-time-picker>
      </div>
    </div>
  </div>

  <!-- is before -->
  <div
    *ngIf="
      fraction.type === 'TsIsBefore' && fraction.tsMomentType === 'Literal'
    "
    class="flex flex-row space-x-5"
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-date-picker
        #datePickerBefore
        class="py-0"
        [ngClass]="{
          'week-width': fraction.tsMomentUnit === 'week'
        }"
        required
        [value]="dateStr"
        [i18n]="beforeI18n"
        (value-changed)="beforeValueChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-date-picker>
    </div>

    <div
      *ngIf="['hour', 'minute'].indexOf(fraction.tsMomentUnit) > -1"
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-time-picker
        #timePickerBefore
        class="py-0"
        required
        [value]="timeStr"
        (value-changed)="beforeTimeValueChanged($event)"
        (opened-changed)="beforeTimeOpenedChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-time-picker>
    </div>
  </div>

  <!-- is through -->
  <div
    *ngIf="
      fraction.type === 'TsIsThrough' && fraction.tsMomentType === 'Literal'
    "
    class="flex flex-row space-x-5"
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-date-picker
        #datePickerThrough
        class="py-0"
        [ngClass]="{
          'week-width': fraction.tsMomentUnit === 'week'
        }"
        required
        [value]="dateStr"
        [i18n]="throughI18n"
        (value-changed)="throughDateValueChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-date-picker>
    </div>

    <div
      *ngIf="['hour', 'minute'].indexOf(fraction.tsMomentUnit) > -1"
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-time-picker
        #timePickerThrough
        class="py-0"
        required
        [value]="timeStr"
        (value-changed)="throughTimeValueChanged($event)"
        (opened-changed)="throughTimeOpenedChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-time-picker>
    </div>
  </div>

  <!-- is after -->
  <div
    *ngIf="fraction.type === 'TsIsAfter' && fraction.tsMomentType === 'Literal'"
    class="flex flex-row space-x-5"
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-date-picker
        #datePickerAfter
        class="py-0"
        [ngClass]="{
          'week-width': fraction.tsMomentUnit === 'week'
        }"
        required
        [value]="dateStr"
        [i18n]="afterI18n"
        (value-changed)="afterValueChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-date-picker>
    </div>

    <div
      *ngIf="['hour', 'minute'].indexOf(fraction.tsMomentUnit) > -1"
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-time-picker
        #timePickerAfter
        class="py-0"
        required
        [value]="timeStr"
        (value-changed)="afterTimeValueChanged($event)"
        (opened-changed)="afterTimeOpenedChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-time-picker>
    </div>
  </div>

  <!-- is starting -->
  <div
    *ngIf="
      fraction.type === 'TsIsStarting' && fraction.tsMomentType === 'Literal'
    "
    class="flex flex-row space-x-5"
  >
    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-date-picker
        #datePickerStarting
        class="py-0"
        [ngClass]="{
          'week-width': fraction.tsMomentUnit === 'week'
        }"
        required
        [value]="dateStr"
        [i18n]="startingI18n"
        (value-changed)="startingDateValueChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-date-picker>
    </div>

    <div
      *ngIf="['hour', 'minute'].indexOf(fraction.tsMomentUnit) > -1"
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-time-picker
        #timePickerStarting
        class="py-0"
        required
        [value]="timeStr"
        (value-changed)="startingTimeValueChanged($event)"
        (opened-changed)="startingTimeOpenedChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-time-picker>
    </div>
  </div>

  <!-- is begin for -->
  <div
    *ngIf="['TsIsBeginFor', 'TsIsNotBeginFor'].indexOf(fraction.type) > -1"
    class="flex flex-row space-x-5"
  >
    <div
      *ngIf="fraction.tsMomentType === 'Literal'"
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-date-picker
        #datePickerBeginFor
        class="py-0"
        [ngClass]="{
          'week-width': fraction.tsMomentUnit === 'week'
        }"
        required
        [value]="dateStr"
        [i18n]="beginForI18n"
        (value-changed)="beginForDateValueChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-date-picker>
    </div>

    <div
      *ngIf="
        fraction.tsMomentType === 'Literal' &&
        ['hour', 'minute'].indexOf(fraction.tsMomentUnit) > -1
      "
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <vaadin-time-picker
        #timePickerBeginFor
        class="py-0"
        required
        [value]="timeStr"
        (value-changed)="beginForTimeValueChanged($event)"
        (opened-changed)="beginForTimeOpenedChanged($event)"
        [disabled]="isDisabled === true"
      ></vaadin-time-picker>
    </div>

    <div class="flex h-9 items-center">for</div>

    <form [formGroup]="tsForValueForm">
      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <fieldset [disabled]="isDisabled === true">
          <input
            autocomplete="off"
            spellcheck="false"
            data-cy="fractionTsForValueInput"
            class="form-input border-s3 focus:border-m600 h-[36px] w-16 rounded"
            [ngClass]="{
              'border-r600':
                tsForValueForm.controls['tsForValue'].invalid &&
                tsForValueForm.controls['tsForValue'].touched
            }"
            formControlName="tsForValue"
            (blur)="forValueBlur()"
          />
        </fieldset>
      </div>

      <m-validation
        [control]="tsForValueForm.controls['tsForValue']"
      ></m-validation>
    </form>

    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <ng-select
        #tsForUnitsSelect
        [fixNgSelectBottom]="tsForUnitsSelect"
        data-cy="tsForUnitsSelect"
        class="popup-55 w-32"
        [items]="fractionTsForUnitsList"
        [clearable]="false"
        [searchable]="false"
        [disabled]="isDisabled === true"
        [(ngModel)]="fraction.tsForUnit"
        (change)="tsForUnitChange()"
        (keyup.esc)="$event.stopImmediatePropagation(); tsForUnitsSelect.blur()"
        (keyup.enter)="
          $event.stopImmediatePropagation(); tsForUnitsSelect.blur()
        "
        appendTo="body"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-label-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <!-- in last -->
  <div
    *ngIf="['TsIsInLast', 'TsIsNotInLast'].indexOf(fraction.type) > -1"
    class="flex flex-row space-x-5"
  >
    <form [formGroup]="tsLastValueForm">
      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <fieldset [disabled]="isDisabled === true">
          <input
            autocomplete="off"
            spellcheck="false"
            data-cy="fractionTsLastValueInput"
            class="form-input border-s3 focus:border-m600 h-[36px] w-[100px] rounded"
            [ngClass]="{
              'border-r600':
                tsLastValueForm.controls['tsLastValue'].invalid &&
                tsLastValueForm.controls['tsLastValue'].touched
            }"
            formControlName="tsLastValue"
            (blur)="lastValueBlur()"
          />
        </fieldset>
      </div>

      <m-validation
        [control]="tsLastValueForm.controls['tsLastValue']"
      ></m-validation>
    </form>

    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <ng-select
        #tsLastUnitsSelect
        [fixNgSelectBottom]="tsLastUnitsSelect"
        data-cy="tsLastUnitsSelect"
        class="popup-55 w-32"
        [items]="fractionTsLastNextUnitsList"
        [clearable]="false"
        [searchable]="false"
        [disabled]="isDisabled === true"
        [(ngModel)]="fraction.tsLastUnit"
        (change)="lastUnitChange()"
        (keyup.esc)="
          $event.stopImmediatePropagation(); tsLastUnitsSelect.blur()
        "
        (keyup.enter)="
          $event.stopImmediatePropagation(); tsLastUnitsSelect.blur()
        "
        appendTo="body"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-label-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>

    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <ng-select
        #tsLastCompleteOptionsSelect
        [fixNgSelectBottom]="tsLastCompleteOptionsSelect"
        data-cy="tsLastCompleteOptionsSelect"
        class="popup-55 w-[250px]"
        [items]="fractionTsLastCompleteOptionsList"
        [clearable]="false"
        [searchable]="false"
        [disabled]="isDisabled === true"
        [(ngModel)]="fraction.tsLastCompleteOption"
        (change)="lastCompleteOptionChange()"
        (keyup.esc)="
          $event.stopImmediatePropagation(); tsLastCompleteOptionsSelect.blur()
        "
        (keyup.enter)="
          $event.stopImmediatePropagation(); tsLastCompleteOptionsSelect.blur()
        "
        appendTo="body"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <!-- in next -->
  <div
    *ngIf="['TsIsInNext', 'TsIsNotInNext'].indexOf(fraction.type) > -1"
    class="flex flex-row space-x-5"
  >
    <form [formGroup]="tsNextValueForm">
      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="isDisabled === true"
      >
        <fieldset [disabled]="isDisabled === true">
          <input
            autocomplete="off"
            spellcheck="false"
            data-cy="fractionTsNextValueInput"
            class="form-input border-s3 focus:border-m600 h-[36px] w-[100px] rounded"
            [ngClass]="{
              'border-r600':
                tsNextValueForm.controls['tsNextValue'].invalid &&
                tsNextValueForm.controls['tsNextValue'].touched
            }"
            formControlName="tsNextValue"
            (blur)="nextValueBlur()"
          />
        </fieldset>
      </div>

      <m-validation
        [control]="tsNextValueForm.controls['tsNextValue']"
      ></m-validation>
    </form>

    <div
      tp="Turn off formula to activate control"
      [tpIsEnabled]="isDisabled === true"
    >
      <ng-select
        #tsNextUnitsSelect
        [fixNgSelectBottom]="tsNextUnitsSelect"
        data-cy="tsNextUnitsSelect"
        class="popup-55 w-32"
        [items]="fractionTsLastNextUnitsList"
        [clearable]="false"
        [searchable]="false"
        [disabled]="isDisabled === true"
        [(ngModel)]="fraction.tsNextUnit"
        (change)="nextUnitChange()"
        (keyup.esc)="
          $event.stopImmediatePropagation(); tsNextUnitsSelect.blur()
        "
        (keyup.enter)="
          $event.stopImmediatePropagation(); tsNextUnitsSelect.blur()
        "
        appendTo="body"
        bindLabel="label"
        bindValue="value"
      >
        <ng-template ng-label-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div
            class="flex flex-row"
            [ngClass]="{
              'text-s400':
                item.timeframeLevel !== 0 &&
                item.timeframeLevel < fieldTimeframeLevel
            }"
          >
            <div class="ml-1 truncate">{{ item.label }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>
</div>
