<div class="flex flex-row ml-2 space-x-5 h-16">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionTsTypeSelect
      data-cy="fractionTsTypeSelect"
      class="flex w-64 focus:outline-none"
      [items]="fractionTsTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
    </ng-select>
  </form>

  <!-- on year -->
  <nz-date-picker
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnYear"
    class="h-[36px]"
    data-cy="fractionTsDate"
    nzMode="year"
    nzAllowClear="false"
    [(ngModel)]="date"
    (nzOnOpenChange)="yearOpenClose()"
  ></nz-date-picker>

  <!-- on month -->
  <nz-date-picker
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnMonth"
    class="h-[36px]"
    data-cy="fractionTsDate"
    nzMode="month"
    nzAllowClear="false"
    [(ngModel)]="date"
    (nzOnOpenChange)="monthOpenClose()"
  ></nz-date-picker>

  <!-- on day -->
  <nz-date-picker
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnDay"
    class="h-[36px]"
    data-cy="fractionTsDate"
    nzMode="date"
    nzAllowClear="false"
    [(ngModel)]="date"
    (nzOnOpenChange)="dayOpenClose()"
  ></nz-date-picker>

  <!-- on hour -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnHour"
    class="flex flex-row space-x-5"
  >
    <nz-date-picker
      class="h-[36px]"
      data-cy="fractionTsDate"
      nzMode="date"
      nzAllowClear="false"
      [(ngModel)]="date"
      (nzOnOpenChange)="hourOpenClose()"
    ></nz-date-picker>

    <nz-time-picker
      class="h-[36px]"
      data-cy="fractionTsTime"
      nzAllowEmpty="false"
      [nzMinuteStep]="nzMinuteStep"
      [nzSecondStep]="nzSecondStep"
      [nzDisabledMinutes]="disabledMinutes"
      [nzDisabledSeconds]="disabledSeconds"
      [(ngModel)]="date"
      (nzOpenChange)="hourOpenClose()"
    ></nz-time-picker>
  </div>

  <!-- on minute -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnMinute"
    class="flex flex-row space-x-5"
  >
    <nz-date-picker
      class="h-[36px]"
      data-cy="fractionTsDate"
      nzMode="date"
      nzAllowClear="false"
      [(ngModel)]="date"
      (nzOnOpenChange)="minuteOpenClose()"
    ></nz-date-picker>

    <nz-time-picker
      class="h-[36px]"
      data-cy="fractionTsTime"
      nzAllowEmpty="false"
      [nzSecondStep]="nzSecondStep"
      [nzDisabledSeconds]="disabledSeconds"
      [(ngModel)]="date"
      (nzOpenChange)="minuteOpenClose()"
    ></nz-time-picker>
  </div>

  <!-- in range -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsInRange"
    class="flex flex-row space-x-5"
  >
    <nz-date-picker
      class="h-[36px]"
      data-cy="fractionTsDate"
      nzMode="date"
      nzAllowClear="false"
      [(ngModel)]="date"
      (nzOnOpenChange)="rangeFromOpenClose()"
    ></nz-date-picker>

    <nz-time-picker
      class="h-[36px]"
      data-cy="fractionTsTime"
      nzAllowEmpty="false"
      [nzSecondStep]="nzSecondStep"
      [nzDisabledSeconds]="disabledSeconds"
      [(ngModel)]="date"
      (nzOpenChange)="rangeFromOpenClose()"
    ></nz-time-picker>

    <div class="flex h-[36px] justify-center items-center">to</div>

    <nz-date-picker
      class="h-[36px]"
      data-cy="fractionTsDateTo"
      nzMode="date"
      nzAllowClear="false"
      [(ngModel)]="dateTo"
      (nzOnOpenChange)="rangeToOpenClose()"
    ></nz-date-picker>

    <nz-time-picker
      class="h-[36px]"
      data-cy="fractionTsTimeTo"
      nzAllowEmpty="false"
      [nzSecondStep]="nzSecondStep"
      [nzDisabledSeconds]="disabledSeconds"
      [(ngModel)]="dateTo"
      (nzOpenChange)="rangeToOpenClose()"
    ></nz-time-picker>
  </div>

  <!-- is before -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsBeforeDate"
    class="flex flex-row space-x-5"
  >
    <nz-date-picker
      class="h-[36px]"
      data-cy="fractionTsDate"
      nzMode="date"
      nzAllowClear="false"
      [(ngModel)]="date"
      (nzOnOpenChange)="beforeOpenClose()"
    ></nz-date-picker>

    <nz-time-picker
      class="h-[36px]"
      data-cy="fractionTsTime"
      nzAllowEmpty="false"
      [nzSecondStep]="nzSecondStep"
      [nzDisabledSeconds]="disabledSeconds"
      [(ngModel)]="date"
      (nzOpenChange)="beforeOpenClose()"
    ></nz-time-picker>
  </div>

  <!-- is after -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsAfterDate"
    class="flex flex-row space-x-5"
  >
    <nz-date-picker
      class="h-[36px]"
      data-cy="fractionTsDate"
      nzMode="date"
      nzAllowClear="false"
      [(ngModel)]="date"
      (nzOnOpenChange)="afterOpenClose()"
    ></nz-date-picker>

    <nz-time-picker
      class="h-[36px]"
      data-cy="fractionTsTime"
      nzAllowEmpty="false"
      [nzSecondStep]="nzSecondStep"
      [nzDisabledSeconds]="disabledSeconds"
      [(ngModel)]="date"
      (nzOpenChange)="afterOpenClose()"
    ></nz-time-picker>
  </div>

  <!-- relative -->
  <div
    *ngIf="
      fraction.type === fractionTypeEnum.TsIsBeforeRelative ||
      fraction.type === fractionTypeEnum.TsIsAfterRelative
    "
    class="flex flex-row space-x-5"
  >
    <form [formGroup]="relativeValueForm">
      <input
        data-cy="fractionTsRelativeValueInput"
        class="w-32 h-[36px] form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            relativeValueForm.controls['tsRelativeValue'].invalid &&
            relativeValueForm.controls['tsRelativeValue'].touched
        }"
        formControlName="tsRelativeValue"
        (blur)="relativeValueBlur()"
      />

      <m-validation
        [control]="relativeValueForm.controls['tsRelativeValue']"
      ></m-validation>
    </form>

    <form [formGroup]="tsRelativeUnitForm">
      <ng-select
        #tsRelativeUnitSelect
        data-cy="tsRelativeUnitSelect"
        class="flex w-32 focus:outline-none"
        [items]="fractionTsRelativeUnitsList"
        [clearable]="false"
        [searchable]="false"
        (change)="relativeTsUnitOptionChange()"
        bindLabel="label"
        bindValue="value"
        formControlName="tsRelativeUnit"
      >
      </ng-select>
    </form>

    <form [formGroup]="tsRelativeCompleteForm">
      <ng-select
        #tsRelativeCompleteOptionsSelect
        data-cy="tsRelativeCompleteOptionsSelect"
        class="flex w-32 focus:outline-none"
        [items]="fractionTsRelativeCompleteOptionsList"
        [clearable]="false"
        [searchable]="false"
        (change)="relativeTsCompleteOptionChange()"
        bindLabel="label"
        bindValue="value"
        formControlName="tsRelativeCompleteOption"
      >
      </ng-select>
    </form>

    <form [formGroup]="tsRelativeWhenForm">
      <ng-select
        #tsRelativeWhenOptionsSelect
        data-cy="tsRelativeWhenOptionsSelect"
        class="flex w-32 focus:outline-none"
        [items]="fractionTsRelativeWhenOptionsList"
        [clearable]="false"
        [searchable]="false"
        (change)="relativeTsWhenOptionChange()"
        bindLabel="label"
        bindValue="value"
        formControlName="tsRelativeWhenOption"
      >
      </ng-select>
    </form>
  </div>

  <!-- for -->
  <div
    *ngIf="
      fraction.type === fractionTypeEnum.TsIsBeforeDate ||
      fraction.type === fractionTypeEnum.TsIsAfterDate ||
      fraction.type === fractionTypeEnum.TsIsBeforeRelative ||
      fraction.type === fractionTypeEnum.TsIsAfterRelative
    "
    class="flex flex-row space-x-5"
  >
  </div>

  <!-- in last -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsInLast"
    class="flex flex-row space-x-5"
  >
  </div>
</div>
