<div class="ml-2 flex h-16 flex-row space-x-5">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionTsTypeSelect
      data-cy="fractionTsTypeSelect"
      class="custom popup-55 w-48 focus:outline-none"
      [items]="fractionTsTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>

  <!-- on year -->
  <vaadin-date-picker
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnYear"
    #datePickerOnYear
    class="py-0"
    required
    [value]="dateStr"
    [i18n]="onYearDateI18n"
    (value-changed)="yearDateValueChanged($event)"
  ></vaadin-date-picker>

  <!-- on month -->
  <vaadin-date-picker
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnMonth"
    #datePickerOnMonth
    class="py-0"
    required
    [value]="dateStr"
    [i18n]="onMonthDateI18n"
    (value-changed)="monthDateValueChanged($event)"
  ></vaadin-date-picker>

  <!-- on day -->
  <vaadin-date-picker
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnDay"
    #datePickerOnDay
    class="py-0"
    required
    [value]="dateStr"
    [i18n]="onDayDateI18n"
    (value-changed)="dayDateValueChanged($event)"
  ></vaadin-date-picker>

  <!-- on hour -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnHour"
    class="flex flex-row space-x-5"
  >
    <vaadin-date-picker
      #datePickerOnHour
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="onHourDateI18n"
      (value-changed)="hourDateValueChanged($event)"
    ></vaadin-date-picker>

    <vaadin-time-picker
      #timePickerOnHour
      class="py-0"
      required
      [value]="timeStr"
      (value-changed)="hourTimeValueChanged($event)"
      (opened-changed)="hourTimeOpenedChanged($event)"
    ></vaadin-time-picker>
  </div>

  <!-- on minute -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsOnMinute"
    class="flex flex-row space-x-5"
  >
    <vaadin-date-picker
      #datePickerOnMinute
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="onMinuteDateI18n"
      (value-changed)="minuteDateValueChanged($event)"
    ></vaadin-date-picker>

    <vaadin-time-picker
      #timePickerOnMinute
      class="py-0"
      required
      [value]="timeStr"
      (value-changed)="minuteTimeValueChanged($event)"
      (opened-changed)="minuteTimeOpenedChanged($event)"
    ></vaadin-time-picker>
  </div>

  <!-- in range -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsInRange"
    class="flex flex-row space-x-5"
  >
    <vaadin-date-picker
      #datePickerInRangeFrom
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="inRangeFromDateI18n"
      (value-changed)="inRangeFromDateValueChanged($event)"
    ></vaadin-date-picker>

    <vaadin-time-picker
      #timePickerInRangeFrom
      class="py-0"
      required
      [value]="timeStr"
      (value-changed)="inRangeFromTimeValueChanged($event)"
      (opened-changed)="inRangeFromTimeOpenedChanged($event)"
    ></vaadin-time-picker>

    <div class="flex h-[36px] items-center justify-center">to</div>

    <vaadin-date-picker
      #datePickerInRangeTo
      class="py-0"
      required
      [value]="dateToStr"
      [i18n]="inRangeToDateI18n"
      (value-changed)="inRangeToDateValueChanged($event)"
    ></vaadin-date-picker>

    <vaadin-time-picker
      #timePickerInRangeTo
      class="py-0"
      required
      [value]="timeToStr"
      (value-changed)="inRangeToTimeValueChanged($event)"
      (opened-changed)="inRangeToTimeOpenedChanged($event)"
    ></vaadin-time-picker>
  </div>

  <!-- is before -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsBeforeDate"
    class="flex flex-row space-x-5"
  >
    <vaadin-date-picker
      #datePickerBefore
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="beforeDateI18n"
      (value-changed)="beforeDateValueChanged($event)"
    ></vaadin-date-picker>

    <vaadin-time-picker
      #timePickerBefore
      class="py-0"
      required
      [value]="timeStr"
      (value-changed)="beforeTimeValueChanged($event)"
      (opened-changed)="beforeTimeOpenedChanged($event)"
    ></vaadin-time-picker>
  </div>

  <!-- is after -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsAfterDate"
    class="flex flex-row space-x-5"
  >
    <vaadin-date-picker
      #datePickerAfter
      class="py-0"
      required
      [value]="dateStr"
      [i18n]="afterDateI18n"
      (value-changed)="afterDateValueChanged($event)"
    ></vaadin-date-picker>

    <vaadin-time-picker
      #timePickerAfter
      class="py-0"
      required
      [value]="timeStr"
      (value-changed)="afterTimeValueChanged($event)"
      (opened-changed)="afterTimeOpenedChanged($event)"
    ></vaadin-time-picker>
  </div>

  <!-- relative -->
  <div
    *ngIf="
      fraction.type === fractionTypeEnum.TsIsBeforeRelative ||
      fraction.type === fractionTypeEnum.TsIsAfterRelative
    "
    class="flex flex-row space-x-5"
  >
    <form [formGroup]="tsRelativeValueForm">
      <input
        spellcheck="false"
        data-cy="fractionTsRelativeValueInput"
        class="form-input border-gray3 focus:border-blue3 h-[36px] w-16 rounded"
        [ngClass]="{
          'border-red-600':
            tsRelativeValueForm.controls['tsRelativeValue'].invalid &&
            tsRelativeValueForm.controls['tsRelativeValue'].touched
        }"
        formControlName="tsRelativeValue"
        (blur)="relativeValueBlur()"
      />

      <m-validation
        [control]="tsRelativeValueForm.controls['tsRelativeValue']"
      ></m-validation>
    </form>

    <form [formGroup]="tsRelativeUnitForm">
      <ng-select
        #tsRelativeUnitSelect
        data-cy="tsRelativeUnitSelect"
        class="custom popup-55 w-32 focus:outline-none"
        [items]="fractionTsRelativeUnitsList"
        [clearable]="false"
        [searchable]="false"
        (change)="relativeTsUnitOptionChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="tsRelativeUnit"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </form>

    <form [formGroup]="tsRelativeCompleteForm">
      <ng-select
        #tsRelativeCompleteOptionsSelect
        data-cy="tsRelativeCompleteOptionsSelect"
        class="custom popup-55 w-[165px] focus:outline-none"
        [items]="fractionTsRelativeCompleteOptionsList"
        [clearable]="false"
        [searchable]="false"
        (change)="relativeTsCompleteOptionChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="tsRelativeCompleteOption"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </form>

    <form [formGroup]="tsRelativeWhenForm">
      <ng-select
        #tsRelativeWhenOptionsSelect
        data-cy="tsRelativeWhenOptionsSelect"
        class="custom popup-55 w-32 focus:outline-none"
        [items]="fractionTsRelativeWhenOptionsList"
        [clearable]="false"
        [searchable]="false"
        (change)="relativeTsWhenOptionChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="tsRelativeWhenOption"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </form>
  </div>

  <!-- for -->
  <div
    *ngIf="
      fraction.type === fractionTypeEnum.TsIsBeforeDate ||
      fraction.type === fractionTypeEnum.TsIsAfterDate ||
      fraction.type === fractionTypeEnum.TsIsBeforeRelative ||
      fraction.type === fractionTypeEnum.TsIsAfterRelative
    "
    class="flex flex-row space-x-5"
  >
    <form [formGroup]="tsForForm">
      <ng-select
        #tsForOptionsSelect
        data-cy="tsForOptionsSelect"
        class="custom popup-55 w-[140px] focus:outline-none"
        [items]="fractionTsForOptionsList"
        [clearable]="false"
        [searchable]="false"
        (change)="tsForOptionChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="tsForOption"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </form>

    <form
      *ngIf="fraction.tsForOption === fractionTsForOptionEnum.For"
      [formGroup]="tsForValueForm"
    >
      <input
        spellcheck="false"
        data-cy="fractionTsForValueInput"
        class="form-input border-gray3 focus:border-blue3 h-[36px] w-16 rounded"
        [ngClass]="{
          'border-red-600':
            tsForValueForm.controls['tsForValue'].invalid &&
            tsForValueForm.controls['tsForValue'].touched
        }"
        formControlName="tsForValue"
        (blur)="forValueBlur()"
      />

      <m-validation
        [control]="tsForValueForm.controls['tsForValue']"
      ></m-validation>
    </form>

    <form
      *ngIf="fraction.tsForOption === fractionTsForOptionEnum.For"
      [formGroup]="tsForUnitForm"
    >
      <ng-select
        #tsForUnitsSelect
        data-cy="tsForUnitsSelect"
        class="custom popup-55 w-32 focus:outline-none"
        [items]="fractionTsForUnitsList"
        [clearable]="false"
        [searchable]="false"
        (change)="tsForUnitChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="tsForUnit"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </form>
  </div>

  <!-- in last -->
  <div
    *ngIf="fraction.type === fractionTypeEnum.TsIsInLast"
    class="flex flex-row space-x-5"
  >
    <form [formGroup]="tsLastValueForm">
      <input
        spellcheck="false"
        data-cy="fractionTsLastValueInput"
        class="form-input border-gray3 focus:border-blue3 h-[36px] w-16 rounded"
        [ngClass]="{
          'border-red-600':
            tsLastValueForm.controls['tsLastValue'].invalid &&
            tsLastValueForm.controls['tsLastValue'].touched
        }"
        formControlName="tsLastValue"
        (blur)="tsLastValueBlur()"
      />

      <m-validation
        [control]="tsLastValueForm.controls['tsLastValue']"
      ></m-validation>
    </form>

    <form [formGroup]="tsLastUnitForm">
      <ng-select
        #tsLastUnitsSelect
        data-cy="tsLastUnitsSelect"
        class="custom popup-55 w-32 focus:outline-none"
        [items]="fractionTsLastUnitsList"
        [clearable]="false"
        [searchable]="false"
        (change)="tsLastUnitChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="tsLastUnit"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </form>

    <form [formGroup]="tsLastCompleteOptionForm">
      <ng-select
        #tsLastCompleteOptionsSelect
        data-cy="tsLastCompleteOptionsSelect"
        class="custom popup-55 w-56 focus:outline-none"
        [items]="fractionTsLastCompleteOptionsList"
        [clearable]="false"
        [searchable]="false"
        (change)="tsLastCompleteOptionChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="tsLastCompleteOption"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </form>
  </div>
</div>
