<button
  data-cy="fileOptionsMenuButton"
  class="flex h-8 w-8 flex-shrink-0 items-center justify-center rounded hover:bg-white focus:outline-none"
  #t1="tippy"
  [tp]="templateFileOptions"
  [tpHideOnEscape]="true"
  tpVariation="menu"
  className="my-menu"
  (click)="clickMenu($event)"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateFileOptions>
  <div class="border-gray4 w-48 rounded-md border-2 bg-white shadow-xl">
    <button
      data-cy="fileOptionsDeleteFileButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); deleteFile(node, $event)"
      >Delete File</button
    >

    <button
      data-cy="fileOptionsRenameFileButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); renameFile(node, $event)"
      >Rename File</button
    >
  </div>
</ng-template>

<div *ngIf="nav$ | async"></div>
