<button
  data-cy="fileOptionsMenuButton"
  class="flex flex-shrink-0 h-8 w-8 rounded focus:outline-none hover:bg-white items-center justify-center"
  #t1="tippy"
  [tippy]="templateFileOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateFileOptions>
  <div class="w-48 bg-white rounded-md shadow-xl border-2 border-gray4">
    <button
      data-cy="fileOptionsDeleteFileButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); deleteFile(node, $event)"
      >Delete File</button
    >

    <button
      data-cy="fileOptionsRenameFileButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); renameFile(node, $event)"
      >Rename File</button
    >
  </div>
</ng-template>

<div *ngIf="nav$ | async"></div>
