<div class="flex max-h-[500px] flex-col bg-white p-9">
  <div
    data-cy="deleteUserDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Add Report</div
  >

  <div class="mt-9 text-lg text-gray1"
    >Go to the Model page, build a chart and click "Save As"</div
  >

  <div class="mt-9 mb-3 text-lg font-semibold text-gray2">Models:</div>

  <div class="relative flex h-9 w-9 flex-shrink-0" *ngIf="!models">
    <ngx-spinner
      [name]="spinnerName"
      color="rgba(54, 94, 224, 100)"
      bdColor="rgba(0, 0, 0, 0)"
      size="default"
      type="ball-clip-rotate"
      [fullScreen]="false"
      [disableAnimation]="true"
      [zIndex]="99998"
    >
    </ngx-spinner>
  </div>

  <div class="overflow-y-auto" *ngIf="!!models">
    <div
      class="rounded py-3 pl-5 text-base text-gray1 hover:cursor-pointer hover:bg-blue2"
      *ngFor="let model of models"
      (click)="navToModel(model.modelId)"
    >
      {{ model.label }}
    </div>
  </div>
</div>
