<h6>HideColumns</h6>
<div fxLayout="column">
  <mat-checkbox
    *ngFor="let field of selectFields"
    data-cy="chartHideColumnsCheckbox"
    [checked]="hideColumnsIsSelected(field.id)"
    (change)="hideColumnsOnClick(field.id)"
  >
    <div data-cy="chartHideColumnsCheckboxInner">
      <span>{{ field.top_label + ' ' | capitalize }}</span>
      <span *ngIf="field.group_label">{{
        field.group_label + ' ' | capitalize
      }}</span>
      <span>{{ field.label | capitalize }}</span>
    </div>
  </mat-checkbox>
</div>
