<div class="flex h-full items-center justify-center bg-blue1">
  <form class="flex w-96 flex-col" [formGroup]="loginForm" (ngSubmit)="login()">
    <div
      data-cy="loginTitle"
      class="text-center text-2xl font-semibold text-gray2"
      >{{ pageTitle }}</div
    >
    <input
      spellcheck="false"
      data-cy="loginEmailInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          loginForm.controls['email'].invalid &&
          loginForm.controls['email'].touched
      }"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <m-validation [control]="loginForm.controls['email']"></m-validation>

    <input
      spellcheck="false"
      data-cy="loginPasswordInput"
      class="form-input mt-1 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
      }"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <m-validation [control]="loginForm.controls['password']"></m-validation>

    <div class="mt-1 flex flex-row justify-between">
      <div></div>
      <button
        data-cy="loginForgotPasswordButton"
        type="button"
        (click)="forgotPassword()"
        class="w-40 text-base text-blue4 focus:outline-none"
        >Forgot Password</button
      >
    </div>

    <button
      data-cy="loginButton"
      class="mt-6 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
      type="submit"
      >Log In</button
    >
  </form>
</div>
