<div fxLayout="row">
  <div fxFlex="100">
    <form [formGroup]="updateProjectWeekStartForm">
      <mat-form-field>
        <mat-select
          [disableControl]="!(selectedProjectUserIsAdmin$ | async)"
          placeholder="Day of the week"
          formControlName="projectWeekStart"
          class="settings__user-input"
          data-cy="projectSettingsWeekStartSelect"
        >
          <mat-option
            data-cy="projectSettingsWeekStartOption"
            *ngFor="let ws of weekStartEnumKeys()"
            [value]="ws"
            >{{ ws | capitalize }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div
    fxFlex="60"
    fxFlexAlign="center"
    class="settings-button-wrapper"
    *ngIf="updateProjectWeekStartForm.dirty"
  >
    <button
      mat-button
      type="submit"
      [disabled]="
        !(selectedProjectUserIsAdmin$ | async) ||
        !updateProjectWeekStartForm.valid
      "
      class="mat-flat-fab"
      data-cy="projectSettingsWeekStartApplyChange"
      (click)="
        onSubmit(updateProjectWeekStartForm, updateProjectWeekStartForm.value)
      "
    >
      <mat-icon class="settings__button-success">done</mat-icon>
    </button>
    <button
      mat-button
      class="mat-flat-fab"
      (click)="onReset(updateProjectWeekStartForm)"
    >
      <mat-icon class="settings__button-warn">clear</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="(projectWeekStart$ | async)"></div>
<div *ngIf="(selectedProjectServerTs$ | async)"></div>
<div *ngIf="(selectedProjectId$ | async)"></div>
