<div class="flex h-full flex-col">
  <div class="flex flex-grow overflow-y-auto rounded bg-white shadow">
    <div class="ml-5 mr-5 mt-12 flex w-full flex-col divide-y divide-gray-500">
      <div
        class="text-gray1 mb-3 mr-5 flex flex-row space-x-5 text-base font-semibold"
      >
        <div class="flex w-12"></div>
        <div class="flex w-1/3">Chart</div>
        <div class="flex w-1/6">
          <button
            class="cursor-pointer select-none"
            [ngClass]="{
              'font-normal': showModelId === false
            }"
            (click)="setShowModelIdTrue()"
            >Model Id</button
          >

          <button
            class="ml-5 cursor-pointer select-none items-center"
            [ngClass]="{
              'font-normal': showModelId === true
            }"
            (click)="setShowModelIdFalse()"
          >
            Chart Id
          </button>
        </div>
        <div class="flex flex-1 flex-row space-x-5">
          <div class="flex flex-1">Access Roles</div>
          <div class="flex flex-1">Access Users</div>
          <div class="flex flex-1">Author</div>
        </div>
      </div>

      <div
        *ngIf="filteredCharts?.length > 0"
        class="h-2 flex-1 overflow-y-auto"
      >
        <div
          *ngFor="let item of filteredCharts; trackBy: trackByFn"
          class="hover:border-blue2 hover:bg-blue2 flex flex-row bg-white hover:cursor-pointer"
          [ngStyle]="
            item.chartId !==
              filteredCharts[filteredCharts.length - 1].chartId && {
              'border-bottom-width': '1px'
            }
          "
          [ngClass]="{
            'border-gray-300':
              item.chartId !== filteredCharts[filteredCharts.length - 1].chartId
          }"
        >
          <div class="flex-grow flex-col pt-1 text-base">
            <div
              class="text-gray1 group mr-5 flex w-full flex-row items-start space-x-5 rounded focus:outline-none"
              (click)="navigateToChart(item)"
            >
              <div class="flex w-12 pl-3">
                <div class="invisible flex group-hover:visible">
                  <m-chart-options
                    [chart]="item"
                    [isHoverWhite]="false"
                  ></m-chart-options>
                </div>

                <!-- <button
                  data-cy="chartOptionsMenuButton"
                  class="invisible flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none group-hover:visible"
                  #t1="tippy"
                  [tp]="templateChartOptions"
                  [tpHideOnEscape]="true"
                  tpVariation="menu"
                  className="my-menu"
                  (click)="rowMenuOnClick($event)"
                >
                  <m-dots-vertical-icon></m-dots-vertical-icon>
                </button> -->

                <!-- <ng-template #templateChartOptions>
                  <div
                    class="border-gray4 w-64 rounded-md border-2 bg-white shadow-xl"
                  >
                    <div
                      tp="Chart can be edited by author and project members with ProjectAdmin or FilesEditor role. Try to save chart as new to become an author."
                      placement="left"
                      [tpIsEnabled]="item.canEditOrDeleteChart === false"
                    >
                      <button
                        data-cy="chartOptionsEditInfo"
                        class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                        [ngClass]="{
                          'cursor-default text-gray-400':
                            item.canEditOrDeleteChart === false
                        }"
                        (click)="t1.hide(); editChartInfo($event, item)"
                        [disabled]="item.canEditOrDeleteChart === false"
                        >Edit Info</button
                      >
                    </div>

                    <button
                      data-cy="chartOptionsGoToFile"
                      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                      (click)="t1.hide(); goToChartFile($event, item)"
                      >Go to file</button
                    >

                    <div
                      tp="Chart can be deleted by author and project members with ProjectAdmin or FilesEditor role. Try to save chart as new to become an author."
                      placement="left"
                      [tpIsEnabled]="item.canEditOrDeleteChart === false"
                    >
                      <button
                        data-cy="chartOptionsDelete"
                        class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                        [ngClass]="{
                          'cursor-default text-gray-400':
                            item.canEditOrDeleteChart === false
                        }"
                        (click)="t1.hide(); deleteChart($event, item)"
                        [disabled]="item.canEditOrDeleteChart === false"
                        >Delete</button
                      >
                    </div>
                  </div>
                </ng-template> -->
              </div>

              <div class="flex w-1/3 truncate py-[6px]">
                <img class="h-6 w-6" [src]="item.iconPath" />

                <span class="ml-3 truncate">
                  {{ !!item.title ? (item.title | capitalize) : item.chartId }}
                </span>
              </div>

              <div
                class="flex w-1/6 items-start truncate py-[6px] focus:outline-none"
                *ngIf="showModelId === false"
              >
                <span class="truncate"> {{ item.chartId }} </span>
              </div>

              <div
                *ngIf="showModelId === true"
                class="flex w-1/6 items-start truncate py-[6px] focus:outline-none"
                [tp]="templateChartsModel"
                [tpIsEnabled]="item.tiles[0].hasAccessToModel === false"
              >
                <ng-template #templateChartsModel>
                  <div *ngIf="isExplorer === false">Explorer role required</div>
                  <div *ngIf="isExplorer === true">No access to model</div>
                </ng-template>

                <div class="flex items-start truncate focus:outline-none">
                  <span class="truncate">
                    {{ item.tiles[0].modelLabel | capitalize }}
                  </span>
                </div>

                <m-lock-closed-icon
                  class="mb-1 ml-2 text-gray-400"
                  *ngIf="item.tiles[0].hasAccessToModel === false"
                ></m-lock-closed-icon>
              </div>

              <div class="flex flex-1 flex-row space-x-5 text-base">
                <div class="flex flex-1 flex-wrap truncate py-[6px] text-base">
                  <span
                    *ngFor="let role of item.accessRoles"
                    class="mr-2 truncate"
                  >
                    {{ role }}
                  </span>
                </div>

                <div class="flex flex-1 flex-wrap truncate py-[6px] text-base">
                  <span
                    *ngFor="let user of item.accessUsers"
                    class="mr-2 truncate"
                  >
                    {{ user }}
                  </span>
                </div>

                <div
                  class="flex flex-1 items-start truncate py-[6px] focus:outline-none"
                >
                  <span>
                    {{ item.author }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="h-11"></div>
        </div>
      </div>

      <div
        class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
        *ngIf="filteredCharts?.length === 0"
        >No charts</div
      >
    </div>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
<div *ngIf="filteredCharts$ | async"></div>
