<div class="block relative px-5">
  <button
    class="relative block h-10 z-10 rounded-full text-gray1 tracking-wider focus:outline-none"
    [ngClass]="{
      'cursor-default':
        nav?.orgId === undefined ||
        needSave === true ||
        (openedMenuId && menuId !== openedMenuId)
    }"
    (click)="toggleMenu()"
    [disabled]="
      nav?.orgId === undefined ||
      needSave === true ||
      (openedMenuId && menuId !== openedMenuId)
    "
  >
    <div class="flex justify-center text-base"> Models </div>
  </button>

  <button
    class="fixed inset-0 z-10 w-full h-full cursor-default focus:outline-none"
    *ngIf="isModelsMenuOpen === true"
    (click)="closeMenu()"
  ></button>

  <div
    class="absolute left-0 z-10 mt-1 w-56 bg-white rounded-md shadow-xl border-2 border-gray4"
    *ngIf="isModelsMenuOpen === true"
  >
    <div *ngIf="isLoading === true" class="text-base p-5">Loading ...</div>

    <div *ngIf="isLoading === false">
      <div *ngIf="isExplorer === false" class="text-base p-5"
        >Role
        <span class="font-semibold"> Model Explorer </span>

        is required to see models</div
      >

      <div *ngIf="isExplorer === true && modelsListLength === 0">
        0 valid models
      </div>

      <div *ngIf="isExplorer === true && modelsListLength > 0">
        <button
          *ngFor="let item of modelsList"
          class="block px-4 py-2 text-gray1 hover:bg-blue2 font-medium text-base w-full text-left focus:outline-none"
          [ngClass]="{
            'cursor-default': lastUrl === pathModelId,
            'text-red-800': lastUrl === pathModelId
          }"
          [disabled]="lastUrl === pathModelId"
          (click)="goToModel(item.modelId)"
          >{{ item.label }}</button
        >

        <!-- <div 
          *ngFor="let item of modelsList"
          class="pl-4 pr-6 py-2 hover:bg-blue2 hover:cursor-pointer"
        >
          {{ item.label }}
        </div> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="openedMenuId$ | async"></div>
<div *ngIf="needSave$ | async"></div>
