<div class="bg-b1 flex justify-center items-center h-full">
  <div class="flex flex-col w-96 space-y-5 items-center">
    <div>
      <m-completed-ring></m-completed-ring>
    </div>

    <div data-cy="newPasswordWasSetTitle" class="text-2xl text-t1 font-semibold"
      >New Password Was Set!</div
    >
    <div class="text-t3 text-center font-regular"
      >To sign in now, just click below.</div
    >

    <button
      data-cy="newPasswordWasSetLoginButton"
      class="py-3 bg-b2 w-28 text-white rounded font-medium"
      (click)="login()"
      >Log In</button
    >
  </div>
</div>
