<div class="flex h-full items-center justify-center bg-blue1">
  <div class="flex w-96 flex-col items-center space-y-5">
    <div>
      <m-completed-ring></m-completed-ring>
    </div>

    <div
      data-cy="newPasswordWasSetTitle"
      class="text-2xl font-semibold text-gray2"
      >{{ pageTitle }}</div
    >
    <div class="text-center text-base text-gray1"
      >To sign in now, just click below.</div
    >

    <button
      data-cy="newPasswordWasSetLoginButton"
      class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
      (click)="login()"
      >Log In</button
    >
  </div>
</div>
