<div class="bg-m0 flex select-none flex-col p-9">
  <div class="text-s2 mt-5 text-left text-2xl font-semibold"> Edit Model </div>

  <form
    class="mt-9 flex w-[30rem] max-w-full flex-col"
    [formGroup]="modelForm"
    (ngSubmit)="save()"
  >
    <div class="mb-2 font-semibold">Model ID</div>
    <div class="text-s500">{{ ref.data.model.modelId }}</div>

    <label class="mb-2 mt-6 font-semibold">Name</label>
    <input
      autocomplete="off"
      spellcheck="false"
      data-cy="editProviderModelDialogNameInput"
      class="form-input border-s3 focus:border-m600 rounded"
      formControlName="name"
      placeholder="Optional"
    />
    <m-validation [control]="modelForm.controls['name']"></m-validation>

    <div class="mt-8 flex items-center">
      <button
        data-cy="editProviderModelDialogSaveButton"
        class="bg-m600 text-m0 w-28 rounded py-3 text-base font-medium focus:outline-none"
        type="submit"
        >Save</button
      >
      <button
        data-cy="editProviderModelDialogCancelButton"
        class="border-m600 text-m600 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
