<!-- desktop -->
<div fxHide.lt-md *ngIf="projectId">
  <div class="can-toggle" data-cy="spaceModeToggle">
    <input
      id="spaceModeToggleInput"
      type="checkbox"
      [disabled]="
        !(selectedProjectUserIsEditor$ | async) || (needSave$ | async)
      "
      (change)="toggleMode()"
      [checked]="layoutModeIsDev"
    />

    <label for="spaceModeToggleInput">
      <div class="can-toggle__switch" data-checked="Dev" data-unchecked="Prod">
      </div>
    </label>
  </div>
</div>

<!-- mobile -->
<div fxHide.gt-sm *ngIf="projectId">
  <mat-accordion>
    <mat-expansion-panel hideToggle="true" disabled="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="can-toggle" data-cy="spaceModeToggleMobile">
            <input
              id="spaceModeToggleInputMobile"
              type="checkbox"
              [disabled]="
                !(selectedProjectUserIsEditor$ | async) || (needSave$ | async)
              "
              (change)="toggleMode()"
              [checked]="layoutModeIsDev"
            />

            <label for="spaceModeToggleInputMobile">
              <div
                class="can-toggle__switch"
                data-checked="Dev"
                data-unchecked="Prod"
              >
              </div>
            </label>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- async -->
<div *ngIf="(projectId$ | async)"></div> <div *ngIf="(mode$ | async)"></div>
<div *ngIf="(layoutModeIsDev$ | async)"></div>
