.ag-theme-alpine {
  --ag-font-size: 16px;
  --ag-font-family: monospace;

  // --ag-header-foreground-color: rgb(204, 245, 172);
  // --ag-header-background-color: rgb(235, 66, 142);
  // --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  // --ag-foreground-color: rgb(253, 132, 19);
  --ag-background-color: rgb(0, 0, 0, 0);

  --ag-odd-row-background-color: rgb(0, 0, 0, 0);
  --ag-selected-row-background-color: rgba(77, 178, 255, 0.5);
  --ag-row-hover-color: rgb(0, 0, 0, 0);
}
