<div class="ml-5 mr-5 flex h-full flex-1 flex-col">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine mt-5 mb-5"
    [rowData]="data"
    [rowClass]="rowCssClasses"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowDragManaged]="true"
    [suppressColumnVirtualisation]="true"
    [rowDragMultiRow]="true"
    [suppressCellFocus]="true"
    [animateRows]="true"
    [rowSelection]="'multiple'"
    (selectionChanged)="onSelectionChanged($event)"
    (rangeSelectionChanged)="onRangeSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    (rowDragEnd)="rowDragEndHandle($event)"
  ></ag-grid-angular>

  <div
    *ngIf="!!repSelectedNode"
    class="mb-5 flex flex-row items-start space-x-10"
  >
    <div class="flex flex-row items-start space-x-5">
      <div class="text-gray1 flex h-9 select-none items-center font-semibold"
        >Row</div
      >

      <div class="flex h-9 w-[26px] items-center">{{
        repSelectedNode?.data?.rowId
      }}</div>
    </div>

    <div
      *ngIf="!!repSelectedNode?.data?.formula"
      class="flex flex-row items-start space-x-5"
    >
      <div class="text-gray1 flex h-9 select-none items-center font-semibold"
        >Formula</div
      >

      <div [formGroup]="formulaForm">
        <textarea
          rows="5"
          data-cy="formulaInput"
          class="form-input border-gray3 focus:border-blue3 w-96 resize-none rounded"
          [ngClass]="{
            'border-red-600':
              formulaForm.controls['formula'].invalid &&
              formulaForm.controls['formula'].touched
          }"
          formControlName="formula"
          placeholder="$A + $B"
          (blur)="formulaBlur()"
        ></textarea>
        <m-validation
          [control]="formulaForm.controls['formula']"
        ></m-validation>
      </div>
    </div>
  </div>
</div>

<div *ngIf="rep$ | async"></div>
<div *ngIf="repSelectedNodes$ | async"></div>
