<div class="ml-5 mr-5 flex h-full flex-1 flex-col">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine mb-5 mt-5"
    [rowData]="data"
    [rowClass]="rowCssClasses"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [columnTypes]="columnTypes"
    [rowDragManaged]="true"
    [suppressColumnVirtualisation]="false"
    [rowDragMultiRow]="true"
    [suppressCellFocus]="true"
    [animateRows]="true"
    [rowSelection]="'multiple'"
    [rowMultiSelectWithClick]="false"
    [getRowHeight]="getRowHeight"
    (selectionChanged)="onSelectionChanged($event)"
    (rangeSelectionChanged)="onRangeSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    (columnResized)="onColumnResized($event)"
    (rowDragEnd)="rowDragEndHandle($event)"
  ></ag-grid-angular>
</div>

<div *ngIf="rep$ | async"></div>
<div *ngIf="queryParams$ | async"></div>
<!-- <div *ngIf="repSelectedRowIdsDistinct$ | async"></div> -->
