<div class="flex h-full flex-col items-center justify-center bg-blue1">
  <div class="flex max-w-sm text-center text-2xl font-semibold text-gray2">{{
    pageTitle
  }}</div>

  <div class="mt-5 flex text-center text-xl text-gray2">{{ email }}</div>
  <form
    class="flex w-96 flex-col"
    [formGroup]="setPasswordForm"
    (ngSubmit)="setPassword()"
  >
    <input
      spellcheck="false"
      data-cy="completeRegistrationPasswordInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          setPasswordForm.controls['newPassword'].invalid &&
          setPasswordForm.controls['newPassword'].touched
      }"
      type="password"
      formControlName="newPassword"
      placeholder="Password"
    />
    <m-validation
      [control]="setPasswordForm.controls['newPassword']"
    ></m-validation>

    <button
      data-cy="completeRegistrationSignUpButton"
      class="mt-1 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
      type="submit"
      >SignUp</button
    >
  </form>
</div>
