@mixin model-tree-theme($theme) {
  $sub-primary: map-get($theme, sub-primary);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  m-model-tree {
    @if $is-dark == true {
      background-color: mat-color($sub-primary, 800);
      color: mat-contrast($sub-primary, 800);
    } @else {
      background-color: mat-color($sub-primary, 200);
      color: mat-contrast($sub-primary, 200);
    }

    .model-tree {
      &__file_clickable:active {
        @if $is-dark == true {
          background-color: mat-color($sub-primary, 900);
        } @else {
          background-color: mat-color($sub-primary, 400);
        }
      }

      &__file_hover:not(.model-tree__file-active):hover {
        @if $is-dark == true {
          background-color: mat-color($background, hover);
        } @else {
          background-color: mat-color($sub-primary, 100);
        }
      }

      &__file-active {
        @if $is-dark == true {
          background-color: mat-color($sub-primary, 700);
        } @else {
          background-color: #fff;
        }
      }

      &__file-root {
        @if $is-dark == true {
          background-color: mat-color($sub-primary, 900);
        } @else {
          background-color: mat-color($sub-primary, 300);
        }
      }

      &__node-filters,
      &__node-dimensions,
      &__node-measures,
      &__node-calculations {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
      }

      &__filter-button_disabled {
        background-color: mat-color($accent) !important;
        color: mat-contrast($accent, 500) !important;
      }

      &__filter-count {
        margin-left: 10px;
        color: mat-color($primary);
      }

      &__filter-label {
        color: mat-color($accent);
      }

      &__node-measures,
      &__child-measure {
        color: #ff9800;
      }

      &__node-calculations,
      &__child-calculation {
        @if $is-dark == true {
          color: #cb64ed;
        } @else {
          color: #a018cc;
        }
      }

      .toggle-children {
        @if $is-dark == true {
          background-image: url('/assets/app/collapsed-dark.svg');
        } @else {
          background-image: url('/assets/app/collapsed-light.svg');
        }
      }

      .toggle-children-wrapper-expanded {
        .toggle-children {
          @if $is-dark == true {
            background-image: url('/assets/app/expanded-dark.svg');
          } @else {
            background-image: url('/assets/app/expanded-light.svg');
          }
        }
      }
    }
  }
}
.model-tree__filter-count {
  background: #c7cdd1;
  color: #737373 !important;
}
