<div class="ml-2 flex h-16 flex-row space-x-5">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionQuarterOfYearTypeSelect
      data-cy="fractionQuarterOfYearTypeSelect"
      class="custom popup-55 w-48 focus:outline-none"
      [items]="fractionQuarterOfYearTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>

  <form
    [formGroup]="fractionForm"
    *ngIf="
      fraction.type === fractionTypeEnum.QuarterOfYearIs ||
      fraction.type === fractionTypeEnum.QuarterOfYearIsNot
    "
  >
    <ng-select
      #fractionQuarterOfYearValueSelect
      data-cy="fractionQuarterOfYearValueSelect"
      class="custom popup-55 w-48 focus:outline-none"
      [items]="fractionQuarterOfYearValuesList"
      [clearable]="false"
      [searchable]="false"
      (change)="quarterOfYearValueChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="quarterOfYearValue"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>
</div>
