$node-offset-negative: -30vw;
$node-offset-positive: 30vw;
$node-width: 60vw;

:host {
  overflow: auto;

  /deep/ {
    tree-node-expander {
      height: 0;
    }

    .tree-children {
      overflow: visible;
    }

    .node-wrapper {
      position: relative;
      z-index: 10;
      cursor: default;
    }

    .node-content-wrapper,
    .node-content-wrapper-active,
    .node-content-wrapper-focused {
      padding: 0;
      cursor: pointer;
      background: transparent !important;
      box-shadow: none;
      width: 100%;
      &:hover {
        cursor: pointer;
        background: transparent !important;
        box-shadow: none;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }

    .toggle-children-wrapper {
      padding: 2px 3px 5px 5px;
    }

    .toggle-children {
      z-index: 100;
      transform: scale(3) !important;
    }

    .toggle-children-placeholder {
      display: none;
    }

    .node-drop-slot {
      display: none;
    }
  }

  .model-tree {
    height: 100%;
    &__item {
      visibility: visible;
      padding: 2px 5px;
      position: relative;
      width: calc(100% + #{$node-offset-positive});
      left: $node-offset-negative;

      &-default {
        cursor: default !important;

        &:active,
        &:hover {
          background-color: transparent !important;
        }
      }

      &_not_clickable {
        cursor: default !important;

        .mat-button {
          visibility: hidden;
        }
        &:hover {
          .mat-button {
            visibility: visible;
          }
        }

        &:hover .model-tree__filter-button_hidden {
          visibility: visible !important;
        }
        &:hover .model-tree__select-button_hidden {
          visibility: visible !important;
        }

        @media (max-width: 959px) {
          .model-tree__filter-button_hidden {
            visibility: visible !important;
          }
          .model-tree__select-button_hidden {
            visibility: visible !important;
          }
          .mat-button {
            visibility: visible;
          }
        }
      }

      &-inner {
        position: relative;
        width: calc(100% - #{$node-offset-positive});
        left: $node-offset-positive;
      }

      &-name {
        &_offset-left_20 {
          margin-left: 20px;
        }

        &_offset-left_10 {
          margin-left: 5px;
        }
      }
    }

    &__filter-button {
      line-height: 20px;
      padding: 0 5px;
      min-width: 40px;
      position: absolute;
      right: 35px;
      font-size: 12px;
    }

    &__select-button {
      line-height: 20px;
      padding: 0 5px;
      min-width: 45px;
      position: absolute;
      right: 83px;
      font-size: 12px;
    }

    &__filter-button_hidden {
      visibility: hidden !important;
    }

    &__select-button_hidden {
      visibility: hidden !important;
    }

    &__field-count {
      padding: 2px 9px 0;
      border-radius: 8px;
    }
  }
}
.model-tree__item-inner {
  position: relative;
}
/deep/.folder-btn {
  position: absolute;
  right: 130px;
  &:hover {
    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}
/deep/ .info-icon {
  opacity: 0.5;
  font-size: 19px !important;
  cursor: default;
}
/deep/ .folder-open {
  font-size: 19px !important;
}
