<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="createFolderDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Create Folder</div
  >

  <form
    class="flex flex-col w-80"
    [formGroup]="createFolderForm"
    (ngSubmit)="create()"
  >
    <input
      data-cy="createFolderDialogFolderNameInput"
      class="mt-9 form-input rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          createFolderForm.controls['folderName'].invalid &&
          createFolderForm.controls['folderName'].touched
      }"
      formControlName="folderName"
      placeholder="Folder Name"
    />
    <m-validation
      [control]="createFolderForm.controls['folderName']"
    ></m-validation>

    <div class="mt-6">
      <button
        data-cy="createFolderDialogCreateButton"
        class="py-3 w-28 bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Create</button
      >

      <button
        data-cy="createFolderDialogCancelButton"
        class="ml-3 py-3 w-28 rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
