<div class="bg-m1 flex h-full cursor-default flex-col">
  <div class="mx-6 mb-6 mt-8 flex h-2 flex-grow flex-col">
    <div class="flex h-11 flex-row items-center justify-start">
      <div
        data-cy="projectEnvironmentsTitle"
        class="text-s1 flex select-none text-2xl font-semibold"
        >{{ pageTitle }}
      </div>

      <div
        class="ml-10"
        tp="Admin role required"
        [tpIsEnabled]="isAdmin === false"
      >
        <button
          data-cy="projectEnvironmentsAddEnvironmentButton"
          class="text-m0 h-11 flex-shrink-0 select-none rounded px-5 py-2 text-base font-medium focus:outline-none"
          type="submit"
          [ngClass]="{
            'bg-m600': isAdmin === true,
            'bg-s400 cursor-default': isAdmin === false
          }"
          (click)="addEnvironment()"
          [disabled]="isAdmin === false"
          >Add Environment</button
        >
      </div>
    </div>

    <div class="bg-m0 mb-4 mt-6 flex-grow overflow-auto rounded shadow">
      <div class="text-s1 mx-5 mt-8">
        <table class="divide-s500 min-w-full divide-y">
          <thead>
            <tr class="h-12 text-sm">
              <th class="text-left"></th>
              <th class="text-left"></th>
              <th class="text-left">Name</th>
              <th class="text-left">Users</th>
              <th class="text-left">Connections</th>
              <th class="text-left">Environment Variables</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="divide-s300 divide-y text-base">
            <tr
              *ngFor="
                let environment of environments
                  | paginate
                    : {
                        id: 'environments',
                        itemsPerPage: perPage,
                        currentPage: currentPage,
                        totalItems: total
                      };
                let i = index
              "
              class="h-16"
            >
              <td class="w-32">
                <div
                  class="w-fit"
                  tp="Editor role required"
                  [tpIsEnabled]="isEditor === false"
                >
                  <button
                    data-cy="projectEnvironmentsVariablesButton"
                    (click)="navToVariables(environment)"
                    class="rounded border px-3 py-2 text-base font-medium leading-3 shadow-sm focus:outline-none"
                    [ngClass]="{
                      'text-s400 cursor-default': isEditor === false,
                      'border-s3 text-s1': isEditor === true
                    }"
                    [disabled]="isEditor === false"
                    >Variables</button
                  >
                </div>
              </td>

              <td class="w-32">
                <ng-template #templateDeleteEnv>
                  <div *ngIf="environment.envId === envProd"
                    >Env Prod can not be deleted</div
                  >

                  <div
                    *ngIf="environment.envId !== envProd && isAdmin === false"
                    >Admin role required</div
                  >
                </ng-template>

                <div
                  class="ml-3 w-fit"
                  [tp]="templateDeleteEnv"
                  [tpIsEnabled]="
                    isAdmin === false || environment.envId === envProd
                  "
                >
                  <button
                    data-cy="projectEnvironmentsDeleteButton"
                    class="h-9 w-9 rounded focus:outline-none"
                    [ngClass]="{
                      'text-s400 cursor-default':
                        isAdmin === false || environment.envId === envProd
                    }"
                    [disabled]="
                      isAdmin === false || environment.envId === envProd
                    "
                    (click)="deleteEnvironment(environment)"
                  >
                    <div class="flex justify-center">
                      <m-trash-icon></m-trash-icon>
                    </div>
                  </button>
                </div>
              </td>

              <td class="w-64">{{ environment.envId }}</td>

              <td class="w-64">
                <div class="my-3 flex flex-col">
                  <div *ngIf="environment.envId === envProd">
                    <div class="flex flex-row items-center text-base">
                      <div>All Users </div>
                    </div>
                  </div>

                  <div
                    *ngIf="environment.envId !== envProd"
                    class="flex flex-row items-center"
                  >
                    <div class="flex flex-row items-center">
                      <div
                        tp="Admin role required"
                        [tpIsEnabled]="isAdmin === false"
                      >
                        <button
                          data-cy="projectEnvironmentsAddVarButton"
                          class="flex h-8 w-8 items-center justify-center rounded focus:outline-none"
                          [ngClass]="{
                            'text-s400 cursor-default': isAdmin === false,
                            'text-m600 hover:bg-m200': isAdmin === true
                          }"
                          (click)="addUser(environment, i)"
                          [disabled]="isAdmin === false"
                        >
                          <div>
                            <m-add-icon></m-add-icon>
                          </div>
                        </button>
                      </div>

                      <div class="ml-2 flex flex-col">
                        <div
                          *ngFor="
                            let envUser of environment.envUsers;
                            let n = index
                          "
                        >
                          <div class="flex flex-row items-center text-base">
                            <div>{{ envUser.alias }} </div>
                            <div
                              tp="Admin role required"
                              [tpIsEnabled]="isAdmin === false"
                            >
                              <button
                                data-cy="projectEnvironmentsRemoveUserButton"
                                class="ml-2 flex h-8 w-8 items-center justify-center rounded focus:outline-none"
                                [ngClass]="{
                                  'text-s400 cursor-default': isAdmin === false,
                                  'text-s1 hover:bg-m200': isAdmin === true
                                }"
                                (click)="removeUser(environment, i, n)"
                                [disabled]="isAdmin === false"
                              >
                                <div>
                                  <m-delete-icon></m-delete-icon>
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

              <td class="w-64">
                <div class="my-3 flex flex-col">
                  <div
                    *ngFor="let connectionId of environment.envConnectionIds"
                  >
                    <div class="flex flex-row items-center text-base">
                      <div>{{ connectionId }} </div>
                    </div>
                  </div>
                </div></td
              >

              <td class="w-[400px]">
                <div class="my-3 flex flex-col">
                  <div class="flex flex-row items-center">
                    <div
                      tp="Admin role required"
                      [tpIsEnabled]="isAdmin === false"
                    >
                      <button
                        data-cy="projectEnvironmentsAddVarButton"
                        class="flex h-8 w-8 items-center justify-center rounded focus:outline-none"
                        [ngClass]="{
                          'text-s400 cursor-default': isAdmin === false,
                          'text-m600 hover:bg-m200': isAdmin === true
                        }"
                        (click)="addVar(environment)"
                        [disabled]="isAdmin === false"
                      >
                        <div>
                          <m-add-icon></m-add-icon>
                        </div>
                      </button>
                    </div>

                    <div class="ml-2 flex flex-col">
                      <div *ngFor="let ev of environment.evs; let n = index">
                        <div class="flex flex-row items-center text-base">
                          <div>{{ ev.evId }} </div>
                          <div class="ml-5">{{ ev.val }} </div>

                          <div
                            tp="Admin role required"
                            [tpIsEnabled]="isAdmin === false"
                          >
                            <button
                              data-cy="projectEnvironmentsRemoveVarButton"
                              class="ml-2 flex h-8 w-8 items-center justify-center rounded focus:outline-none"
                              [ngClass]="{
                                'text-s400 cursor-default': isAdmin === false,
                                'text-s1 hover:bg-m200': isAdmin === true
                              }"
                              (click)="removeVar(ev)"
                              [disabled]="isAdmin === false"
                            >
                              <div>
                                <m-delete-icon></m-delete-icon>
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <pagination-controls
      class="mt-3 flex justify-center"
      (pageChange)="getEnvsPage($event)"
      id="environments"
    >
    </pagination-controls>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
<div *ngIf="environments$ | async"></div>
<div *ngIf="total$ | async"></div>
