<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="mx-6 mb-6 mt-8 flex h-2 flex-grow flex-col">
    <div class="flex h-11 flex-row items-center justify-between">
      <div
        data-cy="projectEnvironmentsTitle"
        class="text-gray1 flex text-2xl font-semibold"
        >{{ pageTitle }}
      </div>

      <div tippy="Admin role required" [isEnabled]="isAdmin === false">
        <button
          data-cy="projectEnvironmentsAddEnvironmentButton"
          class="rounded py-2 px-5 text-base font-medium text-white focus:outline-none"
          type="submit"
          [ngClass]="{
            'bg-blue3': isAdmin === true,
            'cursor-default bg-gray-400': isAdmin === false
          }"
          (click)="addEnvironment()"
          [disabled]="isAdmin === false"
          >Add Environment</button
        >
      </div>
    </div>

    <div class="mt-6 mb-4 flex-grow overflow-auto rounded bg-white shadow">
      <div class="text-gray1 mx-5 mt-8">
        <table class="min-w-full divide-y divide-gray-500">
          <thead>
            <tr class="h-12 text-sm">
              <th class="text-left">Name</th>
              <th class="text-left">Connections</th>
              <th class="text-left">Users</th>
              <th class="text-left"></th>
              <th class="text-left"></th>
              <th></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-300 text-base">
            <tr
              *ngFor="
                let environment of environments
                  | paginate
                    : {
                        id: 'environments',
                        itemsPerPage: perPage,
                        currentPage: currentPage,
                        totalItems: total
                      };
                let i = index
              "
              class="h-16"
            >
              <td class="w-64">{{ environment.envId }}</td>

              <td class="w-64">
                <div class="my-3 flex flex-col">
                  <div
                    *ngFor="let connectionId of environment.envConnectionIds"
                  >
                    <div class="flex flex-row items-center text-base">
                      <div>{{ connectionId }} </div>
                    </div>
                  </div>
                </div></td
              >

              <td class="w-64">
                <div class="my-3 flex flex-col">
                  <div *ngIf="environment.envId === envProd">
                    <div class="flex flex-row items-center text-base">
                      <div>All Users </div>
                    </div>
                  </div>

                  <div *ngIf="environment.envId !== envProd">
                    <div *ngFor="let envUser of environment.envUsers">
                      <div class="flex flex-row items-center text-base">
                        <div>{{ envUser.alias }} </div>
                      </div>
                    </div>
                  </div>
                </div></td
              >

              <td class="w-32">
                <div
                  class="w-fit"
                  tippy="Editor role required"
                  [isEnabled]="isEditor === false"
                >
                  <button
                    data-cy="projectEnvironmentsVariablesButton"
                    (click)="navToVariables(environment)"
                    class="rounded border py-2 px-3 text-base font-medium leading-3 shadow-sm focus:outline-none"
                    [ngClass]="{
                      'cursor-default text-gray-400': isEditor === false,
                      'border-gray3 text-gray1': isEditor === true
                    }"
                    [disabled]="isEditor === false"
                    >Variables</button
                  >
                </div>
              </td>

              <td class="w-32">
                <ng-template #templateDeleteEnv>
                  <div *ngIf="environment.envId === envProd"
                    >Env Prod can not be deleted</div
                  >

                  <div
                    *ngIf="environment.envId !== envProd && isAdmin === false"
                    >Admin role required</div
                  >
                </ng-template>

                <div
                  class="ml-3 w-fit"
                  [tippy]="templateDeleteEnv"
                  [isEnabled]="
                    isAdmin === false || environment.envId === envProd
                  "
                >
                  <button
                    data-cy="projectEnvironmentsDeleteButton"
                    class="h-9 w-9 rounded focus:outline-none"
                    [ngClass]="{
                      'cursor-default text-gray-400':
                        isAdmin === false || environment.envId === envProd,
                      'hover:bg-blue2':
                        isAdmin !== false && environment.envId !== envProd
                    }"
                    [disabled]="
                      isAdmin === false || environment.envId === envProd
                    "
                    (click)="deleteEnvironment(environment)"
                  >
                    <div class="flex justify-center">
                      <m-delete-icon></m-delete-icon>
                    </div>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <pagination-controls
      class="mt-3 flex justify-center"
      (pageChange)="getEnvsPage($event)"
      id="environments"
    >
    </pagination-controls>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
<div *ngIf="environments$ | async"></div>
<div *ngIf="total$ | async"></div>
