<h2>Set New Password</h2>

<form
  [formGroup]="updatePasswordForm"
  (ngSubmit)="onSubmit(updatePasswordForm.value)"
>
  <br />

  <mat-form-field>
    <input
      matInput
      id="passwordInput"
      formControlName="password"
      placeholder="new password"
    />
    <mat-error>
      <m-validation-msg
        [errors]="updatePasswordForm.controls['password'].errors"
      ></m-validation-msg>
    </mat-error>
  </mat-form-field>

  <br />
  <br />

  <button
    type="submit"
    color="primary"
    mat-raised-button
    [disabled]="!updatePasswordForm.valid"
    >Set Password
  </button>
</form>
