<div class="h-full w-full overflow-auto">
  <div
    *ngIf="isSelectValid === false"
    class="flex h-full w-full select-none flex-row items-center justify-center text-lg font-semibold text-gray-500"
    ><div class="w-3/5 text-center">
      {{ errorMessage }}
    </div>
  </div>

  <div
    *ngIf="isSelectValid === true && chart.isValid === false"
    class="text-red1 flex h-full select-none items-center justify-center text-lg"
    >Chart parameters are not valid</div
  >

  <div
    *ngIf="
      isSelectValid === true &&
      chart.isValid === true &&
      qData.length === 0 &&
      (queryStatus === queryStatusEnum.New ||
        queryStatus === queryStatusEnum.Canceled)
    "
    class="flex h-full select-none items-center justify-center text-lg font-semibold text-gray-500"
    >Run query to get data</div
  >

  <div
    *ngIf="
      isSelectValid === true &&
      chart.isValid === true &&
      qData.length === 0 &&
      queryStatus === queryStatusEnum.Running
    "
    class="flex h-full select-none items-center justify-center text-lg font-semibold text-gray-500"
    >Query is Running</div
  >

  <div
    *ngIf="
      isSelectValid === true &&
      chart.isValid === true &&
      qData.length === 0 &&
      queryStatus === queryStatusEnum.Completed
    "
    class="flex h-full select-none items-center justify-center text-lg font-semibold text-gray-500"
    >Query returned zero rows</div
  >

  <div
    *ngIf="
      isSelectValid === true &&
      chart.isValid === true &&
      queryStatus === queryStatusEnum.Error
    "
    class="flex h-full select-none items-center justify-center text-lg font-semibold text-gray-500"
    >Query Error</div
  >

  <m-chart-table
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.Table &&
      chart.isValid === true &&
      qData.length > 0
    "
    [isFormat]="chart.format === false ? false : true"
    [qData]="qData"
    [mconfigFields]="mconfigFields"
    [hideColumns]="chart.hideColumns"
    [pageSize]="chart.pageSize"
  ></m-chart-table>

  <!-- [customColors]="customColors" -->
  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingFn" -->

  <ngx-charts-bar-vertical
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarVertical &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="single"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [roundDomains]="chart.roundDomains"
    [roundEdges]="chart.roundEdges"
    [yScaleMax]="chart.yScaleMax"
    [showDataLabel]="chart.showDataLabel"
    [dataLabelFormatting]="dataLabelFormattingFn"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-bar-vertical>

  <!-- [customColors]="customColors" -->
  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [yAxisTickFormatting]="yAxisTickFormattingFn" -->

  <ngx-charts-bar-horizontal
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarHorizontal &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="single"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [roundDomains]="chart.roundDomains"
    [roundEdges]="chart.roundEdges"
    [xScaleMax]="chart.xScaleMax"
    [showDataLabel]="chart.showDataLabel"
    [dataLabelFormatting]="dataLabelFormattingFn"
    [xAxisTickFormatting]="xAxisTickFormattingFn"
  >
  </ngx-charts-bar-horizontal>

  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors-->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingFn" -->

  <ngx-charts-bar-vertical-2d
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarVerticalGrouped &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [groupPadding]="chart.groupPadding"
    [roundDomains]="chart.roundDomains"
    [roundEdges]="chart.roundEdges"
    [yScaleMax]="chart.yScaleMax"
    [showDataLabel]="chart.showDataLabel"
    [dataLabelFormatting]="dataLabelFormattingFn"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-bar-vertical-2d>

  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors-->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [yAxisTickFormatting]="yAxisTickFormattingFn" -->

  <ngx-charts-bar-horizontal-2d
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarHorizontalGrouped &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [groupPadding]="chart.groupPadding"
    [roundDomains]="chart.roundDomains"
    [roundEdges]="chart.roundEdges"
    [xScaleMax]="chart.xScaleMax"
    [showDataLabel]="chart.showDataLabel"
    [dataLabelFormatting]="dataLabelFormattingFn"
    [xAxisTickFormatting]="xAxisTickFormattingFn"
  >
  </ngx-charts-bar-horizontal-2d>

  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors-->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingFn" -->

  <ngx-charts-bar-vertical-stacked
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarVerticalStacked &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [roundDomains]="chart.roundDomains"
    [yScaleMax]="chart.yScaleMax"
    [showDataLabel]="chart.showDataLabel"
    [dataLabelFormatting]="dataLabelFormattingFn"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-bar-vertical-stacked>

  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors-->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [yAxisTickFormatting]="yAxisTickFormattingFn" -->

  <ngx-charts-bar-horizontal-stacked
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarHorizontalStacked &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [roundDomains]="chart.roundDomains"
    [xScaleMax]="chart.xScaleMax"
    [showDataLabel]="chart.showDataLabel"
    [dataLabelFormatting]="dataLabelFormattingFn"
    [xAxisTickFormatting]="xAxisTickFormattingFn"
  >
  </ngx-charts-bar-horizontal-stacked>

  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors-->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingFn" -->

  <ngx-charts-bar-vertical-normalized
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarVerticalNormalized &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [roundDomains]="chart.roundDomains"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-bar-vertical-normalized>

  <!-- [noBarWhenZero]="noBarWhenZero" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors-->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <!-- [yAxisTickFormatting]="yAxisTickFormattingFn" -->

  <ngx-charts-bar-horizontal-normalized
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.BarHorizontalNormalized &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [barPadding]="chart.barPadding"
    [roundDomains]="chart.roundDomains"
    [xAxisTickFormatting]="xAxisTickFormattingFn"
  >
  </ngx-charts-bar-horizontal-normalized>

  <!-- [tooltipText]="pieTooltipText" -->

  <!-- custom_colors -->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <ngx-charts-pie-chart
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.Pie &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="single"
    [scheme]="scheme"
    [animations]="chart.animations"
    [legend]="chart.legend"
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [explodeSlices]="chart.explodeSlices"
    [labels]="chart.labels"
    [doughnut]="chart.doughnut"
    [arcWidth]="chart.arcWidth"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled"
    [labelFormatting]="labelFormattingFn"
  >
  </ngx-charts-pie-chart>

  <!-- [tooltipText]="pieTooltipText" -->

  <!-- custom_colors -->
  <!-- active_entries -->
  <!-- tooltip_template -->

  <ngx-charts-advanced-pie-chart
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.PieAdvanced &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="single"
    [scheme]="scheme"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled"
    [valueFormatting]="valueFormattingFn"
  >
  </ngx-charts-advanced-pie-chart>

  <!-- [tooltipText]="pieTooltipText" -->

  <!-- custom_colors -->
  <!-- tooltip_template -->
  <!-- designated_total -->

  <ngx-charts-pie-grid
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.PieGrid &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="single"
    [scheme]="scheme"
    [animations]="chart.animations"
    [tooltipDisabled]="chart.tooltipDisabled"
  >
  </ngx-charts-pie-grid>

  <!-- [gradient]="gradient" -->
  <!-- [xScaleMax]="chart.xScaleMax" -->
  <!-- [xScaleMin]="chart.xScaleMin" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors -->
  <!-- active_entries -->
  <!-- tooltip_template -->
  <!-- series_tooltip_template -->
  <!-- reference_lines -->
  <!-- show_ref_lines -->
  <!-- show_ref_labels -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingForLinearFn" -->

  <ngx-charts-line-chart
    class="custom"
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.Line &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [curve]="curve"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [tooltipDisabled]="chart.tooltipDisabled"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains"
    [autoScale]="chart.autoScale"
    [yScaleMin]="chart.yScaleMin"
    [yScaleMax]="chart.yScaleMax"
    [timeline]="timeline"
    [rangeFillOpacity]="rangeFillOpacity"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-line-chart>

  <!-- [xScaleMax]="chart.xScaleMax" -->
  <!-- [xScaleMin]="chart.xScaleMin" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors -->
  <!-- active_entries -->
  <!-- tooltip_template -->
  <!-- series_tooltip_template -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingForLinearFn" -->

  <ngx-charts-area-chart
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.Area &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [curve]="curve"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [autoScale]="chart.autoScale"
    [yScaleMin]="chart.yScaleMin"
    [yScaleMax]="chart.yScaleMax"
    [timeline]="timeline"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains"
    [tooltipDisabled]="chart.tooltipDisabled"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-area-chart>

  <!-- [xScaleMax]="chart.xScaleMax" -->
  <!-- [xScaleMin]="chart.xScaleMin" -->
  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors -->
  <!-- active_entries -->
  <!-- tooltip_template -->
  <!-- series_tooltip_template -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingForLinearFn" -->

  <ngx-charts-area-chart-stacked
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.AreaStacked &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [curve]="curve"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [timeline]="timeline"
    [yScaleMin]="chart.yScaleMin"
    [yScaleMax]="chart.yScaleMax"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains"
    [tooltipDisabled]="chart.tooltipDisabled"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-area-chart-stacked>

  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- custom_colors -->
  <!-- active_entries -->
  <!-- tooltip_template -->
  <!-- series_tooltip_template -->

  <!-- [xAxisTickFormatting]="xAxisTickFormattingForLinearFn" -->

  <ngx-charts-area-chart-normalized
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.AreaNormalized &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [curve]="curve"
    [scheme]="scheme"
    [schemeType]="chart.schemeType"
    [animations]="chart.animations"
    [legend]="
      chart.schemeType === chartSchemeTypeEnum.Linear ? false : chart.legend
    "
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [timeline]="timeline"
    [showGridLines]="chart.showGridLines"
    [roundDomains]="chart.roundDomains"
    [tooltipDisabled]="chart.tooltipDisabled"
    [yAxisTickFormatting]="yAxisTickFormattingFn"
  >
  </ngx-charts-area-chart-normalized>

  <!-- [trimXAxisTicks]="false" -->
  <!-- [trimYAxisTicks]="false" -->
  <!-- [rotateXAxisTicks]="rotateXAxisTicks" -->
  <!-- [maxXAxisTickLength]="maxXAxisTickLength" -->
  <!-- [maxYAxisTickLength]="maxYAxisTickLength" -->

  <!-- -legend_title -->
  <!-- tooltip_text -->
  <!-- tooltip_template -->

  <!-- [yAxisTickFormatting]="yAxisTickFormattingFn"
  [xAxisTickFormatting]="xAxisTickFormattingFn" -->

  <ngx-charts-heat-map
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.HeatMap &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="multi"
    [scheme]="scheme"
    [animations]="chart.animations"
    [legend]="legendForHeatMap"
    [gradient]="chart.gradient"
    [xAxis]="chart.xAxis"
    [yAxis]="chart.yAxis"
    [showXAxisLabel]="chart.showXAxisLabel"
    [showYAxisLabel]="chart.showYAxisLabel"
    [xAxisLabel]="chart.xAxisLabel"
    [yAxisLabel]="chart.yAxisLabel"
    [innerPadding]="chart.innerPadding"
    [tooltipDisabled]="chart.tooltipDisabled"
  >
  </ngx-charts-heat-map>

  <!-- custom_colors -->
  <!-- tooltip_template -->

  <ngx-charts-tree-map
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.TreeMap &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="single"
    [scheme]="scheme"
    [animations]="chart.animations"
    [gradient]="chart.gradient"
    [tooltipDisabled]="chart.tooltipDisabled"
    [valueFormatting]="valueFormattingFn"
    [labelFormatting]="labelFormattingFn"
  >
  </ngx-charts-tree-map>

  <!-- custom_colors -->

  <ngx-charts-number-card
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.NumberCard &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="singleForNumberCard"
    [scheme]="scheme"
    [animations]="chart.animations"
    [innerPadding]="chart.innerPadding"
    [cardColor]="chart.cardColor"
    [emptyColor]="chart.emptyColor"
    [bandColor]="chart.bandColor"
    [textColor]="chart.textColor"
    [valueFormatting]="valueFormattingFn"
    [labelFormatting]="labelFormattingFn"
  >
  </ngx-charts-number-card>

  <!-- [textValue]="gaugeTextValue" -->
  <!-- [showText]="showText" -->
  <!-- [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null" -->

  <!-- custom_colors -->
  <!-- tooltip_template -->

  <ngx-charts-gauge
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.Gauge &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [results]="single"
    [scheme]="scheme"
    [animations]="chart.animations"
    [legend]="chart.legend"
    [legendTitle]="chart.legendTitle"
    [legendPosition]="legendPosition"
    [min]="chart.min"
    [max]="chart.max"
    [units]="chart.units"
    [angleSpan]="chart.angleSpan"
    [startAngle]="chart.startAngle"
    [showAxis]="chart.showAxis"
    [bigSegments]="chart.bigSegments"
    [smallSegments]="chart.smallSegments"
    [tooltipDisabled]="chart.tooltipDisabled"
    [valueFormatting]="valueFormattingFn"
    [axisTickFormatting]="axisTickFormattingFn"
  >
  </ngx-charts-gauge>

  <!-- custom_colors -->

  <ngx-charts-linear-gauge
    *ngIf="
      queryStatus !== queryStatusEnum.Error &&
      isSelectValid === true &&
      chart.type === chartTypeEnum.GaugeLinear &&
      chart.isValid === true &&
      qData.length > 0
    "
    (select)="onSelect($event)"
    [view]="null"
    [value]="value"
    [previousValue]="previousValue"
    [scheme]="scheme"
    [animations]="chart.animations"
    [min]="chart.min"
    [max]="chart.max"
    [units]="chart.units"
    [valueFormatting]="valueFormattingFn"
  >
  </ngx-charts-linear-gauge>
</div>
