::ng-deep .ag-header-cell .custom-header {
  font-family: 'Montserrat';
}

// @import 'ag-grid-community/styles/ag-grid.css';
// @import 'ag-grid-community/styles/ag-theme-alpine.css';

// .ag-theme-alpine {
//   --ag-selected-row-background-color: rgb(231, 242, 253);
//   --ag-row-hover-color: rgb(231, 242, 253);
//   --ag-header-foreground-color: rgb(204, 245, 172);
//   --ag-header-background-color: rgb(235, 66, 142);
//   --ag-header-column-resize-handle-color: rgb(126, 46, 132);
//   --ag-foreground-color: rgb(253, 132, 19);
// }
