:host ::ng-deep .ag-header-cell .custom-header {
  font-family: 'Montserrat';
}

:host ::ng-deep ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}
