@mixin space-theme($theme) {
  $sub-primary: map-get($theme, sub-primary);
  $primary: map-get($theme, primary);
  $is-dark: map-get($theme, is-dark);
  $warn: map-get($theme, warn);

  .menu {
    &__button_hover_primary {
      &:hover {
        color: mat-color($primary);
      }

      &:hover .mat-button-focus-overlay {
        background-color: transparent !important;
      }
    }

    &__active-link {
      color: mat-color($primary) !important;
    }
  }

  .dark-theme .menu {
    &__button_hover_primary {
      &:hover {
        color: #ff9800 !important;
      }
    }
  }

  .space {
    &__primary-toolbar {
      @if $is-dark == true {
        background-color: mat-color($sub-primary, 900);
        color: mat-contrast($sub-primary, 900);
      } @else {
        background-color: #fff;
        color: mat-contrast($sub-primary, 0);
      }
    }

    &__sub-toolbar {
      @if $is-dark == true {
        background-color: mat-color($sub-primary, 800);
        color: mat-contrast($sub-primary, 800);
      } @else {
        background-color: mat-color($sub-primary, 200);
        color: mat-contrast($sub-primary, 200);
      }
      &_text {
        margin-right: 5px;
      }
    }

    &__scroll-wrap {
      @if $is-dark == true {
        background-color: mat-color($sub-primary, 700);
        color: mat-contrast($sub-primary, 700);
      } @else {
        background-color: #fff;
        color: mat-contrast($sub-primary, 0);
      }
    }

    &__mode-slider {
      .mat-slide-toggle-thumb {
        background-color: mat-color($warn) !important;
      }
    }

    &__button_hover_primary {
      &:hover {
        color: mat-color($primary);
      }

      &:hover .mat-button-focus-overlay {
        background-color: transparent !important;
      }
    }

    &__active-link {
      color: mat-color($primary) !important;
    }

    &_border_bottom {
      @if $is-dark == true {
        border-bottom: 1px solid mat-color($sub-primary, 600);
      } @else {
        border-bottom: 1px solid mat-color($sub-primary, 400);
      }
    }

    &_border_right {
      @if $is-dark == true {
        border-right: 1px solid mat-color($sub-primary, 600);
      } @else {
        border-right: 1px solid mat-color($sub-primary, 400);
      }
    }

    &_border_left {
      @if $is-dark == true {
        border-left: 1px solid mat-color($sub-primary, 600);
      } @else {
        border-left: 1px solid mat-color($sub-primary, 400);
      }
    }
  }
}
.m-body {
  height: 100%;
}
