@mixin sql-theme($theme) {
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);

  .td-data-table-row:nth-child(odd) {
    background: #f5f5f5;
  }
  .table--sql {
    @if $is-dark == true {
      .td-data-table-row:nth-child(odd) {
        background: rgba(255, 255, 255, 0.12);
      }
    }
  }
}
