<div class="sql" fxLayout="column" fxFlexFill>
  <h3 *ngIf="mconfigSelectFields.length === 0" class="sql__empty-title"
    >Select some fields...</h3
  >

  <mat-accordion *ngIf="mconfigSelectFields.length !== 0" displayMode="flat">
    <mat-expansion-panel *ngFor="let part of parts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{ part.name }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <m-sql-part [text]="part.sql"></m-sql-part>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="query" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{ query.name }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <m-sql-part [text]="query.sql"></m-sql-part>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="(mconfigSelectFields$ | async)"></div>
<div *ngIf="(query$ | async)"></div> <div *ngIf="(parts$ | async)"></div>
