<div class="flex w-full flex-grow overflow-y-auto">
  <tree-root
    class="h-2 w-full"
    #itemsTree
    [nodes]="nodes"
    [options]="treeOptions"
    (initialized)="treeOnInitialized()"
    (updateData)="treeOnUpdateData()"
  >
    <ng-template #treeNodeTemplate let-node="node" let-index="index">
      <div
        class="group-bar flex w-full flex-row"
        [ngClass]="{
          'h-[60px]': node.data.isField === false,
          'h-11 pl-6 pr-5': node.data.isField === true
        }"
      >
        <div
          data-cy="metricsTreeItem"
          class="flex w-full cursor-pointer select-none flex-row rounded pr-5"
          [ngClass]="{
            'hover:bg-blue2': node.data.isField === true,
            'px-5': node.data.isField === false
          }"
          (click)="nodeOnClick(node)"
        >
          <div class="relative flex w-full flex-row items-center">
            <div class="flex min-w-[2px] flex-row items-center">
              <div
                *ngIf="node.data.isField === false"
                class="flex flex-row items-center space-x-1"
              >
                <div class="flex items-center">
                  <m-chevron-right-icon
                    *ngIf="!node.isExpanded && node.hasChildren"
                  ></m-chevron-right-icon>

                  <m-chevron-down-icon
                    *ngIf="node.isExpanded && node.hasChildren"
                  ></m-chevron-down-icon>
                </div>
              </div>

              <div
                *ngIf="node.data.isField === true"
                class="mr-3 flex h-2 items-center"
                [ngClass]="{
                  'ml-4': node.hasChildren === false
                }"
              >
                <div
                  *ngIf="node.data.isSelected === true"
                  data-cy="filesTreeSelectedSymbol"
                  class="bg-blue3 h-2 w-2 rounded-full text-white focus:outline-none"
                ></div>

                <div
                  *ngIf="node.data.isSelected === false"
                  class="h-2 w-2"
                ></div>
              </div>

              <div class="text-gray1 ml-0 flex-grow truncate">
                <div class="flex flex-col">
                  <div class="flex">
                    <span
                      class="truncate text-base"
                      [ngClass]="{
                        'ml-3': node.hasChildren === true,
                        'ml-5': node.hasChildren === false
                      }"
                    >
                      <span *ngIf="node.data.isField === true">
                        <span>{{ node.data.metric.partNodeLabel }}</span>

                        <span class="ml-2 font-semibold">{{
                          node.data.metric.partFieldLabel
                        }}</span>
                      </span>

                      <span *ngIf="node.data.isField === false" class="">
                        <span class="">{{ node.data.topLabel }}</span>

                        <!-- <span class="ml-3 font-semibold text-gray-400"
                          >by {{ node.data.timeLabel }}</span
                        > -->
                      </span>
                    </span>
                  </div>

                  <div class="flex" *ngIf="node.data.isField === false">
                    <span class="truncate text-base">
                      <span class="">
                        <span class="ml-3 text-gray-400"
                          >by {{ node.data.timeLabel }}</span
                        >
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-grow"></div>
          </div>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>

<div *ngIf="metrics$ | async"></div>
<!-- <div *ngIf="mconfig$ | async"></div> -->
