<div class="flex h-full cursor-default flex-col bg-blue1">
  <div class="mx-6 mb-6 mt-8 flex h-2 flex-grow flex-col">
    <div class="flex h-11 flex-row items-center justify-between">
      <div
        data-cy="projectConnectionsTitle"
        class="flex text-2xl font-semibold text-gray1"
        >{{ pageTitle }}
      </div>

      <div tippy="Admin role required" [isEnabled]="isAdmin === false">
        <button
          data-cy="projectConnectionsAddConnectionButton"
          class="rounded py-2 px-5 text-base font-medium text-white focus:outline-none"
          type="submit"
          [ngClass]="{
            'bg-blue3': isAdmin === true,
            'cursor-default bg-gray-400': isAdmin === false
          }"
          (click)="addConnection()"
          [disabled]="isAdmin === false"
          >Add Connection</button
        >
      </div>
    </div>

    <div class="mt-6 mb-4 flex-grow overflow-auto rounded bg-white shadow-lg">
      <div class="mx-5 mt-8 text-gray1" *ngIf="connections?.length > 0">
        <table class="min-w-full divide-y divide-gray-500">
          <thead>
            <tr class="h-12 text-sm">
              <th class="text-left">Name</th>
              <th class="text-left">Env</th>
              <th class="text-left">Type</th>
              <th class="text-left">SSL (https)</th>
              <th class="text-left">Host</th>
              <th class="text-left">Port</th>
              <th class="text-left">Database</th>
              <th class="text-left">User</th>
              <th class="text-left">Extra</th>
              <th class="text-left"></th>
              <th class="text-left"></th>
              <th></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-300 text-base">
            <tr
              *ngFor="
                let connection of connections
                  | paginate
                    : {
                        id: 'connections',
                        itemsPerPage: perPage,
                        currentPage: currentPage,
                        totalItems: total
                      };
                let i = index
              "
              class="h-16"
            >
              <td class="w-48">{{ connection.connectionId }}</td>

              <td class="w-48">{{ connection.envId }}</td>

              <td class="w-48">{{ connection.type }} </td>

              <td class="w-48">
                {{ connection.isSSL }}
              </td>

              <td data-cy="projectConnectionsHost" class="w-96"
                >{{ connection.host }}
              </td>

              <td class="w-48">{{ connection.port }} </td>

              <td class="w-48">{{ connection.database }} </td>

              <td class="w-48">{{ connection.username }} </td>

              <td>
                <div class="flex-col" *ngIf="connection.bigqueryProject">
                  <div>
                    <span class="font-medium">Project: </span>
                    <span class="text-green-700">
                      {{ connection.bigqueryProject }}
                    </span>
                  </div>
                  <div>
                    <span class="font-medium">Client Email: </span>
                    <span class="text-green-700">
                      {{ connection.bigqueryClientEmail }}
                    </span>
                  </div>
                  <div>
                    <span class="font-medium">Query Size Limit, gb: </span>
                    <span class="text-green-700">
                      {{ connection.bigqueryQuerySizeLimitGb }}
                    </span>
                  </div>
                </div>

                <div class="flex-col" *ngIf="connection.account">
                  <div>
                    <span class="font-medium">Account: </span>
                    <span class="text-green-700">
                      {{ connection.account }}
                    </span>
                  </div>
                  <div>
                    <span class="font-medium">Warehouse: </span>
                    <span class="text-green-700">
                      {{ connection.warehouse }}
                    </span>
                  </div>
                </div>
              </td>

              <td class="w-32">
                <div
                  class="w-fit"
                  tippy="Admin role required"
                  [isEnabled]="isAdmin === false"
                >
                  <button
                    data-cy="projectConnectionsEditButton"
                    (click)="editConnection(connection, i)"
                    class="rounded border py-2 px-3 text-base font-medium leading-3 shadow-sm focus:outline-none"
                    [ngClass]="{
                      'cursor-default text-gray-400': isAdmin === false,
                      'border-gray3 text-gray1': isAdmin === true
                    }"
                    [disabled]="isAdmin === false"
                    >Edit</button
                  >
                </div>
              </td>

              <td class="w-32">
                <div
                  class="ml-3 w-fit"
                  tippy="Admin role required"
                  [isEnabled]="isAdmin === false"
                >
                  <button
                    data-cy="projectConnectionsDeleteButton"
                    class="h-9 w-9 rounded focus:outline-none"
                    [ngClass]="{
                      'cursor-default text-gray-400': isAdmin === false,
                      'hover:bg-blue2': isAdmin !== false
                    }"
                    [disabled]="isAdmin === false"
                    (click)="deleteConnection(connection)"
                  >
                    <div class="flex justify-center">
                      <m-delete-icon></m-delete-icon>
                    </div>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="flex h-full w-full select-none items-center justify-center text-xl text-gray1"
        *ngIf="connections?.length === 0"
        >No connections</div
      >
    </div>

    <pagination-controls
      *ngIf="connections?.length > 0"
      class="mt-3 flex justify-center"
      (pageChange)="getConnections($event)"
      id="connections"
    ></pagination-controls>
  </div>
</div>

<div *ngIf="projectId$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
<div *ngIf="connections$ | async"></div>
<div *ngIf="total$ | async"></div>
