<div class="bg-blue1 flex flex-col h-full">
  <div class="flex flex-grow flex-col mx-6 mb-6 mt-8 h-2">
    <div class="flex flex-row items-center justify-between h-11">
      <div
        data-cy="projectConnectionsTitle"
        class="flex font-semibold text-2xl text-gray1"
        >{{ pageTitle }}
      </div>

      <button
        data-cy="projectConnectionsAddConnectionButton"
        class="py-2 px-5 text-base text-white rounded font-medium focus:outline-none"
        type="submit"
        [ngClass]="{
          'bg-blue3': isAdmin === true,
          'bg-gray-400 cursor-default': isAdmin === false
        }"
        (click)="addConnection()"
        [disabled]="isAdmin === false"
        >Add Connection</button
      >
    </div>

    <div class="flex-grow bg-white mt-6 mb-4 rounded shadow-lg overflow-auto">
      <div class="mx-5 mt-8 text-gray1">
        <table class="min-w-full divide-y divide-gray-500">
          <thead>
            <tr class="text-sm h-12">
              <th class="text-left">Name</th>
              <th class="text-left">Type</th>
              <th class="text-left">Host</th>
              <th class="text-left">Port</th>
              <th class="text-left">Database</th>
              <th class="text-left">User</th>
              <th class="text-left">Extra</th>
              <th class="text-left"></th>
              <th class="text-left"></th>
              <th></th>
            </tr>
          </thead>

          <tbody class="text-base divide-y divide-gray-300">
            <tr
              *ngFor="
                let connection of connections
                  | paginate
                    : {
                        id: 'connections',
                        itemsPerPage: perPage,
                        currentPage: currentPage,
                        totalItems: total
                      };
                let i = index
              "
              class="h-16"
            >
              <td class="w-48">{{ connection.connectionId }}</td>

              <td class="w-48">{{ connection.type }} </td>

              <td data-cy="projectConnectionsHost" class="w-48"
                >{{ connection.postgresHost }}
              </td>

              <td class="w-48">{{ connection.postgresPort }} </td>

              <td class="w-48">{{ connection.postgresDatabase }} </td>

              <td class="w-48">{{ connection.postgresUser }} </td>

              <td>
                <div class="flex-col" *ngIf="connection.bigqueryProject">
                  <div>
                    <span class="font-medium">Project: </span>
                    <span class="text-green-700">
                      {{ connection.bigqueryProject }}
                    </span>
                  </div>
                  <div>
                    <span class="font-medium">Client Email: </span>
                    <span class="text-green-700">
                      {{ connection.bigqueryClientEmail }}
                    </span>
                  </div>
                  <div>
                    <span class="font-medium">Query Size Limit, gb: </span>
                    <span class="text-green-700">
                      {{ connection.bigqueryQuerySizeLimitGb }}
                    </span>
                  </div>
                </div>
              </td>

              <td class="w-32">
                <button
                  data-cy="projectConnectionsEditButton"
                  (click)="editConnection(connection, i)"
                  class="ml-5 py-2 px-3 text-base border rounded shadow-sm leading-3 font-medium focus:outline-none"
                  [ngClass]="{
                    'cursor-default text-gray-400': isAdmin === false,
                    'text-gray1 border-gray3': isAdmin === true
                  }"
                  [disabled]="isAdmin === false"
                  >Edit</button
                ></td
              >

              <td class="w-32">
                <button
                  data-cy="projectConnectionsDeleteButton"
                  class="ml-3 h-9 w-9 rounded focus:outline-none"
                  [ngClass]="{
                    'cursor-default text-gray-400': isAdmin === false,
                    'hover:bg-blue2': isAdmin !== false
                  }"
                  [disabled]="isAdmin === false"
                  (click)="deleteConnection(connection)"
                >
                  <div class="flex justify-center">
                    <m-delete-icon></m-delete-icon>
                  </div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <pagination-controls
      class="flex justify-center mt-3"
      (pageChange)="getConnections($event)"
      id="connections"
    ></pagination-controls>
  </div>
</div>

<div *ngIf="projectId$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
<div *ngIf="connections$ | async"></div>
<div *ngIf="total$ | async"></div>
