<mat-form-field>
  <mat-select
    placeholder="previousValueField"
    data-cy="chartPreviousValueField"
    class="mp-chart-editor-field-full-width"
    [(ngModel)]="chart.previous_value_field"
    (selectionChange)="previousValueFieldChange($event)"
  >
    <mat-option
      *ngFor="let field of selectFields"
      data-cy="chartPreviousValueFieldOption"
      [value]="field.id"
    >
      <span>{{ field.top_label + ' ' | capitalize }}</span>
      <span *ngIf="field.group_label">{{
        field.group_label + ' ' | capitalize
      }}</span>
      <span>{{ field.label | capitalize }}</span>
    </mat-option>

    <mat-option [value]="null">Undefined</mat-option>
  </mat-select>
</mat-form-field>
