<div class="flex h-full flex-col">
  <div class="flex h-20 flex-row items-center justify-between px-5">
    <div class="flex min-w-[2px] flex-row items-center space-x-5">
      <div class="text-gray1 min-w-[2px] flex-grow truncate text-lg">{{
        file?.name
      }}</div>

      <button
        class="flex flex-shrink-0 flex-row items-center text-blue-500 focus:outline-none"
        (click)="goTo()"
        *ngIf="
          ((file?.name | extension) === 'model' &&
            member?.isExplorer === true) ||
          (file?.name | extension) === 'vis' ||
          (file?.name | extension) === 'dashboard'
        "
      >
        <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>
        <div class="ml-2 text-lg">
          {{ file?.name | extension | capitalize }}</div
        >
      </button>
    </div>

    <div *ngIf="nav?.isRepoProd === false" class="flex flex-shrink-0 space-x-3">
      <ng-template #templateSave>
        <div *ngIf="needSave === false">No changes to Save</div>
      </ng-template>

      <div [tippy]="templateSave" [isEnabled]="needSave === false">
        <button
          type="button"
          data-cy="fileEditorSaveButton"
          class="rounded py-2 px-5 text-base font-medium text-white focus:outline-none"
          [ngClass]="{
            'cursor-default bg-gray-400': !needSave,
            'bg-blue3': needSave
          }"
          (click)="save()"
          [disabled]="!needSave"
          >Save and Validate</button
        >
      </div>

      <button
        type="button"
        data-cy="fileEditorCancelButton"
        class="rounded border py-2 px-5 text-base font-medium focus:outline-none"
        [ngClass]="{
          ' cursor-default border-gray-400 text-gray-400': !needSave,
          'border-blue3 text-blue3 ': needSave
        }"
        (click)="cancel()"
        [disabled]="!needSave"
        >Cancel</button
      >
    </div>
  </div>

  <div class="h-full rounded bg-[#1E1E1E]">
    <!-- <div class="bg-green-300 h-full">3</div> -->

    <ngx-monaco-editor
      style="height: 100%"
      class="my-code-editor"
      data-cy="fileEditorMonacoEditor"
      [options]="editorOptions"
      [(ngModel)]="content"
      (ngModelChange)="onTextChanged()"
      (onInit)="onEditorInit($event)"
    ></ngx-monaco-editor>
  </div>
</div>

<div *ngIf="needSave$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="routeLine$ | async"></div>
<div *ngIf="fileId$ | async"></div>
<div *ngIf="member$ | async"></div>
