<div class="flex h-full w-full flex-col">
  <div class="mb-6 mt-6 flex h-11 w-full flex-shrink-0 flex-row items-center">
    <div
      class="text-s1 ml-[36px] min-w-[2px] max-w-max flex-grow truncate text-lg"
      >{{ file?.name }}</div
    >

    <div
      tp="Selected file has error"
      [tpIsEnabled]="isSelectedFileValid === false"
    >
      <button
        class="ml-5 flex flex-shrink-0 flex-row items-center focus:outline-none"
        [ngClass]="{
          'text-s400': isSelectedFileValid === false,
          'text-m600 ': isSelectedFileValid === true
        }"
        *ngIf="
          showGoTo === true &&
          ((file?.name | goFromFileExt) === 'chart' ||
            (file?.name | goFromFileExt) === 'dashboard' ||
            (member?.isExplorer === true &&
              ((file?.name | goFromFileExt) === 'view' ||
                (file?.name | goFromFileExt) === 'store')) ||
            (member?.isExplorer === true &&
              (file?.name | goFromFileExt) === 'model') ||
            (file?.name | goFromFileExt) === 'report')
        "
        (click)="goTo()"
        [disabled]="isSelectedFileValid === false"
      >
        <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>

        <div class="ml-2 text-lg">
          {{ file?.name | goFromFileExt | capitalize }}</div
        >
      </button>
    </div>

    <div class="flex flex-1"></div>

    <ng-template #templateSave>
      <div *ngIf="needSave === false">No changes to Save</div>
    </ng-template>

    <div
      class="ml-5 flex flex-shrink-0"
      *ngIf="nav?.isRepoProd === false"
      [tp]="templateSave"
      [tpIsEnabled]="needSave === false"
    >
      <button
        type="button"
        data-cy="fileEditorSaveButton"
        class="text-m0 h-11 rounded px-5 py-2 text-base font-medium focus:outline-none"
        [ngClass]="{
          'bg-s400 cursor-default': !needSave,
          'bg-m600': needSave
        }"
        (click)="save()"
        [disabled]="!needSave"
        >Save and Validate</button
      >
    </div>

    <ng-template #templateCancel>
      <div *ngIf="needSave === false">No changes to cancel</div>
    </ng-template>

    <div
      class="ml-3 mr-6 flex flex-shrink-0"
      *ngIf="nav?.isRepoProd === false"
      [tp]="templateCancel"
      [tpIsEnabled]="needSave === false"
    >
      <button
        class=""
        *ngIf="nav?.isRepoProd === false"
        type="button"
        data-cy="fileEditorCancelButton"
        class="flex h-11 flex-shrink-0 rounded border px-5 py-2 text-base font-medium focus:outline-none"
        [ngClass]="{
          ' border-s400 text-s400 cursor-default': !needSave,
          'border-m600 text-m600 ': needSave
        }"
        (click)="cancel()"
        [disabled]="!needSave"
        >Cancel</button
      >
    </div>
  </div>

  <div class="divide-s300 ml-6 mr-6 flex flex-col divide-y">
    <div class="flex flex-row"></div>
    <div class="flex flex-row"></div>
  </div>

  <div class="h-full overflow-y-auto rounded">
    <code-editor
      *ngIf="panel === panelTree"
      style="height: 100%"
      [(ngModel)]="content"
      [readonly]="nav?.isRepoProd === true || file?.isExist === false"
      [language]="lang"
      [languages]="languages"
      [theme]="theme"
      (ngModelChange)="onTextChanged({ isDiffEditor: false })"
    ></code-editor>

    <!-- <ng-monaco-editor
      *ngIf="panel === panelTree"
      data-cy="fileEditorMonacoEditor"
      [options]="editorOptions"
      [(ngModel)]="content"
      (editorChange)="onEditorChange($event)"
      (ngModelChange)="onTextChanged()"
    ></ng-monaco-editor> -->

    <diff-editor
      *ngIf="panel !== panelTree"
      style="height: 100%"
      [(ngModel)]="diffContent"
      [originalExtensions]="originalExtensions"
      [modifiedExtensions]="modifiedExtensions"
      [disabled]="nav?.isRepoProd === true || file?.isExist === false"
      (modifiedValueChange)="onTextChanged({ isDiffEditor: true })"
    ></diff-editor>

    <!-- <ng-monaco-diff-editor
      *ngIf="panel !== panelTree"
      data-cy="fileEditorMonacoDiffEditor"
      [options]="diffEditorOptions"
      [originalValue]="originalContent"
      [(ngModel)]="content"
      (editorChange)="onEditorChange($event)"
      (ngModelChange)="onTextChanged()"
    ></ng-monaco-diff-editor> -->
  </div>
</div>

<div *ngIf="panel$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="routeLine$ | async"></div>
<div *ngIf="fileId$ | async"></div>
<div *ngIf="member$ | async"></div>
