<div class="flex h-full flex-col">
  <div
    class="flex h-20 flex-shrink-0 flex-row items-center justify-between px-5"
  >
    <div class="flex min-w-[2px] flex-row items-center space-x-5">
      <div class="text-s1 min-w-[2px] flex-grow truncate text-lg">{{
        file?.name
      }}</div>

      <button
        class="text-m600 flex flex-shrink-0 flex-row items-center focus:outline-none"
        (click)="goTo()"
        *ngIf="
          showGoTo === true &&
          ((file?.name | goFromFileExt) === 'chart' ||
            (file?.name | goFromFileExt) === 'dashboard' ||
            (member?.isExplorer === true &&
              ((file?.name | goFromFileExt) === 'view' ||
                (file?.name | goFromFileExt) === 'store')) ||
            (member?.isExplorer === true &&
              (file?.name | goFromFileExt) === 'model') ||
            (file?.name | goFromFileExt) === 'report')
        "
      >
        <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>

        <div class="ml-2 text-lg">
          {{ file?.name | goFromFileExt | capitalize }}</div
        >
      </button>
    </div>

    <div *ngIf="nav?.isRepoProd === false" class="flex flex-shrink-0 space-x-3">
      <ng-template #templateSave>
        <div *ngIf="needSave === false">No changes to Save</div>
      </ng-template>

      <div [tp]="templateSave" [tpIsEnabled]="needSave === false">
        <button
          type="button"
          data-cy="fileEditorSaveButton"
          class="rounded px-5 py-2 text-base font-medium text-white focus:outline-none"
          [ngClass]="{
            'bg-s400 cursor-default': !needSave,
            'bg-m600': needSave
          }"
          (click)="save()"
          [disabled]="!needSave"
          >Save and Validate</button
        >
      </div>

      <button
        type="button"
        data-cy="fileEditorCancelButton"
        class="rounded border px-5 py-2 text-base font-medium focus:outline-none"
        [ngClass]="{
          ' border-s400 text-s400 cursor-default': !needSave,
          'border-m600 text-m600 ': needSave
        }"
        (click)="cancel()"
        [disabled]="!needSave"
        >Cancel</button
      >
    </div>
  </div>

  <div class="h-full rounded">
    <ng-monaco-editor
      *ngIf="panel === panelTree"
      data-cy="fileEditorMonacoEditor"
      [options]="editorOptions"
      [(ngModel)]="content"
      (editorChange)="onEditorChange($event)"
      (ngModelChange)="onTextChanged()"
    ></ng-monaco-editor>

    <ng-monaco-diff-editor
      *ngIf="panel !== panelTree"
      data-cy="fileEditorMonacoDiffEditor"
      [options]="diffEditorOptions"
      [originalValue]="originalContent"
      [(ngModel)]="content"
      (editorChange)="onEditorChange($event)"
      (ngModelChange)="onTextChanged()"
    ></ng-monaco-diff-editor>
  </div>
</div>

<div *ngIf="panel$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="routeLine$ | async"></div>
<div *ngIf="fileId$ | async"></div>
<div *ngIf="member$ | async"></div>
