<div class="flex w-full flex-col">
  <div class="flex flex-grow flex-col overflow-y-auto">
    <!-- <div
      *ngIf="nodesExtra?.length === 0"
      class="text-s1 flex h-full w-full select-none items-center justify-center text-xl"
      >Select Model</div
    > -->

    <tree-root
      *ngIf="nodesExtra?.length > 0"
      class="mt-3 h-2 w-full"
      #itemsTree
      [nodes]="nodesExtra"
      [options]="treeOptions"
      (initialized)="treeOnInitialized()"
      (updateData)="treeOnUpdateData()"
    >
      <ng-template #treeNodeTemplate let-node="node" let-index="index">
        <div
          class="group-bar flex h-11 w-full flex-row"
          [ngClass]="{
            'pl-6 pr-5':
              node.data.nodeClass === nodeClassDimension ||
              node.data.nodeClass === nodeClassMeasure ||
              node.data.nodeClass === nodeClassCalculation ||
              node.data.nodeClass === nodeClassFilter
          }"
          tp="A required field cannot be deselected"
          [tpIsEnabled]="
            node.data.required === true &&
            node.data.isSelected === true &&
            [
              nodeClassDimension,
              nodeClassMeasure,
              nodeClassCalculation
            ].indexOf(node.data.nodeClass) > -1
          "
        >
          <div
            data-cy="modelTreeItem"
            class="flex w-full select-none flex-row pr-5"
            [ngClass]="{
              'pl-6': !node.data.isField,
              'cursor-pointer':
                node.data.nodeClass !== nodeClassInfo &&
                node.data.nodeClass !== nodeClassFilter &&
                (node.data.required === false ||
                  node.data.isSelected === false ||
                  [
                    nodeClassDimension,
                    nodeClassMeasure,
                    nodeClassCalculation
                  ].indexOf(node.data.nodeClass) < 0),
              'bg-m0':
                node.data.nodeClass === nodeClassMeasure ||
                node.data.nodeClass === nodeClassCalculation ||
                node.data.nodeClass === nodeClassDimension ||
                node.data.nodeClass === nodeClassFilter,
              'hover:bg-m50':
                (node.data.nodeClass === nodeClassMeasure ||
                  node.data.nodeClass === nodeClassCalculation ||
                  node.data.nodeClass === nodeClassDimension ||
                  node.data.nodeClass === nodeClassFilter) &&
                (node.data.isSelected === false || node.data.required === false)
            }"
            (click)="nodeOnClick(node)"
          >
            <div class="relative flex w-full flex-row items-center">
              <div class="flex min-w-[2px] flex-row items-center">
                <div
                  *ngIf="
                    !node.data.isField && node.data.nodeClass !== nodeClassInfo
                  "
                  class="flex flex-row items-center space-x-1"
                >
                  <div
                    class="flex items-center"
                    [ngClass]="{
                      'ml-3':
                        node.data.nodeClass === nodeClassDimension &&
                        node.data.isField === false
                    }"
                  >
                    <m-chevron-right-icon
                      *ngIf="!node.isExpanded && node.hasChildren"
                    ></m-chevron-right-icon>

                    <m-chevron-down-icon
                      *ngIf="node.isExpanded && node.hasChildren"
                    ></m-chevron-down-icon>
                  </div>
                </div>

                <div
                  *ngIf="node.data.isField === true"
                  class="mr-3 flex h-2 items-center"
                  [ngClass]="{
                    'ml-[10px]':
                      !node.hasChildren &&
                      node.parent?.data.nodeClass !== nodeClassDimension,
                    'ml-[44px]':
                      node.parent?.data.nodeClass === nodeClassDimension
                  }"
                >
                  <div
                    *ngIf="
                      node.data.isSelected === true &&
                      node.data.nodeClass !== nodeClassFilter
                    "
                    data-cy="modelTreeSelectedSymbol"
                    class="h-[10px] w-[10px] rounded-full focus:outline-none"
                    [ngClass]="{
                      'bg-m600':
                        node.data.nodeClass === nodeClassMeasure ||
                        node.data.nodeClass === nodeClassCalculation ||
                        node.data.nodeClass === nodeClassDimension
                    }"
                  ></div>

                  <div
                    *ngIf="
                      node.data.isSelected === false ||
                      node.data.nodeClass === nodeClassFilter
                    "
                    class="h-[10px] w-[10px]"
                  ></div>
                </div>

                <div
                  *ngIf="node.data.isField === true"
                  class="ml-1 flex h-6 w-6 flex-shrink-0 items-center justify-center"
                  [ngClass]="{
                    'text-g1':
                      node.data.nodeClass === nodeClassMeasure ||
                      node.data.nodeClass === nodeClassCalculation,
                    'text-m600': node.data.nodeClass === nodeClassDimension,
                    'text-s500': node.data.nodeClass === nodeClassFilter
                  }"
                  tp="{{
                    node.data.fieldResult === fieldResultDayOfWeek ||
                    node.data.fieldResult === fieldResultDayOfWeekIndex ||
                    node.data.fieldResult === fieldResultMonthName ||
                    node.data.fieldResult === fieldResultQuarterOfYear
                      ? 'Enum: ' + node.data.fieldResult
                      : node.data.fieldResult !== fieldResultNumber &&
                        node.data.fieldResult !== fieldResultString &&
                        node.data.fieldResult !== fieldResultYesno &&
                        node.data.fieldResult !== fieldResultTs &&
                        node.data.fieldResult !== fieldResultDayOfWeek &&
                        node.data.fieldResult !== fieldResultDayOfWeekIndex &&
                        node.data.fieldResult !== fieldResultMonthName &&
                        node.data.fieldResult !== fieldResultQuarterOfYear
                      ? 'Custom: ' + node.data.fieldResult
                      : node.data.fieldResult
                  }}"
                >
                  <m-type-number-icon
                    *ngIf="node.data.fieldResult === fieldResultNumber"
                  ></m-type-number-icon>

                  <m-type-string-icon
                    *ngIf="node.data.fieldResult === fieldResultString"
                  ></m-type-string-icon>

                  <m-type-on-off-icon
                    *ngIf="node.data.fieldResult === fieldResultYesno"
                  ></m-type-on-off-icon>

                  <m-type-date-icon
                    *ngIf="node.data.fieldResult === fieldResultTs"
                  ></m-type-date-icon>

                  <m-type-enum-icon
                    *ngIf="
                      node.data.fieldResult === fieldResultDayOfWeek ||
                      node.data.fieldResult === fieldResultDayOfWeekIndex ||
                      node.data.fieldResult === fieldResultMonthName ||
                      node.data.fieldResult === fieldResultQuarterOfYear
                    "
                  ></m-type-enum-icon>

                  <m-type-unk-icon
                    *ngIf="
                      node.data.fieldResult !== fieldResultNumber &&
                      node.data.fieldResult !== fieldResultString &&
                      node.data.fieldResult !== fieldResultYesno &&
                      node.data.fieldResult !== fieldResultTs &&
                      node.data.fieldResult !== fieldResultDayOfWeek &&
                      node.data.fieldResult !== fieldResultDayOfWeekIndex &&
                      node.data.fieldResult !== fieldResultMonthName &&
                      node.data.fieldResult !== fieldResultQuarterOfYear
                    "
                  ></m-type-unk-icon>
                </div>

                <div
                  class="text-s1 flex-grow truncate"
                  [ngClass]="{
                    'ml-3': node.data.isField === true
                  }"
                >
                  <span
                    class="truncate"
                    *ngIf="node.data.nodeClass === nodeClassInfo"
                    class="text-s500 font-semibold"
                  >
                    {{ node.data.label | uppercase }}
                  </span>

                  <span
                    class="truncate text-base"
                    *ngIf="node.data.nodeClass !== nodeClassInfo"
                    [ngClass]="{
                      'ml-3':
                        (node.hasChildren &&
                          node.data.nodeClass !== nodeClassDimension &&
                          (modelTreeLevels === modelTreeLevelsFlatTime ||
                            modelTreeLevels === modelTreeLevelsFlat)) ||
                        (node.hasChildren &&
                          node.data.nodeClass === nodeClassDimension)
                    }"
                  >
                    {{ node.data.joinLabel | capitalize }}
                  </span>

                  <span
                    class="truncate text-base font-semibold"
                    *ngIf="node.data.nodeClass !== nodeClassInfo"
                  >
                    {{ node.data.timeLabel | capitalize }}
                  </span>

                  <span
                    class="truncate text-base font-semibold"
                    *ngIf="node.data.nodeClass !== nodeClassInfo"
                    [ngClass]="{
                      'font-semibold':
                        node.data.children.length === 0 ||
                        node.data.nodeClass === nodeClassDimension,
                      'ml-3':
                        node.hasChildren &&
                        node.data.nodeClass !== nodeClassDimension,
                      'ml-2':
                        node.hasChildren &&
                        node.data.nodeClass === nodeClassDimension &&
                        modelTreeLevels !== modelTreeLevelsFlat &&
                        modelTreeLevels !== modelTreeLevelsNested
                    }"
                  >
                    {{ node.data.label | capitalize }}
                  </span>
                </div>
              </div>

              <div class="flex flex-grow"></div>

              <div
                class="ml-3 flex flex-row items-center"
                tp="A required filter cannot be removed"
                [tpIsEnabled]="
                  node.data.required === true &&
                  node.data.isFiltered === true &&
                  node.data.nodeClass === nodeClassFilter
                "
              >
                <button
                  *ngIf="node.data.isField === true"
                  type="button"
                  data-cy="filesTreeFilterButton"
                  class="group invisible flex h-10 flex-shrink-0 items-center justify-center rounded focus:outline-none [.group-bar:hover_&]:visible"
                  [ngClass]="{
                    'text-m600': node.data.isFiltered === true,
                    'text-s1': node.data.isFiltered === false
                  }"
                  [disabled]="
                    node.data.required === true &&
                    node.data.isFiltered === true &&
                    node.data.nodeClass === nodeClassFilter
                  "
                  (click)="filterField(node, $event)"
                >
                  <div
                    class="flex h-8 w-9 flex-shrink-0 flex-row items-center justify-center rounded"
                    [ngClass]="{
                      'group-hover:bg-m200':
                        node.data.required === false ||
                        node.data.isFiltered === false ||
                        node.data.nodeClass !== nodeClassFilter
                    }"
                  >
                    <m-filter-icon
                      [ngClass]="{
                        visible: node.data.isFiltered === true
                      }"
                    ></m-filter-icon>
                  </div>
                </button>
              </div>

              <div
                *ngIf="node.data.isField === true"
                class="invisible ml-3 flex [.group-bar:hover_&]:visible"
              >
                <m-field-options [node]="node"></m-field-options>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </tree-root>
  </div>
</div>

<div *ngIf="chart$ | async"></div>
<div *ngIf="nodesExtra$ | async"></div>
