@import '../node_modules/@angular/material/theming';
@import './custom-palettes/sub-primary';
@import './custom-palettes/success';

// Creates a container object for a light theme to be given to individual component theme mixins.
@function custom-mat-light-theme($primary, $accent, $warn: mat-palette($mat-red), $sub-primary: mat-palette($sub-primary), $success: mat-palette($success)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    sub-primary: $sub-primary,
    success: $success,
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
  );
}


// Creates a container object for a dark theme to be given to individual component theme mixins.
@function custom-mat-dark-theme($primary, $accent, $warn: mat-palette($mat-red), $sub-primary: mat-palette($sub-primary), $success: mat-palette($success)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    sub-primary: $sub-primary,
    success: $success,
    is-dark: true,
    foreground: $mat-dark-theme-foreground,
    background: $mat-dark-theme-background,
  );
}
