<div class="h-screen flex flex-col">
  <div class="relative flex items-center justify-between h-14 px-6 shadow">
    <m-logo></m-logo>

    <div>
      <m-branch-select></m-branch-select>
    </div>

    <div class="flex flex-row items-center">
      <button
        class="block px-4 py-2 text-gray1 font-medium text-sm w-full text-left focus:outline-none"
        [ngClass]="{
          'text-gray-400': !nav || !nav.projectId
        }"
        (click)="navigateBlockml()"
        [disabled]="!nav || !nav.projectId"
        >BlockML</button
      >
    </div>

    <div class="flex flex-row items-center">
      <m-org-select></m-org-select>
      <m-org-menu></m-org-menu>
      <m-project-select></m-project-select>
      <m-project-menu></m-project-menu>
      <m-user-menu></m-user-menu>
    </div>
  </div>
  <div class="flex-grow overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
