<div class="h-screen flex flex-col">
  <div
    class="relative flex items-center justify-between h-14 px-6 shadow flex-shrink-0"
  >
    <m-logo></m-logo>

    <div>
      <m-branch-select></m-branch-select>
    </div>

    <div class="flex flex-row items-center">
      <button
        class="block px-5 text-gray1 w-full text-left text-base focus:outline-none"
        [ngClass]="{
          'text-gray-400': !nav || !nav.projectId
        }"
        (click)="navigateBlockml()"
        [disabled]="!nav || !nav.projectId"
        >BlockML</button
      >
      <button
        class="block px-5 text-gray1 w-full text-left text-base focus:outline-none"
        [ngClass]="{
          'text-gray-400': !nav || !nav.projectId
        }"
        (click)="navigateVisualizations()"
        [disabled]="!nav || !nav.projectId"
        >Visualizations</button
      >
      <m-models-menu></m-models-menu>
    </div>

    <div class="flex flex-row items-center">
      <m-org-select></m-org-select>
      <m-org-menu></m-org-menu>
      <div class="ml-5">
        <m-project-select></m-project-select>
      </div>
      <m-project-menu></m-project-menu>
      <m-user-menu></m-user-menu>
    </div>
  </div>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
