<mat-toolbar class="space__sub-toolbar space_border_bottom fixed-toolbar">
  {{selectedProjectId$ | async}} Dev Repo Remote Settings
</mat-toolbar>

<div class="remote__content">
  <h6>Changes in Mprove server's local dev repo will be pushed to Remote after each Commit or Revert in web UI</h6>

  <h6>Changes in remote repo will be pulled to Mprove server's local dev repo after each webhook message</h6>


  <section class="section">
    <h4>Add this SSH Deploy Key (with "Write" permissions) to your remote repo</h4>

    <div class="mp-overflow-auto remote__public-key_width">
      <p>{{remotePublicKey$ | async}}</p>
    </div>

    <br>

    <button mat-raised-button
            color="primary"
            (click)="regenerateRemotePublicKey()">Regenerate Deploy Key
    </button>

    <button mat-raised-button
            color="accent"
            ngxClipboard
            [cbContent]="remotePublicKey$ | async">Copy to clipboard
    </button>
  </section>

  <section class="section">
    <h4>Add this Webhook (only for "Push" events) to your remote repo</h4>

    <p class="word-break">{{remoteWebhook$ | async}}</p>

    <br>

    <button mat-raised-button
            color="primary"
            (click)="regenerateRemoteWebhook()">Regenerate Webhook
    </button>

    <button mat-raised-button
            color="accent"
            ngxClipboard
            [cbContent]="remoteWebhook$ | async">Copy to clipboard
    </button>
  </section>

  <section class="section">
    <h4>Provide SSH URL of your remote repo</h4>
    <p>{{remoteUrl$ | async}}</p>
    <br>
    <button mat-raised-button
            color="primary"
            (click)="openUpdateRemoteUrlDialog()">Update URL
    </button>
  </section>


    <div *ngIf="remoteUrl$ | async">
      <h4>Pull Access status</h4>
      <p>Checked {{lastPullTimeAgo$ | async}}</p>

      <div *ngIf="remotePullAccessIsOk$ | async">
        <mat-icon>check</mat-icon>
        <p>Ok</p>
      </div>

      <div *ngIf="!(remotePullAccessIsOk$ | async)">
        <mat-icon color="warn">error</mat-icon>
        <p>Error</p>
        <p>{{remotePullErrorMessage$ | async}}</p>
      </div>
 


    <h4>Push Access status</h4>
    <p>Checked {{lastPushTimeAgo$ | async}}</p>

    <div *ngIf="remotePushAccessIsOk$ | async">
      <mat-icon>check</mat-icon>
      <p>Ok</p>
    </div>

    <div *ngIf="!(remotePushAccessIsOk$ | async)">
      <mat-icon color="warn">error</mat-icon>
      <p>Error</p>
      <p>{{remotePushErrorMessage$ | async}}</p>
    </div>
    
    </div>


  <div *ngIf="remoteLastPullTs$ | async"></div>
  <div *ngIf="remoteLastPushTs$ | async"></div>
</div>
<!-- remote__content -->