<button
  data-cy="chartOptionsMenuButton"
  class="flex relative z-9 h-9 w-9 rounded focus:outline-none items-center justify-center"
  [ngClass]="{
    'hover:bg-blue-200':
      (!openedMenuId || menuId === openedMenuId) && isDisabled === false,
    'cursor-default text-gray-400':
      (openedMenuId && menuId !== openedMenuId) || isDisabled === true
  }"
  (click)="toggleMenu($event)"
  [disabled]="(openedMenuId && menuId !== openedMenuId) || isDisabled === true"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<button
  class="fixed inset-0 z-9 w-full h-full cursor-default focus:outline-none"
  *ngIf="isChartOptionsMenuOpen === true"
  (click)="closeMenu($event)"
></button>

<div
  class="absolute right-0 mt-1 w-64 z-9 bg-white rounded-md shadow-xl border-2 border-gray4"
  *ngIf="isChartOptionsMenuOpen === true"
>
  <button
    data-cy="chartOptionsViewBlockML"
    class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
    (click)="viewBlockML($event)"
    >View BlockML</button
  >
</div>

<div *ngIf="openedMenuId$ | async"></div>
