<button
  data-cy="chartOptionsMenuButton"
  class="flex h-9 w-9 rounded focus:outline-none items-center justify-center hover:bg-blue-200"
  #t1="tippy"
  [tippy]="templateChartOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateChartOptions>
  <div class="w-64 bg-white rounded-md shadow-xl border-2 border-gray4">
    <button
      data-cy="chartOptionsViewBlockML"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': isDisabled === true
      }"
      (click)="t1.hide(); viewBlockML($event)"
      [disabled]="isDisabled === true"
      >View BlockML</button
    >
  </div>
</ng-template>
