:host {
  height: 100%;
  width: 100%;

  .visual {
    &__empty-chart {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__chart-icon {
     
      margin: 0 auto;
      font-size: 11rem;
      text-align: center;
    }

    &__empty-label {
      font-size: 20px;
      text-align: center;
      padding-top: 5px;
    }
    // &__not-valid {
    //   color: #f44336;
    // }

    /deep/ {
      th[td-data-table-column] .td-data-table-heading {
        padding-left: 0;
        height: 48px;
        line-height: 48px;
      }

      td[td-data-table-cell] .td-data-table-cell-content-wrapper {
        padding-left: 0;
      }

      th[td-data-table-column],
      td[td-data-table-cell] {
        padding-left: 24px;
        padding-right: 24px;
      }

      th[td-data-table-column]:last-child,
      td[td-data-table-cell]:last-child {
        border-right: 0 none;
      }
    }
  }
}
.visual__icon-wrapper {
  text-align: center;
}