<div class="bg-b1 flex justify-center items-center h-full">
  <form
    class="flex flex-col w-96 space-y-6"
    [formGroup]="setPasswordForm"
    (ngSubmit)="setPassword()"
  >
    <div class="mb-3 text-t1 text-2xl text-center font-semibold"
      >Set New Password</div
    >
    <input
      data-cy="updatePasswordNewPasswordInput"
      class="form-input rounded border-r1 focus:border-r2 font-regular"
      type="password"
      formControlName="newPassword"
      placeholder="New Password"
    />
    <input
      data-cy="updatePasswordConfirmPasswordInput"
      class="form-input rounded border-r1 focus:border-r2 font-regular"
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <button
      data-cy="updatePasswordSetPasswordButton"
      class="py-3 bg-b2 text-white rounded font-medium"
      type="submit"
      [disabled]="!setPasswordForm.valid"
      >Set Password</button
    >
  </form>
</div>
