<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="createBranchDialogTitle"
    class="flex-grow mt-5 mb-9 text-2xl text-gray2 font-semibold text-left"
    >Save As</div
  >

  <div
    data-cy="dashboardSaveAsDialogNewDashboardCheckbox"
    class="flex flex-row h-9 items-center cursor-pointer"
    (click)="newDashboardOnClick()"
  >
    <div
      class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded-full focus:outline-none"
      [ngClass]="{
        'bg-blue3 ': saveAs === dashboardSaveAsEnum.NEW_DASHBOARD
      }"
    >
      <m-check-icon
        *ngIf="saveAs === dashboardSaveAsEnum.NEW_DASHBOARD"
      ></m-check-icon>
    </div>

    <div class="ml-5 text-base">New Dashboard</div>
  </div>

  <div
    data-cy="dashboardSaveAsDialogExistingDashboardCheckbox"
    class="flex mt-5 h-9 flex-row items-center cursor-pointer"
    (click)="existingDashboardOnClick()"
  >
    <button
      class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded-full focus:outline-none"
      [ngClass]="{
        'bg-blue3 ': saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD
      }"
    >
      <m-check-icon
        *ngIf="saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD"
      ></m-check-icon>
    </button>

    <div class="flex flex-row items-center">
      <div class="flex ml-5 mr-5 text-base flex-shrink-0"
        >Replace Existing Dashboard</div
      >

      <div
        class="flex w-9 h-2 mx-5 relative flex-shrink-0"
        *ngIf="
          !dashboards &&
          saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD
        "
      >
        <ngx-spinner
          [ngClass]="{
            invisible: saveAs !== dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD
          }"
          class="invisible"
          [name]="spinnerName"
          color="rgba(54, 94, 224, 100)"
          bdColor="rgba(0, 0, 0, 0)"
          size="default"
          type="ball-clip-rotate"
          [fullScreen]="false"
          [disableAnimation]="true"
          [zIndex]="99998"
        >
        </ngx-spinner>
      </div>

      <ng-select
        data-cy="dashboardSaveAsDialogExistingDashboardSelect"
        *ngIf="
          !!dashboards &&
          saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD
        "
        class="custom w-[500px] text-base focus:outline-none flex-shrink-0"
        [items]="dashboards"
        [searchable]="false"
        [clearable]="false"
        (change)="selectedChange()"
        [(ngModel)]="selectedDashboardId"
        appendTo="body"
        bindLabel="title"
        bindValue="dashboardId"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.title || item.dashboardId }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.title || item.dashboardId }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="mt-9 h-7 text-gray-400 text-base">
    <div *ngIf="saveAs === dashboardSaveAsEnum.NEW_DASHBOARD"
      >Users / {{ alias }} / {{ newDashboardId }}.dashboard</div
    >

    <div
      *ngIf="
        saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD &&
        !!selectedDashboardId
      "
      >{{ selectedDashboardPath | capitalize }}</div
    >

    <div
      *ngIf="
        saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD &&
        !selectedDashboardId
      "
    ></div>
  </div>

  <div class="mt-9 flex flex-row items-start">
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Title</div
      >
    </div>

    <div [formGroup]="titleForm" class="flex flex-col ml-5 items-start">
      <input
        spellcheck="false"
        data-cy="dashboardSaveAsDialogTitleInput"
        class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            titleForm.controls['title'].invalid &&
            titleForm.controls['title'].touched
        }"
        formControlName="title"
      />
      <m-validation [control]="titleForm.controls['title']"></m-validation>
    </div>
  </div>

  <!-- <div class="text-base font-semibold mt-5 mb-5">Visualization Info</div> -->

  <!-- <div class="flex flex-row items-start">
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Group</div
      >
    </div>

    <div [formGroup]="groupForm" class="flex flex-col ml-5 items-start">
      <input spellcheck="false" 
        data-cy="dashboardSaveAsDialogGroupInput"
        class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            groupForm.controls['group'].invalid &&
            groupForm.controls['group'].touched
        }"
        formControlName="group"
      />
      <m-validation [control]="groupForm.controls['group']"></m-validation>
    </div>
  </div> -->

  <div class="flex flex-row items-start">
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Access Roles</div
      >
    </div>

    <div [formGroup]="rolesForm" class="flex flex-col ml-5 items-start">
      <input
        spellcheck="false"
        data-cy="dashboardSaveAsDialogRolesInput"
        class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            rolesForm.controls['roles'].invalid &&
            rolesForm.controls['roles'].touched
        }"
        formControlName="roles"
      />
      <m-validation [control]="rolesForm.controls['roles']"></m-validation>
    </div>
  </div>

  <div class="flex flex-row items-start">
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Access Users</div
      >
    </div>

    <div [formGroup]="usersForm" class="flex flex-col ml-5 items-start">
      <input
        spellcheck="false"
        data-cy="dashboardSaveAsDialogUsersInput"
        class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            usersForm.controls['users'].invalid &&
            usersForm.controls['users'].touched
        }"
        formControlName="users"
      />
      <m-validation [control]="usersForm.controls['users']"></m-validation>
    </div>
  </div>

  <div class="mt-9">
    <button
      data-cy="createBranchDialogCreateButton"
      class="py-3 w-28 text-base bg-blue3 text-white rounded font-medium focus:outline-none"
      type="button"
      [ngClass]="{
        'bg-blue3':
          saveAs === dashboardSaveAsEnum.NEW_DASHBOARD || !!selectedDashboardId,
        'bg-gray-400 cursor-default':
          saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD &&
          selectedDashboardId === undefined
      }"
      (click)="save()"
      [disabled]="
        saveAs === dashboardSaveAsEnum.REPLACE_EXISTING_DASHBOARD &&
        selectedDashboardId === undefined
      "
      >Save</button
    >

    <button
      data-cy="createBranchDialogCancelButton"
      class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >
  </div>
</div>

<div *ngIf="alias$ | async"></div>
