<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="mx-6 mt-8 flex h-2 flex-1 flex-row">
    <div class="flex flex-grow flex-col">
      <div class="flex h-11 flex-row items-center">
        <div
          data-cy="dashboardsTitle"
          class="text-gray1 flex items-center self-center text-2xl font-semibold"
          >{{ pageTitle }}
        </div>

        <m-search-icon class="text-gray1 ml-6"></m-search-icon>

        <input
          spellcheck="false"
          data-cy="dashboardsSearchInput"
          class="form-input bg-blue1 focus:border-blue3 ml-3 h-10 w-[400px] rounded border-gray-400"
          placeholder="Search by Title, File Name"
          [ngClass]="{
            'bg-purple-200': !!word
          }"
          [(ngModel)]="word"
          (ngModelChange)="searchWordChange()"
        />

        <div class="h-9 w-9">
          <m-delete-icon
            *ngIf="!!word"
            class="text-gray1 ml-3 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
            [ngClass]="{
              'cursor-pointer bg-purple-200 hover:bg-purple-300': !!word
            }"
            (click)="resetSearch()"
          ></m-delete-icon>
        </div>

        <div class="ml-10 flex flex-row items-center space-x-5">
          <ui-switch
            [checked]="showTiles"
            (change)="toggleShowTiles()"
          ></ui-switch>

          <div class="text-gray1 flex h-9 select-none items-center text-base"
            >Show Tiles</div
          >
        </div>

        <div class="flex flex-row items-center space-x-5">
          <ui-switch
            class="ml-5"
            [checked]="showBricks"
            (change)="toggleShowFilters()"
          ></ui-switch>

          <div class="text-gray1 flex h-9 select-none items-center text-base"
            >Show Filters</div
          >
        </div>

        <div class="flex-grow"></div>

        <div class="text-gray1 flex flex-row items-center text-base">
          <ng-template #templateNewDashboard>
            <div *ngIf="alias === restrictedUserAlias"
              >User is restricted. Sign Up at https://mprove.io to get full
              access.</div
            >

            <div *ngIf="alias !== restrictedUserAlias && isExplorer === false"
              >Explorer role required</div
            >

            <div
              *ngIf="
                alias !== restrictedUserAlias &&
                isExplorer === true &&
                hasAccessModels.length === 0
              "
              >No models available</div
            >
          </ng-template>

          <div
            [tp]="templateNewDashboard"
            [tpIsEnabled]="
              alias === restrictedUserAlias ||
              isExplorer === false ||
              hasAccessModels.length === 0
            "
            class="ml-5 mr-9"
          >
            <button
              type="button"
              data-cy="dashboardsNewButton"
              class="w-24 rounded py-2 text-base font-medium text-white focus:outline-none"
              [ngClass]="{
                'bg-blue3 cursor-pointer':
                  alias !== restrictedUserAlias &&
                  isExplorer === true &&
                  hasAccessModels.length > 0,
                'cursor-default bg-gray-400':
                  alias === restrictedUserAlias ||
                  isExplorer === false ||
                  hasAccessModels.length === 0
              }"
              (click)="newDashboard()"
              [disabled]="
                alias === restrictedUserAlias ||
                isExplorer === false ||
                hasAccessModels.length === 0
              "
            >
              New
            </button>
          </div>
        </div>
      </div>

      <div class="mt-6 flex h-2 flex-1 flex-row">
        <div class="mb-6 flex w-1/6">
          <div class="flex w-full flex-grow rounded bg-white shadow">
            <div
              class="text-gray1 mr-5 mt-6 flex w-full flex-col pl-5 text-base"
            >
              <div class="mb-3 flex text-lg font-semibold">by Model</div>

              <div class="flex h-2 flex-grow flex-col overflow-y-auto pr-5">
                <div
                  class="flex w-full flex-row justify-between rounded px-4 py-2 hover:cursor-pointer"
                  [ngClass]="{
                    'bg-blue-100': !modelId,
                    'hover:bg-blue2': !!modelId
                  }"
                  (click)="allModelsOnClick()"
                >
                  <div class="text-gray1"> All Models </div>
                  <div class="ml-3 flex w-12 justify-end">
                    {{ dashboardsFilteredByWord?.length }}
                  </div>
                </div>

                <div
                  *ngFor="let model of dashboardsModels"
                  class="flex w-full flex-row rounded px-4 py-2 hover:cursor-pointer"
                  [ngClass]="{
                    'bg-blue-100': modelId === model.modelId,
                    'hover:bg-blue2': modelId !== model.modelId
                  }"
                  (click)="modelOnClick(model.modelId)"
                >
                  <div class="text-gray1 truncate">
                    {{ model.label | capitalize }}
                  </div>

                  <div class="flex flex-grow"></div>

                  <div class="ml-3 flex w-12 justify-end">
                    {{ model.totalDashboards }}
                  </div>
                </div>

                <div class="h-12 flex-shrink-0"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-6 ml-6 flex flex-grow rounded bg-white shadow">
          <div
            class="ml-5 mr-5 mt-10 flex w-full flex-col divide-y divide-gray-500"
          >
            <div
              class="text-gray1 mb-3 mr-5 flex flex-row space-x-5 text-base font-semibold"
            >
              <div class="flex w-12"></div>
              <div class="flex w-1/3">Dashboard</div>
              <div class="flex w-1/6">File</div>
              <div class="flex flex-1 flex-row space-x-5">
                <div class="flex flex-1" *ngIf="showTiles === true">Model</div>
                <div class="flex flex-1">Access Roles</div>
                <div class="flex flex-1">Access Users</div>
                <div class="flex flex-1">Author</div>
              </div>
            </div>

            <div
              *ngIf="isShow === true && filteredDashboards?.length > 0"
              class="h-2 flex-1 overflow-y-auto"
            >
              <div
                *ngFor="let item of filteredDashboards; trackBy: trackByFn"
                class="flex flex-row"
                [ngStyle]="
                  item.dashboardId !==
                    filteredDashboards[filteredDashboards.length - 1]
                      .dashboardId && {
                    'border-bottom-width': '1px'
                  }
                "
                [ngClass]="{
                  'border-gray-300':
                    item.dashboardId !==
                    filteredDashboards[filteredDashboards.length - 1]
                      .dashboardId
                }"
              >
                <div class="flex-grow flex-col text-base">
                  <div
                    class="text-gray1 hover:border-blue2 hover:bg-blue2 group mr-5 flex w-full flex-row items-start space-x-5 rounded border border-white bg-white hover:cursor-pointer focus:outline-none"
                    (click)="navigateToDashboard(item.dashboardId)"
                  >
                    <div class="flex w-12 pl-3 pt-1">
                      <button
                        data-cy="dashboardOptionsMenuButton"
                        class="invisible relative flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none group-hover:visible"
                        #t1="tippy"
                        [tp]="templateDashboardOptions"
                        [tpHideOnEscape]="true"
                        tpVariation="menu"
                        className="my-menu"
                        (click)="rowMenuOnClick($event)"
                      >
                        <m-dots-vertical-icon></m-dots-vertical-icon>
                      </button>

                      <ng-template #templateDashboardOptions>
                        <div
                          class="border-gray4 w-64 rounded-md border-2 bg-white shadow-xl"
                        >
                          <button
                            data-cy="dashboardOptionsGoToFile"
                            class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                            (click)="t1.hide(); goToDashboardFile($event, item)"
                            >Go to file</button
                          >

                          <div
                            tp="Dashboard can be deleted by author and project members with ProjectAdmin or FilesEditor role. Try to save dashboard as new to become an author."
                            placement="left"
                            [tpIsEnabled]="
                              item.canEditOrDeleteDashboard === false
                            "
                          >
                            <button
                              data-cy="dashboardOptionsDelete"
                              class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                              [ngClass]="{
                                'cursor-default text-gray-400':
                                  item.canEditOrDeleteDashboard === false
                              }"
                              (click)="t1.hide(); deleteDashboard($event, item)"
                              [disabled]="
                                item.canEditOrDeleteDashboard === false
                              "
                              >Delete</button
                            >
                          </div>
                        </div>
                      </ng-template>
                    </div>

                    <div class="flex w-1/3 truncate py-3">
                      <span class="truncate">
                        {{ item.title || item.dashboardId | capitalize }}
                      </span>
                    </div>

                    <div
                      class="flex w-1/6 items-start truncate py-3 focus:outline-none"
                    >
                      <span class="truncate">
                        {{ item.dashboardId }}
                      </span>
                    </div>

                    <div class="flex flex-1 flex-row space-x-5 text-base">
                      <div class="flex flex-1" *ngIf="showTiles === true">
                      </div>

                      <div
                        class="flex flex-1 flex-wrap truncate py-3 text-base"
                      >
                        <span
                          *ngFor="let role of item.accessRoles"
                          class="mr-2 truncate"
                        >
                          {{ role }}
                        </span>
                      </div>

                      <div
                        class="flex flex-1 flex-wrap truncate py-3 text-base"
                      >
                        <span
                          *ngFor="let user of item.accessUsers"
                          class="mr-2 truncate"
                        >
                          {{ user }}
                        </span>
                      </div>

                      <div
                        class="flex flex-1 items-start truncate py-3 focus:outline-none"
                      >
                        <span>
                          {{ item.author }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="showBricks === true && item?.fields.length > 0"
                    class="flex flex-row"
                  >
                    <div class="flex w-12 cursor-default"></div>

                    <m-bricks
                      class="mb-6 ml-10 mt-3 flex max-h-[150px] max-w-max flex-row items-start justify-start overflow-auto"
                      [extendedFilters]="item.extendedFilters"
                      [isKeepBackgroundColor]="false"
                    ></m-bricks>

                    <div class="flex w-1/6 cursor-default"></div>
                  </div>

                  <div
                    *ngIf="showTiles === true"
                    class="mb-5 mt-3 flex-1 flex-col space-y-3"
                  >
                    <div
                      *ngFor="let tile of item.tiles"
                      class="flex cursor-default flex-row space-x-5 text-base"
                    >
                      <div class="flex w-12"></div>

                      <div
                        (click)="showChart(tile, item.dashboardId)"
                        class="text-gray1 flex w-1/3 flex-row items-center"
                      >
                        <div
                          class="flex cursor-pointer flex-wrap truncate pl-5 hover:text-blue-500"
                        >
                          <span class="truncate">
                            {{ tile.title | capitalize }}
                          </span>
                        </div>

                        <div class="relative mx-5 flex h-2 w-9 flex-shrink-0">
                          <ngx-spinner
                            [name]="tile.mconfigId"
                            color="rgba(54, 94, 224, 100)"
                            bdColor="rgba(0, 0, 0, 0)"
                            size="default"
                            type="ball-clip-rotate"
                            [fullScreen]="false"
                            [disableAnimation]="true"
                            [zIndex]="99998"
                          >
                          </ngx-spinner> </div
                      ></div>

                      <div class="flex w-1/6"></div>

                      <div class="flex flex-1 flex-row space-x-5">
                        <ng-template #templateDashboardsTileModel>
                          <div *ngIf="isExplorer === false"
                            >Explorer role required</div
                          >
                          <div *ngIf="isExplorer === true"
                            >No access to model</div
                          >
                        </ng-template>

                        <div
                          class="flex flex-1 cursor-default flex-row truncate"
                          [tp]="templateDashboardsTileModel"
                          [tpIsEnabled]="tile.hasAccessToModel === false"
                        >
                          <div
                            class="flex items-start truncate pr-10 focus:outline-none"
                          >
                            <span class="truncate">
                              {{ tile.modelLabel | capitalize }}
                            </span>
                          </div>

                          <m-lock-closed-icon
                            class="mb-1 ml-2 text-gray-400"
                            *ngIf="tile.hasAccessToModel === false"
                          ></m-lock-closed-icon>
                        </div>

                        <div class="flex flex-1"></div>
                        <div class="flex flex-1"></div>
                        <div class="flex flex-1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="h-12"></div>
            </div>

            <div
              class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
              *ngIf="filteredDashboards?.length === 0"
              >No dashboards</div
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="dashboards$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="member$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
<div *ngIf="alias$ | async"></div>

<!-- [ngClass]="{
  'h-1/2': screenAspectRatio >= 1.5,
  'h-2/5': screenAspectRatio >= 1.2 && screenAspectRatio < 1.5,
  'h-1/3': screenAspectRatio < 1.2
}" -->
