<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="mx-6 flex h-2 flex-1 flex-row">
    <div class="flex min-w-[2px] flex-grow flex-col">
      <div class="flex h-2 flex-1 flex-row">
        <div class="mb-6 flex w-1/5 flex-shrink-0">
          <div class="flex w-full flex-col">
            <div class="mt-8 flex h-11 flex-row items-center">
              <div
                data-cy="dashboardsTitle"
                class="text-gray1 flex items-center self-center text-2xl font-semibold"
                >{{ pageTitle }}
              </div>

              <m-view-list-icon
                class="ml-10 cursor-pointer"
                [ngClass]="{
                  'text-blue-500': lastUrl === pathDashboardsList
                }"
                (click)="navigateToDashboardsList()"
              ></m-view-list-icon>

              <div
                [tp]="templateNewDashboard"
                [tpIsEnabled]="
                  alias === restrictedUserAlias ||
                  isExplorer === false ||
                  hasAccessModels.length === 0
                "
                class="ml-10"
              >
                <button
                  type="button"
                  data-cy="dashboardsAddDashboardButton"
                  class="h-11 flex-shrink-0 select-none rounded border px-4 py-2 text-base font-medium focus:outline-none"
                  [ngClass]="{
                    'border-gray-400 text-gray-500 hover:bg-white':
                      alias !== restrictedUserAlias &&
                      isExplorer === true &&
                      hasAccessModels.length > 0,
                    'cursor-default border-gray-300 text-gray-400':
                      alias === restrictedUserAlias ||
                      isExplorer === false ||
                      hasAccessModels.length === 0
                  }"
                  (click)="addDashboard()"
                  [disabled]="
                    alias === restrictedUserAlias ||
                    isExplorer === false ||
                    hasAccessModels.length === 0
                  "
                  >New Dashboard</button
                >
              </div>

              <div class="flex-grow"></div>

              <div class="text-gray1 flex flex-row items-center text-base">
                <ng-template #templateNewDashboard>
                  <div *ngIf="alias === restrictedUserAlias"
                    >User is restricted. Sign Up at https://mprove.io to get
                    full access.</div
                  >

                  <div
                    *ngIf="
                      alias !== restrictedUserAlias && isExplorer === false
                    "
                    >Explorer role required</div
                  >

                  <div
                    *ngIf="
                      alias !== restrictedUserAlias &&
                      isExplorer === true &&
                      hasAccessModels.length === 0
                    "
                    >No models available</div
                  >
                </ng-template>
              </div>
            </div>

            <div class="mt-6 flex w-full flex-grow rounded bg-white shadow">
              <div class="text-gray1 mt-6 flex w-full flex-col text-base">
                <div class="flex flex-1 flex-col">
                  <div class="flex h-11 flex-row items-center">
                    <m-search-icon class="text-gray1 ml-6"></m-search-icon>

                    <input
                      spellcheck="false"
                      autocomplete="off"
                      data-cy="dashboardsSearchInput"
                      class="form-input focus:border-blue3 ml-3 h-10 w-[225px] rounded border-gray-400 bg-white"
                      placeholder="Search"
                      [ngClass]="{
                        'bg-purple-200': !!word
                      }"
                      [(ngModel)]="word"
                      (ngModelChange)="searchWordChange()"
                    />

                    <div class="h-9 w-9">
                      <m-delete-icon
                        *ngIf="!!word"
                        class="text-gray1 ml-3 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
                        [ngClass]="{
                          'cursor-pointer bg-purple-200 hover:bg-purple-300':
                            !!word
                        }"
                        (click)="resetSearch()"
                      ></m-delete-icon>
                    </div>

                    <div class="flex flex-grow"></div>

                    <button
                      *ngIf="filteredDraftsLength > 0"
                      class="mr-10 flex flex-row items-center rounded border border-gray-400 px-4 py-2 text-gray-500 hover:bg-gray-100 focus:outline-none"
                      (click)="deleteDrafts()"
                    >
                      <m-trash-icon></m-trash-icon>
                      <div class="ml-3">Drafts</div>
                    </button>
                  </div>

                  <div
                    class="mb-5 mt-5 flex h-2 flex-grow flex-col overflow-y-auto"
                  >
                    <div
                      *ngFor="let d of filteredDashboards; let i = index"
                      (click)="navigateToDashboard(d.dashboardId)"
                    >
                      <div
                        *ngIf="
                          filteredDraftsLength > 0 && i === filteredDraftsLength
                        "
                        class="ml-[25px] mr-[45px] divide-y divide-gray-300"
                      >
                        <div></div>
                        <div></div>
                      </div>
                      <div
                        class="hover:bg-blue2 group ml-6 mr-10 flex h-11 flex-row items-center rounded px-4 hover:cursor-pointer"
                      >
                        <div class="mr-3 flex h-2 items-center">
                          <div
                            *ngIf="d.dashboardId === dashboard?.dashboardId"
                            data-cy="dashboardsSelectedSymbol"
                            class="bg-blue3 h-7 w-1 rounded-full text-white focus:outline-none"
                          ></div>

                          <div
                            *ngIf="d.dashboardId !== dashboard?.dashboardId"
                            class="h-7 w-1"
                          ></div>
                        </div>

                        <div class="text-gray1 truncate">
                          {{ d.title | capitalize }}
                        </div>

                        <div class="flex flex-grow"></div>

                        <button
                          *ngIf="
                            dashboard?.draft === true &&
                            d.dashboardId === dashboard?.dashboardId
                          "
                          type="button"
                          data-cy="dashboardSaveAsButton"
                          class="ml-3 flex h-11 w-28 items-center justify-center rounded focus:outline-none"
                          (click)="dashboardSaveAs($event)"
                        >
                          <div
                            class="flex h-8 flex-shrink-0 flex-row items-center justify-start space-x-2 rounded px-3 hover:bg-white"
                          >
                            <m-save-icon class="text-gray-500"></m-save-icon>
                            <div class="flex justify-start text-gray-500"
                              >Save As</div
                            >
                          </div>
                        </button>

                        <button
                          *ngIf="
                            dashboard?.draft === true &&
                            d.dashboardId === dashboard?.dashboardId
                          "
                          class="ml-3 flex h-9 flex-shrink-0 items-center justify-center space-x-2 rounded px-3 text-gray-500 hover:bg-white focus:outline-none"
                          (click)="deleteDraftDashboard($event, d)"
                        >
                          <m-trash-icon></m-trash-icon>

                          <!-- <div class="flex justify-start text-gray-500"
                            >Draft</div
                          > -->
                        </button>

                        <div
                          *ngIf="d.draft === false"
                          class="invisible ml-2 flex group-hover:visible"
                        >
                          <m-dashboard-options
                            [dashboard]="d"
                          ></m-dashboard-options>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-5 mr-5 mt-5 flex h-11 flex-row items-center">
                    <div class="text-gray1 ml-6 select-none text-base"
                      >Timezone</div
                    >

                    <div class="ml-5 flex max-w-[260px] flex-1">
                      <form
                        class="w-full"
                        [formGroup]="timezoneForm"
                        tp="Timezone change is not allowed"
                        [tpIsEnabled]="
                          timezoneForm.controls['timezone'].disabled === true
                        "
                      >
                        <ng-select
                          #metricsTimezoneSelect
                          data-cy="metricsTimezoneSelect"
                          class="w-full text-base"
                          [items]="timezones"
                          [clearable]="false"
                          [searchable]="true"
                          [searchFn]="timezoneSearchFn"
                          (change)="timezoneChange()"
                          (keyup.esc)="
                            $event.stopImmediatePropagation();
                            metricsTimezoneSelect.blur()
                          "
                          (keyup.enter)="
                            $event.stopImmediatePropagation();
                            metricsTimezoneSelect.blur()
                          "
                          appendTo="body"
                          bindLabel="label"
                          bindValue="value"
                          formControlName="timezone"
                        >
                          <ng-template ng-label-tmp let-item="item">
                            <div class="truncate">{{ item.label }}</div>
                          </ng-template>

                          <ng-template ng-option-tmp let-item="item">
                            <div class="truncate">{{ item.label }}</div>
                          </ng-template>
                        </ng-select>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex h-full flex-1 flex-col">
          <div class="ml-6 flex h-full flex-grow">
            <div class="h-full w-full">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="routerEvents$ | async"></div>
  <div *ngIf="dashboards$ | async"></div>
  <div *ngIf="dashboard$ | async"></div>
  <div *ngIf="nav$ | async"></div>
  <div *ngIf="member$ | async"></div>
  <div *ngIf="struct$ | async"></div>
  <div *ngIf="isExplorer$ | async"></div>
  <div *ngIf="alias$ | async"></div>

  <!-- [ngClass]="{
  'h-1/2': screenAspectRatio >= 1.5,
  'h-2/5': screenAspectRatio >= 1.2 && screenAspectRatio < 1.5,
  'h-1/3': screenAspectRatio < 1.2
}" -->
</div>
