<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
  <div fxFlex="40px" class="ml-10">
    <div *ngIf="!isFirst && fraction.operator === fractionOperatorEnum.Or"
      >OR</div
    >
    <div *ngIf="!isFirst && fraction.operator === fractionOperatorEnum.And"
      >AND</div
    >
  </div>

  <mat-form-field>
    <mat-select
      class="mp-fraction-type-select-width-230"
      data-cy="fractionDayOfWeekType"
      [(ngModel)]="fraction.type"
      (selectionChange)="typeChange($event)"
    >
      <mat-option
        [value]="fractionTypeEnum.DayOfWeekIsAnyValue"
        data-cy="fractionDayOfWeekTypeIsAnyValue"
        >is any value</mat-option
      >

      <mat-option
        [value]="fractionTypeEnum.DayOfWeekIs"
        data-cy="fractionDayOfWeekTypeIs"
        >is</mat-option
      >

      <mat-option
        [value]="fractionTypeEnum.DayOfWeekIsNull"
        data-cy="fractionDayOfWeekTypeIsNull"
        >is null</mat-option
      >

      <mat-option
        [value]="fractionTypeEnum.DayOfWeekIsNot"
        data-cy="fractionDayOfWeekTypeIsNot"
        >is not</mat-option
      >

      <mat-option
        [value]="fractionTypeEnum.DayOfWeekIsNotNull"
        data-cy="fractionDayOfWeekTypeIsNotNull"
        >is not null</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="
      fraction.type === fractionTypeEnum.DayOfWeekIs ||
      fraction.type === fractionTypeEnum.DayOfWeekIsNot
    "
  >
    <mat-select
      [(ngModel)]="fraction.day_of_week_value"
      data-cy="fractionDayOfWeekValue"
      (selectionChange)="dayOfWeekValueChange($event)"
    >
      <mat-option
        [value]="fractionDayOfWeekValueEnum.Monday"
        data-cy="fractionDayOfWeekValueMonday"
        >Monday</mat-option
      >

      <mat-option
        [value]="fractionDayOfWeekValueEnum.Tuesday"
        data-cy="fractionDayOfWeekValueTuesday"
        >Tuesday</mat-option
      >

      <mat-option
        [value]="fractionDayOfWeekValueEnum.Wednesday"
        data-cy="fractionDayOfWeekValueWednesday"
        >Wednesday</mat-option
      >

      <mat-option
        [value]="fractionDayOfWeekValueEnum.Thursday"
        data-cy="fractionDayOfWeekValueThursday"
        >Thursday</mat-option
      >

      <mat-option
        [value]="fractionDayOfWeekValueEnum.Friday"
        data-cy="fractionDayOfWeekValueFriday"
        >Friday</mat-option
      >

      <mat-option
        [value]="fractionDayOfWeekValueEnum.Saturday"
        data-cy="fractionDayOfWeekValueSaturday"
        >Saturday</mat-option
      >

      <mat-option
        [value]="fractionDayOfWeekValueEnum.Sunday"
        data-cy="fractionDayOfWeekValueSunday"
        >Sunday</mat-option
      >
    </mat-select>
  </mat-form-field>

  <!-- DayOfWeekIsNull -->
  <!-- DayOfWeekIsNotNull -->
</div>
