<div fxLayout="column"
     fxFlexFill>

  <mat-toolbar class="space__sub-toolbar space_border_bottom fixed-toolbar">

    <button fxHide.gt-sm
            mat-button
            class="blockml-sidenav-button"
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="space__sub-toolbar_text"
          name="blockmlTitle">BlockML</span>

    <span *ngIf="!(isDev$ | async); else devRepo"
          name="blockmlTitleMode">Prod</span>

    <ng-template #devRepo>
      <span name="blockmlTitleMode">Dev</span>
    </ng-template>

    <span class="example-fill-remaining-space"></span>

    <div fxHide.lt-md
         fxLayout="row"
         *ngIf="(isDev$ | async) && (repoIsNeedResolve$ | async)">
      <button mat-raised-button
              color="accent"
              name="blockmlConflicts"
              [matMenuTriggerFor]="conflictsMenu">
        <div fxLayout="row"
             fxLayoutAlign="start center">
          <div>Conflicts {{' ('+ (conflictsLength$ | async) + ')'}}</div>
          <mat-icon>expand_more</mat-icon>
        </div>
      </button>

    </div>

    <div fxHide.lt-md
         fxLayout="row"
         *ngIf="isDev$ | async">
      <button mat-raised-button
              color="accent"
              class="blockml-top-btn"
              name="blockmlCommit"
              [disabled]="(needSave$ | async) || !(repoIsNeedCommit$ | async)"
              (click)="commit()">Commit
      </button>

    </div>

    <div fxHide.lt-md
         fxLayout="row"
         *ngIf="(isDev$ | async) && (repoRemoteNeedManualPull$ | async)">
      <button mat-raised-button
              color="accent"
              class="blockml-top-btn"
              name="blockmlPullFromRemote"
              [disabled]="(needSave$ | async)"
              (click)="pullFromRemote()">Pull From Remote
      </button>

    </div>

    <div fxHide.lt-md
         fxLayout="row"
         *ngIf="(isDev$ | async) && (repoIsNeedPull$ | async)">
      <button mat-raised-button
              color="accent"
              class="blockml-top-btn"
              name="blockmlPull"
              [disabled]="(needSave$ | async)"
              (click)="pull()">Pull
      </button>
    </div>

    <div fxHide.lt-md
         *ngIf="isDev$ | async">
      <button mat-raised-button
              color="accent"
              class="blockml-top-btn"
              name="blockmlPushToProduction"
              [disabled]="(needSave$ | async) || !(repoIsNeedPush$ | async) || (errorsExist$ | async) || !(canPush$ | async)"
              (click)="push()">Push to Production
      </button>
    </div>

    <button *ngIf="isDev$ | async"
            fxHide.lt-md
            mat-icon-button
            name="blockmlOptions"
            [matMenuTriggerFor]="repoMenu"
            [disabled]="needSave$ | async">
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-button
            fxHide.gt-sm
            class="mobile-menu__button"
            (click)="sidenavRight.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container (backdropClick)="close(); closeRight()">

    <mat-sidenav #sidenav
                 (keydown.escape)="close()"
                 class="mat-sidenav" 
                 disableClose>
      <m-catalog-tree></m-catalog-tree>
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxFlex
           fxLayout="row"
           class="blockml-sidenav ">
        <m-catalog-tree fxFlex="20%"
                        fxHide.lt-md
                        class="space_border_right"></m-catalog-tree>

        <div fxFlex>
          <div *ngIf="(fileIsNotSelected$ | async) && !(remotePageIsActive$ | async)"
               fxFlex
               fxLayoutAlign="center center"
               class="m-body">
            <h3>Select file...</h3>

          </div>
          <router-outlet (activate)="activateEvent($event)"
                         (deactivate)="deactivateEvent($event)"></router-outlet>
        </div>

        <m-errors fxFlex="20%"
                  *ngIf="(errorsExist$ | async) && !(repoIsNeedResolve$ | async)"
                  class="space_border_left"></m-errors>
      </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenavRight
                 position="end"
                 (keydown.escape)="closeRight()"
                 class="mat-sidenav blockml-sidenav-right"
                 disableClose>

      <div *ngIf="(isDev$ | async) && (repoIsNeedResolve$ | async)">
        <button mat-raised-button
                color="accent"
                name="blockmlConflictsMobile"
                [matMenuTriggerFor]="conflictsMenu">
          <div fxLayout="row"
               fxLayoutAlign="start center">
            <div>Conflicts {{' ('+ (conflictsLength$ | async) + ')'}}</div>
            <mat-icon>expand_more</mat-icon>
          </div>
        </button>
      </div>

      <div *ngIf="isDev$ | async">
        <button mat-raised-button
                color="accent"
                name="blockmlCommitMobile"
                [disabled]="(needSave$ | async) || !(repoIsNeedCommit$ | async)"
                (click)="commit()">Commit
        </button>
      </div>

      <div *ngIf="(isDev$ | async) && (repoRemoteNeedManualPull$ | async)">
        <button mat-raised-button
                color="accent"
                name="blockmlPullFromRemoteMobile"
                [disabled]="(needSave$ | async)"
                (click)="pullFromRemote()">Pull From Remote
        </button>
      </div>

      <div *ngIf="(isDev$ | async) && (repoIsNeedPull$ | async)">
        <button mat-raised-button
                color="accent"
                name="blockmlPullMobile"
                [disabled]="(needSave$ | async)"
                (click)="pull()">Pull
        </button>
      </div>

      <div *ngIf="isDev$ | async">
        <button mat-raised-button
                color="accent"
                name="blockmlPushToProductionMobile"
                [disabled]="(needSave$ | async) || !(repoIsNeedPush$ | async) || (errorsExist$ | async) || !(canPush$ | async)"
                (click)="push()">Push to Production
        </button>
      </div>

      <button mat-menu-item
              name="blockmlRevertRepoToLastCommitMobile"
              (click)="revertRepoToLastCommit()"> Revert Repo to Last Commit</button>

      <button mat-menu-item
              name="blockmlRevertRepoToProductionMobile"
              (click)="revertRepoToProduction()"> Revert Repo to Production</button>
    </mat-sidenav>

  </mat-sidenav-container>

</div>

<mat-menu #conflictsMenu="matMenu">
  <button mat-menu-item
          *ngFor="let line of conflicts$ | async"
          name="blockmlConflictLine"
          (click)="conflictLineClick(line)"
          fxLayout="row"
          fxLayoutAlign="start center">
    <div>
      <a> {{line.line_number}} </a>
    </div>

    <div>
      <a> {{' ' + line.file_name}} </a>
    </div>
  </button>
</mat-menu>

<mat-menu #repoMenu="matMenu">
  <button mat-menu-item
          name="blockmlRevertRepoToLastCommit"
          (click)="revertRepoToLastCommit()"> Revert Repo to Last Commit</button>

  <button mat-menu-item
          name="blockmlRevertRepoToProduction"
          (click)="revertRepoToProduction()"> Revert Repo to Production</button>
</mat-menu>

<div *ngIf="projectId$ | async"></div>
<div *ngIf="mode$ | async"></div>
<div *ngIf="repoId$ | async"></div>
<div *ngIf="repoServerTs$ | async"></div>