<div class="mx-5 mt-2">
  <!-- <div class="text-xl text-gray1 font-semibold mb-5">Data</div> -->

  <div
    *ngIf="chart.type === chartTypeEnum.Table"
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 text-gray1 text-base items-center select-none"
        >Page Size (visible rows)</div
      >
    </div>

    <div [formGroup]="pageSizeForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorPageSizeInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            pageSizeForm.controls['pageSize'].invalid &&
            pageSizeForm.controls['pageSize'].touched
        }"
        formControlName="pageSize"
        (blur)="pageSizeBlur()"
      />
      <m-validation
        [control]="pageSizeForm.controls['pageSize']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.Table"
    class="mb-5 flex flex-row items-start"
  >
    <div class="flex h-9 text-gray1 text-base items-center select-none"
      >Hide Columns</div
    >

    <div class="flex flex-col ml-5 mt-2 items-start space-y-4">
      <div
        *ngFor="let column of sortedColumns"
        class="flex flex-row items-center"
      >
        <button
          data-cy="chartEditorHideColumnsCheckbox"
          class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded focus:outline-none"
          [ngClass]="{
            'bg-blue3 ': hideColumnsIsChecked(column.id)
          }"
          (click)="hideColumnsOnClick(column.id)"
        >
          <m-check-icon *ngIf="hideColumnsIsChecked(column.id)"></m-check-icon>
        </button>

        <m-field-label [column]="column" class="ml-3 text-sm"></m-field-label>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.Gauge ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line ||
      chart.type === chartTypeEnum.NumberCard ||
      chart.type === chartTypeEnum.Pie ||
      chart.type === chartTypeEnum.PieAdvanced ||
      chart.type === chartTypeEnum.PieGrid ||
      chart.type === chartTypeEnum.TreeMap
    "
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >xField</div
      >
    </div>

    <form [formGroup]="xFieldForm" class="ml-5">
      <ng-select
        #xFieldSelect
        data-cy="xFieldSelect"
        class="w-72 text-base focus:outline-none"
        [items]="
          chart.type === chartTypeEnum.NumberCard
            ? sortedColumnsPlusEmpty
            : sortedColumns
        "
        [clearable]="false"
        [searchable]="false"
        (change)="xFieldChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="id"
        formControlName="xField"
      >
        <ng-template ng-label-tmp let-item="item">
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >multiField</div
      >
    </div>

    <form [formGroup]="multiFieldForm" class="ml-5">
      <ng-select
        #multiFieldSelect
        data-cy="multiFieldSelect"
        class="w-72 text-base focus:outline-none"
        [items]="sortedColumnsPlusEmpty"
        [clearable]="false"
        [searchable]="false"
        (change)="multiFieldChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="id"
        formControlName="multiField"
      >
        <ng-template ng-label-tmp let-item="item">
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.GaugeLinear"
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Value Field</div
      >
    </div>

    <form [formGroup]="valueFieldForm" class="ml-5">
      <ng-select
        #valueFieldSelect
        data-cy="valueFieldSelect"
        class="w-72 text-base focus:outline-none"
        [items]="sortedColumns"
        [clearable]="false"
        [searchable]="false"
        (change)="valueFieldChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="id"
        formControlName="valueField"
      >
        <ng-template ng-label-tmp let-item="item">
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.GaugeLinear"
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Previous Value Field</div
      >
    </div>

    <form [formGroup]="previousValueFieldForm" class="ml-5">
      <ng-select
        #previousValueFieldSelect
        data-cy="previousValueFieldSelect"
        class="w-72 text-base focus:outline-none"
        [items]="sortedColumnsPlusEmpty"
        [clearable]="false"
        [searchable]="false"
        (change)="previousValueFieldChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="id"
        formControlName="previousValueField"
      >
        <ng-template ng-label-tmp let-item="item">
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.Gauge ||
      chart.type === chartTypeEnum.NumberCard ||
      chart.type === chartTypeEnum.Pie ||
      chart.type === chartTypeEnum.PieAdvanced ||
      chart.type === chartTypeEnum.PieGrid ||
      chart.type === chartTypeEnum.TreeMap
    "
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >yField</div
      >
    </div>

    <form [formGroup]="yFieldForm" class="ml-5">
      <ng-select
        #yFieldSelect
        data-cy="yFieldSelect"
        class="w-72 text-base focus:outline-none"
        [items]="sortedColumns"
        [clearable]="false"
        [searchable]="false"
        (change)="yFieldChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="id"
        formControlName="yField"
      >
        <ng-template ng-label-tmp let-item="item">
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <m-field-label [column]="item" class="text-sm"></m-field-label>
        </ng-template>
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.Line ||
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.HeatMap
    "
    class="mb-5 flex flex-row items-start"
  >
    <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
      >yFields</div
    >

    <div class="flex flex-col ml-5 mt-2 items-start space-y-4">
      <div
        *ngFor="let column of sortedColumns"
        class="flex flex-row items-center"
      >
        <button
          data-cy="chartEditorYFieldsCheckbox"
          class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded focus:outline-none"
          [ngClass]="{
            'bg-blue3 ': yFieldsIsChecked(column.id)
          }"
          (click)="yFieldsOnClick(column.id)"
        >
          <m-check-icon *ngIf="yFieldsIsChecked(column.id)"></m-check-icon>
        </button>

        <m-field-label [column]="column" class="ml-3 text-sm"></m-field-label>
      </div>
    </div>
  </div>

  <!-- <div
    class="text-xl text-gray1 font-semibold mb-5"
    *ngIf="chart.type !== chartTypeEnum.Table"
    >Axis</div
  > -->

  <!-- <div class="text-xl text-gray1 font-semibold mb-5">Options</div> -->

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.Gauge ||
      chart.type === chartTypeEnum.GaugeLinear ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line ||
      chart.type === chartTypeEnum.NumberCard ||
      chart.type === chartTypeEnum.Pie ||
      chart.type === chartTypeEnum.PieAdvanced ||
      chart.type === chartTypeEnum.PieGrid ||
      chart.type === chartTypeEnum.TreeMap
    "
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Color Scheme</div
      >
    </div>

    <form [formGroup]="colorSchemeForm" class="ml-5">
      <ng-select
        #colorSchemeSelect
        data-cy="colorSchemeSelect"
        class="w-72 text-base focus:outline-none"
        [items]="colorSchemesList"
        [clearable]="false"
        [searchable]="false"
        (change)="colorSchemeChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="colorScheme"
      >
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Scheme Type</div
      >
    </div>

    <form [formGroup]="schemeTypeForm" class="ml-5">
      <ng-select
        #schemeTypeSelect
        data-cy="schemeTypeSelect"
        class="w-72 text-base focus:outline-none"
        [items]="schemeTypesList"
        [clearable]="false"
        [searchable]="false"
        (change)="schemeTypeChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="schemeType"
      >
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-start mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Interpolation</div
      >
    </div>

    <form [formGroup]="interpolationForm" class="ml-5">
      <ng-select
        #interpolationSelect
        data-cy="interpolationSelect"
        class="w-72 text-base focus:outline-none"
        [items]="interpolationsList"
        [clearable]="false"
        [searchable]="false"
        (change)="interpolationChange()"
        appendTo="body"
        bindLabel="label"
        bindValue="value"
        formControlName="interpolation"
      >
      </ng-select>
    </form>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.NumberCard"
    class="flex flex-row items-center mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Card Color</div
      >
    </div>

    <m-color-menu
      class="ml-5"
      [color]="chart.cardColor"
      (colorChange)="cardColorChange($event)"
    ></m-color-menu>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.NumberCard"
    class="flex flex-row items-center mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Empty Card Color</div
      >
    </div>

    <m-color-menu
      class="ml-5"
      [color]="chart.emptyColor"
      (colorChange)="emptyColorChange($event)"
    ></m-color-menu>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.NumberCard"
    class="flex flex-row items-center mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Band Color</div
      >
    </div>

    <m-color-menu
      class="ml-5"
      [color]="chart.bandColor"
      (colorChange)="bandColorChange($event)"
    ></m-color-menu>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.NumberCard"
    class="flex flex-row items-center mb-5"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Text Color</div
      >
    </div>

    <m-color-menu
      class="ml-5"
      [color]="chart.textColor"
      (colorChange)="textColorChange($event)"
    ></m-color-menu>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Gauge ||
      chart.type === chartTypeEnum.GaugeLinear
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Units</div
      >
    </div>

    <div [formGroup]="unitsForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorUnitsInput"
        class="w-56 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            unitsForm.controls['units'].invalid &&
            unitsForm.controls['units'].touched
        }"
        formControlName="units"
        (blur)="unitsBlur()"
      />
      <m-validation [control]="unitsForm.controls['units']"></m-validation>
    </div>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.Gauge"
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Angle Span</div
      >
    </div>

    <div [formGroup]="angleSpanForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorAngleSpanInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            angleSpanForm.controls['angleSpan'].invalid &&
            angleSpanForm.controls['angleSpan'].touched
        }"
        formControlName="angleSpan"
        (blur)="angleSpanBlur()"
      />
      <m-validation
        [control]="angleSpanForm.controls['angleSpan']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.Gauge"
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Start Angle</div
      >
    </div>

    <div [formGroup]="startAngleForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorStartAngleInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            startAngleForm.controls['startAngle'].invalid &&
            startAngleForm.controls['startAngle'].touched
        }"
        formControlName="startAngle"
        (blur)="startAngleBlur()"
      />
      <m-validation
        [control]="startAngleForm.controls['startAngle']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.Pie"
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Arc Width</div
      >
    </div>

    <div [formGroup]="arcWidthForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorArcWidthInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            arcWidthForm.controls['arcWidth'].invalid &&
            arcWidthForm.controls['arcWidth'].touched
        }"
        formControlName="arcWidth"
        (blur)="arcWidthBlur()"
      />
      <m-validation
        [control]="arcWidthForm.controls['arcWidth']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Gauge ||
      chart.type === chartTypeEnum.GaugeLinear
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Min</div
      >
    </div>

    <div [formGroup]="minForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorMinInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            minForm.controls['min'].invalid && minForm.controls['min'].touched
        }"
        formControlName="min"
        (blur)="minBlur()"
      />
      <m-validation [control]="minForm.controls['min']"></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Gauge ||
      chart.type === chartTypeEnum.GaugeLinear
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Max</div
      >
    </div>

    <div [formGroup]="maxForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorMaxInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            maxForm.controls['max'].invalid && maxForm.controls['max'].touched
        }"
        formControlName="max"
        (blur)="maxBlur()"
      />
      <m-validation [control]="maxForm.controls['max']"></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalStacked
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >X Scale Max</div
      >
    </div>

    <div [formGroup]="xScaleMaxForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorXScaleMaxInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            xScaleMaxForm.controls['xScaleMax'].invalid &&
            xScaleMaxForm.controls['xScaleMax'].touched
        }"
        formControlName="xScaleMax"
        (blur)="xScaleMaxBlur()"
      />
      <m-validation
        [control]="xScaleMaxForm.controls['xScaleMax']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Y Scale Min</div
      >
    </div>

    <div [formGroup]="yScaleMinForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorYScaleMinInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            yScaleMinForm.controls['yScaleMin'].invalid &&
            yScaleMinForm.controls['yScaleMin'].touched
        }"
        formControlName="yScaleMin"
        (blur)="yScaleMinBlur()"
      />
      <m-validation
        [control]="yScaleMinForm.controls['yScaleMin']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Y Scale Max</div
      >
    </div>

    <div [formGroup]="yScaleMaxForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorYScaleMaxInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            yScaleMaxForm.controls['yScaleMax'].invalid &&
            yScaleMaxForm.controls['yScaleMax'].touched
        }"
        formControlName="yScaleMax"
        (blur)="yScaleMaxBlur()"
      />
      <m-validation
        [control]="yScaleMaxForm.controls['yScaleMax']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Bar Padding</div
      >
    </div>

    <div [formGroup]="barPaddingForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorBarPaddingInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            barPaddingForm.controls['barPadding'].invalid &&
            barPaddingForm.controls['barPadding'].touched
        }"
        formControlName="barPadding"
        (blur)="barPaddingBlur()"
      />
      <m-validation
        [control]="barPaddingForm.controls['barPadding']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.Gauge"
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Big Segments</div
      >
    </div>

    <div [formGroup]="bigSegmentsForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorBigSegmentsInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            bigSegmentsForm.controls['bigSegments'].invalid &&
            bigSegmentsForm.controls['bigSegments'].touched
        }"
        formControlName="bigSegments"
        (blur)="bigSegmentsBlur()"
      />
      <m-validation
        [control]="bigSegmentsForm.controls['bigSegments']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.Gauge"
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Small Segments</div
      >
    </div>

    <div [formGroup]="smallSegmentsForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorSmallSegmentsInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            smallSegmentsForm.controls['smallSegments'].invalid &&
            smallSegmentsForm.controls['smallSegments'].touched
        }"
        formControlName="smallSegments"
        (blur)="smallSegmentsBlur()"
      />
      <m-validation
        [control]="smallSegmentsForm.controls['smallSegments']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarVerticalGrouped
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Group Padding</div
      >
    </div>

    <div [formGroup]="groupPaddingForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorGroupPaddingInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            groupPaddingForm.controls['groupPadding'].invalid &&
            groupPaddingForm.controls['groupPadding'].touched
        }"
        formControlName="groupPadding"
        (blur)="groupPaddingBlur()"
      />
      <m-validation
        [control]="groupPaddingForm.controls['groupPadding']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.HeatMap"
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Inner Padding</div
      >
    </div>

    <div [formGroup]="innerPaddingForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorInnerPaddingInput"
        class="w-32 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            innerPaddingForm.controls['innerPadding'].invalid &&
            innerPaddingForm.controls['innerPadding'].touched
        }"
        formControlName="innerPadding"
        (blur)="innerPaddingBlur()"
      />
      <m-validation
        [control]="innerPaddingForm.controls['innerPadding']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.Gauge ||
      chart.type === chartTypeEnum.Line ||
      chart.type === chartTypeEnum.Pie
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Legend Title</div
      >
    </div>

    <div [formGroup]="legendTitleForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorLegendTitleInput"
        class="w-56 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            legendTitleForm.controls['legendTitle'].invalid &&
            legendTitleForm.controls['legendTitle'].touched
        }"
        formControlName="legendTitle"
        (blur)="legendTitleBlur()"
      />
      <m-validation
        [control]="legendTitleForm.controls['legendTitle']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >X Axis Label</div
      >
    </div>

    <div [formGroup]="xAxisLabelForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorXAxisLabelInput"
        class="w-56 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            xAxisLabelForm.controls['xAxisLabel'].invalid &&
            xAxisLabelForm.controls['xAxisLabel'].touched
        }"
        formControlName="xAxisLabel"
        (blur)="xAxisLabelBlur()"
      />
      <m-validation
        [control]="xAxisLabelForm.controls['xAxisLabel']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-start"
  >
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Y Axis Label</div
      >
    </div>

    <div [formGroup]="yAxisLabelForm" class="flex flex-col ml-5 items-start">
      <input
        data-cy="chartEditorYAxisLabelInput"
        class="w-56 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            yAxisLabelForm.controls['yAxisLabel'].invalid &&
            yAxisLabelForm.controls['yAxisLabel'].touched
        }"
        formControlName="yAxisLabel"
        (blur)="yAxisLabelBlur()"
      />
      <m-validation
        [control]="yAxisLabelForm.controls['yAxisLabel']"
      ></m-validation>
    </div>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-center mb-5"
  >
    <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
      >X Axis</div
    >

    <ui-switch
      class="ml-5"
      [checked]="chart.xAxis"
      (change)="toggleXAxis($event)"
    ></ui-switch>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-center mb-5"
  >
    <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
      >Y Axis</div
    >

    <ui-switch
      class="ml-5"
      [checked]="chart.yAxis"
      (change)="toggleYAxis($event)"
    ></ui-switch>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-center mb-5"
  >
    <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
      >Show X Label</div
    >

    <ui-switch
      class="ml-5"
      [checked]="chart.showXAxisLabel"
      (change)="toggleShowXAxisLabel($event)"
    ></ui-switch>
  </div>

  <div
    *ngIf="
      chart.type === chartTypeEnum.Area ||
      chart.type === chartTypeEnum.AreaNormalized ||
      chart.type === chartTypeEnum.AreaStacked ||
      chart.type === chartTypeEnum.BarHorizontal ||
      chart.type === chartTypeEnum.BarHorizontalGrouped ||
      chart.type === chartTypeEnum.BarHorizontalNormalized ||
      chart.type === chartTypeEnum.BarHorizontalStacked ||
      chart.type === chartTypeEnum.BarVertical ||
      chart.type === chartTypeEnum.BarVerticalGrouped ||
      chart.type === chartTypeEnum.BarVerticalNormalized ||
      chart.type === chartTypeEnum.BarVerticalStacked ||
      chart.type === chartTypeEnum.HeatMap ||
      chart.type === chartTypeEnum.Line
    "
    class="flex flex-row items-center mb-5"
  >
    <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
      >Show Y Label</div
    >

    <ui-switch
      class="ml-5"
      [checked]="chart.showYAxisLabel"
      (change)="toggleShowYAxisLabel($event)"
    ></ui-switch>
  </div>

  <div
    *ngIf="chart.type === chartTypeEnum.Gauge"
    class="flex flex-row items-center mb-5"
  >
    <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
      >Show Axis</div
    >

    <ui-switch
      class="ml-5"
      [checked]="chart.showAxis"
      (change)="toggleShowAxis($event)"
    ></ui-switch>
  </div>
</div>
