@mixin file-editor-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  .file-editor {
    &__action {
      @if $is-dark == true {
        background-color: #212121;
      }
    }
  }
}
