<div class="w-full p-4">
  <div *ngIf="controls">
    <div *ngFor="let control of controls">
      <div *ngIf="control.type === 'selector'">
        <div
          *ngIf="control.chartTypes.indexOf(this.mConfig.chart.type) > -1"
          class="mb-5 flex flex-row items-start"
        >
          <div class="flex flex-col">
            <div
              class="text-gray1 flex h-9 w-32 select-none items-center text-base"
              >{{ control.friendlyName }}</div
            >
          </div>

          <ng-select
            class="custom w-full text-base focus:outline-none"
            [items]="
              control.useSortedDimensions
                ? sortedDimensions
                : control.selectorValues
            "
            [clearable]="false"
            [searchable]="false"
            (change)="control.outChange()"
            appendTo="body"
            bindLabel="label"
            bindValue="id"
            [formControl]="control.formControl"
          >
            <ng-template ng-label-tmp let-item="item">
              <div *ngIf="control.useSortedDimensions">
                <m-field-label
                  [column]="item"
                  class="ml-1 flex text-sm"
                ></m-field-label>
              </div>
              <div *ngIf="!control.useSortedDimensions">
                <span class="">{{ item }}</span>
              </div>
            </ng-template>

            <ng-template
              ng-option-tmp
              let-item="item"
              let-index="index"
              let-search="searchTerm"
            >
              <div *ngIf="control.useSortedDimensions">
                <m-field-label
                  [column]="item"
                  class="ml-1 flex text-sm"
                ></m-field-label>
              </div>
              <div *ngIf="!control.useSortedDimensions">
                <span class="">{{ item }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
