<div class="bg-blue1 flex flex-col h-full">
  <div class="flex flex-grow flex-col mx-6 mb-6 mt-8 h-2">
    <div class="flex h-11 items-center">
      <div
        data-cy="projectSettingsTitle"
        class="font-semibold text-2xl text-gray1"
        >Project - Settings
      </div>
    </div>

    <div class="flex-1 bg-white mt-6 rounded shadow-lg w-full h-2">
      <div class="w-full h-full overflow-auto">
        <div class="flex flex-row mt-16 ml-32">
          <div class="flex flex-col text-base">
            <div class="h-16 flex items-center justify-end font-semibold"
              >Project Name</div
            >
            <div class="flex items-center justify-end font-semibold"></div>
          </div>

          <div class="flex flex-col ml-6">
            <div
              data-cy="projectSettingsName"
              class="h-16 flex text-base items-center max-w-xl truncate"
              >{{ project?.name | capitalize }}</div
            >
            <div class="flex items-center">
              <button
                data-cy="projectSettingsDeleteProjectButton"
                class="mt-7 px-5 py-3 mb-5 text-base border shadow-sm rounded font-medium focus:outline-none"
                [ngClass]="{
                  'cursor-default text-gray-400': isAdmin === false,
                  'border-red1 text-red1': isAdmin === true
                }"
                (click)="deleteProject()"
                [disabled]="isAdmin === false"
                >Delete Project</button
              >
            </div>
          </div>

          <div class="flex flex-col ml-6">
            <div class="h-16 flex items-center">
              <button
                data-cy="projectSettingsEditNameButton"
                class="py-2 px-3 text-base border rounded shadow-sm leading-3 font-medium focus:outline-none"
                [ngClass]="{
                  'cursor-default text-gray-400': isAdmin === false,
                  'text-gray1 border-gray3': isAdmin === true
                }"
                [disabled]="isAdmin === false"
                (click)="editName()"
                >Edit</button
              ></div
            >
            <div class="flex items-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="project$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
