<div class="flex h-full cursor-default flex-col bg-blue1">
  <div class="mx-6 mb-6 mt-8 flex h-2 flex-grow flex-col">
    <div class="flex h-11 items-center">
      <div
        data-cy="projectSettingsTitle"
        class="text-2xl font-semibold text-gray1"
        >{{ pageTitle }}
      </div>
    </div>

    <div class="mt-6 h-2 w-full flex-1 rounded bg-white shadow-lg">
      <div class="h-full w-full overflow-auto">
        <div class="mt-16 ml-32 flex flex-row">
          <div class="flex flex-col text-base">
            <div class="flex h-16 items-center justify-end font-semibold"
              >Project Name</div
            >
            <div class="flex items-center justify-end font-semibold"></div>
          </div>

          <div class="ml-6 flex flex-col">
            <div
              data-cy="projectSettingsName"
              class="flex h-16 max-w-xl items-center truncate text-base"
              >{{ project?.name | capitalize }}</div
            >
            <div
              class="mt-7 mb-5 flex items-center"
              tippy="Admin role is required"
              [isEnabled]="isAdmin === false"
            >
              <button
                data-cy="projectSettingsDeleteProjectButton"
                class="rounded border px-5 py-3 text-base font-medium shadow-sm focus:outline-none"
                [ngClass]="{
                  'cursor-default text-gray-400': isAdmin === false,
                  'border-red1 text-red1': isAdmin === true
                }"
                (click)="deleteProject()"
                [disabled]="isAdmin === false"
                >Delete Project</button
              >
            </div>
          </div>

          <div class="ml-6 flex flex-col">
            <div class="flex h-16 items-center">
              <div
                tippy="Admin role is required"
                [isEnabled]="isAdmin === false"
              >
                <button
                  data-cy="projectSettingsEditNameButton"
                  class="rounded border py-2 px-3 text-base font-medium leading-3 shadow-sm focus:outline-none"
                  [ngClass]="{
                    'cursor-default text-gray-400': isAdmin === false,
                    'border-gray3 text-gray1': isAdmin === true
                  }"
                  [disabled]="isAdmin === false"
                  (click)="editName()"
                  >Edit</button
                ></div
              >
            </div>
            <div class="flex items-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="project$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
