<div class="bg-blue1 flex flex-col h-full">
  <div
    data-cy="projectSettingsTitle"
    class="font-semibold text-2xl mt-8 ml-6 text-gray1"
    >Project - Settings
  </div>

  <div class="flex-1 bg-white mx-6 mt-6 mb-4 rounded shadow-lg">
    <div class="flex flex-row mt-16 ml-32">
      <div class="flex flex-col">
        <div class="h-16 flex items-center justify-end font-semibold"
          >Project Name</div
        >
        <div class="flex items-center justify-end font-semibold"></div>
      </div>

      <div class="flex flex-col ml-6">
        <div
          data-cy="projectSettingsName"
          class="h-16 flex items-center max-w-xl truncate"
          >{{ project?.name }}</div
        >
        <div class="flex items-center">
          <button
            data-cy="projectSettingsDeleteProjectButton"
            class="mt-7 px-5 py-3 border border-red1 text-red1 shadow-sm rounded font-medium focus:outline-none"
            [ngClass]="{
              'border-gray3 text-gray3': isAdmin === false
            }"
            (click)="deleteProject()"
            [disabled]="isAdmin === false"
            >Delete Project</button
          >
        </div>
      </div>

      <div class="flex flex-col ml-6">
        <div class="h-16 flex items-center">
          <button
            data-cy="projectSettingsEditNameButton"
            class="py-2 px-3 border border-gray3 rounded shadow-sm text-sm leading-3 font-medium text-gray1 focus:outline-none"
            [ngClass]="{
              'text-gray3': isAdmin === false
            }"
            [disabled]="isAdmin === false"
            (click)="editName()"
            >Edit</button
          ></div
        >
        <div class="flex items-center"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="project$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
