<button
  data-cy="fieldOptionsMenuButton"
  class="flex ml-3 flex-shrink-0 h-8 w-8 rounded focus:outline-none hover:bg-white items-center justify-center"
  #t1="tippy"
  [tippy]="templateFieldOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
  [offset]="[0, 5]"
  (click)="clickMenu($event)"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateFieldOptions>
  <div class="w-48 bg-white rounded-md shadow-xl border-2 border-gray4">
    <button
      data-cy="fileOptionsGoToFileLineButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); goToFileLine($event)"
      >Go to File Line</button
    >
  </div>
</ng-template>
