<button
  data-cy="fieldOptionsMenuButton"
  class="ml-3 flex h-8 w-8 flex-shrink-0 items-center justify-center rounded hover:bg-white focus:outline-none"
  #t1="tippy"
  [tp]="templateFieldOptions"
  [tpHideOnEscape]="true"
  variation="menu"
  className="my-menu"
  [tpOffset]="[0, 5]"
  (click)="clickMenu($event)"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateFieldOptions>
  <div
    class="border-gray4 flex w-48 flex-col rounded-md border-2 bg-white shadow-xl"
  >
    <button
      data-cy="fieldOptionsGoToFileLineButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); goToFileLine($event)"
      >Go to File Line</button
    >

    <div
      class="flex w-full cursor-default px-4 py-2 text-base text-base text-gray-400 focus:outline-none"
      (click)="$event.stopImmediatePropagation()"
      >Result: {{ node.data.fieldResult | result }}</div
    >
  </div>
</ng-template>
