<button
  class="flex h-8 w-8 flex-shrink-0 items-center justify-center rounded hover:bg-white focus:outline-none"
  data-cy="folderOptionsMenuButton"
  #t1="tippy"
  [tp]="templateFolderOptions"
  [tpHideOnEscape]="true"
  variation="menu"
  className="my-menu"
  (click)="clickMenu($event)"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateFolderOptions>
  <div class="border-gray4 w-48 rounded-md border-2 bg-white shadow-xl">
    <button
      data-cy="folderOptionsNewFolderButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); newFolder(node, $event)"
      >New Folder</button
    >

    <button
      data-cy="folderOptionsNewFileButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); newFile(node, $event)"
      >New File</button
    >

    <button
      *ngIf="!(node.parent === null || node.parent.data.virtual)"
      data-cy="folderOptionsDeleteFolderButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); deleteFolder(node, $event)"
      >Delete Folder</button
    >

    <button
      *ngIf="!(node.parent === null || node.parent.data.virtual)"
      data-cy="folderOptionsRenameFolderButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); renameFolder(node, $event)"
      >Rename Folder</button
    >
  </div>
</ng-template>

<div *ngIf="nav$ | async"></div>
