<button
  class="flex flex-shrink-0 h-8 w-8 rounded focus:outline-none hover:bg-white items-center justify-center"
  data-cy="folderOptionsMenuButton"
  #t1="tippy"
  [tippy]="templateFolderOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
  (click)="clickMenu($event)"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateFolderOptions>
  <div class="w-48 bg-white rounded-md shadow-xl border-2 border-gray4">
    <button
      data-cy="folderOptionsNewFolderButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); newFolder(node, $event)"
      >New Folder</button
    >

    <button
      data-cy="folderOptionsNewFileButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); newFile(node, $event)"
      >New File</button
    >

    <button
      *ngIf="!(node.parent === null || node.parent.data.virtual)"
      data-cy="folderOptionsDeleteFolderButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); deleteFolder(node, $event)"
      >Delete Folder</button
    >

    <button
      *ngIf="!(node.parent === null || node.parent.data.virtual)"
      data-cy="folderOptionsRenameFolderButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); renameFolder(node, $event)"
      >Rename Folder</button
    >
  </div>
</ng-template>

<div *ngIf="nav$ | async"></div>
