<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="deleteFileDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Delete File</div
  >

  <div class="mt-6 text-gray1 text-lg"
    >Are you sure you want to delete file
    <span class="font-semibold"> {{ this.ref.data.fileName }} </span>?</div
  >

  <div class="mt-6">
    <button
      data-cy="deleteFileDialogDeleteButton"
      class="py-3 w-28 text-base border bg-red1 text-white rounded font-medium focus:outline-none"
      (click)="delete()"
      >Delete</button
    >

    <button
      data-cy="deleteFileDialogCancelButton"
      class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >
  </div>
</div>
