<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="flex h-full flex-row">
    <div class="mx-6 mb-6 mt-8 flex min-w-[2px] flex-grow flex-col">
      <div class="flex h-11 flex-row items-center justify-between">
        <div class="flex w-full flex-row items-center">
          <div class="flex flex-row items-center space-x-5">
            <div
              data-cy="metricsTitle"
              class="text-gray1 flex items-center self-center text-2xl font-semibold"
            >
              {{ pageTitle }}
            </div>
          </div>

          <div class="flex-grow"></div>

          <div class="text-gray1 flex flex-row items-center text-base"> </div>
        </div>
      </div>

      <div class="mt-6 flex flex-grow flex-row">
        <div class="flex w-1/4 flex-shrink-0">
          <div class="flex w-full flex-grow rounded bg-white shadow-lg">
            <div class="text-gray1 mr-5 mt-6 flex w-full flex-col text-base">
              <div class="flex flex-1 flex-col">
                <div class="ml-5 mb-3 flex text-lg font-semibold">REPORTS</div>
                <div class="mb-5 flex h-2 flex-grow flex-col overflow-y-auto">
                  <div
                    *ngFor="let r of reps"
                    class="ml-6 mr-5 flex flex-row rounded py-2 px-4 hover:cursor-pointer"
                    [ngClass]="{
                      'hover:bg-blue2': r.repId !== rep.repId
                    }"
                    (click)="navToRep(r.repId)"
                  >
                    <div class="text-gray1 truncate">
                      {{ r.title | capitalize }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-1 flex-col">
                <div class="ml-5 mb-3 flex text-lg font-semibold">METRICS</div>

                <m-metrics-tree
                  class="flex w-full flex-1 flex-shrink-0"
                ></m-metrics-tree>
              </div>
            </div>
          </div>
        </div>

        <div
          class="ml-6 flex min-w-[2px] flex-grow flex-col space-y-6"
          *ngIf="isShow === true"
        >
          <div class="w-full rounded bg-white shadow-md">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="rep$ | async"></div>
<div *ngIf="reps$ | async"></div>
