@mixin query-theme($theme) {
  $sub-primary: map-get($theme, sub-primary);
  $is-dark: map-get($theme, is-dark);

  .query {
    &__error {
      @if $is-dark == true {
        background-color: mat-color($sub-primary, 800);
        color: mat-contrast($sub-primary, 800);
      } @else {
        background-color: #f8d9d8;
      }
    }
    &__chart-icon {
      @if $is-dark == true {
        //filter: invert(100%);
      } @else {
        //filter: invert(0%);
      }
    }
  }
  .filter-toolbar {
    @if $is-dark == true {
      background: #212121;
    } @else {
      background: #ffffff;
    }
  }
}
.query__error-text {
  color: #f44336;
}