@use 'ag-grid-community/styles' as ag;
@include ag.grid-styles(
  (
    theme: alpine,
    --ag-cell-horizontal-border: solid #dde2eb
  )
);

html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: rgba(0, 0, 0, 0.85);
  font-feature-settings: 'tnum';
}

// @import '~ngx-ui-switch/ui-switch.component.scss';

.switch:focus {
  outline: none;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// @import 'ag-grid-community/styles/ag-grid.css';
// @import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-alpine {
  font-family: monospace;
  --ag-font-size: 16px;

  // --ag-selected-row-background-color: rgb(231, 242, 253);
  --ag-selected-row-background-color: rgb(255, 224, 129);
  --ag-row-hover-color: rgb(0, 0, 0, 0);
  // --ag-row-hover-color: rgb(231, 242, 253);

  --ag-odd-row-background-color: rgb(0, 0, 0, 0);
  --ag-background-color: rgb(0, 0, 0, 0);
  --ag-range-selection-border-color: rgb(0, 0, 0, 0);

  // --ag-header-foreground-color: rgb(204, 245, 172);
  // --ag-header-background-color: rgb(235, 66, 142);
  // --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  // --ag-foreground-color: rgb(253, 132, 19);
}

@import '~@ng-select/ng-select/themes/default.theme.css';
// @import "~@ng-select/ng-select/themes/material.theme.css";

@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

.tippy-variation-menu .tippy-box {
  background-color: transparent;
}

.tippy-variation-menuRow .tippy-box {
  background-color: transparent;
}

.tippy-variation-menu .tippy-box .tippy-content {
  padding: 0;
}

.tippy-variation-menuRow .tippy-box .tippy-content {
  padding: 0;
}

.tippy-variation-tooltip .tippy-box .tippy-content {
  padding: 10px 15px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat-Thin'),
    url(./assets/fonts/Montserrat/Montserrat-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat-ExtraLight'),
    url(./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat-Light'),
    url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'),
    url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat-Medium'),
    url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat-SemiBold'),
    url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'),
    url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat-ExtraBold'),
    url(./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat-Black'),
    url(./assets/fonts/Montserrat/Montserrat-Black.ttf) format('truetype');
}

// @import '~@ali-hm/angular-tree-component/css/angular-tree-component.css';
@import './tree.css';

.ng-select.custom .ng-select-container {
  cursor: pointer;
}

.ng-select.custom-height .ng-select-container {
  height: 42px;
}

.ng-dropdown-panel.select-chart-type .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.popup-55 .scroll-host {
  max-height: 55vh;
}

// .ngx-charts .tooltip-area {
//   cursor: default !important;
// }

.ngx-charts .circle {
  &:hover {
    cursor: default !important;
  }
}

.ngx-charts .arc {
  cursor: default !important;
}

.advanced-pie-legend .legend-item {
  cursor: default !important;
}

.chart-legend .legend-label {
  cursor: default !important;
}

.linear-gauge {
  cursor: default !important;
}

.ngx-charts .card {
  cursor: default !important;
}

.ngx-charts .card-band {
  cursor: default !important;
}

// .hov {
//   visibility: hidden;
// }

.ag-row-selected .hov {
  visibility: visible;
}

// .css-zoom {
// 	zoom: 67%;
// }

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;

  .cdk-virtual-scroll-content-wrapper {
    max-width: 100% !important;
  }
}
