@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: rgba(0, 0, 0, 0.85);
  font-feature-settings: 'tnum';

  &.force-cursor-grabbing {
    * {
      cursor: grabbing !important;
    }
  }
}

// report.scss also has scroll customization

// scroll for other places (non ngx-scrollbar)
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.15);
}

// thin scroll for chat textarea
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(0 0 0 / 15%);
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(0 0 0 / 15%) transparent;
}

// codemirror scroll for WebKit browsers (Chrome, Safari)
.cm-scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.cm-editor:hover .cm-scroller::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.cm-editor:hover .cm-scroller::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.cm-editor:hover .cm-scroller::-webkit-scrollbar-track {
  background: transparent;
}

// codemirror focus border

.cm-editor.cm-focused {
  outline: none;
  border-left: none;
  border-right: none;
}

ng-scrollbar {
  --scrollbar-thumb-color: rgb(0 0 0 / 15%);
  --scrollbar-thumb-hover-color: rgb(0 0 0 / 25%);
  --scrollbar-track-color: transparent;
  --scrollbar-thickness: 10;
  --scrollbar-hover-opacity-transition-enter-duration: 200ms;
  --scrollbar-hover-opacity-transition-leave-duration: 500ms;
  --scrollbar-hover-opacity-transition-leave-delay: 0ms;
}

scrollbar-thumb-y {
  // border-right: 2.5px solid transparent !important;
  // background-clip: padding-box !important;
  border-radius: 6px !important;
}

// @import '~ngx-ui-switch/ui-switch.component.scss';

.switch:focus {
  outline: none;
}

@import '@ng-select/ng-select/themes/default.theme.css';

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import 'tippy.js/animations/scale.css';

.tippy-variation-menu .tippy-box {
  background-color: transparent;
}

.tippy-variation-menuRow .tippy-box {
  background-color: transparent;
}

.tippy-variation-menu .tippy-box .tippy-content {
  padding: 0;
}

.tippy-variation-menuRow .tippy-box .tippy-content {
  padding: 0;
}

.tippy-variation-tooltip .tippy-box .tippy-content {
  padding: 10px 15px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src:
    local('Montserrat-Thin'),
    url(./assets/fonts/Montserrat/Montserrat-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src:
    local('Montserrat-ExtraLight'),
    url(./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src:
    local('Montserrat-Light'),
    url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    local('Montserrat-Regular'),
    url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src:
    local('Montserrat-Medium'),
    url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:
    local('Montserrat-SemiBold'),
    url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src:
    local('Montserrat-Bold'),
    url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src:
    local('Montserrat-ExtraBold'),
    url(./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src:
    local('Montserrat-Black'),
    url(./assets/fonts/Montserrat/Montserrat-Black.ttf) format('truetype');
}

// @import '~@ali-hm/angular-tree-component/css/angular-tree-component.css';
@import './tree.css';

.advanced-pie-legend .legend-item {
  cursor: default !important;
}

.chart-legend .legend-label {
  cursor: default !important;
}

.linear-gauge {
  cursor: default !important;
}

// .hov {
//   visibility: hidden;
// }

// .css-zoom {
// 	zoom: 67%;
// }

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;

  .cdk-virtual-scroll-content-wrapper {
    max-width: 100% !important;
  }
}

ngneat-dialog {
  .ngneat-dialog-backdrop {
    overflow: hidden !important;
    .ngneat-dialog-content {
      overflow: auto !important;
    }
  }
}

// .my-echarts {
// }

//
//
//

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #f3f4f6;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #f0f9ff; // bg-sky-50
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: #dff2fe; // bg-sky-100
}

.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  background-color: #dff2fe; // bg-sky-100
}

.ng-dropdown-panel,
.ng-select-container,
.ng-input > input,
.ng-select .ng-input {
  cursor: pointer !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  caret-color: dodgerblue;
}

//
//
//

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #ccc;
  box-shadow: none;
}

//
//
//

.ng-select.group-metric-by-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.model-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.new-metric-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.filter-metric-by-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.charts-add-parameter-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.charts-add-column-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.charts-replace-column-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.format-number-select .ng-select-container {
  height: 42px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

.ng-select.main-chart-type-select .ng-select-container {
  height: 44px;

  .ng-value-container {
    margin-top: 2px;
  }

  .ng-value-container .ng-input > input {
    margin-top: 3px;
  }
}

//
//
//

.ng-dropdown-panel.popup-55 .scroll-host {
  max-height: 55vh;
}

.ng-dropdown-panel.format-number-select .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.filter-metric-by-select .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.charts-add-parameter-select .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.group-metric-by-select .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.charts-replace-column-select .scroll-host {
  max-height: 35vh;
}

.ng-dropdown-panel.charts-add-column-select .scroll-host {
  max-height: 35vh;
}

.ng-dropdown-panel.main-chart-type-select .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.chart-type-select .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.model-select .scroll-host {
  max-height: 35vh;
}

.ng-dropdown-panel.connection-type-select .scroll-host {
  max-height: 45vh;
}

.ng-dropdown-panel.fraction-type-select .scroll-host {
  max-height: 36.5vh;
}

.ng-dropdown-panel.fraction-ts-moment-select .scroll-host {
  max-height: 36.5vh;
}

.ng-dropdown-panel.fraction-mix-unit-select .scroll-host {
  max-height: 36.5vh;
}

.ng-dropdown-panel.session-models-select .scroll-host {
  max-height: 55vh;
}

.ng-dropdown-panel.session-providers-select .scroll-host {
  max-height: 55vh;
}

.ng-dropdown-panel.session-agents-select .scroll-host {
  max-height: 55vh;
}

// pagination
li.pagination-previous.disabled.ng-star-inserted {
  color: #99a1af;
}

li.current.ng-star-inserted {
  background: #0084d1;
}

li.pagination-next.disabled.ng-star-inserted {
  color: #99a1af;
}

//

ng-select .ng-select-container .ng-value-container .ng-placeholder {
  padding-left: 4px;
}

// shift app loader spinner lower
.ngx-spinner-overlay > div:not(.loading-text) {
  top: 57% !important;
}
