@mixin user-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .user-block {
    &:hover,
    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .menu__options-title {
    color: mat-color($foreground, text);
  }
}
