<div class="flex flex-row items-center text-base">
  <div
    *ngIf="query?.status === queryStatusEnum.Running"
    class="flex flex-row items-center"
  >
    <div>Running - seconds</div>

    <div class="ml-1 w-8">{{ runSecondsAgo }}</div>

    <div class="relative h-9 w-9">
      <ngx-spinner
        [name]="spinnerName"
        color="#0084d1"
        bdColor="#00000000"
        size="default"
        type="ball-clip-rotate"
        [fullScreen]="false"
        [disableAnimation]="true"
        [zIndex]="99998"
      >
      </ngx-spinner>
    </div>
  </div>

  <div
    *ngIf="query?.status === queryStatusEnum.Error"
    class="bg-r100 text-r700 max-w-xl select-none truncate px-3 py-2"
    tp="{{ query?.lastErrorMessage | capitalize }}"
    [tpIsEnabled]="query?.status === queryStatusEnum.Error"
    >{{ query?.lastErrorMessage | capitalize }}</div
  >

  <div *ngIf="query?.status === queryStatusEnum.Error" class="ml-5"
    >Error - {{ errorTimeAgo }}</div
  >

  <div *ngIf="query?.status === queryStatusEnum.Canceled"
    >Canceled - {{ canceledTimeAgo }}</div
  >

  <div
    class="ml-5 flex flex-row items-center"
    *ngIf="query?.status === queryStatusEnum.Completed"
  >
    <div
      *ngIf="showDataRowsLength === true && showLastCompleteDuration === true"
      >{{ completedWord }} - {{ completedTimeAgo }} -
      {{ query.lastCompleteDuration }}s - {{ query.data.length }} rows</div
    >
    <div
      *ngIf="showDataRowsLength === true && showLastCompleteDuration === false"
      >{{ completedWord }} - {{ completedTimeAgo }} -
      {{ query.data.length }} rows</div
    >

    <div
      *ngIf="showDataRowsLength === false && showLastCompleteDuration === true"
      >{{ completedWord }} - {{ completedTimeAgo }} -
      {{ query.lastCompleteDuration }}s</div
    >

    <div
      *ngIf="showDataRowsLength === false && showLastCompleteDuration === false"
      >{{ completedWord }} - {{ completedTimeAgo }}</div
    >
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="interval$ | async"></div>
