<div class="flex flex-row items-center text-base">
  <div
    *ngIf="query?.status === queryStatusEnum.Running"
    class="flex flex-row items-center"
  >
    <div>Running - seconds</div>

    <div class="ml-1 w-8">{{ runSecondsAgo }}</div>

    <div class="relative h-9 w-9">
      <ngx-spinner
        [name]="spinnerName"
        color="rgba(54, 94, 224, 100)"
        bdColor="rgba(0, 0, 0, 0)"
        size="default"
        type="ball-clip-rotate"
        [fullScreen]="false"
        [disableAnimation]="true"
        [zIndex]="99998"
      >
      </ngx-spinner>
    </div>
  </div>

  <div
    *ngIf="query?.status === queryStatusEnum.Error"
    class="max-w-xl select-none truncate bg-red-100 px-3 py-2 text-red-700"
    tp="{{ query?.lastErrorMessage | capitalize }}"
    [tpIsEnabled]="query?.status === queryStatusEnum.Error"
    >{{ query?.lastErrorMessage | capitalize }}</div
  >

  <div *ngIf="query?.status === queryStatusEnum.Error" class="ml-5"
    >Error - {{ errorTimeAgo }}</div
  >

  <div *ngIf="query?.status === queryStatusEnum.Canceled"
    >Canceled - {{ canceledTimeAgo }}</div
  >

  <div
    class="flex flex-row items-center"
    *ngIf="query?.status === queryStatusEnum.Completed"
  >
    <div class="ml-5" *ngIf="showDataRowsLength === true"
      >Completed - {{ completedTimeAgo }} - {{ query.lastCompleteDuration }}s -
      {{ query.data.length }} rows</div
    >
    <div class="ml-5" *ngIf="showDataRowsLength === false"
      >Completed - {{ completedTimeAgo }} -
      {{ query.lastCompleteDuration }}s</div
    >
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="interval$ | async"></div>
