<div class="flex-grow flex-col p-9 bg-white overflow-y-auto">
  <div
    data-cy="editConnectionDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Edit Connection</div
  >

  <form
    class="flex flex-col w-80 text-base"
    [formGroup]="editConnectionForm"
    (ngSubmit)="save()"
  >
    <div class="mt-6">
      <span class="font-semibold">Name:</span>
      <span class="ml-1">
        {{ this.ref.data.connection.connectionId }}
      </span>
    </div>

    <div class="mt-6">
      <span class="font-semibold">Type:</span>
      <span class="ml-1">
        {{ this.ref.data.connection.type }}
      </span>
    </div>

    <div *ngIf="editConnectionForm.controls['type'].value === typeBigQuery">
      <textarea
        rows="9"
        data-cy="editConnectionDialogBigqueryCredentialsInput"
        class="mt-6 w-80 form-input rounded border-gray3 focus:border-blue3 resize-none"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['bigqueryCredentials'].invalid &&
            editConnectionForm.controls['bigqueryCredentials'].touched
        }"
        formControlName="bigqueryCredentials"
        placeholder="JSON BigQuery Credentials"
      ></textarea>
      <m-validation
        [control]="editConnectionForm.controls['bigqueryCredentials']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogBigqueryQuerySizeLimitGbInput"
        class="w-80 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['bigqueryQuerySizeLimitGb'].invalid &&
            editConnectionForm.controls['bigqueryQuerySizeLimitGb'].touched
        }"
        formControlName="bigqueryQuerySizeLimitGb"
        placeholder="Query Size Limit, gb (default: 1)"
      />
      <m-validation
        [control]="editConnectionForm.controls['bigqueryQuerySizeLimitGb']"
      ></m-validation>
    </div>

    <div
      *ngIf="
        editConnectionForm.controls['type'].value === typePostgreSQL ||
        editConnectionForm.controls['type'].value === typeClickHouse
      "
    >
      <div
        *ngIf="editConnectionForm.controls['type'].value === typeClickHouse"
        class="flex flex-row mt-6 items-center"
      >
        <div class="flex h-9 text-gray1 text-base items-center select-none"
          >SSL (https)</div
        >

        <ui-switch
          class="mb-1 ml-5"
          [checked]="isSSL"
          (change)="toggleSSL($event)"
        ></ui-switch>
      </div>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogPostgresHostInput"
        class="w-80 mt-6 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['postgresHost'].invalid &&
            editConnectionForm.controls['postgresHost'].touched
        }"
        formControlName="postgresHost"
        placeholder="Host"
      />
      <m-validation
        [control]="editConnectionForm.controls['postgresHost']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogPostgresPortInput"
        class="w-80 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['postgresPort'].invalid &&
            editConnectionForm.controls['postgresPort'].touched
        }"
        formControlName="postgresPort"
        placeholder="Port"
      />
      <m-validation
        [control]="editConnectionForm.controls['postgresPort']"
      ></m-validation>

      <input
        *ngIf="editConnectionForm.controls['type'].value !== typeClickHouse"
        spellcheck="false"
        data-cy="editConnectionDialogPostgresDatabaseInput"
        class="w-80 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['postgresDatabase'].invalid &&
            editConnectionForm.controls['postgresDatabase'].touched
        }"
        formControlName="postgresDatabase"
        placeholder="Database"
      />
      <m-validation
        *ngIf="editConnectionForm.controls['type'].value !== typeClickHouse"
        [control]="editConnectionForm.controls['postgresDatabase']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogPostgresUserInput"
        class="w-80 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['postgresUser'].invalid &&
            editConnectionForm.controls['postgresUser'].touched
        }"
        formControlName="postgresUser"
        placeholder="User"
      />
      <m-validation
        [control]="editConnectionForm.controls['postgresUser']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogPostgresPasswordInput"
        class="w-80 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['postgresPassword'].invalid &&
            editConnectionForm.controls['postgresPassword'].touched
        }"
        formControlName="postgresPassword"
        placeholder="Password"
        type="password"
      />
      <m-validation
        [control]="editConnectionForm.controls['postgresPassword']"
      ></m-validation>
    </div>

    <div class="mt-6">
      <button
        data-cy="editConnectionDialogSaveButton"
        class="py-3 w-28 text-base bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editConnectionDialogCancelButton"
        class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
