<div class="flex-grow flex-col overflow-y-auto bg-white p-9">
  <div
    data-cy="editConnectionDialogTitle"
    class="text-gray2 mt-5 flex-grow text-left text-2xl font-semibold"
    >Edit Connection</div
  >

  <form
    class="flex w-80 flex-col text-base"
    [formGroup]="editConnectionForm"
    (ngSubmit)="save()"
  >
    <div class="mt-9 flex flex-row">
      <div class="w-20 font-semibold">Name:</div>
      <div class="ml-1">
        {{ this.ref.data.connection.connectionId }}
      </div>
    </div>

    <div class="mt-6 flex flex-row">
      <div class="w-20 font-semibold">Env:</div>
      <div class="ml-1">
        {{ this.ref.data.connection.envId }}
      </div>
    </div>

    <div class="mt-6 flex flex-row">
      <div class="w-20 font-semibold">Type:</div>
      <div class="ml-1">
        {{ this.ref.data.connection.type }}
      </div>
    </div>

    <div *ngIf="editConnectionForm.controls['type'].value === typeBigQuery">
      <textarea
        rows="9"
        data-cy="editConnectionDialogBigqueryCredentialsInput"
        class="form-input border-gray3 focus:border-blue3 mt-6 w-80 resize-none rounded font-mono"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['bigqueryCredentials'].invalid &&
            editConnectionForm.controls['bigqueryCredentials'].touched
        }"
        formControlName="bigqueryCredentials"
        placeholder="JSON BigQuery Credentials"
      ></textarea>
      <m-validation
        [control]="editConnectionForm.controls['bigqueryCredentials']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogBigqueryQuerySizeLimitGbInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['bigqueryQuerySizeLimitGb'].invalid &&
            editConnectionForm.controls['bigqueryQuerySizeLimitGb'].touched
        }"
        formControlName="bigqueryQuerySizeLimitGb"
        placeholder="Query Size Limit, gb (default: 1)"
      />
      <m-validation
        [control]="editConnectionForm.controls['bigqueryQuerySizeLimitGb']"
      ></m-validation>
    </div>

    <div
      *ngIf="
        editConnectionForm.controls['type'].value === typePostgreSQL ||
        editConnectionForm.controls['type'].value === typeClickHouse
      "
    >
      <div class="mt-6 flex flex-row items-center">
        <div class="text-gray1 flex h-9 select-none items-center text-base"
          >SSL (https)</div
        >

        <ui-switch
          class="mb-1 ml-5"
          [checked]="isSSL"
          (change)="toggleSSL($event)"
        ></ui-switch>
      </div>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogHostInput"
        class="form-input border-gray3 focus:border-blue3 mt-6 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['host'].invalid &&
            editConnectionForm.controls['host'].touched
        }"
        formControlName="host"
        placeholder="Host"
      />
      <m-validation
        [control]="editConnectionForm.controls['host']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogPortInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['port'].invalid &&
            editConnectionForm.controls['port'].touched
        }"
        formControlName="port"
        placeholder="Port"
      />
      <m-validation
        [control]="editConnectionForm.controls['port']"
      ></m-validation>

      <input
        *ngIf="editConnectionForm.controls['type'].value !== typeClickHouse"
        spellcheck="false"
        data-cy="editConnectionDialogDatabaseInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['database'].invalid &&
            editConnectionForm.controls['database'].touched
        }"
        formControlName="database"
        placeholder="Database"
      />
      <m-validation
        *ngIf="editConnectionForm.controls['type'].value !== typeClickHouse"
        [control]="editConnectionForm.controls['database']"
      ></m-validation>
    </div>

    <div *ngIf="editConnectionForm.controls['type'].value === typeSnowFlake">
      <input
        spellcheck="false"
        data-cy="editConnectionDialogAccountInput"
        class="form-input border-gray3 focus:border-blue3 mt-6 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['account'].invalid &&
            editConnectionForm.controls['account'].touched
        }"
        formControlName="account"
        placeholder="Account"
      />
      <m-validation
        [control]="editConnectionForm.controls['account']"
      ></m-validation>
    </div>

    <div *ngIf="editConnectionForm.controls['type'].value === typeSnowFlake">
      <input
        spellcheck="false"
        data-cy="editConnectionDialogWarehouseInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['warehouse'].invalid &&
            editConnectionForm.controls['warehouse'].touched
        }"
        formControlName="warehouse"
        placeholder="Warehouse"
      />
      <m-validation
        [control]="editConnectionForm.controls['warehouse']"
      ></m-validation>
    </div>

    <div
      *ngIf="
        editConnectionForm.controls['type'].value === typeSnowFlake ||
        editConnectionForm.controls['type'].value === typeClickHouse ||
        editConnectionForm.controls['type'].value === typePostgreSQL
      "
    >
      <input
        spellcheck="false"
        data-cy="editConnectionDialogUserInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['username'].invalid &&
            editConnectionForm.controls['username'].touched
        }"
        formControlName="username"
        placeholder="User"
      />
      <m-validation
        [control]="editConnectionForm.controls['username']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="editConnectionDialogPasswordInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            editConnectionForm.controls['password'].invalid &&
            editConnectionForm.controls['password'].touched
        }"
        formControlName="password"
        placeholder="Password"
        type="password"
      />
      <m-validation
        [control]="editConnectionForm.controls['password']"
      ></m-validation>
    </div>

    <div class="mt-6">
      <button
        data-cy="editConnectionDialogSaveButton"
        class="bg-blue3 w-28 rounded py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editConnectionDialogCancelButton"
        class="border-blue3 text-blue3 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
