<div
  class="ml-2 h-10 w-10"
  #t1="tippy"
  [tippy]="templateProjectOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
  [offset]="[0, 5]"
  [isEnabled]="nav?.projectId !== undefined && needSave === false"
>
  <button
    class="h-10 w-10 rounded-full focus:outline-none"
    [disabled]="nav?.projectId === undefined || needSave === true"
  >
    <div class="flex justify-center">
      <m-settings-icon></m-settings-icon>
    </div>
  </button>

  <ng-template #templateProjectOptions>
    <div
      class="w-56 cursor-default rounded-md border-2 border-gray4 bg-white shadow-xl"
    >
      <div class="mt-2 block px-4 py-2 text-base font-semibold text-gray-400"
        >{{ nav?.projectName | capitalize }} Project</div
      >

      <button
        class="block w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
        [ngClass]="{
          'font-semibold': lastUrl === pathSettings
        }"
        [disabled]="lastUrl === pathSettings"
        (click)="t1.hide(); navigateSettings()"
        >Settings</button
      >

      <div
        tippy="Admin or Editor role required"
        [isEnabled]="isAdmin === false && isEditor === false"
      >
        <button
          class="block w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
          [ngClass]="{
            'font-semibold': lastUrl === pathConnections,
            'text-gray-400': isAdmin === false && isEditor === false,
            'border-gray3': isAdmin === true || isEditor === true
          }"
          [disabled]="
            lastUrl === pathConnections ||
            (isAdmin === false && isEditor === false)
          "
          (click)="t1.hide(); navigateConnections()"
          >Connections</button
        >
      </div>

      <div
        tippy="Project is restricted for demo purposes"
        [isEnabled]="nav.orgName === firstOrgName"
      >
        <button
          class="block w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
          [ngClass]="{
            'font-semibold': lastUrl === pathTeam,
            'text-gray-400': nav.orgName === firstOrgName,
            'border-gray3': nav.orgName !== firstOrgName
          }"
          [disabled]="lastUrl === pathTeam || nav.orgName === firstOrgName"
          (click)="t1.hide(); navigateTeam()"
          >Team</button
        >
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="alias$ | async"></div>
<div *ngIf="isAdmin$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
