<div
  class="flex flex-row"
  *ngIf="
    params.data.rowType === rowTypeMetric && metric.type === metricTypeModel
  "
>
  <div
    *ngIf="params.data.isRepParametersHaveError === true"
    class="text-red1 mr-5 mt-1 flex h-8 w-8 flex-shrink-0"
    tp="Parameters have an error"
    [tpIsEnabled]="
      params.data.isParamsJsonValid === false ||
      params.data.isParamsSchemaValid === false
    "
  >
    <m-exclamation-icon
      *ngIf="
        params.data.isParamsJsonValid === false ||
        params.data.isParamsSchemaValid === false
      "
    ></m-exclamation-icon>
  </div>

  <div class="truncate">
    <div class="flex flex-shrink-0">
      <m-bricks
        class="flex max-w-max flex-shrink-0 flex-row items-end justify-start overflow-auto"
        [extendedFilters]="parametersFilters"
        [isKeepBackgroundColor]="true"
        [rData]="params.data"
        [showJson]="showJson"
      ></m-bricks>
    </div>
  </div>
</div>

<div
  class="truncate"
  *ngIf="
    params.data.rowType === rowTypeMetric && metric.type !== metricTypeModel
  "
>
  {{ params.data.strParameters | capitalize }}
</div>
