<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="editProjectNameDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Edit Project Name</div
  >

  <form
    class="flex flex-col w-80"
    [formGroup]="editProjectNameForm"
    (ngSubmit)="save()"
  >
    <input
      data-cy="editProjectNameDialogProjectNameInput"
      class="mt-9 form-input rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          editProjectNameForm.controls['projectName'].invalid &&
          editProjectNameForm.controls['projectName'].touched
      }"
      formControlName="projectName"
      placeholder="Name"
    />
    <m-validation
      [control]="editProjectNameForm.controls['projectName']"
    ></m-validation>

    <div class="mt-6">
      <button
        data-cy="editProjectNameDialogSaveButton"
        class="py-3 w-28 text-base bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editProjectNameDialogCancelButton"
        class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
