<div class="flex h-full flex-col">
  <div class="mt-8 flex h-11 flex-shrink-0 flex-row"> </div>

  <div class="mb-6 mt-6 flex flex-grow overflow-y-auto rounded bg-white shadow">
    <div class="ml-5 mr-5 mt-10 flex w-full flex-col divide-y divide-gray-500">
      <div
        class="text-gray1 mb-3 mr-5 flex flex-row space-x-5 text-base font-semibold"
      >
        <div class="flex w-12"></div>
        <div class="flex w-1/3">Dashboard</div>
        <div class="flex w-1/6">File</div>
        <div class="flex flex-1 flex-row space-x-5">
          <div class="flex flex-1">Access Roles</div>
          <div class="flex flex-1">Access Users</div>
          <div class="flex flex-1">Author</div>
        </div>
      </div>

      <div
        *ngIf="filteredDashboards?.length > 0"
        class="h-2 flex-1 overflow-y-auto"
      >
        <div
          *ngFor="let item of filteredDashboards; trackBy: trackByFn"
          class="flex flex-row"
          [ngStyle]="
            item.dashboardId !==
              filteredDashboards[filteredDashboards.length - 1].dashboardId && {
              'border-bottom-width': '1px'
            }
          "
          [ngClass]="{
            'border-gray-300':
              item.dashboardId !==
              filteredDashboards[filteredDashboards.length - 1].dashboardId
          }"
        >
          <div class="flex-grow flex-col text-base">
            <div
              class="text-gray1 hover:border-blue2 hover:bg-blue2 group mr-5 flex w-full flex-row items-start space-x-5 rounded border border-white bg-white hover:cursor-pointer focus:outline-none"
              (click)="navigateToDashboard(item.dashboardId)"
            >
              <div class="flex w-12 pl-3 pt-1">
                <button
                  data-cy="dashboardOptionsMenuButton"
                  class="invisible relative flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none group-hover:visible"
                  #t1="tippy"
                  [tp]="templateDashboardOptions"
                  [tpHideOnEscape]="true"
                  tpVariation="menu"
                  className="my-menu"
                  (click)="rowMenuOnClick($event)"
                >
                  <m-dots-vertical-icon></m-dots-vertical-icon>
                </button>

                <ng-template #templateDashboardOptions>
                  <div
                    class="border-gray4 w-64 rounded-md border-2 bg-white shadow-xl"
                  >
                    <button
                      data-cy="dashboardOptionsGoToFile"
                      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                      (click)="t1.hide(); goToDashboardFile($event, item)"
                      >Go to file</button
                    >

                    <div
                      tp="Dashboard can be deleted by author and project members with ProjectAdmin or FilesEditor role. Try to save dashboard as new to become an author."
                      placement="left"
                      [tpIsEnabled]="item.canEditOrDeleteDashboard === false"
                    >
                      <button
                        data-cy="dashboardOptionsDelete"
                        class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                        [ngClass]="{
                          'cursor-default text-gray-400':
                            item.canEditOrDeleteDashboard === false
                        }"
                        (click)="t1.hide(); deleteDashboard($event, item)"
                        [disabled]="item.canEditOrDeleteDashboard === false"
                        >Delete</button
                      >
                    </div>
                  </div>
                </ng-template>
              </div>

              <div class="flex w-1/3 truncate py-3">
                <span class="truncate">
                  {{ item.title || item.dashboardId | capitalize }}
                </span>
              </div>

              <div
                class="flex w-1/6 items-start truncate py-3 focus:outline-none"
              >
                <span class="truncate">
                  {{
                    item.filePath.split('/')[
                      item.filePath.split('/').length - 1
                    ]
                  }}
                </span>
              </div>

              <div class="flex flex-1 flex-row space-x-5 text-base">
                <div class="flex flex-1 flex-wrap truncate py-3 text-base">
                  <span
                    *ngFor="let role of item.accessRoles"
                    class="mr-2 truncate"
                  >
                    {{ role }}
                  </span>
                </div>

                <div class="flex flex-1 flex-wrap truncate py-3 text-base">
                  <span
                    *ngFor="let user of item.accessUsers"
                    class="mr-2 truncate"
                  >
                    {{ user }}
                  </span>
                </div>

                <div
                  class="flex flex-1 items-start truncate py-3 focus:outline-none"
                >
                  <span>
                    {{ item.author }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="h-12"></div>
        </div>
      </div>

      <div
        class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
        *ngIf="filteredDashboards?.length === 0"
        >No dashboards</div
      >
    </div>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
<div *ngIf="filteredDashboards$ | async"></div>
