.dashboard {
  &__go-to-file {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__report {
    font-size: 16px;
  }
}
.running__text {
  font-size: 16px;
}
/deep/.m-dashboard-filters {
  padding-left: 15px;
  padding-bottom: 15px;
}

/deep/ .info-icon {
  opacity: 0.5;
  font-size: 19px !important;
  margin-right: 10px;
  cursor: default;
}
.mobile-menu {
  &__button {
    min-width: 55px;
  }
}
.dashboard-mobile-side {
  padding: 10px;
  button {
    margin-bottom: 10px;
  }
  & > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
