<mat-form-field>
  <mat-select
    placeholder="TileWidth"
    data-cy="chartTileWidth"
    [(ngModel)]="chart.tile_width"
    (selectionChange)="tileWidthChange($event)"
  >
    <mat-option [value]="chartTileWidthEnum._1" data-cy="chartTileWidth1"
      >1</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._2" data-cy="chartTileWidth2"
      >2</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._3" data-cy="chartTileWidth3"
      >3</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._4" data-cy="chartTileWidth4"
      >4</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._5" data-cy="chartTileWidth5"
      >5</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._6" data-cy="chartTileWidth6"
      >6</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._7" data-cy="chartTileWidth7"
      >7</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._8" data-cy="chartTileWidth8"
      >8</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._9" data-cy="chartTileWidth9"
      >9</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._10" data-cy="chartTileWidth10"
      >10</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._11" data-cy="chartTileWidth11"
      >11</mat-option
    >

    <mat-option [value]="chartTileWidthEnum._12" data-cy="chartTileWidth12"
      >12</mat-option
    >
  </mat-select>
</mat-form-field>
