<div class="bg-blue1 flex flex-col h-full">
  <div class="flex flex-row h-full">
    <div class="flex flex-col flex-grow mx-6 mb-6 mt-8">
      <div class="flex flex-row justify-between items-center h-11">
        <div class="flex flex-row items-center w-full">
          <div class="flex flex-row items-center space-x-5">
            <div
              data-cy="modelTitle"
              class="flex font-semibold text-2xl text-gray1 items-center self-center"
            >
              Model
            </div>

            <div class="text-xl text-gray1">{{
              model?.label | capitalize
            }}</div>

            <button
              class="flex flex-row items-center text-blue-500 focus:outline-none"
              (click)="goToFile()"
            >
              <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>
              <div class="ml-2 text-xl">File</div>
            </button>
          </div>

          <div class="flex-grow"></div>

          <div class="flex flex-row items-center text-base text-gray1">
            <!-- <div *ngIf="isRunningDry === true">Calculating ... </div> -->

            <!-- <div *ngIf="isRunning === true">Running ... </div> -->

            <!-- <div *ngIf="isCanceling === true">Canceling ... </div> -->

            <div *ngIf="!!dryQueryEstimate"
              >Estimate - {{ dryDataSize }} - {{ dryTimeAgo$ | async }}
            </div>

            <div
              *ngIf="
                !dryQueryEstimate && query?.status === queryStatusEnum.Running
              "
              class="flex flex-row"
            >
              <div>Running - seconds</div>
              <div class="w-8 ml-1">{{ runSecondsAgo$ | async }}</div>
            </div>

            <div
              *ngIf="
                !dryQueryEstimate && query?.status === queryStatusEnum.Error
              "
              class="max-w-2xl px-3 py-2 bg-red-100 text-red-700 truncate select-none"
              nz-tooltip
              [nzTooltipTitle]="query?.lastErrorMessage | capitalize"
              nzTooltipPlacement="bottom"
              >{{ query?.lastErrorMessage | capitalize }}</div
            >

            <div
              *ngIf="
                !dryQueryEstimate && query?.status === queryStatusEnum.Error
              "
              class="ml-5"
              >Error - {{ errorTimeAgo$ | async }}</div
            >

            <div
              *ngIf="
                !dryQueryEstimate && query?.status === queryStatusEnum.Canceled
              "
              >Canceled - {{ canceledTimeAgo$ | async }}</div
            >

            <div
              *ngIf="
                !dryQueryEstimate && query?.status === queryStatusEnum.Completed
              "
            >
              <span>Completed - {{ completedTimeAgo$ | async }}</span>
              <span> - {{ query.lastCompleteDuration }}s</span>
              <span> - {{ query.data.length }} rows</span>
            </div>

            <button
              type="button"
              *ngIf="query?.status === queryStatusEnum.Running"
              data-cy="modelCancelButton"
              class="w-24 py-2 ml-5 text-white bg-blue3 text-base rounded font-medium focus:outline-none"
              (click)="cancel()"
              >Cancel</button
            >

            <button
              type="button"
              *ngIf="query?.status !== queryStatusEnum.Running"
              data-cy="modelRunButton"
              class="w-24 py-2 ml-5 text-white text-base rounded font-medium focus:outline-none"
              [ngClass]="{
                'bg-blue3': mconfig?.select.length > 0,
                'bg-gray-400 cursor-default': mconfig?.select.length === 0
              }"
              (click)="run()"
              [disabled]="mconfig?.select.length === 0"
              >Run</button
            >

            <div class="relative ml-3">
              <m-query-options
                [showRunDryButton]="
                  query?.connectionType === connectionTypeEnum.BigQuery
                "
                (runDryEvent)="runDry()"
              ></m-query-options>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-row flex-grow mt-6">
        <m-model-tree class="flex w-1/4"></m-model-tree>

        <div class="flex flex-col flex-grow ml-6 space-y-6">
          <div
            class="bg-white rounded shadow-md w-full"
            [ngClass]="{
              'flex-1': filtersIsExpanded
            }"
          >
            <div class="flex flex-col h-full">
              <div
                class="flex min-h-[80px] flex-row items-center flex-shrink-0"
              >
                <m-panel-title
                  [title]="'Filters'"
                  [isExpanded]="filtersIsExpanded"
                  (toggleEvent)="toggleFiltersPanel()"
                ></m-panel-title>

                <m-model-bricks
                  *ngIf="mconfig?.filters.length > 0"
                ></m-model-bricks>
              </div>

              <div
                class="flex flex-grow mx-5 mb-5 h-2"
                *ngIf="filtersIsExpanded"
              >
                <div
                  *ngIf="mconfig?.filters.length === 0"
                  class="flex items-center justify-center text-xl h-full w-full select-none text-gray1"
                  >No filters</div
                >
                <div class="flex-1 w-2 overflow-auto">
                  <m-model-filters></m-model-filters>
                </div>
              </div>
            </div>
          </div>

          <div
            class="bg-white rounded shadow-md w-full"
            [ngClass]="{
              'flex-1': chartIsExpanded
            }"
          >
            <div class="flex flex-col h-full">
              <div class="flex flex-row h-20 items-center flex-shrink-0 mr-5">
                <m-panel-title
                  [title]="'Chart'"
                  [isExpanded]="chartIsExpanded"
                  (toggleEvent)="toggleChartPanel()"
                ></m-panel-title>

                <!-- <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 text-gray1 text-base select-none"
                  >Type</div
                > -->

                <form
                  [formGroup]="chartTypeForm"
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5"
                >
                  <ng-select
                    #chartTypeSelect
                    data-cy="chartTypeSelect"
                    class="w-72 text-base focus:outline-none"
                    [items]="chartTypesList"
                    [clearable]="false"
                    [searchable]="false"
                    (change)="chartTypeChange()"
                    appendTo="body"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="chartType"
                  >
                    <ng-template ng-label-tmp let-item="item">
                      <div
                        class="flex flex-row space-x-2 justify-start items-center"
                      >
                        <img class="h-6 w-6" [src]="item.iconPath" />
                        <div> {{ item.label }} </div>
                      </div>
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      <div
                        class="flex flex-row space-x-2 justify-start items-center"
                      >
                        <img class="h-6 w-6" [src]="item.iconPath" />
                        <div> {{ item.label }} </div>
                      </div>
                    </ng-template>
                  </ng-select>
                </form>

                <!-- <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 text-gray1 text-base select-none"
                  >Title</div
                > -->

                <div
                  *ngIf="mconfig?.select.length > 0"
                  [formGroup]="chartTitleForm"
                  class="flex flex-col ml-5 items-start"
                >
                  <div class="h-6"></div>
                  <input
                    data-cy="modelChartTitleInput"
                    class="w-96 h-[36px] form-input rounded border-gray3 focus:border-blue3"
                    [ngClass]="{
                      'border-red-600':
                        chartTitleForm.controls['chartTitle'].invalid &&
                        chartTitleForm.controls['chartTitle'].touched
                    }"
                    formControlName="chartTitle"
                    placeholder="Title"
                    (blur)="chartTitleBlur()"
                  />
                  <m-validation
                    [control]="chartTitleForm.controls['chartTitle']"
                  ></m-validation>
                </div>

                <div class="flex-1"></div>

                <button
                  type="button"
                  *ngIf="mconfig?.select.length > 0"
                  data-cy="modelSaveAsButton"
                  class="w-28 h-[36px] ml-5 text-white text-base rounded font-medium focus:outline-none"
                  [ngClass]="{
                    'bg-blue3':
                      mconfig.chart.isValid === true &&
                      chartTitleForm.valid === true,
                    'bg-gray-400 cursor-default':
                      mconfig.chart.isValid === false ||
                      chartTitleForm.valid === false
                  }"
                  (click)="saveAs()"
                  [disabled]="
                    mconfig.chart.isValid === false ||
                    chartTitleForm.valid === false
                  "
                  >Save As</button
                >

                <div *ngIf="mconfig?.select.length > 0" class="relative ml-3">
                  <m-chart-options
                    [isDisabled]="
                      mconfig.chart.isValid === false ||
                      chartTitleForm.valid === false
                    "
                  ></m-chart-options>
                </div>
              </div>

              <div
                class="flex flex-grow mt-5 mb-5 mx-5 h-2"
                *ngIf="chartIsExpanded"
              >
                <div
                  *ngIf="mconfig?.select.length === 0"
                  class="flex items-center justify-center text-xl h-full w-full select-none text-gray1"
                  >No selected fields</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="flex flex-row items-start justify-center space-x-5 w-full h-full"
                >
                  <m-chart-view
                    *ngIf="mconfigChart"
                    class="w-2/3 h-full"
                    [sortedColumns]="sortedColumns"
                    [qData]="qData"
                    [chart]="mconfigChart"
                    [queryStatus]="queryStatus"
                  ></m-chart-view>

                  <div
                    class="w-1/3 h-full border-l overflow-auto"
                    [ngClass]="{
                      'border-gray-300': mconfig.chart.isValid === true,
                      'border-red-600': mconfig.chart.isValid === false
                    }"
                  >
                    <m-chart-editor
                      [chart]="mconfig.chart"
                      [sortedColumns]="sortedColumns"
                    ></m-chart-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="bg-white rounded shadow-md w-full"
            [ngClass]="{
              'flex-1': dataIsExpanded
            }"
          >
            <div class="flex flex-col h-full">
              <div class="flex flex-row h-20 items-center flex-shrink-0 mr-5">
                <m-panel-title
                  [title]="'Data'"
                  [isExpanded]="dataIsExpanded"
                  (toggleEvent)="toggleDataPanel()"
                ></m-panel-title>

                <button
                  class="w-24 py-3 ml-5 items-center text-lg text-gray1 select-none focus:outline-none"
                  [ngClass]="{
                    'font-semibold': resultsIsShow,
                    'text-gray-400 cursor-default':
                      !dataIsExpanded || mconfig?.select.length === 0
                  }"
                  (click)="toggleResults()"
                  [disabled]="!dataIsExpanded || mconfig?.select.length === 0"
                  >Results</button
                >

                <button
                  class="w-16 py-3 ml-5 items-center text-lg text-gray1 select-none focus:outline-none"
                  [ngClass]="{
                    'font-semibold': sqlIsShow,
                    'text-gray-400 cursor-default':
                      !dataIsExpanded || mconfig?.select.length === 0
                  }"
                  (click)="toggleSql()"
                  [disabled]="!dataIsExpanded || mconfig?.select.length === 0"
                  >SQL</button
                >

                <div class="flex-1"></div>

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 text-gray1 text-base select-none"
                  >Timezone</div
                >

                <form
                  class="ml-3"
                  [formGroup]="timezoneForm"
                  *ngIf="mconfig?.select.length > 0"
                >
                  <ng-select
                    #timezoneSelect
                    data-cy="timezoneSelect"
                    class="w-96 text-base focus:outline-none"
                    [items]="timezones"
                    [clearable]="false"
                    (change)="timezoneChange()"
                    appendTo="body"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="timezone"
                  >
                    <!-- <ng-template ng-header-tmp>
                      <div class="flex text-base text-gray-400 h-10 justify-center items-center select-none"> TIMEZONE </div>
                    </ng-template> -->
                  </ng-select>
                </form>

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 text-gray1 text-base select-none"
                  >Limit</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  [formGroup]="limitForm"
                  class="flex flex-col ml-3 items-start"
                >
                  <div class="h-6"></div>
                  <input
                    data-cy="modelLimitInput"
                    class="w-32 h-[36px] form-input rounded border-gray3 focus:border-blue3"
                    [ngClass]="{
                      'border-red-600':
                        limitForm.controls['limit'].invalid &&
                        limitForm.controls['limit'].touched
                    }"
                    formControlName="limit"
                    (blur)="limitBlur()"
                  />
                  <m-validation
                    [control]="limitForm.controls['limit']"
                  ></m-validation>
                </div>

                <button
                  *ngIf="mconfig?.select.length > 0"
                  class="items-center ml-5 text-lg select-none focus:outline-none"
                  [ngClass]="{
                    'text-blue-500': isFormat,
                    'text-gray1': !isFormat
                  }"
                  (click)="toggleFormat()"
                >
                  <m-currency-dollar-icon></m-currency-dollar-icon
                ></button>
              </div>

              <div
                class="flex flex-grow mt-5 mb-5 mx-5 h-2"
                *ngIf="dataIsExpanded"
              >
                <div
                  *ngIf="mconfig?.select.length === 0"
                  class="flex items-center justify-center text-xl h-full w-full select-none text-gray1"
                  >No selected fields</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="flex flex-row items-start justify-center space-x-5 w-full h-full"
                >
                  <div
                    *ngIf="resultsIsShow"
                    class="flex-1 h-full w-2 overflow-auto"
                  >
                    <m-main-table
                      [isFormat]="isFormat"
                      [qData]="qData"
                      [sortedColumns]="sortedColumns"
                    ></m-main-table>
                  </div>

                  <div *ngIf="sqlIsShow" class="flex-1 h-full w-2">
                    <m-sql></m-sql>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="model$ | async"></div>
<div *ngIf="mconfig$ | async"></div>
<div *ngIf="query$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="modelMconfigQueryLatest$ | async"></div>
