<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="flex h-2 flex-1 flex-row overflow-y-auto">
    <div class="mx-6 mb-6 mt-8 flex min-w-[2px] flex-grow flex-col">
      <div class="flex h-11 flex-row items-center justify-between">
        <div class="flex w-full flex-row items-center">
          <div class="flex flex-row items-center space-x-5">
            <div
              data-cy="modelTitle"
              class="text-gray1 flex items-center self-center text-2xl font-semibold"
            >
              {{ pageTitle }}
            </div>

            <div class="text-gray1 text-xl">{{
              model?.label | capitalize
            }}</div>

            <button
              class="flex flex-row items-center text-blue-500 focus:outline-none"
              *ngIf="model?.modelId"
              (click)="goToFile()"
            >
              <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>

              <span class="ml-2 text-xl">
                {{
                  model.filePath.split('/')[
                    model.filePath.split('/').length - 1
                  ]
                }}
              </span>
            </button>
          </div>

          <div class="flex-grow"></div>

          <div class="text-gray1 flex flex-row items-center text-base">
            <!-- <div *ngIf="isRunningDry === true">Calculating ... </div> -->
            <!-- <div *ngIf="isRunning === true">Running ... </div> -->
            <!-- <div *ngIf="isCanceling === true">Canceling ... </div> -->

            <div *ngIf="!!dryQueryEstimate"
              >Estimate - {{ dryDataSize }} - {{ dryTimeAgo$ | async }}
            </div>

            <m-query-status
              *ngIf="!dryQueryEstimate"
              [query]="query"
            ></m-query-status>

            <ui-switch
              class="ml-5"
              [checked]="isAutoRun"
              (change)="toggleAutoRun()"
            ></ui-switch>

            <div
              class="text-gray1 ml-5 flex h-9 select-none items-center text-base"
              >Auto Run</div
            >

            <button
              type="button"
              *ngIf="query?.status === queryStatusEnum.Running"
              data-cy="modelCancelButton"
              class="ml-5 flex h-12 w-24 items-center justify-center rounded bg-red-600 py-2 text-base font-medium text-white focus:outline-none"
              [ngClass]="{
                'cursor-default': isCancelButtonPressed === true
              }"
              (click)="cancel()"
              [disabled]="isCancelButtonPressed === true"
            >
              <div *ngIf="isCancelButtonPressed === false">Cancel</div>
              <div
                *ngIf="isCancelButtonPressed === true"
                class="relative flex h-9 w-9 flex-shrink-0"
              >
                <ngx-spinner
                  [name]="modelCancelButtonSpinnerName"
                  color="rgba(255, 255, 255, 1)"
                  bdColor="rgba(0, 0, 0, 0)"
                  size="default"
                  type="ball-clip-rotate"
                  [fullScreen]="false"
                  [disableAnimation]="true"
                  [zIndex]="99998"
                >
                </ngx-spinner>
              </div>
            </button>

            <div
              *ngIf="query?.status !== queryStatusEnum.Running"
              tp="No selected fields"
              class="ml-5"
              [tpIsEnabled]="mconfig?.select.length === 0"
            >
              <button
                type="button"
                data-cy="modelRunButton"
                class="flex h-12 w-24 items-center justify-center rounded text-base font-medium text-white focus:outline-none"
                [ngClass]="{
                  'bg-blue3': mconfig?.select.length > 0,
                  'cursor-default':
                    mconfig?.select.length === 0 || isRunButtonPressed === true,
                  'bg-gray-400': mconfig?.select.length === 0
                }"
                (click)="run()"
                [disabled]="
                  mconfig?.select.length === 0 || isRunButtonPressed === true
                "
              >
                <div *ngIf="isRunButtonPressed === false">Run</div>
                <div
                  *ngIf="isRunButtonPressed === true"
                  class="relative flex h-9 w-9 flex-shrink-0"
                >
                  <ngx-spinner
                    [name]="modelRunButtonSpinnerName"
                    color="rgba(255, 255, 255, 1)"
                    bdColor="rgba(0, 0, 0, 0)"
                    size="default"
                    type="ball-clip-rotate"
                    [fullScreen]="false"
                    [disableAnimation]="true"
                    [zIndex]="99998"
                  >
                  </ngx-spinner>
                </div>
              </button>
            </div>

            <div class="relative ml-5">
              <m-query-options
                [showRunDryButton]="
                  query?.connectionType === connectionTypeEnum.BigQuery
                "
                (runDryEvent)="runDry()"
              ></m-query-options>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 flex flex-grow flex-row">
        <m-model-tree
          class="flex w-1/4 flex-shrink-0"
          (expandFilters)="expandFiltersPanel()"
          (expandData)="expandDataPanel()"
        ></m-model-tree>

        <div
          class="ml-6 flex min-w-[2px] flex-grow flex-col space-y-2"
          *ngIf="isShow === true"
        >
          <div
            class="w-full rounded bg-white shadow"
            [ngClass]="{
              'flex-1': dataIsExpanded
            }"
          >
            <div class="flex h-full flex-col">
              <div class="mr-5 flex h-20 flex-shrink-0 flex-row items-center">
                <m-panel-title
                  [title]="'Data'"
                  [isExpanded]="dataIsExpanded"
                  (toggleEvent)="toggleDataPanel()"
                ></m-panel-title>

                <button
                  class="text-gray1 ml-5 w-24 select-none items-center py-3 text-lg focus:outline-none"
                  [ngClass]="{
                    'font-semibold':
                      resultsIsShow === true &&
                      sqlIsShow === false &&
                      resultsIsShowTemp === false,
                    'cursor-default text-gray-400':
                      !dataIsExpanded || mconfig?.select.length === 0
                  }"
                  (click)="toggleResults()"
                  [disabled]="!dataIsExpanded || mconfig?.select.length === 0"
                  >Results</button
                >

                <button
                  class="text-gray1 ml-5 w-24 select-none items-center py-3 text-lg focus:outline-none"
                  [ngClass]="{
                    'font-semibold':
                      resultsIsShow === true && sqlIsShow === true,
                    'cursor-default text-gray-400':
                      !dataIsExpanded || mconfig?.select.length === 0
                  }"
                  (click)="toggleSplit()"
                  [disabled]="!dataIsExpanded || mconfig?.select.length === 0"
                  >Split</button
                >

                <button
                  class="text-gray1 ml-5 w-16 select-none items-center py-3 text-lg focus:outline-none"
                  [ngClass]="{
                    'font-semibold':
                      sqlIsShow === true && resultsIsShow === false,
                    'cursor-default text-gray-400':
                      !dataIsExpanded || mconfig?.select.length === 0
                  }"
                  (click)="toggleSql()"
                  [disabled]="!dataIsExpanded || mconfig?.select.length === 0"
                  >SQL</button
                >

                <div
                  *ngIf="!!mconfig && mconfig.warnSelect.length > 0"
                  class="ml-5 flex h-8 w-8 flex-shrink-0 text-amber-500"
                  tp="Warning: The selected fields [{{
                    mconfig.warnSelect.join(', ')
                  }}] may use unsafe aggregations and produce incorrect results"
                  placement="left"
                >
                  <m-exclamation-icon></m-exclamation-icon>
                </div>

                <div class="flex-1"></div>

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="text-gray1 ml-5 select-none text-base"
                  >Timezone</div
                >

                <form
                  class="ml-3"
                  [formGroup]="timezoneForm"
                  *ngIf="mconfig?.select.length > 0"
                >
                  <ng-select
                    #timezoneSelect
                    data-cy="timezoneSelect"
                    class="custom w-96 text-base focus:outline-none"
                    [items]="timezones"
                    [clearable]="false"
                    [searchable]="true"
                    [searchFn]="timezoneSearchFn"
                    (change)="timezoneChange()"
                    appendTo="body"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="timezone"
                  >
                    <!-- <ng-template ng-header-tmp>
                  <div class="flex text-base text-gray-400 h-10 justify-center items-center select-none"> TIMEZONE </div>
                </ng-template> -->
                    <ng-template ng-label-tmp let-item="item">
                      <div>{{ item.label }}</div>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item">
                      <div>{{ item.label }}</div>
                    </ng-template>
                  </ng-select>
                </form>

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="text-gray1 ml-5 select-none text-base"
                  >Limit</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  [formGroup]="limitForm"
                  class="ml-3 flex flex-col items-start"
                >
                  <div class="h-6"></div>
                  <input
                    autocomplete="off"
                    spellcheck="false"
                    data-cy="modelLimitInput"
                    class="form-input border-gray3 focus:border-blue3 h-[36px] w-32 rounded"
                    [ngClass]="{
                      'border-red-600':
                        limitForm.controls['limit'].invalid &&
                        limitForm.controls['limit'].touched
                    }"
                    formControlName="limit"
                    (blur)="limitBlur()"
                  />
                  <m-validation
                    [control]="limitForm.controls['limit']"
                  ></m-validation>
                </div>

                <div
                  class="text-gray1 ml-5 flex h-9 select-none items-center text-base"
                  >Format</div
                >

                <ui-switch
                  class="ml-5"
                  [checked]="isFormat"
                  (change)="toggleFormat()"
                ></ui-switch>
              </div>

              <div
                class="ml-6 mr-5 flex flex-col divide-y divide-gray-300"
                *ngIf="dataIsExpanded"
              >
                <div class="flex flex-row"></div>
                <div class="flex flex-row"></div>
              </div>

              <div
                class="mx-5 mb-5 mt-5 flex h-2 flex-grow"
                *ngIf="dataIsExpanded"
              >
                <div
                  *ngIf="mconfig?.select.length === 0"
                  class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
                  >No selected fields</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="flex h-full w-full flex-row items-start justify-center space-x-5"
                >
                  <div
                    *ngIf="resultsIsShow"
                    class="h-full w-2 flex-1 overflow-auto"
                  >
                    <m-main-table
                      [isEdit]="true"
                      [isFormat]="isFormat"
                      [mconfig]="mconfig"
                      [qData]="qData"
                      [mconfigFields]="mconfig.fields"
                    ></m-main-table>
                  </div>

                  <div *ngIf="sqlIsShow" class="h-full w-2 flex-1">
                    <m-sql></m-sql>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="w-full">
            <div class="flex flex-col">
              <div class="mr-5 flex flex-shrink-0 flex-grow flex-row">
                <div
                  class="text-gray1 ml-6 mt-4 flex h-full min-h-[76px] w-full flex-shrink-0 select-none pt-4 text-xl"
                  *ngIf="mconfig?.extendedFilters.length === 0"
                  >No filters</div
                >

                <div
                  class="mt-4 flex min-h-[76px] flex-shrink-0 flex-grow flex-row"
                  *ngIf="mconfig?.extendedFilters.length > 0"
                >
                  <div
                    (click)="toggleFiltersPanel()"
                    class="text-gray1 flex h-11 cursor-pointer select-none flex-row items-start space-x-2 px-5 py-3 text-2xl font-semibold"
                  >
                    <div class="flex flex-row items-center space-x-2">
                      <m-chevron-right-icon
                        *ngIf="
                          !filtersIsExpanded &&
                          mconfig?.extendedFilters.length > 0
                        "
                      ></m-chevron-right-icon>

                      <m-chevron-down-icon
                        *ngIf="
                          filtersIsExpanded &&
                          mconfig?.extendedFilters.length > 0
                        "
                      ></m-chevron-down-icon>

                      <div
                        class="h-6 w-6"
                        *ngIf="mconfig?.extendedFilters.length === 0"
                      ></div>

                      <div> Filters </div>
                    </div>
                  </div>

                  <m-bricks
                    class="mb-5 ml-3 mr-5 mt-3 flex max-h-[150px] max-w-max flex-row items-start justify-start overflow-auto"
                    *ngIf="!filtersIsExpanded"
                    [extendedFilters]="mconfig.extendedFilters"
                    [isKeepBackgroundColor]="false"
                  ></m-bricks>

                  <div
                    class="ml-3 max-h-96 w-2 flex-1 overflow-auto"
                    *ngIf="filtersIsExpanded"
                  >
                    <m-model-filters></m-model-filters>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="w-full rounded bg-white shadow"
            [ngClass]="{
              'flex-1': chartIsExpanded
            }"
          >
            <div class="flex h-full flex-col">
              <div class="mr-5 flex h-20 flex-shrink-0 flex-row items-center">
                <m-panel-title
                  [title]="'Chart'"
                  [isExpanded]="chartIsExpanded"
                  (toggleEvent)="toggleChartPanel()"
                ></m-panel-title>

                <!-- <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 text-gray1 text-base select-none"
                  >Type</div
                > -->

                <form
                  [formGroup]="chartTypeForm"
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5"
                >
                  <ng-select
                    #chartTypeSelect
                    data-cy="chartTypeSelect"
                    class="chart-type-select w-96 text-base focus:outline-none"
                    [items]="chartTypesList"
                    [clearable]="false"
                    [searchable]="false"
                    (change)="chartTypeChange()"
                    appendTo="body"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="chartType"
                  >
                    <ng-template ng-label-tmp let-item="item">
                      <div
                        class="ml-1 flex flex-row items-center justify-start space-x-2"
                      >
                        <img class="h-6 w-6" [src]="item.iconPath" />
                        <div> {{ item.label }} </div>
                      </div>
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      <div
                        class="ml-1 flex flex-row items-center justify-start space-x-2"
                      >
                        <img class="h-6 w-6" [src]="item.iconPath" />
                        <div> {{ item.label }} </div>
                      </div>
                    </ng-template>
                  </ng-select>
                </form>

                <!-- <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 text-gray1 text-base select-none"
                  >Title</div
                > -->

                <div
                  *ngIf="mconfig?.select.length > 0"
                  [formGroup]="chartTitleForm"
                  class="ml-5 flex w-full flex-col items-start"
                >
                  <div class="h-6"></div>
                  <input
                    autocomplete="off"
                    spellcheck="false"
                    data-cy="modelChartTitleInput"
                    class="form-input border-gray3 focus:border-blue3 h-[36px] w-full rounded"
                    [ngClass]="{
                      'border-red-600':
                        chartTitleForm.controls['chartTitle'].invalid &&
                        chartTitleForm.controls['chartTitle'].touched
                    }"
                    formControlName="chartTitle"
                    placeholder="Title"
                    (blur)="chartTitleBlur()"
                  />
                  <m-validation
                    [control]="chartTitleForm.controls['chartTitle']"
                  ></m-validation>
                </div>

                <div class="flex-1"></div>

                <ng-template #templateChartSaveAs>
                  <div
                    *ngIf="
                      isSelectValid === false ||
                      mconfig?.chart?.isValid === false ||
                      chartTitleForm?.valid === false
                    "
                    >Chart is not valid</div
                  >

                  <div
                    *ngIf="
                      isSelectValid === true &&
                      mconfig?.chart?.isValid === true &&
                      chartTitleForm?.valid === true &&
                      alias === restrictedUserAlias
                    "
                    >User is restricted. Sign Up at https://mprove.io to get
                    full access.</div
                  >
                </ng-template>

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-[138px]"
                  [tp]="templateChartSaveAs"
                  [tpIsEnabled]="
                    isSelectValid === false ||
                    mconfig?.chart?.isValid === false ||
                    chartTitleForm?.valid === false ||
                    alias === restrictedUserAlias
                  "
                >
                  <button
                    type="button"
                    data-cy="modelSaveAsButton"
                    class="w-28 flex-shrink-0 rounded py-2 text-base font-medium focus:outline-none"
                    [ngClass]="{
                      'text-blue3 border-2 bg-white':
                        isSelectValid === true &&
                        mconfig.chart.isValid === true &&
                        chartTitleForm.valid === true &&
                        alias !== restrictedUserAlias,
                      'cursor-default bg-gray-400 text-white':
                        isSelectValid === false ||
                        mconfig.chart.isValid === false ||
                        chartTitleForm.valid === false ||
                        alias === restrictedUserAlias
                    }"
                    (click)="saveAs()"
                    [disabled]="
                      isSelectValid === false ||
                      mconfig.chart.isValid === false ||
                      chartTitleForm.valid === false ||
                      alias === restrictedUserAlias
                    "
                    >Save As</button
                  >
                </div>

                <button
                  *ngIf="mconfig?.select.length > 0"
                  data-cy="modelShowChartButton"
                  class="ml-5 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded hover:bg-blue-200 focus:outline-none"
                  (click)="showChart($event)"
                >
                  <m-full-screen-icon></m-full-screen-icon>
                </button>

                <div *ngIf="mconfig?.select.length > 0" class="relative ml-3">
                  <m-chart-options
                    [mconfig]="mconfig"
                    [isDisabled]="
                      isSelectValid === false ||
                      mconfig.chart.isValid === false ||
                      chartTitleForm.valid === false
                    "
                  ></m-chart-options>
                </div>
              </div>

              <div
                class="ml-6 mr-5 flex flex-col divide-y divide-gray-300"
                *ngIf="chartIsExpanded"
              >
                <div class="flex flex-row"></div>
                <div class="flex flex-row"></div>
              </div>

              <div
                class="mx-5 mb-5 mt-5 flex h-2 flex-grow"
                *ngIf="chartIsExpanded"
              >
                <div
                  *ngIf="mconfig?.select.length === 0"
                  class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
                  >No selected fields</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="flex h-full w-2 flex-1 flex-row items-start justify-center space-x-5"
                >
                  <m-chart-view
                    *ngIf="mconfig?.chart"
                    class="h-full w-2/3 overflow-auto"
                    [mconfigFields]="mconfig.fields"
                    [qData]="qData"
                    [chart]="mconfig.chart"
                    [queryStatus]="query.status"
                  ></m-chart-view>

                  <div
                    class="h-full w-1/3 flex-shrink-0 overflow-auto border-l"
                    [ngClass]="{
                      'border-gray-300': mconfig.chart.isValid === true,
                      'border-red-600': mconfig.chart.isValid === false
                    }"
                  >
                    <m-chart-editor
                      [chart]="mconfig.chart"
                      [mconfigFields]="mconfig.fields"
                      [queryId]="mconfig?.queryId"
                    ></m-chart-editor>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="model$ | async"></div>
<div *ngIf="mq$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="alias$ | async"></div>
