<div class="bg-blue1 flex flex-col h-full">
  <div class="flex flex-row h-full">
    <div class="flex flex-col flex-grow mx-6 mb-6 mt-8">
      <div class="flex flex-row justify-between items-center h-11">
        <div class="flex flex-row items-center space-x-5 w-full">
          <div
            data-cy="modelTitle"
            class="flex font-semibold text-2xl text-gray1 items-center self-center"
          >
            Model
          </div>

          <div class="text-xl text-gray1">{{ model?.label | capitalize }}</div>

          <button
            class="flex flex-row items-center text-blue-500 focus:outline-none"
            (click)="goToFile()"
          >
            <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>
            <div class="ml-2 text-xl">File</div>
          </button>

          <div class="flex-grow"></div>

          <div
            *ngIf="query?.status === queryStatusEnum.Running"
            class="flex flex-row"
          >
            <div>Running - seconds</div>
            <div class="w-8 ml-1">{{ runSecondsAgo$ | async }}</div>
          </div>

          <div *ngIf="query?.status === queryStatusEnum.Error"
            >Error - {{ errorTimeAgo$ | async }}</div
          >

          <div *ngIf="query?.status === queryStatusEnum.Error">{{
            query?.lastErrorMessage
          }}</div>

          <div *ngIf="query?.status === queryStatusEnum.Canceled"
            >Canceled - {{ canceledTimeAgo$ | async }}</div
          >

          <div *ngIf="query?.status === queryStatusEnum.Completed"
            >Completed - {{ completedTimeAgo$ | async }}</div
          >

          <button
            type="button"
            data-cy="modelRunButton"
            class="py-2 px-5 text-white rounded font-medium focus:outline-none"
            [ngClass]="{
              'bg-gray-400 cursor-default': false,
              'bg-blue3': true
            }"
            (click)="run()"
            [disabled]="false"
            >Run</button
          >
        </div>

        <div class="flex flex-row space-x-3 items-center"> </div>
      </div>

      <div class="flex flex-row flex-grow mt-6">
        <m-model-tree class="flex w-1/4"></m-model-tree>

        <div class="flex flex-col flex-grow ml-6 space-y-6">
          <div
            class="bg-white rounded shadow-md w-full"
            [ngClass]="{
              'flex-1': filtersIsExpanded
            }"
          >
            <div class="flex flex-col h-full">
              <div class="flex h-16 items-center flex-shrink-0">
                <m-panel-title
                  [title]="'Filters'"
                  [isExpanded]="filtersIsExpanded"
                  (toggleEvent)="toggleFiltersPanel()"
                ></m-panel-title>
              </div>

              <div
                class="flex flex-grow mt-5 mx-5 h-2"
                *ngIf="filtersIsExpanded"
              >
                <div
                  *ngIf="mconfig?.filters.length === 0"
                  class="flex items-center justify-center text-xl h-full w-full"
                  >Filter fields...</div
                >

                <m-model-filters></m-model-filters>
              </div>
            </div>
          </div>

          <div
            class="bg-white rounded shadow-md w-full"
            [ngClass]="{
              'flex-1': chartIsExpanded
            }"
          >
            <div class="flex h-full">
              <div class="flex h-16 items-center flex-shrink-0">
                <m-panel-title
                  [title]="'Chart'"
                  [isExpanded]="chartIsExpanded"
                  (toggleEvent)="toggleChartPanel()"
                ></m-panel-title>
              </div>
            </div>
          </div>

          <div
            class="bg-white rounded shadow-md w-full"
            [ngClass]="{
              'flex-1': dataIsExpanded
            }"
          >
            <div class="flex flex-col h-full">
              <div class="flex h-16 items-center flex-shrink-0">
                <m-panel-title
                  [title]="'Data'"
                  [isExpanded]="dataIsExpanded"
                  (toggleEvent)="toggleDataPanel()"
                ></m-panel-title>

                <button
                  class="w-24 py-3 ml-5 items-center text-lg text-gray1 select-none focus:outline-none"
                  [ngClass]="{
                    'font-semibold': resultsIsShow,
                    'text-gray-400 cursor-default':
                      !dataIsExpanded || mconfig?.select.length === 0
                  }"
                  (click)="toggleResults()"
                  [disabled]="!dataIsExpanded || mconfig?.select.length === 0"
                  >Results</button
                >

                <button
                  class="w-16 py-3 ml-5 items-center text-lg text-gray1 select-none focus:outline-none"
                  [ngClass]="{
                    'font-semibold': sqlIsShow,
                    'text-gray-400 cursor-default':
                      !dataIsExpanded || mconfig?.select.length === 0
                  }"
                  (click)="toggleSql()"
                  [disabled]="!dataIsExpanded || mconfig?.select.length === 0"
                  >SQL</button
                >

                <button
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 items-center text-lg select-none focus:outline-none"
                  [ngClass]="{
                    'text-blue-500': isFormat,
                    'text-gray1': !isFormat,
                    'text-gray-400 cursor-default': !dataIsExpanded
                  }"
                  (click)="toggleFormat()"
                  [disabled]="!dataIsExpanded"
                >
                  <m-currency-dollar-icon></m-currency-dollar-icon
                ></button>

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="ml-5 text-gray1 text-lg select-none"
                  >Limit</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  [formGroup]="limitForm"
                  class="flex items-center ml-5"
                >
                  <input
                    data-cy="modelLimitInput"
                    class="w-24 form-input rounded border-gray3 focus:border-blue3"
                    [ngClass]="{
                      'border-red-600':
                        limitForm.controls['limit'].invalid &&
                        limitForm.controls['limit'].touched
                    }"
                    type="limit"
                    formControlName="limit"
                    (blur)="limitBlur()"
                  />
                  <m-validation
                    [control]="limitForm.controls['limit']"
                  ></m-validation>
                </div>
              </div>

              <div class="flex flex-grow mt-5 mx-5 h-2" *ngIf="dataIsExpanded">
                <div
                  *ngIf="mconfig?.select.length === 0"
                  class="flex items-center justify-center text-xl h-full w-full"
                  >Select fields...</div
                >

                <div
                  *ngIf="mconfig?.select.length > 0"
                  class="flex flex-row items-start justify-center space-x-5 w-full h-full"
                >
                  <div
                    *ngIf="resultsIsShow"
                    class="flex-1 h-full w-2 overflow-auto"
                  >
                    <m-main-table [isFormat]="isFormat"></m-main-table>
                  </div>

                  <div *ngIf="sqlIsShow" class="flex-1 h-full w-2">
                    <m-sql></m-sql>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="model$ | async"></div>
<div *ngIf="mconfig$ | async"></div>
<div *ngIf="query$ | async"></div>
