<div class="flex flex-col bg-white p-9">
  <div
    data-cy="editOrgNameDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Edit Organization Name</div
  >

  <form
    class="flex w-80 flex-col"
    [formGroup]="editOrgNameForm"
    (ngSubmit)="save()"
  >
    <input
      spellcheck="false"
      data-cy="editOrgNameDialogOrgNameInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          editOrgNameForm.controls['orgName'].invalid &&
          editOrgNameForm.controls['orgName'].touched
      }"
      formControlName="orgName"
      placeholder="Name"
    />
    <m-validation
      [control]="editOrgNameForm.controls['orgName']"
    ></m-validation>

    <div class="mt-6">
      <button
        data-cy="editOrgNameDialogSaveButton"
        class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editOrgNameDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
