<ng-select
  #projectSelect
  data-cy="projectSelect"
  class="flex focus:outline-none w-44 ml-5"
  (open)="openProjectSelect()"
  [loading]="projectsListLoading"
  [items]="projectsList"
  [clearable]="false"
  [disabled]="selectedOrgId === undefined"
  [searchable]="false"
  [(ngModel)]="selectedProjectId"
  (change)="projectChange()"
  placeholder="Project"
  bindLabel="name"
  bindValue="projectId"
>
  <ng-template
    ng-header-tmp
    *ngIf="projectsListLength > 0 && selectedProjectId"
  >
    <div class="font-semibold text-sm"> Project </div>
  </ng-template>
  <ng-template ng-footer-tmp>
    <button
      data-cy="projectSelectCreateProjectButton"
      class="py-3 rounded text-blue3 hover:bg-blue2 w-full focus:outline-none"
      (click)="createNewProject(projectSelect)"
      >+ New Project</button
    >
  </ng-template>
</ng-select>

<div *ngIf="selectedProject$ | async"></div>
<div *ngIf="selectedOrg$ | async"></div>
