<div class="block relative">
  <button
    class="relative block px-5 h-10 z-10 rounded-full text-gray1 tracking-wider focus:outline-none"
    [ngClass]="{
      'cursor-default text-gray-400':
        !nav || !nav.projectId || needSave === true
    }"
    (click)="toggleMenu()"
    [disabled]="
      !nav ||
      !nav.projectId ||
      needSave === true ||
      (openedMenuId && menuId !== openedMenuId)
    "
  >
    <div class="flex flex-row items-center">
      <div class="flex justify-center text-base"> Dashboards </div>
      <m-arrow-drop-down-icon></m-arrow-drop-down-icon>
    </div>
  </button>

  <button
    class="fixed inset-0 z-10 px-5 h-full cursor-default focus:outline-none"
    *ngIf="isDashboardsMenuOpen === true"
    (click)="closeMenu()"
  ></button>

  <div
    class="absolute left-0 z-10 mt-1 w-56 bg-white rounded-md shadow-xl border-2 border-gray4"
    *ngIf="isDashboardsMenuOpen === true"
  >
    <div *ngIf="isLoading === true" class="text-base p-5">Loading ...</div>

    <div *ngIf="isLoading === false">
      <div *ngIf="dashboardsListLength === 0" class="text-base p-5">
        No dashboards available
      </div>

      <div *ngIf="dashboardsListLength > 0">
        <button
          *ngFor="let item of dashboardsList"
          class="block px-4 py-2 text-gray1 hover:bg-blue2 font-normal text-base w-full text-left focus:outline-none truncate"
          [ngClass]="{
            'cursor-default': lastUrl === pathDashboardId,
            'text-red-800': lastUrl === pathDashboardId
          }"
          [disabled]="lastUrl === pathDashboardId"
          (click)="goToDashboard(item.dashboardId)"
          >{{ item.title ? item.title : item.dashboardId }}</button
        >

        <!-- <div 
          *ngFor="let item of dashboardsList"
          class="pl-4 pr-6 py-2 hover:bg-blue2 hover:cursor-pointer"
        >
          {{ item.label }}
        </div> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="openedMenuId$ | async"></div>
<div *ngIf="needSave$ | async"></div>
