<div class="flex flex-row ml-2 space-x-5 h-16">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionDayOfWeekIndexTypeSelect
      data-cy="fractionDayOfWeekIndexTypeSelect"
      class="custom w-48 focus:outline-none"
      [items]="fractionDayOfWeekIndexTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="flex ml-1">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="flex ml-1">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>

  <form
    [formGroup]="dayOfWeekIndexValuesForm"
    *ngIf="
      fraction.type === fractionTypeEnum.DayOfWeekIndexIsEqualTo ||
      fraction.type === fractionTypeEnum.DayOfWeekIndexIsNotEqualTo
    "
  >
    <input
      spellcheck="false"
      data-cy="fractionDayOfWeekIndexValuesInput"
      class="w-[404px] h-[36px] form-input rounded border-gray3 focus:border-blue3 resize-none rows"
      [ngClass]="{
        'border-red-600':
          dayOfWeekIndexValuesForm.controls['dayOfWeekIndexValues'].invalid &&
          dayOfWeekIndexValuesForm.controls['dayOfWeekIndexValues'].touched
      }"
      formControlName="dayOfWeekIndexValues"
      (blur)="dayOfWeekIndexValuesBlur()"
    />
    <m-validation
      [control]="dayOfWeekIndexValuesForm.controls['dayOfWeekIndexValues']"
    ></m-validation>
  </form>
</div>
