<div class="bg-m0 ml-6 w-full min-w-[2px] select-none rounded shadow">
  <div
    class="flex h-full flex-col items-center justify-center"
    *ngIf="
      nav?.needValidate === true ||
      (repo &&
        repo.conflicts.length === 0 &&
        struct &&
        struct.errors.length === 0 &&
        !secondFileNodeId)
    "
  >
    <div
      class="flex flex-col items-center justify-center"
      *ngIf="nav?.needValidate === true"
    >
      <div class="text-a500 flex h-14 flex-row items-end">
        <m-alert-ring></m-alert-ring>
      </div>

      <div class="mt-2 text-xl"> Validation is required </div></div
    >

    <div
      *ngIf="
        nav?.needValidate === false &&
        repo &&
        repo.conflicts.length === 0 &&
        struct &&
        struct.errors.length === 0 &&
        !secondFileNodeId
      "
      class="flex flex-col items-center justify-center"
    >
      <div class="h-12">
        <m-completed-ring></m-completed-ring>
      </div>
      <div class="mt-4 text-xl"> Mprove Files are valid </div>
    </div>

    <button
      *ngIf="nav?.needValidate === true"
      data-cy="filesRightValidateButton"
      class="text-m0 mt-7 h-11 rounded px-5 py-2 text-lg font-medium focus:outline-none"
      type="button"
      [ngClass]="{
        'bg-m600': isEditor === true,
        'bg-s400 cursor-default': isEditor === false
      }"
      (click)="validate()"
      [disabled]="isEditor === false"
      >Validate Files</button
    >

    <button
      *ngIf="nav?.needValidate === false"
      type="button"
      data-cy="filesRightRevalidateButton"
      class="border-s400 text-s500 hover:bg-m0 mt-5 h-11 flex-shrink-0 select-none rounded border px-5 py-2 text-lg font-medium focus:outline-none"
      (click)="validate()"
      >Validate Files</button
    >
  </div>

  <m-repo-conflicts
    *ngIf="nav?.needValidate === false && repo && repo.conflicts.length > 0"
  ></m-repo-conflicts>

  <m-blockml-errors
    *ngIf="
      nav?.needValidate === false &&
      repo &&
      repo.conflicts.length === 0 &&
      struct &&
      struct.errors.length > 0
    "
  ></m-blockml-errors>

  <div
    class="flex h-full w-full flex-col"
    *ngIf="
      nav?.needValidate === false &&
      repo &&
      repo.conflicts.length === 0 &&
      struct &&
      struct.errors.length === 0 &&
      !!secondFileNodeId
    "
  >
    <div class="mb-6 mt-6 flex h-11 w-full flex-shrink-0 flex-row items-center">
      <div
        class="text-s1 ml-[36px] min-w-[2px] max-w-max flex-grow truncate text-lg"
        >{{ secondFileName }}
      </div>

      <div
        tp="Selected file has error"
        [tpIsEnabled]="isSecondFileValid === false"
      >
        <button
          class="ml-5 flex flex-shrink-0 flex-row items-center focus:outline-none"
          [ngClass]="{
            'text-s400': isSecondFileValid === false,
            'text-m600': isSecondFileValid === true
          }"
          *ngIf="
            showGoTo === true &&
            ((secondFileName | goFromFileExt) === 'chart' ||
              (secondFileName | goFromFileExt) === 'dashboard' ||
              (isExplorer === true &&
                ((secondFileName | goFromFileExt) === 'view' ||
                  (secondFileName | goFromFileExt) === 'store')) ||
              (isExplorer === true &&
                (secondFileName | goFromFileExt) === 'model') ||
              (secondFileName | goFromFileExt) === 'report')
          "
          (click)="goTo()"
          [disabled]="isSecondFileValid === false"
        >
          <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>

          <div class="ml-2 text-lg">
            {{ secondFileName | goFromFileExt | capitalize }}</div
          >
        </button>
      </div>

      <div class="flex flex-1"></div>

      <div class="ml-5" *ngIf="secondFileNodeId !== mainFileNodeId">
        <button
          class="text-m600 flex flex-shrink-0 flex-row items-center focus:outline-none"
          (click)="goToEditFile()"
        >
          <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>

          <div class="ml-2 text-lg"> Edit File</div>
        </button>
      </div>

      <button
        type="button"
        data-cy="filesRightCloseButton"
        class="text-s1 hover:bg-m200 ml-5 mr-6 flex h-9 w-9 flex-shrink-0 select-none items-center justify-center rounded focus:outline-none"
        (click)="closeSecondFile()"
      >
        <m-delete-big-icon></m-delete-big-icon>
      </button>
    </div>

    <div class="divide-s300 ml-6 mr-6 flex flex-col divide-y">
      <div class="flex flex-row"></div>
      <div class="flex flex-row"></div>
    </div>

    <div
      *ngIf="isShowSpinner === true"
      class="flex h-full w-full items-center justify-center"
    >
      <div class="relative flex h-9 w-9 flex-shrink-0">
        <ngx-spinner
          [name]="spinnerName"
          color="#0084d1"
          bdColor="#00000000"
          size="default"
          type="ball-clip-rotate"
          [fullScreen]="false"
          [disableAnimation]="true"
          [zIndex]="99998"
        >
        </ngx-spinner>
      </div>
    </div>

    <div
      class="flex h-2 w-full flex-grow flex-row pl-6 pr-6"
      *ngIf="
        isShowSpinner === false &&
        isEditorOptionsInitComplete === true &&
        !!secondFileNodeId &&
        secondFileContent != null
      "
    >
      <div class="flex w-2 flex-1">
        <code-editor
          class="w-full outline-none"
          style="height: 100%"
          [(ngModel)]="secondFileContent"
          [readonly]="true"
          [extensions]="extensions"
          [languages]="languages"
          [language]="lang"
          [theme]="theme"
          [setup]="null"
        ></code-editor>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isHighlighterReady$ | async"></div>
<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
<div *ngIf="secondFileNodeId$ | async"></div>
<div *ngIf="fileNodeId$ | async"></div>
