<div class="ml-6 w-full rounded bg-white shadow-lg">
  <m-repo-conflicts
    *ngIf="repo && repo.conflicts.length > 0"
  ></m-repo-conflicts>

  <m-blockml-errors
    *ngIf="
      repo && repo.conflicts.length === 0 && struct && struct.errors.length > 0
    "
  ></m-blockml-errors>

  <div
    *ngIf="
      repo &&
      repo.conflicts.length === 0 &&
      struct &&
      struct.errors.length === 0
    "
    class="flex h-full flex-col items-center justify-center space-y-3"
  >
    <m-completed-ring></m-completed-ring>
    <div class="text-xl"> BlockML is valid </div>
  </div>
</div>

<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
