<div class="bg-b1 flex justify-center items-center h-full">
  <form
    class="flex flex-col w-96 space-y-6"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
  >
    <div class="mb-3 text-t1 text-2xl text-center font-semibold"
      >Forgot your password?</div
    >
    <div class="text-t3 text-center font-regular"
      >Don’t worry! Just fill in your email and we’ll send you a link to reset
      your password.</div
    >
    <input
      data-cy="forgotPasswordEmailInput"
      class="form-input rounded border-r1 focus:border-r2 font-regular"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <button
      data-cy="forgotPasswordResetPasswordButton"
      class="py-3 bg-b2 text-white rounded font-medium"
      type="submit"
      [disabled]="!resetPasswordForm.valid"
      >Reset Password</button
    >
    <div class="flex flex-row justify-center">
      <button
        type="button"
        class="text-t2 text-center font-regular focus:outline-none w-36"
        (click)="backToLogin()"
        >Back to Log In</button
      >
    </div>
  </form>
</div>
