<button
  data-cy="queryOptionsMenuButton"
  class="flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none"
  #t1="tippy"
  [tp]="templateQueryOptions"
  [tpHideOnEscape]="true"
  variation="menu"
  className="my-menu"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateQueryOptions>
  <div class="border-gray4 w-64 rounded-md border-2 bg-white shadow-xl">
    <button
      data-cy="queryOptionsClearSelection"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); clearSelection($event)"
      >Clear Selection</button
    >

    <button
      *ngIf="showRunDryButton === true"
      data-cy="queryOptionsRunDry"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); runDry($event)"
      >Run Dry</button
    >
  </div>
</ng-template>

<div *ngIf="model$ | async"></div>
