<button
  data-cy="queryOptionsMenuButton"
  class="flex h-9 w-9 rounded focus:outline-none items-center justify-center hover:bg-blue-200"
  #t1="tippy"
  [tippy]="templateQueryOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateQueryOptions>
  <div class="w-64 bg-white rounded-md shadow-xl border-2 border-gray4">
    <button
      data-cy="queryOptionsClearSelection"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); clearSelection($event)"
      >Clear Selection</button
    >

    <button
      *ngIf="showRunDryButton === true"
      data-cy="queryOptionsRunDry"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      (click)="t1.hide(); runDry($event)"
      >Run Dry</button
    >
  </div>
</ng-template>

<div *ngIf="model$ | async"></div>
