<div class="group h-full w-full hover:bg-blue2">
  <div class="mx-5 h-full">
    <div
      class="flex flex-col h-full w-full cursor-pointer"
      (click)="navMconfig()"
    >
      <div class="flex flex-row justify-center my-5 text-xl text-gray1">
        {{ title }}
      </div>

      <m-chart-view
        *ngIf="mconfig?.chart"
        class="w-full p-5 flex flex-grow border border-gray3 rounded bg-white"
        [sortedColumns]="sortedColumns"
        [qData]="qData"
        [chart]="mconfig?.chart"
        [queryStatus]="query?.status"
      ></m-chart-view>

      <div
        class="flex flex-row justify-center items-center h-12 invisible group-hover:visible text-gray-400"
      >
        <m-query-status *ngIf="!!query" [query]="query"></m-query-status>
      </div>
    </div>
  </div>
</div>
