<div
  class="group h-full w-full bg-white border border-white rounded shadow-md"
  [ngClass]="{
    'hover:bg-blue2 hover:border-blue2 cursor-pointer': canAccessModel === true,
    'hover:bg-gray-100 hover:border-gray-200': canAccessModel === false
  }"
  (click)="navMconfig()"
>
  <div class="mx-5 h-full">
    <div class="flex flex-col h-full w-full">
      <div
        class="mt-8 flex flex-row text-xl text-gray1 justify-center items-start flex-shrink-0"
      >
        <div
          class="flex flex-col flex-grow ml-[104px] h-[60px] justify-start items-center"
        >
          <div
            class="flex flex-col items-center h-[30px] mt-[2px] text-center"
            style="max-height: 60px"
          >
            {{ title }}
          </div>
        </div>

        <button
          data-cy="vizShowChartButton"
          class="flex flex-shrink-0 h-9 w-9 ml-5 rounded focus:outline-none items-center justify-center hover:bg-blue-200 invisible group-hover:visible"
          (click)="showChart($event)"
        >
          <m-full-screen-icon></m-full-screen-icon>
        </button>

        <div class="relative ml-3">
          <button
            data-cy="vizOptionsMenuButton"
            class="flex relative z-9 h-9 w-9 rounded focus:outline-none items-center justify-center hover:bg-blue-200 invisible group-hover:visible"
            [ngClass]="{
              'cursor-default text-gray-400':
                openedMenuId && menuId !== openedMenuId
            }"
            (click)="toggleMenu($event)"
            [disabled]="openedMenuId && menuId !== openedMenuId"
          >
            <m-dots-vertical-icon></m-dots-vertical-icon>
          </button>

          <button
            class="fixed inset-0 z-9 w-full h-full cursor-default focus:outline-none"
            *ngIf="isVizOptionsMenuOpen === true"
            (click)="closeMenu($event)"
          ></button>

          <div
            class="absolute right-0 mt-1 w-64 z-9 bg-white rounded-md shadow-xl border-2 border-gray4"
            *ngIf="isVizOptionsMenuOpen === true"
          >
            <button
              data-cy="vizOptionsRun"
              class="px-4 py-2 text-gray1 hover:bg-blue2 font-medium text-base w-full text-left focus:outline-none"
              (click)="run($event)"
              >Run</button
            >

            <button
              data-cy="vizOptionsEditInfo"
              class="px-4 py-2 text-gray1 hover:bg-blue2 font-medium text-base w-full text-left focus:outline-none"
              [ngClass]="{
                'cursor-default text-gray-400': canEditOrDeleteViz === false
              }"
              (click)="editVizInfo($event)"
              [disabled]="canEditOrDeleteViz === false"
              >Edit Info</button
            >

            <button
              data-cy="vizOptionsGoToFile"
              class="px-4 py-2 text-gray1 hover:bg-blue2 font-medium text-base w-full text-left focus:outline-none"
              (click)="goToFile($event)"
              >Go to file</button
            >

            <button
              data-cy="vizOptionsDelete"
              class="px-4 py-2 text-gray1 hover:bg-blue2 font-medium text-base w-full text-left focus:outline-none"
              [ngClass]="{
                'cursor-default text-gray-400': canEditOrDeleteViz === false
              }"
              (click)="deleteViz($event)"
              [disabled]="canEditOrDeleteViz === false"
              >Delete</button
            >
          </div>
        </div>
      </div>

      <m-chart-view
        *ngIf="!!mconfig?.chart"
        class="w-full p-5 flex flex-grow border border-gray3 rounded bg-white"
        [sortedColumns]="sortedColumns"
        [qData]="qData"
        [chart]="mconfig?.chart"
        [queryStatus]="query?.status"
      ></m-chart-view>

      <div
        class="flex flex-row justify-center items-center h-12 text-gray-400"
        [ngClass]="{
          'invisible group-hover:visible':
            !!query &&
            query.status !== queryStatusEnum.Error &&
            query.status !== queryStatusEnum.Running
        }"
      >
        <m-query-status *ngIf="!!query" [query]="query"></m-query-status>
      </div>

      <div
        class="mb-1 h-8 flex flex-row justify-center items-center text-base text-gray-400 invisible group-hover:visible"
      >
        <m-lock-closed-icon
          class="mb-1 mr-2 text-gray-400"
          *ngIf="canAccessModel === false"
          nz-tooltip
          [nzTooltipTitle]="'No access to model'"
          nzTooltipPlacement="bottom"
        ></m-lock-closed-icon>
        <div class=" ">Model:</div>
        <div class="ml-2 font-semibold">{{ viz?.modelLabel | capitalize }}</div>

        <div class="ml-10">Author:</div>
        <div class="ml-2 font-semibold">{{ author ? author : 'team' }}</div>

        <div class="ml-10">Access:</div>

        <div
          class="ml-2 font-semibold"
          *ngIf="viz?.accessRoles.length === 0 && viz?.accessUsers.length === 0"
          >Public</div
        >
        <div
          class="ml-2 font-semibold"
          *ngIf="viz?.accessRoles.length === 0 && viz?.accessUsers.length === 1"
          >Private - {{ viz?.accessUsers[0] }}</div
        >
        <div
          class="ml-2 font-semibold truncate max-w-sm"
          *ngIf="viz?.accessRoles.length > 0 || viz?.accessUsers.length > 1"
          nz-tooltip
          [nzTooltipTitle]="accessString"
          nzTooltipPlacement="bottom"
          >Special</div
        >
      </div>
    </div>
  </div>
</div>

<div *ngIf="openedMenuId$ | async"></div>
<div *ngIf="nav$ | async"></div>
