<div class="group h-full w-full hover:bg-blue2">
  <div class="mx-5 h-full">
    <div
      class="flex flex-col h-full w-full cursor-pointer"
      (click)="navMconfig()"
    >
      <div
        class="flex flex-row h-20 text-xl text-gray1 justify-center items-center"
      >
        <div class="flex flex-grow ml-[104px] line-clamp-2 text-center">
          {{ title }}
        </div>

        <button
          data-cy="vizShowChartButton"
          class="flex flex-shrink-0 h-9 w-9 ml-5 rounded focus:outline-none items-center justify-center hover:bg-blue-200 invisible group-hover:visible"
          (click)="showChart($event)"
        >
          <m-full-screen-icon></m-full-screen-icon>
        </button>

        <div class="relative ml-3">
          <button
            data-cy="vizOptionsMenuButton"
            class="flex relative z-9 h-9 w-9 rounded focus:outline-none items-center justify-center hover:bg-blue-200 invisible group-hover:visible"
            [ngClass]="{
              'cursor-default text-gray-400':
                openedMenuId && menuId !== openedMenuId
            }"
            (click)="toggleMenu($event)"
            [disabled]="openedMenuId && menuId !== openedMenuId"
          >
            <m-dots-vertical-icon></m-dots-vertical-icon>
          </button>

          <button
            class="fixed inset-0 z-9 w-full h-full cursor-default focus:outline-none"
            *ngIf="isVizOptionsMenuOpen === true"
            (click)="closeMenu($event)"
          ></button>

          <div
            class="absolute right-0 mt-1 w-64 z-9 bg-white rounded-md shadow-xl border-2 border-gray4"
            *ngIf="isVizOptionsMenuOpen === true"
          >
            <button
              data-cy="queryOptionsRun"
              class="px-4 py-2 text-gray1 hover:bg-blue2 font-medium text-base w-full text-left focus:outline-none"
              (click)="run($event)"
              >Run</button
            >

            <button
              data-cy="queryOptionsRun"
              class="px-4 py-2 text-gray1 hover:bg-blue2 font-medium text-base w-full text-left focus:outline-none"
              (click)="deleteViz($event)"
              >Delete</button
            >
          </div>
        </div>
      </div>

      <m-chart-view
        *ngIf="mconfig?.chart"
        class="w-full p-5 flex flex-grow border border-gray3 rounded bg-white"
        [sortedColumns]="sortedColumns"
        [qData]="qData"
        [chart]="mconfig?.chart"
        [queryStatus]="query?.status"
      ></m-chart-view>

      <div
        class="flex flex-row justify-center items-center h-12 text-gray-400"
        [ngClass]="{
          'invisible group-hover:visible':
            !!query &&
            query.status !== queryStatusEnum.Error &&
            query.status !== queryStatusEnum.Running
        }"
      >
        <m-query-status *ngIf="!!query" [query]="query"></m-query-status>
      </div>
    </div>
  </div>
</div>

<div *ngIf="openedMenuId$ | async"></div>
<div *ngIf="nav$ | async"></div>
