<div class="bg-m0 relative flex h-full w-full flex-col rounded shadow">
  <div class="mb-6 mt-6 flex h-11 flex-shrink-0 flex-row items-center">
    <m-search-icon class="text-s1 ml-8"></m-search-icon>

    <input
      spellcheck="false"
      autocomplete="off"
      class="form-input focus:border-m600 border-s400 ml-3 h-10 w-[225px] select-none rounded"
      placeholder="Search"
      [ngClass]="{
        'bg-p200': !!searchWord
      }"
      [(ngModel)]="searchWord"
      (ngModelChange)="searchWordChange()"
    />

    <div class="ml-3 h-9 w-9 flex-shrink-0" *ngIf="!!searchWord">
      <m-delete-icon
        class="text-s1 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
        [ngClass]="{
          'bg-p200 hover:bg-p300 cursor-pointer': !!searchWord
        }"
        (click)="resetSearch()"
      ></m-delete-icon>
    </div>

    <div
      class="ml-5 flex h-9 w-9 flex-shrink-0 items-center justify-center"
      [tp]="showIndexes ? 'Swos Indexes: ON' : 'Show Indexes: OFF'"
      tpPlacement="top"
    >
      <button
        type="button"
        class="flex h-7 w-7 cursor-pointer items-center justify-center focus:outline-none"
        [ngClass]="{
          'text-green-600': showIndexes,
          'text-s500': !showIndexes
        }"
        (click)="toggleIndexes()"
      >
        <m-database-zap-icon></m-database-zap-icon>
      </button>
    </div>

    <button
      tp="Refresh schemas"
      type="button"
      class="hover:bg-m200 ml-5 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
      (click)="loadSchemas()"
    >
      <m-refresh-icon></m-refresh-icon>
    </button>

    <div class="relative ml-5 flex h-7 w-7 flex-shrink-0">
      <ngx-spinner
        *ngIf="isRefreshing"
        [name]="spinnerName"
        color="#0084d1"
        bdColor="#00000000"
        size="default"
        type="ball-clip-rotate"
        [fullScreen]="false"
        [disableAnimation]="true"
        [zIndex]="99998"
      >
      </ngx-spinner>
    </div>

    <div class="flex flex-1"></div>
  </div>

  <div class="divide-s300 ml-6 mr-6 flex flex-col divide-y">
    <div class="flex flex-row"></div>
    <div class="flex flex-row"></div>
  </div>

  <div
    *ngIf="schemasLoaded && treeNodes.length === 0"
    class="pointer-events-none absolute inset-0 flex select-none items-center justify-center text-xl"
  >
    No SQL Schemas Found
  </div>

  <div
    *ngIf="filteredTreeNodes.length > 0"
    class="flex h-2 w-full flex-grow flex-col overflow-y-auto"
  >
    <ng-scrollbar
      [orientation]="'vertical'"
      [visibility]="'hover'"
      [appearance]="'compact'"
    >
      <div class="mt-2 h-full w-full pb-6 pl-6 pr-6">
        <tree-root
          #itemsTree
          [nodes]="filteredTreeNodes"
          [options]="treeOptions"
        >
          <ng-template #treeNodeTemplate let-node="node">
            <div
              class="group flex h-11 w-full select-none flex-row items-center rounded pr-5"
              [ngClass]="{
                'cursor-pointer': node.hasChildren,
                'hover:bg-m50': true
              }"
              [style.padding-left.px]="(node.level - 1) * 12"
              (click)="nodeOnClick({ node: node })"
            >
              <div class="flex flex-row items-center pl-4">
                <div *ngIf="node.hasChildren" class="flex items-center">
                  <m-chevron-right-icon
                    class="text-s500"
                    *ngIf="!node.isExpanded"
                  ></m-chevron-right-icon>

                  <m-chevron-down-icon
                    class="text-s500"
                    *ngIf="node.isExpanded"
                  ></m-chevron-down-icon>
                </div>

                <div *ngIf="!node.hasChildren" class="w-[24px]"></div>
              </div>

              <div
                *ngIf="node.data.nodeType !== 'column'"
                class="ml-2 flex min-w-0 flex-1 items-center"
                [ngClass]="{
                  'text-[17px]':
                    node.data.nodeType === 'connection' ||
                    node.data.nodeType === 'error',
                  'text-[16px]':
                    node.data.nodeType !== 'connection' &&
                    node.data.nodeType !== 'error',
                  'text-s1': node.data.nodeType !== 'error',
                  'text-red-600': node.data.nodeType === 'error'
                }"
                [tp]="node.data.errorMessage"
                tpPlacement="top"
              >
                <span class="truncate">{{ node.data.name }}</span>
                <span
                  *ngIf="
                    node.data.tableType &&
                    node.data.tableType !== 'BASE TABLE' &&
                    node.data.tableType !== 'MANAGED'
                  "
                  class="ml-3 flex-shrink-0 uppercase text-blue-400"
                  >{{ node.data.tableType }}</span
                >
              </div>

              <button
                *ngIf="node.data.nodeType === 'connection'"
                type="button"
                tp="Copy schema name"
                tpPlacement="top"
                class="text-s500 invisible ml-auto flex h-7 w-7 flex-shrink-0 items-center justify-center rounded hover:text-blue-500 focus:outline-none group-hover:visible"
                (click)="
                  copyToClipboard({
                    text: node.data.schemaDisplayName,
                    event: $event
                  })
                "
              >
                <m-copy-icon></m-copy-icon>
              </button>

              <button
                *ngIf="node.data.nodeType === 'connection'"
                type="button"
                class="border-s400 text-s500 ml-2 flex flex-shrink-0 select-none items-center rounded border px-3 py-0.5 text-base hover:border-blue-500 hover:text-blue-500 focus:outline-none"
                (click)="graphOnClick({ node: node, event: $event })"
              >
                Graph
              </button>

              <button
                *ngIf="node.data.nodeType === 'table'"
                type="button"
                tp="Copy table name"
                tpPlacement="top"
                class="text-s500 invisible ml-auto flex h-7 w-7 flex-shrink-0 items-center justify-center rounded hover:text-blue-500 focus:outline-none group-hover:visible"
                (click)="
                  copyToClipboard({
                    text: node.data.tableName,
                    event: $event
                  })
                "
              >
                <m-copy-icon></m-copy-icon>
              </button>

              <button
                *ngIf="node.data.nodeType === 'table'"
                type="button"
                class="border-s400 text-s500 invisible ml-2 flex flex-shrink-0 select-none items-center rounded border px-3 py-0.5 text-base hover:border-blue-400 hover:text-blue-400 focus:outline-none group-hover:visible"
                (click)="sampleOnClick({ node: node, event: $event })"
              >
                Sample
              </button>

              <div
                *ngIf="node.data.nodeType === 'column'"
                class="ml-2 flex min-w-0 flex-1 items-center truncate text-[16px]"
              >
                <span class="text-s1 font-semibold">{{
                  node.data.columnName
                }}</span>

                <span
                  *ngIf="node.data.isNullable === false"
                  class="text-s400 ml-3"
                  >not null</span
                >

                <span class="text-s400 ml-3 uppercase">{{
                  node.data.dataType
                }}</span>

                <span *ngIf="node.data.isPrimaryKey" class="ml-3 text-blue-400"
                  >PRIMARY</span
                >
                <span
                  *ngIf="node.data.isUnique && !node.data.isPrimaryKey"
                  class="ml-3 text-blue-400"
                  >UNIQUE</span
                >

                <button
                  *ngIf="node.data.combinedReferences?.length > 0"
                  class="hover:bg-m200 text-s1 ml-2 flex h-8 w-8 flex-shrink-0 items-center justify-center rounded focus:outline-none"
                  [tp]="fkTemplate"
                  [tpHideOnEscape]="true"
                  tpVariation="menu"
                  className="my-menu"
                  (click)="$event.stopPropagation()"
                >
                  <m-link-icon></m-link-icon>
                </button>

                <ng-template #fkTemplate>
                  <div
                    class="border-s4 bg-m0 w-max rounded-md border-2 shadow-xl"
                  >
                    <div
                      *ngFor="let ref of node.data.combinedReferences"
                      class="text-s1 w-full px-4 py-2 text-left text-base"
                    >
                      <span *ngIf="ref.isForeignKey" class="text-blue-400"
                        >FK</span
                      ><span
                        *ngIf="ref.isForeignKey && ref.relationshipType"
                        class="ml-3"
                      >
                      </span
                      ><span
                        *ngIf="ref.relationshipType"
                        class="text-orange-500"
                        >{{ ref.relationshipType }}</span
                      ><span *ngIf="ref.relationshipType" class="ml-3"> </span
                      ><span
                        *ngIf="!ref.relationshipType && ref.isForeignKey"
                        class="ml-3"
                      >
                      </span
                      ><span *ngIf="ref.referencedSchemaName"
                        >{{ ref.referencedSchemaName }}.</span
                      >{{ ref.referencedTableName }}.<span
                        class="font-semibold"
                        >{{ ref.referencedColumnName }}</span
                      >
                    </div>
                  </div>
                </ng-template>
              </div>

              <button
                *ngIf="node.data.nodeType === 'column'"
                type="button"
                tp="Copy column name"
                tpPlacement="top"
                class="text-s500 invisible ml-auto flex h-7 w-7 flex-shrink-0 items-center justify-center rounded hover:text-blue-500 focus:outline-none group-hover:visible"
                (click)="
                  copyToClipboard({
                    text: node.data.columnName,
                    event: $event
                  })
                "
              >
                <m-copy-icon></m-copy-icon>
              </button>

              <button
                *ngIf="node.data.nodeType === 'column'"
                type="button"
                class="border-s400 text-s500 invisible ml-2 flex flex-shrink-0 select-none items-center rounded border px-3 py-0.5 text-base hover:border-blue-400 hover:text-blue-400 focus:outline-none group-hover:visible"
                (click)="sampleOnClick({ node: node, event: $event })"
              >
                Sample
              </button>
            </div>
          </ng-template>
        </tree-root>
      </div>
    </ng-scrollbar>
  </div>
</div>
