<div class="flex flex-col bg-white p-9">
  <div
    data-cy="createOrgDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Create Organization</div
  >

  <form
    class="flex w-80 flex-col"
    [formGroup]="createOrgForm"
    (ngSubmit)="create()"
  >
    <input
      spellcheck="false"
      data-cy="createOrgDialogOrgNameInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          createOrgForm.controls['orgName'].invalid &&
          createOrgForm.controls['orgName'].touched
      }"
      formControlName="orgName"
      placeholder="Organization Name"
    />
    <m-validation [control]="createOrgForm.controls['orgName']"></m-validation>

    <div class="mt-6">
      <button
        data-cy="createOrgDialogCreateButton"
        class="w-28 rounded bg-blue3 py-3 font-medium text-white focus:outline-none"
        type="submit"
        >Create</button
      >

      <button
        data-cy="createOrgDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
