:host /deep/ {
  .mat-sort-item {
    /deep/ {
      .mat-list-item {
        padding: 0;
      }
    }
  }
  .mat-sort-icon {
    font-size: 15px;
    margin-right: 10px;
  }
  .mat-sort-header {
    padding: 10px;
    &:hover {
      background-color: #EEEEEE;
      cursor: pointer;
    }
  }
}
.menu__button_hover_primary {
  display: flex;
  align-items: center;
}


.table--pdts {
  table.td-data-table {
    min-width: 100% !important;
  }
  .td-data-table-cell {
    // max-width: 390px !important;
    // min-width: 390px !important;
    word-break: break-all;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
button.mat-menu-item {
  display: flex;
  align-items: center;
  height: auto;
  line-height: 1;
  padding: 10px !important;

}

.mat-slide-toggle-label {
  flex: 0 0 auto !important;
}
.advanced-pie-legend .legend-item .item-value {
  margin-top: 0px !important;
}
.advanced-pie-legend .legend-item .item-label {
  margin-top: 0px !important;
}
.advanced-pie-legend .total-value {
  margin-bottom: 5px;
}
.select-wrapper {
  flex-wrap: wrap;
}
.mat-checkbox {
  cursor: default !important;
}
.mat-checkbox-layout {
  cursor: pointer !important;
}
.advanced-pie-legend .legend-items-container .legend-items {
  padding-bottom: 5px;
}
.mat-sidenav-container {
  height: 100%;
  background: #fff;
}
.dark-theme .mat-sidenav-container {
  background: #606060;
}
.mat-dialog-container {
  //padding: 10px !important;
}
.cdk-overlay-pane {
  max-width: 100vw !important;
}
.mr-10 {
  margin-right: 10px;
}
.mat-sidenav {
  background: #eee;
}
