<mat-form-field>
  <mat-select
    placeholder="xField"
    name="chartXField"
    class="mp-chart-editor-field-full-width"
    [(ngModel)]="chart.x_field"
    (selectionChange)="xFieldChange($event)"
  >
    <mat-option
      *ngFor="let field of selectFields"
      name="chartXFieldOption"
      [value]="field.id"
    >
      <span>{{ field.top_label + ' ' | capitalize }}</span>
      <span *ngIf="field.group_label">{{
        field.group_label + ' ' | capitalize
      }}</span>
      <span>{{ field.label | capitalize }}</span>
    </mat-option>

    <mat-option *ngIf="chart.type === chartTypeEnum.NumberCard" [value]="null"
      >Undefined</mat-option
    >
  </mat-select>
</mat-form-field>
<mat-error *ngIf="!chart.x_field && chart.type !== chartTypeEnum.NumberCard">
  <m-validation-msg [errors]="{ required: true }"></m-validation-msg>
</mat-error>
