# autocompletion
fpath=(~/.zsh/completion $fpath)
autoload -Uz compinit && compinit -i

export PATH="./node_modules/.bin:$PATH"

ZSH_THEME="robbyrussell"

plugins=(
  git vscode
)

source $ZSH/oh-my-zsh.sh

eval "$(direnv hook zsh)"

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8