# aliases
alias c=docker-compose

# autocompletion
fpath=(~/.zsh/completion $fpath)
autoload -Uz compinit && compinit -i

export PATH="./node_modules/.bin:$PATH"

# env
export ZSH="/root/.oh-my-zsh"
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# zsh
ZSH_THEME="robbyrussell"
plugins=(git vscode)
source $ZSH/oh-my-zsh.sh

# direnv
eval "$(direnv hook zsh)"