# autocompletion
fpath=(~/.zsh/completion $fpath)
autoload -Uz compinit && compinit -i

export PATH="./node_modules/.bin:$PATH"

# History settings
HISTSIZE=10000
SAVEHIST=10000
HISTFILE=~/.zsh_history
# setopt HIST_IGNORE_DUPS  # Ignore duplicate commands in history
# setopt SHARE_HISTORY     # Share history across sessions

ZSH_THEME="robbyrussell"

plugins=(
  git vscode
)

source ~/.oh-my-zsh/oh-my-zsh.sh

eval "$(direnv hook zsh)"

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8