.model-filters {
  overflow: auto;
  display: flex;
  height: 100%;
  width: 100%;
  &__title {
    align-self: center;
    text-align: center;
    width: 100%;
  }

  &__layout {
    padding: 15px;
    width: 100%;
  }

  &__label {

  }
}
