<button
  data-cy="repoOptionsMenuButton"
  class="flex h-9 w-9 flex-shrink-0 items-center justify-center rounded hover:bg-blue-200 focus:outline-none"
  #t1="tippy"
  [tippy]="templateRepoOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateRepoOptions>
  <div class="w-64 rounded-md border-2 border-gray4 bg-white shadow-xl">
    <button
      *ngIf="nav?.isRepoProd === false"
      data-cy="repoOptionsRevertRepoToLastCommitButton"
      class="w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': needSave === true
      }"
      [disabled]="needSave === true"
      (click)="t1.hide(); revertToLastCommit($event)"
      >Revert to Last Commit</button
    >

    <button
      data-cy="repoOptionsRevertRepoToRemoteButton"
      class="w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': needSave === true
      }"
      [disabled]="needSave === true"
      (click)="t1.hide(); revertToRemote($event)"
      >Revert to Remote</button
    >

    <button
      data-cy="repoOptionsPullFromRemoteButton"
      class="w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400':
          needSave === true || repo?.repoStatus === repoStatusNeedCommit
      }"
      [disabled]="
        needSave === true || repo?.repoStatus === repoStatusNeedCommit
      "
      (click)="t1.hide(); pullFromRemote($event)"
      >Pull from Remote</button
    >

    <button
      data-cy="repoOptionsRevalidateRemoteButton"
      class="w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
      (click)="t1.hide(); revalidate($event)"
      >Revalidate</button
    >
  </div>
</ng-template>

<div *ngIf="nav$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="repo$ | async"></div>
