<button
  data-cy="repoOptionsMenuButton"
  class="flex flex-shrink-0 h-9 w-9 rounded focus:outline-none items-center justify-center hover:bg-blue-200"
  #t1="tippy"
  [tippy]="templateRepoOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateRepoOptions>
  <div class="w-64 bg-white rounded-md shadow-xl border-2 border-gray4">
    <button
      data-cy="repoOptionsRevertRepoToLastCommitButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': needSave === true
      }"
      [disabled]="needSave === true"
      (click)="t1.hide(); revertToLastCommit($event)"
      >Revert to Last Commit</button
    >

    <button
      data-cy="repoOptionsRevertRepoToProductionButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': needSave === true
      }"
      [disabled]="needSave === true"
      (click)="t1.hide(); revertToProduction($event)"
      >Revert to Production</button
    >

    <button
      data-cy="repoOptionsPullFromProductionButton"
      class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400':
          needSave === true || repo?.repoStatus === repoStatusNeedCommit
      }"
      [disabled]="
        needSave === true || repo?.repoStatus === repoStatusNeedCommit
      "
      (click)="t1.hide(); pullFromProduction($event)"
      >Pull from Production</button
    >
  </div>
</ng-template>

<div *ngIf="nav$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="repo$ | async"></div>
