<div class="flex flex-col bg-white p-9">
  <div
    data-cy="editNameDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Edit Name</div
  >

  <form
    class="flex w-80 flex-col"
    [formGroup]="editNameForm"
    (ngSubmit)="save()"
  >
    <input
      spellcheck="false"
      data-cy="editNameDialogFirstNameInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          editNameForm.controls['firstName'].invalid &&
          editNameForm.controls['firstName'].touched
      }"
      formControlName="firstName"
      placeholder="First Name"
    />
    <m-validation [control]="editNameForm.controls['firstName']"></m-validation>

    <input
      spellcheck="false"
      data-cy="editNameDialogLastNameInput"
      class="form-input mt-1 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          editNameForm.controls['lastName'].invalid &&
          editNameForm.controls['lastName'].touched
      }"
      formControlName="lastName"
      placeholder="Last Name"
    />
    <m-validation [control]="editNameForm.controls['lastName']"></m-validation>

    <div class="mt-6">
      <button
        data-cy="editNameDialogSaveButton"
        class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editNameDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
