<div class="flex flex-col bg-white p-9">
  <div
    data-cy="editNameDialogTitle"
    class="text-gray2 mt-5 flex-grow text-left text-2xl font-semibold"
    >Edit Name</div
  >

  <form
    class="flex w-80 flex-col"
    [formGroup]="editNameForm"
    (ngSubmit)="save()"
  >
    <input
      autocomplete="off"
      spellcheck="false"
      data-cy="editNameDialogFirstNameInput"
      class="form-input border-gray3 focus:border-blue3 mt-9 rounded"
      [ngClass]="{
        'border-red-600':
          editNameForm.controls['firstName'].invalid &&
          editNameForm.controls['firstName'].touched
      }"
      formControlName="firstName"
      placeholder="First Name"
    />
    <m-validation [control]="editNameForm.controls['firstName']"></m-validation>

    <input
      autocomplete="off"
      spellcheck="false"
      data-cy="editNameDialogLastNameInput"
      class="form-input border-gray3 focus:border-blue3 mt-1 rounded"
      [ngClass]="{
        'border-red-600':
          editNameForm.controls['lastName'].invalid &&
          editNameForm.controls['lastName'].touched
      }"
      formControlName="lastName"
      placeholder="Last Name"
    />
    <m-validation [control]="editNameForm.controls['lastName']"></m-validation>

    <div class="mt-6">
      <button
        data-cy="editNameDialogSaveButton"
        class="bg-blue3 w-28 rounded py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="editNameDialogCancelButton"
        class="border-blue3 text-blue3 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
