<div class="flex-grow flex-col overflow-y-auto bg-white p-9">
  <div
    data-cy="addConnectionDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Add Connection</div
  >

  <form
    class="flex w-80 flex-col"
    [formGroup]="addConnectionForm"
    (ngSubmit)="add()"
  >
    <input
      spellcheck="false"
      data-cy="addConnectionDialogConnectionIdInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          addConnectionForm.controls['connectionId'].invalid &&
          addConnectionForm.controls['connectionId'].touched
      }"
      formControlName="connectionId"
      placeholder="Name"
    />
    <m-validation
      [control]="addConnectionForm.controls['connectionId']"
    ></m-validation>

    <ng-select
      #typeSelect
      data-cy="addConnectionDialogTypeSelect"
      class="custom w-80 text-base focus:outline-none"
      [items]="connectionTypes"
      [clearable]="false"
      [searchable]="false"
      (change)="changeType($event)"
      appendTo="body"
      formControlName="type"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item }}</div>
      </ng-template>
    </ng-select>

    <div *ngIf="addConnectionForm.controls['type'].value === typeBigQuery">
      <textarea
        rows="9"
        data-cy="addConnectionDialogBigqueryCredentialsInput"
        class="form-input mt-6 w-96 resize-none rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['bigqueryCredentials'].invalid &&
            addConnectionForm.controls['bigqueryCredentials'].touched
        }"
        formControlName="bigqueryCredentials"
        placeholder="JSON BigQuery Credentials"
      ></textarea>
      <m-validation
        [control]="addConnectionForm.controls['bigqueryCredentials']"
      ></m-validation>

      <div class="text-base">Query Size Limit, gb (default: 1)</div>
      <input
        spellcheck="false"
        data-cy="addConnectionDialogBigqueryQuerySizeLimitGbInput"
        class="form-input mt-1 w-80 rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['bigqueryQuerySizeLimitGb'].invalid &&
            addConnectionForm.controls['bigqueryQuerySizeLimitGb'].touched
        }"
        formControlName="bigqueryQuerySizeLimitGb"
      />
      <m-validation
        [control]="addConnectionForm.controls['bigqueryQuerySizeLimitGb']"
      ></m-validation>
    </div>

    <div
      *ngIf="
        addConnectionForm.controls['type'].value === typePostgreSQL ||
        addConnectionForm.controls['type'].value === typeClickHouse
      "
    >
      <div class="mt-6 flex flex-row items-center">
        <div class="flex h-9 select-none items-center text-base text-gray1"
          >SSL (https)</div
        >

        <ui-switch
          class="mb-1 ml-5"
          [checked]="isSSL"
          (change)="toggleSSL($event)"
        ></ui-switch>
      </div>

      <input
        spellcheck="false"
        data-cy="addConnectionDialogPostgresHostInput"
        class="form-input mt-6 w-80 rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['postgresHost'].invalid &&
            addConnectionForm.controls['postgresHost'].touched
        }"
        formControlName="postgresHost"
        placeholder="Host"
      />
      <m-validation
        [control]="addConnectionForm.controls['postgresHost']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="addConnectionDialogPostgresPortInput"
        class="form-input w-80 rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['postgresPort'].invalid &&
            addConnectionForm.controls['postgresPort'].touched
        }"
        formControlName="postgresPort"
        placeholder="Port"
      />
      <m-validation
        [control]="addConnectionForm.controls['postgresPort']"
      ></m-validation>

      <input
        *ngIf="addConnectionForm.controls['type'].value !== typeClickHouse"
        spellcheck="false"
        data-cy="addConnectionDialogPostgresDatabaseInput"
        class="form-input w-80 rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['postgresDatabase'].invalid &&
            addConnectionForm.controls['postgresDatabase'].touched
        }"
        formControlName="postgresDatabase"
        placeholder="Database"
      />
      <m-validation
        *ngIf="addConnectionForm.controls['type'].value !== typeClickHouse"
        [control]="addConnectionForm.controls['postgresDatabase']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="addConnectionDialogPostgresUserInput"
        class="form-input w-80 rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['postgresUser'].invalid &&
            addConnectionForm.controls['postgresUser'].touched
        }"
        formControlName="postgresUser"
        placeholder="User"
      />
      <m-validation
        [control]="addConnectionForm.controls['postgresUser']"
      ></m-validation>

      <input
        spellcheck="false"
        data-cy="addConnectionDialogPostgresPasswordInput"
        class="form-input w-80 rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['postgresPassword'].invalid &&
            addConnectionForm.controls['postgresPassword'].touched
        }"
        formControlName="postgresPassword"
        placeholder="Password"
        type="password"
      />
      <m-validation
        [control]="addConnectionForm.controls['postgresPassword']"
      ></m-validation>
    </div>

    <div class="mt-6">
      <button
        data-cy="addConnectionDialogAddButton"
        class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Add</button
      >

      <button
        data-cy="addConnectionDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
