<div class="flex-grow flex-col overflow-y-auto bg-white p-9">
  <div
    data-cy="addConnectionDialogTitle"
    class="text-gray2 mt-5 flex-grow text-left text-2xl font-semibold"
    >Add Connection</div
  >

  <form
    class="flex w-80 flex-col"
    [formGroup]="addConnectionForm"
    (ngSubmit)="add()"
  >
    <input
      autocomplete="off"
      spellcheck="false"
      data-cy="addConnectionDialogConnectionIdInput"
      class="form-input border-gray3 focus:border-blue3 mt-9 rounded"
      [ngClass]="{
        'border-red-600':
          addConnectionForm.controls['connectionId'].invalid &&
          addConnectionForm.controls['connectionId'].touched
      }"
      formControlName="connectionId"
      placeholder="Name"
    />
    <m-validation
      [control]="addConnectionForm.controls['connectionId']"
    ></m-validation>

    <ng-select
      #addConnectionDialogEnvSelect
      data-cy="addConnectionDialogEnvSelect"
      class="w-80 text-base"
      (open)="openEnvSelect()"
      [loading]="envsListLoading"
      [items]="envsList"
      [clearable]="false"
      [searchable]="false"
      (keyup.esc)="
        $event.stopImmediatePropagation(); addConnectionDialogEnvSelect.blur()
      "
      (keyup.enter)="
        $event.stopImmediatePropagation(); addConnectionDialogEnvSelect.blur()
      "
      appendTo="body"
      placeholder="Env"
      bindLabel="envId"
      bindValue="envId"
      formControlName="envId"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.envId }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.envId }}</div>
      </ng-template>
    </ng-select>

    <ng-select
      #addConnectionDialogTypeSelect
      data-cy="addConnectionDialogTypeSelect"
      class="mt-6 w-80 text-base"
      [items]="connectionTypes"
      [clearable]="false"
      [searchable]="false"
      (change)="changeType($event)"
      (keyup.esc)="
        $event.stopImmediatePropagation(); addConnectionDialogTypeSelect.blur()
      "
      (keyup.enter)="
        $event.stopImmediatePropagation(); addConnectionDialogTypeSelect.blur()
      "
      appendTo="body"
      formControlName="type"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item }}</div>
      </ng-template>
    </ng-select>

    <div *ngIf="addConnectionForm.controls['type'].value === typeBigQuery">
      <textarea
        rows="9"
        data-cy="addConnectionDialogServiceAccountCredentialsInput"
        class="form-input border-gray3 focus:border-blue3 mt-6 w-96 resize-none rounded font-mono"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['serviceAccountCredentials'].invalid &&
            addConnectionForm.controls['serviceAccountCredentials'].touched
        }"
        formControlName="serviceAccountCredentials"
        placeholder="JSON BigQuery Credentials"
      ></textarea>
      <m-validation
        [control]="addConnectionForm.controls['serviceAccountCredentials']"
      ></m-validation>

      <div class="text-base">Query Size Limit, gb (default: 1)</div>
      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="addConnectionDialogBigqueryQuerySizeLimitGbInput"
        class="form-input border-gray3 focus:border-blue3 mt-1 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['bigqueryQuerySizeLimitGb'].invalid &&
            addConnectionForm.controls['bigqueryQuerySizeLimitGb'].touched
        }"
        formControlName="bigqueryQuerySizeLimitGb"
      />
      <m-validation
        [control]="addConnectionForm.controls['bigqueryQuerySizeLimitGb']"
      ></m-validation>
    </div>

    <div
      *ngIf="
        addConnectionForm.controls['type'].value === typePostgreSQL ||
        addConnectionForm.controls['type'].value === typeClickHouse
      "
    >
      <div
        class="mt-6 flex max-w-min cursor-pointer flex-row items-center"
        (click)="toggleSSL()"
      >
        <div
          class="text-gray1 flex h-9 w-[90px] select-none items-center text-base"
          >SSL (https)</div
        >

        <ui-switch class="ml-5" [checked]="isSSL"></ui-switch>
      </div>

      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="addConnectionDialogHostInput"
        class="form-input border-gray3 focus:border-blue3 mt-6 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['host'].invalid &&
            addConnectionForm.controls['host'].touched
        }"
        formControlName="host"
        placeholder="Host"
      />
      <m-validation
        [control]="addConnectionForm.controls['host']"
      ></m-validation>

      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="addConnectionDialogPortInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['port'].invalid &&
            addConnectionForm.controls['port'].touched
        }"
        formControlName="port"
        placeholder="Port"
      />
      <m-validation
        [control]="addConnectionForm.controls['port']"
      ></m-validation>

      <input
        autocomplete="off"
        *ngIf="addConnectionForm.controls['type'].value !== typeClickHouse"
        spellcheck="false"
        data-cy="addConnectionDialogDatabaseInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['database'].invalid &&
            addConnectionForm.controls['database'].touched
        }"
        formControlName="database"
        placeholder="Database"
      />
      <m-validation
        *ngIf="addConnectionForm.controls['type'].value !== typeClickHouse"
        [control]="addConnectionForm.controls['database']"
      ></m-validation>
    </div>

    <div *ngIf="addConnectionForm.controls['type'].value === typeSnowFlake">
      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="addConnectionDialogAccountInput"
        class="form-input border-gray3 focus:border-blue3 mt-6 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['account'].invalid &&
            addConnectionForm.controls['account'].touched
        }"
        formControlName="account"
        placeholder="Account"
      />
      <m-validation
        [control]="addConnectionForm.controls['account']"
      ></m-validation>
    </div>

    <div *ngIf="addConnectionForm.controls['type'].value === typeSnowFlake">
      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="addConnectionDialogWarehouseInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['warehouse'].invalid &&
            addConnectionForm.controls['warehouse'].touched
        }"
        formControlName="warehouse"
        placeholder="Warehouse"
      />
      <m-validation
        [control]="addConnectionForm.controls['warehouse']"
      ></m-validation>
    </div>

    <div
      *ngIf="
        addConnectionForm.controls['type'].value === typeSnowFlake ||
        addConnectionForm.controls['type'].value === typeClickHouse ||
        addConnectionForm.controls['type'].value === typePostgreSQL
      "
    >
      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="addConnectionDialogUserInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['username'].invalid &&
            addConnectionForm.controls['username'].touched
        }"
        formControlName="username"
        placeholder="User"
      />
      <m-validation
        [control]="addConnectionForm.controls['username']"
      ></m-validation>

      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="addConnectionDialogPasswordInput"
        class="form-input border-gray3 focus:border-blue3 w-80 rounded"
        [ngClass]="{
          'border-red-600':
            addConnectionForm.controls['password'].invalid &&
            addConnectionForm.controls['password'].touched
        }"
        formControlName="password"
        placeholder="Password"
        type="password"
      />
      <m-validation
        [control]="addConnectionForm.controls['password']"
      ></m-validation>
    </div>

    <div class="mt-6">
      <button
        data-cy="addConnectionDialogAddButton"
        class="bg-blue3 w-28 rounded py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Add</button
      >

      <button
        data-cy="addConnectionDialogCancelButton"
        class="border-blue3 text-blue3 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
