<div
  [ngClass]="{
    'dashboard-light': dashTheme === dashThemeEnum.Light,
    'dashboard-dark': dashTheme === dashThemeEnum.Dark
  }"
>
  <div
    class="report-title"
    fxFlexAlign="stretch"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="report-title"
    (click)="reportClick(visual)"
  >
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <mat-icon
        *ngIf="visual.is_model_hidden"
        matTooltip="Report based on a Model that is Hidden"
        [matTooltipShowDelay]="appConfig.tooltipDelay"
        color="warn"
        >block
      </mat-icon>

      <mat-icon
        *ngIf="!visual.has_access_to_model"
        matTooltip="Report is based on a Model you do not have access to"
        [matTooltipShowDelay]="appConfig.tooltipDelay"
        color="warn"
        >lock_outline
      </mat-icon>

      <mat-icon
        *ngIf="visual.query.status === queryStatusEnum.Error"
        matTooltip="The underlying Query has an Error"
        [matTooltipShowDelay]="appConfig.tooltipDelay"
        color="warn"
        >error_outline
      </mat-icon>

      <h6 class="report-title__h6" data-cy="reportTitleText">{{
        visual.chart.title | capitalize
      }}</h6>

      <div
        *ngIf="
          visual.query.status === queryStatusEnum.Running ||
          visual.query.status === queryStatusEnum.Waiting
        "
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <div fxLayout="row" fxHide.lt-md>
          <div
            *ngIf="visual.query.status === queryStatusEnum.Running"
            class="report-title__text"
            >- Running...</div
          >

          <div
            *ngIf="visual.query.status === queryStatusEnum.Waiting"
            class="report-title__text"
            >- Waiting...</div
          >

          <!--
            <div class="report-title__text">{{ runSecondsAgo$ | async }}s</div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(dashTheme$ | async)"></div>
