<!-- desktop -->
<div fxHide.lt-md *ngIf="projectId">
  <button
    mat-button
    class="space__button_hover_primary"
    [disabled]="(dashboardsLength$ | async) < 1"
    [matMenuTriggerFor]="dashboardsMenu"
  >
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="mat-button__text">Dashboards</div>
      <mat-icon class="space__toolbar-icon">expand_more</mat-icon>
    </div>
  </button>

  <mat-menu #dashboardsMenu="matMenu">
    <ng-container *ngFor="let mainItem of dashboardGroups">
      <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{
        mainItem.gr | capitalize
      }}</button>
      <mat-menu #sub_menu="matMenu">
        <button
          *ngFor="let subItem of mainItem.dashboards"
          mat-menu-item
          [routerLink]="[
            '/project',
            projectId,
            'mode',
            mode,
            'dashboard',
            subItem.dashboard_id
          ]"
        >
          {{ getDashboardTitleOrName(subItem) | capitalize }}</button
        >
      </mat-menu>
    </ng-container>

    <button
      mat-menu-item
      *ngFor="let dashboard of flatDashboards"
      [routerLink]="[
        '/project',
        projectId,
        'mode',
        mode,
        'dashboard',
        dashboard.dashboard_id
      ]"
    >
      {{ getDashboardTitleOrName(dashboard) | capitalize }}
    </button>
  </mat-menu>
</div>

<!-- mobile -->
<div fxHide.gt-sm *ngIf="projectId">
  <mat-accordion>
    <mat-expansion-panel [disabled]="(dashboardsLength$ | async) < 1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div>Dashboards</div>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{ getDashboardTitleOrName(selectedDashboard) }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-accordion *ngFor="let mainItem of dashboardGroups">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ mainItem.gr | capitalize }} </mat-panel-title>
          </mat-expansion-panel-header>

          <button
            *ngFor="let subItem of mainItem.dashboards"
            mat-menu-item
            [routerLink]="[
              '/project',
              projectId,
              'mode',
              mode,
              'dashboard',
              subItem.dashboard_id
            ]"
          >
            {{ getDashboardTitleOrName(subItem) | capitalize }}</button
          >
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngFor="let dashboard of flatDashboards">
        <mat-expansion-panel hideToggle="true" disabled="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button
                mat-menu-item
                [routerLink]="[
                  '/project',
                  projectId,
                  'mode',
                  mode,
                  'dashboard',
                  dashboard.dashboard_id
                ]"
              >
                {{ getDashboardTitleOrName(dashboard) | capitalize }}
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- async -->
<div *ngIf="(selectedDashboard$ | async)"></div>
<div *ngIf="(projectId$ | async)"></div> <div *ngIf="(mode$ | async)"></div>
<div *ngIf="(dashboards$ | async)"></div>
