@mixin dashboard-filters-theme($theme) {
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);

  /deep/.dashboard-filters {

    @if $is-dark != true {
      background: #F1F1F1;
    }

    &__error {
        color: mat-color($warn);
    }
  }
}