<div class="flex flex-row ml-2 space-x-5 h-16">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionYesnoTypeSelect
      data-cy="fractionYesnoTypeSelect"
      class="flex w-64 focus:outline-none"
      [items]="fractionYesnoTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
    </ng-select>
  </form>

  <form
    [formGroup]="fractionForm"
    *ngIf="fraction.type === fractionTypeEnum.YesnoIs"
  >
    <ng-select
      #fractionYesnoValueSelect
      data-cy="fractionYesnoValueSelect"
      class="flex w-48 focus:outline-none h-[36px]"
      [items]="fractionYesnoValuesList"
      [clearable]="false"
      [searchable]="false"
      (change)="yesnoChange($event)"
      bindLabel="label"
      bindValue="value"
      formControlName="yesnoValue"
    >
    </ng-select>
  </form>
</div>
