<div class="flex w-full flex-grow overflow-y-auto rounded bg-white shadow">
  <div class="mt-4 h-2 w-full" *ngIf="panel === panelTree">
    <tree-root
      #itemsTree
      [nodes]="repo?.nodes"
      [options]="treeOptions"
      (initialized)="treeOnInitialized()"
      (updateData)="treeOnUpdateData()"
      (moveNode)="onMoveNode($event)"
    >
      <ng-template #treeNodeTemplate let-node="node" let-index="index">
        <div class="flex h-11 w-[95%] flex-row">
          <div
            data-cy="filesTreeItem"
            class="group flex w-full cursor-pointer select-none flex-row px-5 py-1"
            [ngClass]="{
              'text-m600 font-semibold':
                !!fileNodeId && node.data.id === fileNodeId,
              'hover:bg-m50': !fileNodeId || node.data.id !== fileNodeId
            }"
            (click)="nodeOnClick(node)"
          >
            <div
              class="relative flex w-full flex-row items-center"
              [ngClass]="{
                'ml-5': !node.data.isFolder,
                'ml-3': node.data.isFolder
              }"
            >
              <div class="flex min-w-[2px] items-center">
                <div
                  *ngIf="node.data.isFolder"
                  class="flex flex-shrink-0 flex-row space-x-1"
                >
                  <div class="h-6 w-6" *ngIf="!node.hasChildren"></div>
                  <m-chevron-right-icon
                    class="text-s500"
                    *ngIf="!node.isExpanded && node.hasChildren"
                  ></m-chevron-right-icon>
                  <m-chevron-down-icon
                    class="text-s500"
                    *ngIf="node.isExpanded && node.hasChildren"
                  ></m-chevron-down-icon>

                  <m-folder-closed-icon
                    class="text-m500"
                    *ngIf="!node.isExpanded || !node.hasChildren"
                  ></m-folder-closed-icon>
                  <m-folder-open-icon
                    class="text-m600"
                    *ngIf="node.isExpanded && node.hasChildren"
                  ></m-folder-open-icon>
                </div>

                <div
                  *ngIf="
                    !node.data.isFolder &&
                    !!fileNodeId &&
                    node.data.id === fileNodeId
                  "
                  data-cy="filesSelectedSymbol"
                  class="bg-m600 h-9 w-[6px] text-white focus:outline-none"
                ></div>

                <div
                  *ngIf="
                    !node.data.isFolder &&
                    (!fileNodeId || node.data.id !== fileNodeId)
                  "
                  class="h-9 w-[6px]"
                ></div>

                <div
                  *ngIf="!node.data.isFolder"
                  class="ml-3 w-7 flex-shrink-0 text-center font-bold"
                >
                  <m-document-icon></m-document-icon>
                </div>

                <div class="ml-2 min-w-[2px] truncate text-base">
                  {{
                    node.parent === null || node.parent.data.virtual
                      ? (projectName$ | async | capitalize)
                      : node?.data.name
                  }}
                </div>
              </div>

              <div class="flex-grow"></div>

              <div
                class="h-9 w-9 flex-shrink-0"
                *ngIf="nav.isRepoProd === true"
              ></div>

              <div
                *ngIf="nav.isRepoProd === false"
                class="invisible flex flex-shrink-0 group-hover:visible"
              >
                <m-folder-options
                  *ngIf="node.data.isFolder"
                  [node]="node"
                ></m-folder-options>

                <m-file-options
                  *ngIf="!node.data.isFolder"
                  [node]="node"
                ></m-file-options>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </tree-root>
  </div>

  <div
    class="mt-4 h-2 w-full"
    *ngIf="panel === panelChangesToCommit && repo?.changesToCommit?.length > 0"
  >
    <div
      *ngFor="let change of repo.changesToCommit"
      class="flex flex-row items-center rounded px-7 py-2 hover:cursor-pointer"
      [ngClass]="{
        'hover:bg-m50': fileId !== change.fileId
      }"
      (click)="changeToCommitOnClick(change.fileId)"
    >
      <div class="flex flex-col">
        <div
          class="truncate text-base"
          [ngClass]="{
            'text-m600 font-semibold': fileId === change.fileId,
            'text-s1': fileId !== change.fileId
          }"
        >
          {{ change.fileName }}
        </div>

        <div
          class="truncate text-base"
          [ngClass]="{
            'text-m500': fileId === change.fileId,
            'text-s400': fileId !== change.fileId
          }"
        >
          {{ change.parentPath }}
        </div>
      </div>

      <div class="flex-grow"></div>

      <div class="text-s400 ml-3 flex-shrink-0 text-base">
        {{ change.status }}
      </div>
    </div>
  </div>

  <div
    class="mt-4 h-2 w-full"
    *ngIf="panel === panelChangesToPush && repo?.changesToPush?.length > 0"
  >
    <div
      *ngFor="let change of repo.changesToPush"
      class="flex flex-row items-center rounded px-7 py-2 hover:cursor-pointer"
      [ngClass]="{
        'hover:bg-m50': fileId !== change.fileId
      }"
      (click)="changeToPushOnClick(change.fileId)"
    >
      <div class="flex flex-col">
        <div
          class="truncate text-base"
          [ngClass]="{
            'text-m600 font-semibold': fileId === change.fileId,
            'text-s1': fileId !== change.fileId
          }"
        >
          {{ change.fileName }}
        </div>

        <div
          class="truncate text-base"
          [ngClass]="{
            'text-m500': fileId === change.fileId,
            'text-s400': fileId !== change.fileId
          }"
        >
          {{ change.parentPath }}
        </div>
      </div>

      <div class="flex-grow"></div>

      <div class="text-s400 ml-3 flex-shrink-0 text-base">
        {{ change.status }}
      </div>
    </div>
  </div>

  <div
    *ngIf="
      panel === panelChangesToCommit && repo?.changesToCommit?.length === 0
    "
    class="flex h-full w-full flex-col items-center justify-center"
  >
    <m-completed-ring></m-completed-ring>
    <div class="mt-4 text-xl"> No changes to Commit</div>
  </div>

  <div
    *ngIf="
      panel === panelChangesToPush &&
      repo?.changesToPush?.length === 0 &&
      repo.repoStatus !== repoStatusNeedPush
    "
    class="flex h-full w-full flex-col items-center justify-center"
  >
    <m-completed-ring></m-completed-ring>
    <div class="mt-4 text-xl"> No changes to Push</div>
  </div>

  <div
    *ngIf="
      panel === panelChangesToPush &&
      repo?.changesToPush?.length === 0 &&
      repo.repoStatus === repoStatusNeedPush
    "
    class="flex h-full w-full flex-col items-center justify-center"
  >
    <div class="text-a500">
      <m-alert-ring></m-alert-ring>
    </div>
    <div class="mt-4 text-xl"> Push branch to Remote</div>
  </div>

  <div *ngIf="struct$ | async"></div>
  <div *ngIf="repo$ | async"></div>
  <div *ngIf="nav$ | async"></div>
  <div *ngIf="needSave$ | async"></div>
  <div *ngIf="file$ | async"></div>
</div>
