<div class="flex flex-col bg-white p-9">
  <div
    data-cy="chartSaveAsDialogTitle"
    class="text-gray2 mb-9 mt-5 flex-grow text-left text-2xl font-semibold"
    >Save As</div
  >

  <div
    data-cy="chartSaveAsDialogNewChartCheckbox"
    class="flex h-9 cursor-pointer flex-row items-center"
    (click)="newChartOnClick()"
  >
    <div
      class="border-blue3 flex h-6 w-6 items-center justify-center rounded-full border-2 text-white focus:outline-none"
      [ngClass]="{
        'bg-blue3 ': chartSaveAs === chartSaveAsEnum.NEW_CHART
      }"
    >
      <m-check-icon
        *ngIf="chartSaveAs === chartSaveAsEnum.NEW_CHART"
      ></m-check-icon>
    </div>

    <div class="ml-5 text-base">New Chart</div>
  </div>

  <div
    data-cy="chartSaveAsDialogNewTileOfDashboardCheckbox"
    class="mt-5 flex h-9 cursor-pointer flex-row items-center"
    (click)="tileOfDashboardOnClick()"
  >
    <button
      class="border-blue3 flex h-6 w-6 items-center justify-center rounded-full border-2 text-white focus:outline-none"
      [ngClass]="{
        'bg-blue3 ': chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD
      }"
    >
      <m-check-icon
        *ngIf="chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD"
      ></m-check-icon>
    </button>

    <div class="flex flex-row items-center">
      <div class="ml-5 mr-5 flex flex-shrink-0 text-base"
        >Tile of Dashboard</div
      >

      <div
        class="relative mx-5 flex h-2 w-9 flex-shrink-0"
        *ngIf="!dashboards && chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD"
      >
        <ngx-spinner
          [ngClass]="{
            invisible: chartSaveAs !== chartSaveAsEnum.TILE_OF_DASHBOARD
          }"
          class="invisible"
          [name]="spinnerName"
          color="rgba(54, 94, 224, 100)"
          bdColor="rgba(0, 0, 0, 0)"
          size="default"
          type="ball-clip-rotate"
          [fullScreen]="false"
          [disableAnimation]="true"
          [zIndex]="99998"
        >
        </ngx-spinner>
      </div>

      <ng-select
        data-cy="chartSaveAsDialogDashboardSelect"
        *ngIf="
          !!dashboards && chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD
        "
        class="custom w-[500px] flex-shrink-0 text-base focus:outline-none"
        [items]="dashboards"
        [searchable]="false"
        [clearable]="false"
        (change)="selectedDashboardChange()"
        [(ngModel)]="selectedDashboardId"
        (keyup.esc)="$event.stopImmediatePropagation()"
        (keyup.enter)="$event.stopImmediatePropagation()"
        appendTo="body"
        bindLabel="title"
        bindValue="dashboardId"
      >
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
          <div
            class="ml-1 flex flex-row"
            [tpIsEnabled]="item.canEditOrDeleteDashboard === false"
            tp="Dashboard can be modified by author and project members with ProjectAdmin or FilesEditor role. Try to save dashboard as new to become an author."
          >
            <div class="flex truncate">
              <div class="truncate">
                {{ item.title || item.dashboardId }}
              </div>
            </div>
            <div class="flex flex-grow"></div>
            <div class="ml-5 mr-5 flex flex-shrink-0 font-semibold">{{
              item.author
            }}</div>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="ml-12 mt-5 flex h-9 flex-col">
    <div
      data-cy="chartSaveAsDialogNewChartCheckbox"
      class="flex h-9 cursor-pointer flex-row items-center"
      *ngIf="
        chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD &&
        !!selectedDashboardId
      "
      (click)="newTileOnClick()"
    >
      <div
        class="border-blue3 flex h-6 w-6 items-center justify-center rounded-full border-2 text-white focus:outline-none"
        [ngClass]="{
          'bg-blue3 ': tileSaveAs === tileSaveAsEnum.NEW_TILE
        }"
      >
        <m-check-icon
          *ngIf="tileSaveAs === tileSaveAsEnum.NEW_TILE"
        ></m-check-icon>
      </div>

      <div class="ml-5 text-base">New Tile</div>
    </div>
  </div>

  <div class="ml-12 mt-5 flex h-9 flex-col">
    <div
      data-cy="chartSaveAsDialogNewTileOfDashboardCheckbox"
      class="flex h-9 cursor-pointer flex-row items-center"
      *ngIf="
        chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD &&
        !!selectedDashboardId
      "
      (click)="replaceExistingTileOnClick()"
    >
      <button
        class="border-blue3 flex h-6 w-6 items-center justify-center rounded-full border-2 text-white focus:outline-none"
        [ngClass]="{
          'bg-blue3 ': tileSaveAs === tileSaveAsEnum.REPLACE_EXISTING_TILE
        }"
      >
        <m-check-icon
          *ngIf="tileSaveAs === tileSaveAsEnum.REPLACE_EXISTING_TILE"
        ></m-check-icon>
      </button>

      <div class="flex flex-row items-center">
        <div class="ml-5 mr-5 flex flex-shrink-0 text-base"
          >Replace Existing Tile</div
        >
        <ng-select
          data-cy="chartSaveAsDialogTileSelect"
          *ngIf="tileSaveAs === tileSaveAsEnum.REPLACE_EXISTING_TILE"
          class="custom w-[500px] flex-shrink-0 text-base focus:outline-none"
          [items]="selectedDashboard?.tiles || []"
          [searchable]="false"
          [clearable]="false"
          (change)="selectedTileChange()"
          [(ngModel)]="selectedTileTitle"
          (keyup.esc)="$event.stopImmediatePropagation()"
          (keyup.enter)="$event.stopImmediatePropagation()"
          appendTo="body"
          bindLabel="title"
          bindValue="title"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.title }}</div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.title }}</div>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="mt-9 h-7 text-base text-gray-400">
    <div *ngIf="chartSaveAs === chartSaveAsEnum.NEW_CHART"
      >{{ struct?.mproveDirValue | mproveDir | capitalize }} /
      {{ usersFolder }} / {{ alias }} / {{ chartId }}.chart</div
    >

    <div
      *ngIf="
        chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD &&
        !!selectedDashboardId
      "
      >{{ selectedDashboardPath | capitalize }}</div
    >

    <!-- <div
      *ngIf="
        chartSaveAs === chartSaveAsEnum.NEW_TILE_OF_EXISTING_DASHBOARD &&
        !selectedDashboardId
      "
    ></div> -->
  </div>

  <div class="mt-9 flex flex-row items-start">
    <div class="flex flex-col">
      <div class="text-gray1 flex h-9 w-32 select-none items-center text-base"
        >Title</div
      >
    </div>

    <div [formGroup]="titleForm" class="ml-5 flex flex-col items-start">
      <textarea
        spellcheck="false"
        data-cy="chartSaveAsDialogTitleInput"
        class="form-input border-gray3 focus:border-blue3 h-[120px] w-[600px] resize-none rounded"
        [ngClass]="{
          'border-red-600':
            titleForm.controls['title'].invalid &&
            titleForm.controls['title'].touched
        }"
        formControlName="title"
      ></textarea>
      <m-validation [control]="titleForm.controls['title']"></m-validation>
    </div>
  </div>

  <div class="flex h-9 flex-row items-start">
    <div
      class="flex flex-col"
      *ngIf="chartSaveAs === chartSaveAsEnum.NEW_CHART"
    >
      <div class="text-gray1 flex h-9 w-32 select-none items-center text-base"
        >Access Roles</div
      >
    </div>

    <div
      [formGroup]="rolesForm"
      class="ml-5 flex flex-col items-start"
      *ngIf="chartSaveAs === chartSaveAsEnum.NEW_CHART"
    >
      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="chartSaveAsDialogRolesInput"
        class="form-input border-gray3 focus:border-blue3 h-9 w-96 rounded"
        [ngClass]="{
          'border-red-600':
            rolesForm.controls['roles'].invalid &&
            rolesForm.controls['roles'].touched
        }"
        formControlName="roles"
      />
      <m-validation [control]="rolesForm.controls['roles']"></m-validation>
    </div>
  </div>

  <div class="mt-5 flex h-9 flex-row items-start">
    <div
      class="flex flex-col"
      *ngIf="chartSaveAs === chartSaveAsEnum.NEW_CHART"
    >
      <div class="text-gray1 flex h-9 w-32 select-none items-center text-base"
        >Access Users</div
      >
    </div>

    <div
      [formGroup]="usersForm"
      class="ml-5 flex flex-col items-start"
      *ngIf="chartSaveAs === chartSaveAsEnum.NEW_CHART"
    >
      <input
        autocomplete="off"
        spellcheck="false"
        data-cy="chartSaveAsDialogUsersInput"
        class="form-input border-gray3 focus:border-blue3 h-9 w-96 rounded"
        [ngClass]="{
          'border-red-600':
            usersForm.controls['users'].invalid &&
            usersForm.controls['users'].touched
        }"
        formControlName="users"
      />
      <m-validation [control]="usersForm.controls['users']"></m-validation>
    </div>
  </div>

  <div class="mt-9">
    <button
      data-cy="chartSaveAsDialogSaveButton"
      class="bg-blue3 w-28 rounded py-3 text-base font-medium text-white focus:outline-none"
      type="button"
      [ngClass]="{
        'bg-blue3':
          chartSaveAs === chartSaveAsEnum.NEW_CHART ||
          (!!selectedDashboardId &&
            (tileSaveAs === tileSaveAsEnum.NEW_TILE || !!selectedTileTitle)),
        'cursor-default bg-gray-400':
          chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD &&
          (selectedDashboardId === undefined ||
            (tileSaveAs === tileSaveAsEnum.REPLACE_EXISTING_TILE &&
              selectedTileTitle === undefined))
      }"
      (click)="save()"
      [disabled]="
        chartSaveAs === chartSaveAsEnum.TILE_OF_DASHBOARD &&
        (selectedDashboardId === undefined ||
          (tileSaveAs === tileSaveAsEnum.REPLACE_EXISTING_TILE &&
            selectedTileTitle === undefined))
      "
      >Save</button
    >

    <button
      data-cy="chartSaveAsDialogCancelButton"
      class="border-blue3 text-blue3 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >
  </div>
</div>

<div *ngIf="alias$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="struct$ | async"></div>
