<div class="flex flex-col bg-white p-9">
  <div
    data-cy="deleteUserDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Delete Dashboard</div
  >

  <div class="mt-6 text-lg text-gray1"
    >Are you sure you want to delete
    <b>{{ ref.data.dashboard.title }}</b> dashboard?</div
  >

  <div class="mt-6">
    <button
      data-cy="deleteUserDialogDeleteButton"
      class="w-28 rounded border bg-red1 py-3 text-base font-medium text-white focus:outline-none"
      (click)="delete()"
      >Delete</button
    >

    <button
      data-cy="deleteUserDialogCancelButton"
      class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >
  </div>
</div>
