<div class="flex flex-col p-9 bg-white max-h-[500px]">
  <div
    data-cy="deleteUserDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >New Visualization</div
  >

  <div class="text-lg mt-9 text-gray1"
    >To create a new visualization, go to the model page, customize the chart,
    and click Save As</div
  >

  <div class="text-lg mt-9 mb-3 font-semibold text-gray2">Models:</div>

  <div class="overflow-y-auto">
    <div
      class="text-gray1 pl-5 py-3 text-base rounded hover:bg-blue2 hover:cursor-pointer"
      *ngFor="let model of ref.data.models"
      (click)="navToModel(model.modelId)"
    >
      {{ model.label }}
    </div>
  </div>
</div>
