<div class="mp-min-width-2 mp-max-width-2">
  <mat-toolbar color="primary">PostgreSQL credentials</mat-toolbar>

  <form
    [formGroup]="updateCredentialsPostgresForm"
    (ngSubmit)="
      onSubmit(updateCredentialsPostgresForm.value); dialogRef.close()
    "
  >
    <br />

    <mat-form-field>
      <input
        matInput
        type="text"
        id="postgresHostInput"
        formControlName="postgresHost"
        placeholder="Host"
        required
        data-cy="dialogUpdateCredentialsPostgresHostInput"
      />
      <mat-error>
        <m-validation-msg
          [errors]="
            updateCredentialsPostgresForm.controls['postgresHost'].errors
          "
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input
        matInput
        type="number"
        id="postgresPortInput"
        formControlName="postgresPort"
        placeholder="Port"
        required
        data-cy="dialogUpdateCredentialsPostgresPortInput"
      />
      <mat-error>
        <m-validation-msg
          [errors]="
            updateCredentialsPostgresForm.controls['postgresPort'].errors
          "
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input
        matInput
        type="text"
        id="postgresDatabaseInput"
        formControlName="postgresDatabase"
        placeholder="Database"
        required
        data-cy="dialogUpdateCredentialsPostgresDatabaseInput"
      />
      <mat-error>
        <m-validation-msg
          [errors]="
            updateCredentialsPostgresForm.controls['postgresDatabase'].errors
          "
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input
        matInput
        type="text"
        id="postgresUserInput"
        formControlName="postgresUser"
        placeholder="User"
        required
        data-cy="dialogUpdateCredentialsPostgresUserInput"
      />
      <mat-error>
        <m-validation-msg
          [errors]="
            updateCredentialsPostgresForm.controls['postgresUser'].errors
          "
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input
        matInput
        type="text"
        id="postgresPasswordInput"
        formControlName="postgresPassword"
        placeholder="Password"
        required
        data-cy="dialogUpdateCredentialsPostgresPasswordInput"
      />
      <mat-error>
        <m-validation-msg
          [errors]="
            updateCredentialsPostgresForm.controls['postgresPassword'].errors
          "
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <p>Project's prod and dev repos will be rebuilded to apply the changes</p>

    <br />

    <button
      type="submit"
      color="primary"
      mat-raised-button
      data-cy="dialogUpdateCredentialsPostgresSaveButton"
      [disabled]="!updateCredentialsPostgresForm.valid"
      >Save
    </button>

    <button
      class="delete-credentials-button"
      type="button"
      color="warn"
      mat-raised-button
      data-cy="dialogUpdateCredentialsPostgresDeleteCredentialsButton"
      [disabled]="!selectedProject.has_credentials"
      (click)="delete(); dialogRef.close()"
      >Delete Credentials
    </button>

    <button
      type="reset"
      class="mp-cancel"
      mat-raised-button
      (click)="dialogRef.close()"
      >Cancel
    </button>
  </form>
</div>
