<div class="flex flex-row items-start justify-start">
  <div
    class="ml-5 flex h-[36px] w-10 items-center justify-start"
    *ngIf="fraction.type !== 'StoreFraction' || !!fieldResult"
  >
    {{
      !isFirst && fraction.operator === 'Or'
        ? 'OR'
        : !isFirst && fraction.operator === 'And'
          ? 'AND'
          : ''
    }}
  </div>

  <div
    *ngIf="fraction.type !== 'StoreFraction'"
    [ngSwitch]="fieldResult"
    class="ml-5 flex flex-row items-start justify-start"
  >
    <m-fraction-number
      *ngSwitchCase="fieldResultNumber"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-number>

    <m-fraction-string
      *ngSwitchCase="fieldResultString"
      [suggestModelDimension]="suggestModelDimension"
      [structId]="structId"
      [chartId]="chartId"
      [dashboardId]="dashboardId"
      [reportId]="reportId"
      [rowId]="rowId"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-string>

    <m-fraction-day-of-week
      *ngSwitchCase="fieldResultDayOfWeek"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-day-of-week>

    <m-fraction-day-of-week-index
      *ngSwitchCase="fieldResultDayOfWeekIndex"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-day-of-week-index>

    <m-fraction-month-name
      *ngSwitchCase="fieldResultMonthName"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-month-name>

    <m-fraction-quarter-of-year
      *ngSwitchCase="fieldResultQuarterOfYear"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-quarter-of-year>

    <m-fraction-ts
      *ngSwitchCase="fieldResultTs"
      [fraction]="fraction"
      [fieldTimeframe]="fieldTimeframe"
      [isMetrics]="false"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-ts>

    <m-fraction-boolean
      *ngSwitchCase="fieldResultBoolean"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-boolean>

    <m-fraction-yesno
      *ngSwitchCase="fieldResultYesno"
      [fraction]="fraction"
      [isFirst]="isFirst"
      [fractionIndex]="fractionIndex"
      [isDisabled]="isDisabled"
      (fractionUpdate)="fractionUpdate.emit($event)"
    ></m-fraction-yesno>
  </div>

  <div
    *ngIf="fraction.type === 'StoreFraction'"
    class="flex flex-row items-start justify-start"
  >
    <!-- <div class="ml-5 flex h-[36px] w-10 items-center justify-start"></div> -->

    <div *ngIf="!!fieldResult" class="flex">
      <m-store-fraction-sub-type
        class="ml-5"
        [fraction]="fraction"
        [storeContent]="storeContent"
        [fieldResult]="fieldResult"
        [isFirst]="isFirst"
        [fractionIndex]="fractionIndex"
        [isDisabled]="isDisabled"
        (fractionUpdate)="fractionUpdate.emit($event)"
      >
      </m-store-fraction-sub-type>
    </div>

    <div *ngFor="let fractionControl of fraction.controls" class="ml-5 flex">
      <m-store-fraction-selector
        *ngIf="fractionControl.controlClass === 'selector'"
        [fraction]="fraction"
        [isFirst]="isFirst"
        [fractionIndex]="fractionIndex"
        [isDisabled]="isDisabled"
        [fractionControl]="fractionControl"
        (fractionUpdate)="fractionUpdate.emit($event)"
      >
      </m-store-fraction-selector>

      <m-store-fraction-input
        *ngIf="fractionControl.controlClass === 'input'"
        [suggestModelDimension]="suggestModelDimension"
        [structId]="structId"
        [chartId]="chartId"
        [dashboardId]="dashboardId"
        [reportId]="reportId"
        [rowId]="rowId"
        [fraction]="fraction"
        [isFirst]="isFirst"
        [fractionIndex]="fractionIndex"
        [isDisabled]="isDisabled"
        [fractionControl]="fractionControl"
        (fractionUpdate)="fractionUpdate.emit($event)"
      >
      </m-store-fraction-input>

      <m-store-fraction-switch
        *ngIf="fractionControl.controlClass === 'switch'"
        [fraction]="fraction"
        [isFirst]="isFirst"
        [fractionIndex]="fractionIndex"
        [isDisabled]="isDisabled"
        [fractionControl]="fractionControl"
        (fractionUpdate)="fractionUpdate.emit($event)"
      >
      </m-store-fraction-switch>

      <m-store-fraction-date-picker
        *ngIf="fractionControl.controlClass === 'date_picker'"
        [metricsStartDateYYYYMMDD]="metricsStartDateYYYYMMDD"
        [metricsEndDateYYYYMMDD]="metricsEndDateYYYYMMDD"
        [isMetricsPage]="isMetricsPage"
        [fraction]="fraction"
        [isFirst]="isFirst"
        [fractionIndex]="fractionIndex"
        [isDisabled]="isDisabled"
        [fractionControl]="fractionControl"
        (fractionUpdate)="fractionUpdate.emit($event)"
      >
      </m-store-fraction-date-picker>
    </div>
  </div>
</div>
