@mixin main-table-theme($theme) {
  $sub-primary: map-get($theme, sub-primary);
  $is-dark: map-get($theme, is-dark);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);

  .main-table {
    &__sort {
      &-number {
        color: mat-color($warn);
      }
    }

    tr[td-data-table-row]:nth-child(odd) {
      @if $is-dark == true {
        background-color: mat-color($sub-primary, 600);
      } @else {
        background-color: #ffffff;
      }
    }

    th[td-data-table-column],
    td[td-data-table-cell] {
      @if $is-dark == true {
        box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.12);
      } @else {
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.12);
      }
    }

    &__th-measure_background {
      background-color: transparent;
      .main-table__wrap {
        @if $is-dark == true {
          background-color: rgb(197, 143, 61);
        } @else {
          background-color: #fcad3473;
        }
      }
    }

    &__td-measure_background {
      @if $is-dark == true {
        background-color: rgb(152, 112, 52);
      } @else {
        background-color: #ffa1001c;
      }
    }

    &__th-calculation_background {
      background-color: transparent;
      .main-table__wrap {
        @if $is-dark == true {
          background-color: #a018cc;
        } @else {
          background-color: #b400ff6e;
        }
      }
    }

    &__td-calculation_background {
      @if $is-dark == true {
        background-color: #7d3a98;
      } @else {
        background-color: #7407cb12;
      }
    }

    &__th-dimension_background {
      background-color: transparent;
      .main-table__wrap {
        @if $is-dark == true {
          background-color: rgb(24, 124, 204);
        } @else {
          background-color: #60b8fd87;
        }
      }
    }

    &__td-dimension_background {
      @if $is-dark == true {
        background-color: rgb(58, 111, 152);
      } @else {
        background-color: #0057bc12;
      }
    }
  }
}
