<div class="flex flex-grow bg-white w-full rounded shadow-lg overflow-y-auto">
  <tree-root
    class="w-full h-2 mt-4"
    #itemsTree
    [nodes]="nodesExtra"
    [options]="treeOptions"
    (initialized)="treeOnInitialized()"
    (updateData)="treeOnUpdateData()"
  >
    <ng-template #treeNodeTemplate let-node="node" let-index="index">
      <div class="flex flex-row w-full">
        <div
          data-cy="modelTreeItem"
          class="group flex flex-row px-5 py-1 w-full select-none"
          [ngClass]="{
            'cursor-pointer hover:bg-blue2':
              node.data.nodeClass !== nodeClassInfo
          }"
          (click)="nodeOnClick(node)"
        >
          <div class="relative flex flex-row items-center w-full">
            <div class="flex flex-grow flex-row items-center">
              <div
                *ngIf="
                  !node.data.isField && node.data.nodeClass !== nodeClassInfo
                "
                class="flex flex-row space-x-1 items-center"
              >
                <div
                  class="items-center"
                  [ngClass]="{
                    'ml-4':
                      node.data.nodeClass === nodeClassDimension &&
                      node.data.isField === false
                  }"
                >
                  <m-chevron-right-icon
                    *ngIf="!node.isExpanded && node.hasChildren"
                  ></m-chevron-right-icon>

                  <m-chevron-down-icon
                    *ngIf="node.isExpanded && node.hasChildren"
                  ></m-chevron-down-icon>

                  <!-- <m-folder-closed-icon
                  *ngIf="!node.isExpanded || !node.hasChildren"
                  ></m-folder-closed-icon>
                  <m-folder-open-icon
                  *ngIf="node.isExpanded && node.hasChildren"
                  ></m-folder-open-icon> -->
                </div>
              </div>

              <!-- <div
                *ngIf="!node.data.isFolder"
                class="font-bold w-7 text-center"
                [ngClass]="{
                  'text-[#5dd0a8]': true
                }"
              >
                {{ node.data.fileId | extension: true | capitalize }}
              </div> -->

              <div
                class="text-gray1"
                [ngClass]="{
                  'ml-2': node.hasChildren,
                  'ml-5':
                    !node.hasChildren &&
                    node.parent.data.nodeClass !== nodeClassDimension,
                  'ml-9': node.parent.data.nodeClass === nodeClassDimension
                }"
              >
                <div
                  *ngIf="node.data.nodeClass === nodeClassInfo"
                  class="font-semibold"
                >
                  {{ node.data.label | uppercase }}
                </div>

                <div *ngIf="node.data.nodeClass !== nodeClassInfo">
                  {{ node.data.label | capitalize }}
                </div>
              </div>
            </div>

            <div class="h-8 w-8" *ngIf="true"></div>

            <!-- <div
              *ngIf="nav.isRepoProd === false && needSave === false"
              class="flex invisible group-hover:visible"
            >
              <m-folder-options
                *ngIf="node.data.isFolder"
                [node]="node"
              ></m-folder-options>

              <m-file-options
                *ngIf="!node.data.isFolder"
                [node]="node"
              ></m-file-options>
            </div> -->
          </div>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>

<div *ngIf="model$ | async"></div>
<div *ngIf="mconfig$ | async"></div>
<!-- <div *ngIf="nav$ | async"></div> -->
