<div class="flex flex-grow bg-white w-full rounded shadow-lg overflow-y-auto">
  <tree-root
    class="w-full h-2 mt-4"
    #itemsTree
    [nodes]="nodesExtra"
    [options]="treeOptions"
    (initialized)="treeOnInitialized()"
    (updateData)="treeOnUpdateData()"
  >
    <ng-template #treeNodeTemplate let-node="node" let-index="index">
      <div
        class="flex flex-row w-full h-11 group-bar"
        [ngClass]="{
          'pl-6 pr-5':
            node.data.nodeClass === nodeClassDimension ||
            node.data.nodeClass === nodeClassMeasure ||
            node.data.nodeClass === nodeClassCalculation
        }"
      >
        <div
          data-cy="modelTreeItem"
          class="flex flex-row pr-5 w-full select-none"
          [ngClass]="{
            'cursor-pointer': node.data.nodeClass !== nodeClassInfo,
            'bg-blue2': node.data.nodeClass === nodeClassDimension,
            'hover:bg-blue5':
              node.data.nodeClass === nodeClassDimension && node.data.isField,
            'bg-purple-100 hover:bg-purple-200':
              node.data.nodeClass === nodeClassMeasure,
            'bg-green2 hover:bg-green1':
              node.data.nodeClass === nodeClassCalculation,
            'px-5': !node.data.isField
          }"
          (click)="nodeOnClick(node)"
        >
          <div class="relative flex flex-row items-center w-full">
            <div class="flex flex-row items-center min-w-[2px]">
              <div
                *ngIf="
                  !node.data.isField && node.data.nodeClass !== nodeClassInfo
                "
                class="flex flex-row space-x-1 items-center"
              >
                <div
                  class="flex items-center"
                  [ngClass]="{
                    'ml-2':
                      node.data.nodeClass === nodeClassDimension &&
                      node.data.isField === false
                  }"
                >
                  <m-chevron-right-icon
                    *ngIf="!node.isExpanded && node.hasChildren"
                  ></m-chevron-right-icon>

                  <m-chevron-down-icon
                    *ngIf="node.isExpanded && node.hasChildren"
                  ></m-chevron-down-icon>
                </div>
              </div>

              <div
                *ngIf="node.data.isField === true"
                class="flex items-center h-2 mr-3"
                [ngClass]="{
                  'ml-4':
                    !node.hasChildren &&
                    node.parent?.data.nodeClass !== nodeClassDimension,
                  'ml-10': node.parent?.data.nodeClass === nodeClassDimension
                }"
              >
                <div
                  *ngIf="node.data.isSelected === true"
                  data-cy="filesTreeSelectedSymbol"
                  class="rounded-full focus:outline-none bg-blue3 text-white h-2 w-2"
                ></div>

                <div
                  *ngIf="node.data.isSelected === false"
                  class="h-2 w-2"
                ></div>
              </div>

              <div class="flex-grow text-gray1 ml-0 truncate">
                <span
                  class="truncate"
                  *ngIf="node.data.nodeClass === nodeClassInfo"
                  class="ml-9 font-semibold"
                >
                  {{ node.data.label | uppercase }}
                </span>

                <span
                  class="truncate text-base"
                  *ngIf="node.data.nodeClass !== nodeClassInfo"
                  [ngClass]="{
                    ' font-semibold': node.data.fieldResult === fieldResultTs,
                    'ml-3':
                      node.hasChildren &&
                      node.data.nodeClass !== nodeClassDimension,
                    'ml-2':
                      node.hasChildren &&
                      node.data.nodeClass === nodeClassDimension
                  }"
                >
                  {{ node.data.label | capitalize }}
                </span>
              </div>
            </div>

            <div class="flex flex-grow"></div>

            <button
              *ngIf="node.data.isField === true"
              type="button"
              data-cy="filesTreeFilterButton"
              class="group h-10 ml-3 rounded w-28 flex items-center justify-center focus:outline-none invisible group-bar-hover:visible"
              [ngClass]="{
                'text-blue3': node.data.isFiltered === true,
                'text-gray1': node.data.isFiltered === false
              }"
              (click)="filterField(node, $event)"
            >
              <div
                class="flex px-3 h-8 flex-row space-x-2 items-center justify-start rounded group-hover:bg-white"
              >
                <div
                  class="w-[76px] flex justify-start invisible group-bar-hover:visible text-sm flex-shrink-0"
                  [ngClass]="{
                    'text-blue3': node.data.isFiltered === true,
                    'text-gray-400': node.data.isFiltered === false
                  }"
                  >{{ node.data.fieldResult | result }}</div
                >

                <m-filter-icon
                  [ngClass]="{
                    visible: node.data.isFiltered === true
                  }"
                ></m-filter-icon>
              </div>
            </button>

            <div
              *ngIf="node.data.isField === true"
              class="flex ml-2 invisible group-bar-hover:visible"
            >
              <m-field-options [node]="node"></m-field-options>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>

<div *ngIf="model$ | async"></div>
<div *ngIf="mconfig$ | async"></div>
<!-- <div *ngIf="nav$ | async"></div> -->
