@mixin chart-editor-theme($theme) {
  $sub-primary: map-get($theme, sub-primary);
  $is-dark: map-get($theme, is-dark);

  .chart-editor {
    @if $is-dark == true {
      background-color: mat-color($sub-primary, 800);
      color: mat-contrast($sub-primary, 800);
    } @else {
      background-color: mat-color($sub-primary, 200);
      color: mat-contrast($sub-primary, 200);
    }

    &__toolbar {
      @if $is-dark != true {
        background-color: #eee;
      } @else {
        background: #414141;
      }
    }

    /deep/ .mat-slide-toggle-label {
      &:hover {
        @if $is-dark == true {
          background-color: #525252;
        } @else {
          background-color: #f9f9f9;
        }
      }
    }

    /deep/ .parameters-group {
      @if $is-dark == true {
        background-color: #303030;
      } @else {
        background-color: #cecece;
      }
    }
  }
  .chart-inner {
    @if $is-dark != true {
      border-left: 1px solid #757575;
    }
  }
}
