<div class="bg-white mx-6 mt-6 mb-4 rounded shadow-lg w-full">
  <tree-root
    #itemsTree
    [nodes]="repo?.nodes"
    [options]="treeOptions"
    (initialized)="treeOnInitialized()"
    (updateData)="treeOnUpdateData()"
  >
    <ng-template #treeNodeTemplate let-node="node" let-index="index">
      <div class="flex flex-row">
        <div
          data-cy="blockmlTreeItem"
          class="group flex flex-row cursor-pointer px-5 py-2 w-full hover:bg-blue2 select-none"
          (click)="nodeOnClick(node)"
        >
          <div
            class="relative flex flex-row items-center w-full"
            [ngClass]="{
              'ml-10': !node.data.isFolder,
              'ml-3': node.data.isFolder
            }"
          >
            <div class="flex flex-grow flex-row items-center">
              <div *ngIf="node.data.isFolder" class="flex flex-row space-x-1">
                <div class="h-6 w-6" *ngIf="!node.hasChildren"></div>
                <m-chevron-right-icon
                  *ngIf="!node.isExpanded && node.hasChildren"
                ></m-chevron-right-icon>
                <m-chevron-down-icon
                  *ngIf="node.isExpanded && node.hasChildren"
                ></m-chevron-down-icon>

                <m-folder-closed-icon
                  *ngIf="!node.isExpanded"
                ></m-folder-closed-icon>
                <m-folder-open-icon
                  *ngIf="node.isExpanded"
                ></m-folder-open-icon>
              </div>

              <div
                *ngIf="!node.data.isFolder"
                class="font-bold h-7 w-7"
                [ngClass]="{
                  'text-[#5dd0a8]': true
                }"
              >
                {{ node.data.fileId | extension }}
              </div>

              <div class="ml-2">
                {{ node.data.name }}
              </div>
            </div>

            <div class="flex invisible group-hover:visible">
              <m-folder-options
                *ngIf="node.data.isFolder"
                [node]="node"
              ></m-folder-options>
            </div>
          </div>
        </div>

        <!-- <button
          *ngIf="(isDev$ | async) && node.data.is_folder"
          class="catalog-tree__menu-button"
          [matMenuTriggerFor]="folderMenu"
          data-cy="blockmlTreeFolderOptionsButton"
          [ngClass]="{ disableFolderOptions: needSave$ | async }"
          [disabled]="needSave$ | async"
        >
          <mat-icon>more_vert</mat-icon>
        </button> -->

        <!-- <mat-menu #folderMenu="matMenu">
          <button
            mat-menu-item
            data-cy="blockmlTreeFolderOptionsNewFileButton"
            (click)="openNewFileDialog(node)"
          >
            New file</button
          >
          <button
            mat-menu-item
            data-cy="blockmlTreeFolderOptionsNewFolderButton"
            (click)="openNewFolderDialog(node)"
          >
            New folder</button
          >
          <button
            mat-menu-item
            data-cy="blockmlTreeFolderOptionsRenameFolderButton"
            [disabled]="node.data.id === (projectId$ | async)"
            (click)="openRenameFolderDialog(node)"
          >
            Rename folder
          </button>
          <button
            mat-menu-item
            data-cy="blockmlTreeFolderOptionsDeleteFolderButton"
            [disabled]="node.data.id === (projectId$ | async)"
            (click)="openDeleteFolderDialog(node)"
          >
            Delete folder
          </button>
        </mat-menu> -->

        <!-- <button
          *ngIf="(isDev$ | async) && !node.data.is_folder"
          class="catalog-tree__menu-button"
          [matMenuTriggerFor]="fileMenu"
          data-cy="blockmlTreeFileOptionsButton"
          [ngClass]="{ disableFileOptions: needSave$ | async }"
          [disabled]="needSave$ | async"
        >
          <mat-icon>more_vert</mat-icon>
        </button> -->

        <!-- <mat-menu #fileMenu="matMenu">
          <button
            mat-menu-item
            data-cy="blockmlTreeFileOptionsDeleteFileButton"
            (click)="openDeleteFileDialog(node)"
          >
            Delete file</button
          >
        </mat-menu> -->
      </div>
    </ng-template>
  </tree-root>
</div>

<div *ngIf="repo$ | async"></div>
<div *ngIf="nav$ | async"></div>
