<div class="flex flex-grow bg-white w-full rounded shadow-lg overflow-y-auto">
  <tree-root
    class="w-full h-2 mt-4"
    #itemsTree
    [nodes]="repo?.nodes"
    [options]="treeOptions"
    (initialized)="treeOnInitialized()"
    (updateData)="treeOnUpdateData()"
    (moveNode)="onMoveNode($event)"
  >
    <ng-template #treeNodeTemplate let-node="node" let-index="index">
      <div class="flex flex-row h-11 w-full">
        <div
          data-cy="blockmlTreeItem"
          class="group flex flex-row cursor-pointer hover:bg-blue2 px-5 py-1 w-full select-none"
          [ngClass]="{
            'font-semibold bg-gray-200':
              !!fileNodeId && node.data.id === fileNodeId
          }"
          (click)="nodeOnClick(node)"
        >
          <div
            class="relative flex flex-row items-center w-full"
            [ngClass]="{
              'ml-10': !node.data.isFolder,
              'ml-3': node.data.isFolder
            }"
          >
            <div class="flex flex-grow flex-row items-center">
              <div *ngIf="node.data.isFolder" class="flex flex-row space-x-1">
                <div class="h-6 w-6" *ngIf="!node.hasChildren"></div>
                <m-chevron-right-icon
                  *ngIf="!node.isExpanded && node.hasChildren"
                ></m-chevron-right-icon>
                <m-chevron-down-icon
                  *ngIf="node.isExpanded && node.hasChildren"
                ></m-chevron-down-icon>

                <m-folder-closed-icon
                  *ngIf="!node.isExpanded || !node.hasChildren"
                ></m-folder-closed-icon>
                <m-folder-open-icon
                  *ngIf="node.isExpanded && node.hasChildren"
                ></m-folder-open-icon>
              </div>

              <div
                *ngIf="!node.data.isFolder"
                class="font-bold w-7 text-center"
                [ngClass]="{
                  'text-[#5dd0a8]': true
                }"
              >
                {{ node.data.fileId | extension: true | capitalize }}
              </div>

              <div class="ml-2 text-base">
                {{ node.data.name }}
              </div>
            </div>

            <div
              class="h-9 w-9"
              *ngIf="nav.isRepoProd === true || needSave === true"
            ></div>
            <div
              *ngIf="nav.isRepoProd === false && needSave === false"
              class="flex invisible group-hover:visible"
            >
              <m-folder-options
                *ngIf="node.data.isFolder"
                [node]="node"
              ></m-folder-options>

              <m-file-options
                *ngIf="!node.data.isFolder"
                [node]="node"
              ></m-file-options>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>

<div *ngIf="repo$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="file$ | async"></div>
