<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="createFileDialogTitle"
    class="flex-grow mt-5 text-2xl text-gray2 font-semibold text-left"
    >Create File</div
  >

  <form
    class="flex flex-col w-80"
    [formGroup]="createFileForm"
    (ngSubmit)="create()"
  >
    <div class="flex flex-row mt-9 space-x-5">
      <div>
        <div class="text-base">Name</div>

        <input
          spellcheck="false"
          data-cy="createFileDialogFileNameInput"
          class="w-72 h-[36px] mt-2 form-input rounded border-gray3 focus:border-blue3"
          [ngClass]="{
            'border-red-600':
              createFileForm.controls['fileName'].invalid &&
              createFileForm.controls['fileName'].touched
          }"
          formControlName="fileName"
          placeholder="File Name"
        />
        <m-validation
          [control]="createFileForm.controls['fileName']"
        ></m-validation>
      </div>

      <div>
        <div class="text-base">Type:</div>
        <ng-select
          #typeSelect
          data-cy="typeSelect"
          class="custom w-44 mt-2 text-base focus:outline-none"
          [items]="extList"
          [clearable]="false"
          [searchable]="false"
          (change)="extChange($event)"
          appendTo="body"
          formControlName="fileExt"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="ml-1 truncate">{{ item }}</div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div class="ml-1 truncate">{{ item }}</div>
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="mt-9">
      <button
        data-cy="createFileDialogCreateButton"
        class="py-3 w-28 text-base bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Create</button
      >

      <button
        data-cy="createFileDialogCancelButton"
        class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
