<div class="mp-min-width-1 mp-max-width-1">
  <mat-toolbar color="primary">Invite Member</mat-toolbar>

  <form
    [formGroup]="inviteMemberForm"
    (ngSubmit)="onSubmit(inviteMemberForm.value); dialogRef.close()"
  >
    <br />

    <mat-form-field class="mp-full-width">
      <input
        matInput
        type="text"
        id="emailInput"
        formControlName="email"
        placeholder="Email"
        required
        name="teamInviteMemberDialogEmail"
      />
      <mat-error>
        <m-validation-msg
          [errors]="inviteMemberForm.controls['email'].errors"
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="!inviteMemberForm.valid"
      name="teamInviteMemberDialogInvite"
      >Invite
    </button>

    <button
      type="reset"
      class="mp-cancel"
      mat-raised-button
      (click)="dialogRef.close()"
      >Cancel
    </button>
  </form>
</div>
