<div class="flex h-full items-center justify-center bg-blue1">
  <form
    class="flex w-96 flex-col"
    [formGroup]="setPasswordForm"
    (ngSubmit)="setPassword()"
  >
    <div class="text-center text-2xl font-semibold text-gray2">{{
      pageTitle
    }}</div>
    <input
      spellcheck="false"
      data-cy="updatePasswordNewPasswordInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          setPasswordForm.controls['newPassword'].invalid &&
          setPasswordForm.controls['newPassword'].touched
      }"
      type="password"
      formControlName="newPassword"
      placeholder="New Password"
    />
    <m-validation
      [control]="setPasswordForm.controls['newPassword']"
    ></m-validation>

    <input
      spellcheck="false"
      data-cy="updatePasswordConfirmPasswordInput"
      class="form-input mt-1 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          setPasswordForm.controls['confirmPassword'].invalid &&
          setPasswordForm.controls['confirmPassword'].touched
      }"
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <m-validation
      [control]="setPasswordForm.controls['confirmPassword']"
    ></m-validation>

    <button
      data-cy="updatePasswordSetPasswordButton"
      class="mt-1 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
      type="submit"
      >Set Password</button
    >
  </form>
</div>
