<div class="bg-blue1 flex justify-center items-center h-full">
  <form
    class="flex flex-col w-96"
    [formGroup]="setPasswordForm"
    (ngSubmit)="setPassword()"
  >
    <div class="text-gray2 text-2xl text-center font-semibold"
      >Set New Password</div
    >
    <input
      data-cy="updatePasswordNewPasswordInput"
      class="mt-9 form-input rounded border-gray3 focus:border-blue3 font-regular"
      [ngClass]="{
        'border-red-600':
          setPasswordForm.controls['newPassword'].invalid &&
          setPasswordForm.controls['newPassword'].touched
      }"
      type="password"
      formControlName="newPassword"
      placeholder="New Password"
    />
    <m-validation
      [control]="setPasswordForm.controls['newPassword']"
    ></m-validation>

    <input
      data-cy="updatePasswordConfirmPasswordInput"
      class="mt-1 form-input rounded border-gray3 focus:border-blue3 font-regular"
      [ngClass]="{
        'border-red-600':
          setPasswordForm.controls['confirmPassword'].invalid &&
          setPasswordForm.controls['confirmPassword'].touched
      }"
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <m-validation
      [control]="setPasswordForm.controls['confirmPassword']"
    ></m-validation>

    <button
      data-cy="updatePasswordSetPasswordButton"
      class="mt-1 py-3 bg-blue3 text-white rounded font-medium focus:outline-none"
      type="submit"
      >Set Password</button
    >
  </form>
</div>
