<div class="flex h-full items-center justify-center bg-blue1">
  <div class="flex flex-col items-center">
    <div>
      <m-completed-ring></m-completed-ring>
    </div>

    <div
      data-cy="orgOwnerChangedTitle"
      class="mt-5 text-2xl font-semibold text-gray2"
      >{{ pageTitle }}</div
    >
    <div class="mt-5 text-center text-base text-gray1">
      <span class="font-semibold">
        {{ orgName }}
      </span>
      owner changed to
      <span class="font-semibold">
        {{ newOrgOwner }}
      </span>
    </div>
  </div>
</div>
