<button
  data-cy="queryOptionsMenuButton"
  class="flex relative z-9 h-9 w-9 rounded focus:outline-none items-center justify-center hover:bg-blue-200"
  [ngClass]="{
    'cursor-default text-gray-400': openedMenuId && menuId !== openedMenuId
  }"
  (click)="toggleMenu($event)"
  [disabled]="openedMenuId && menuId !== openedMenuId"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<button
  class="fixed inset-0 z-9 w-full h-full cursor-default focus:outline-none"
  *ngIf="isQueryOptionsMenuOpen === true"
  (click)="closeMenu($event)"
></button>

<div
  class="absolute right-0 mt-1 w-64 z-9 bg-white rounded-md shadow-xl border-2 border-gray4"
  *ngIf="isQueryOptionsMenuOpen === true"
>
  <button
    data-cy="dashboardOptionsGoToFile"
    class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
    (click)="goToFile($event)"
    >Go to file</button
  >
</div>

<div *ngIf="openedMenuId$ | async"></div>
<div *ngIf="model$ | async"></div>
