<button
  data-cy="dashboardOptionsMenuButton"
  class="flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none"
  #t1="tippy"
  [tp]="templateDashboardOptions"
  [tpHideOnEscape]="true"
  variation="menu"
  className="my-menu"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateDashboardOptions>
  <div class="border-gray4 w-64 rounded-md border-2 bg-white shadow-xl">
    <button
      data-cy="dashboardOptionsGoToFile"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': dashboard.temp === true
      }"
      (click)="t1.hide(); goToFile($event)"
      [disabled]="dashboard.temp === true"
      >Go to file</button
    >

    <button
      data-cy="dashboardOptionsDelete"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400':
          dashboard.temp === true ||
          dashboard.canEditOrDeleteDashboard === false
      }"
      (click)="t1.hide(); deleteDashboard($event)"
      [disabled]="
        dashboard.temp === true || dashboard.canEditOrDeleteDashboard === false
      "
      >Delete</button
    >
  </div>
</ng-template>

<div *ngIf="nav$ | async"></div>
