<div class="ml-2 flex h-16 flex-row space-x-5">
  <div
    tippy="Turn off formula to activate control"
    [isEnabled]="isDisabled === true"
  >
    <ng-select
      #fractionDayOfWeekTypeSelect
      data-cy="fractionDayOfWeekTypeSelect"
      class="popup-55 w-48 focus:outline-none"
      [ngClass]="{
        custom: isDisabled !== true,
        'cursor-default': isDisabled === true
      }"
      [items]="fractionDayOfWeekTypesList"
      [clearable]="false"
      [searchable]="false"
      [disabled]="isDisabled === true"
      [(ngModel)]="fraction.type"
      (change)="typeChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </div>

  <div
    *ngIf="
      fraction.type === fractionTypeEnum.DayOfWeekIs ||
      fraction.type === fractionTypeEnum.DayOfWeekIsNot
    "
    tippy="Turn off formula to activate control"
    [isEnabled]="isDisabled === true"
  >
    <ng-select
      #fractionDayOfWeekValueSelect
      data-cy="fractionDayOfWeekValueSelect"
      class="popup-55 w-48 focus:outline-none"
      [ngClass]="{
        custom: isDisabled !== true,
        'cursor-default': isDisabled === true
      }"
      [items]="fractionDayOfWeekValuesList"
      [clearable]="false"
      [searchable]="false"
      (change)="dayOfWeekValueChange($event)"
      [disabled]="isDisabled === true"
      [(ngModel)]="fraction.dayOfWeekValue"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </div>
</div>
