<div class="flex flex-row ml-2 space-x-5 h-16">
  <form [formGroup]="fractionTypeForm">
    <ng-select
      #fractionDayOfWeekTypeSelect
      data-cy="fractionDayOfWeekTypeSelect"
      class="custom w-48 focus:outline-none"
      [items]="fractionDayOfWeekTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>

  <form
    [formGroup]="fractionForm"
    *ngIf="
      fraction.type === fractionTypeEnum.DayOfWeekIs ||
      fraction.type === fractionTypeEnum.DayOfWeekIsNot
    "
  >
    <ng-select
      #fractionDayOfWeekValueSelect
      data-cy="fractionDayOfWeekValueSelect"
      class="custom w-48 focus:outline-none"
      [items]="fractionDayOfWeekValuesList"
      [clearable]="false"
      [searchable]="false"
      (change)="dayOfWeekValueChange($event)"
      appendTo="body"
      bindLabel="label"
      bindValue="value"
      formControlName="dayOfWeekValue"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.label }}</div>
      </ng-template>
    </ng-select>
  </form>
</div>
