<div class="flex flex-col bg-white p-9">
  <div
    data-cy="mergeDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Merge Branch</div
  >

  <form class="mt-9 flex flex-col" [formGroup]="mergeForm" (ngSubmit)="merge()">
    <ng-select
      #branchSelect
      data-cy="branchSelect"
      class="custom mt-2 w-96 text-base focus:outline-none"
      [items]="branchesList"
      [clearable]="false"
      [searchable]="false"
      (change)="branchChange($event)"
      appendTo="body"
      formControlName="branch"
      placeholder="Branch"
      bindLabel="extraName"
      bindValue="extraId"
    >
      <ng-template ng-label-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.extraName }}</div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item">
        <div class="ml-1 truncate">{{ item.extraName }}</div>
      </ng-template>
    </ng-select>

    <div class="mt-5 flex items-center justify-start text-base">
      <span>To the current branch</span>
      <span class="ml-2 font-semibold">{{
        ref.data.currentBranchExtraName
      }}</span>
    </div>

    <div class="mt-9">
      <button
        data-cy="mergeDialogMergeButton"
        class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Merge</button
      >

      <button
        data-cy="mergeDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
