<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="mx-6 mb-6 mt-8 flex h-2 flex-grow flex-col">
    <div class="flex h-11 flex-row items-center justify-between">
      <div
        data-cy="projectEvsTitle"
        class="text-gray1 flex text-2xl font-semibold"
        >Project -
        <span
          class="mx-[6px] cursor-pointer hover:text-blue-500"
          (click)="navToEnvironments()"
          >Environments</span
        >
        - {{ environmentId | capitalize }}
      </div>

      <div tp="Editor role required" [tpIsEnabled]="isEditor === false">
        <button
          data-cy="projectEvsAddVariableButton"
          class="rounded px-5 py-2 text-base font-medium text-white focus:outline-none"
          type="submit"
          [ngClass]="{
            'bg-blue3': isEditor === true,
            'cursor-default bg-gray-400': isEditor === false
          }"
          (click)="addVariable()"
          [disabled]="isEditor === false"
          >Add Variable</button
        >
      </div>
    </div>

    <div class="mb-4 mt-6 flex-grow overflow-auto rounded bg-white shadow">
      <div class="text-gray1 mx-5 mt-8" *ngIf="evs?.length > 0">
        <table class="min-w-full divide-y divide-gray-500">
          <thead>
            <tr class="h-12 text-sm">
              <th class="text-left">Name</th>
              <th class="text-left">Value</th>
              <th class="text-left"></th>
              <th class="text-left"></th>
              <th></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-300 text-base">
            <tr *ngFor="let ev of evs; let i = index" class="h-16">
              <td class="w-[700px]">
                <div class="w-[700px] truncate">{{ ev.evId }}</div>
              </td>

              <td class="w-[700px]">
                <div class="w-[700px] truncate">{{ ev.val }}</div>
              </td>

              <td class="w-32">
                <div
                  class="w-fit"
                  tp="Editor role required"
                  [tpIsEnabled]="isEditor === false"
                >
                  <button
                    data-cy="projectEvsEditButton"
                    (click)="editVariable(ev, i)"
                    class="ml-5 rounded border px-3 py-2 text-base font-medium leading-3 shadow-sm focus:outline-none"
                    [ngClass]="{
                      'cursor-default text-gray-400': isEditor === false,
                      'border-gray3 text-gray1': isEditor === true
                    }"
                    [disabled]="isEditor === false"
                    >Edit</button
                  >
                </div>
              </td>

              <td class="w-32">
                <div
                  class="ml-3 w-fit"
                  tp="Editor role required"
                  [tpIsEnabled]="isEditor === false"
                >
                  <button
                    data-cy="projectEvsDeleteButton"
                    class="h-9 w-9 rounded focus:outline-none"
                    [ngClass]="{
                      'cursor-default text-gray-400': isEditor === false,
                      'hover:bg-blue2': isEditor !== false
                    }"
                    [disabled]="isEditor === false"
                    (click)="deleteVariable(ev)"
                  >
                    <div class="flex justify-center">
                      <m-trash-icon></m-trash-icon>
                    </div>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
        *ngIf="evs?.length === 0"
        >No variables</div
      >
    </div>
  </div>
</div>

<div *ngIf="evs$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
