<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="dashboardAddFilterDialogTitle"
    class="flex-grow mt-5 mb-9 text-2xl text-gray2 font-semibold text-left"
    >Add Filter</div
  >

  <form class="flex flex-col" [formGroup]="filterForm" (ngSubmit)="save()">
    <div class="mt-9 flex flex-row items-start">
      <div class="flex flex-col">
        <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
          >Label</div
        >
      </div>

      <div [formGroup]="filterForm" class="flex flex-col items-start">
        <input
          spellcheck="false"
          data-cy="dashboardAddFilterDialogLabelInput"
          class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
          [ngClass]="{
            'border-red-600':
              filterForm.controls['label'].invalid &&
              filterForm.controls['label'].touched
          }"
          formControlName="label"
        />
        <m-validation [control]="filterForm.controls['label']"></m-validation>
      </div>
    </div>

    <div class="flex mt-2 flex-row items-start">
      <div class="flex flex-col">
        <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
          >Result</div
        >
      </div>

      <ng-select
        #typeSelect
        data-cy="resultSelect"
        class="custom w-72 text-base focus:outline-none"
        [items]="resultList"
        [clearable]="false"
        [searchable]="false"
        (change)="resultChange($event)"
        appendTo="body"
        formControlName="fieldResult"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item }}</div>
        </ng-template>
      </ng-select>
    </div>

    <div class="flex mt-14">
      <button
        data-cy="dashboardAddFilterDialogSaveButton"
        class="py-3 w-28 text-base bg-blue3 text-white rounded font-medium focus:outline-none"
        type="submit"
        >Save</button
      >

      <button
        data-cy="dashboardAddFilterDialogCancelButton"
        class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>

<div *ngIf="nav$ | async"></div>
