<div class="mp-min-width-2 mp-max-width-2">
  <mat-toolbar color="primary">Service account credentials</mat-toolbar>

  <form
    [formGroup]="updateCredentialsForm"
    (ngSubmit)="onSubmit(updateCredentialsForm.value); dialogRef.close()"
  >
    <br />

    <mat-form-field class="mp-full-width">
      <textarea
        matInput
        matTextareaAutosize
        matAutosizeMinRows="8"
        matAutosizeMaxRows="8"
        data-cy="dialogUpdateCredentialsInput"
        id="credentialsInput"
        formControlName="credentials"
        placeholder="Contents of JSON file"
        required
      >
      </textarea>
      <mat-error>
        <m-validation-msg
          [errors]="updateCredentialsForm.controls['credentials'].errors"
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>

    <br />
    <br />

    <p>Project's prod and dev repos will be rebuilded to apply the changes</p>

    <br />

    <button
      type="submit"
      color="primary"
      mat-raised-button
      data-cy="dialogUpdateCredentialsSaveButton"
      [disabled]="!updateCredentialsForm.valid"
      >Save
    </button>

    <button
      class="delete-credentials-button"
      type="button"
      color="warn"
      mat-raised-button
      data-cy="dialogUpdateCredentialsDeleteCredentialsButton"
      [disabled]="!selectedProject.has_credentials"
      (click)="delete(); dialogRef.close()"
      >Delete Credentials
    </button>

    <button
      type="reset"
      class="mp-cancel"
      mat-raised-button
      (click)="dialogRef.close()"
      >Cancel
    </button>
  </form>
</div>
