<mat-form-field>
  <mat-select
    placeholder="Interpolation"
    data-cy="chartInterpolation"
    class="mp-chart-editor-field-full-width"
    [(ngModel)]="chart.interpolation"
    (selectionChange)="interpolationChange($event)"
  >
    <mat-option
      [value]="chartInterpolationEnum.Basis"
      data-cy="chartInterpolationBasis"
      >Basis</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.BasisClosed"
      data-cy="chartInterpolationBasisClosed"
      >Basis closed</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.Bundle"
      data-cy="chartInterpolationBundle"
      >Bundle</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.Cardinal"
      data-cy="chartInterpolationCardinal"
      >Cardinal</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.CardinalClosed"
      data-cy="chartInterpolationCardinalClosed"
      >Cardinal closed</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.CatmullRom"
      data-cy="chartInterpolationCatmullRom"
      >Catmull rom</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.CatmullRomClosed"
      data-cy="chartInterpolationCatmullRomClosed"
      >Catmull rom closed</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.Linear"
      data-cy="chartInterpolationLinear"
      >Linear</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.LinearClosed"
      data-cy="chartInterpolationLinearClosed"
      >Linear closed</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.MonotoneX"
      data-cy="chartInterpolationMonotoneX"
      >Monotone x</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.MonotoneY"
      data-cy="chartInterpolationMonotoneY"
      >Monotone y</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.Natural"
      data-cy="chartInterpolationNatural"
      >Natural</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.Step"
      data-cy="chartInterpolationStep"
      >Step</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.StepAfter"
      data-cy="chartInterpolationStepAfter"
      >Step after</mat-option
    >

    <mat-option
      [value]="chartInterpolationEnum.StepBefore"
      data-cy="chartInterpolationStepBefore"
      >Step before</mat-option
    >
  </mat-select>
</mat-form-field>
