<div class="flex h-full items-center justify-center bg-blue1">
  <form
    class="flex w-96 flex-col"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
  >
    <div class="text-center text-2xl font-semibold text-gray2">{{
      pageTitle
    }}</div>
    <div class="mt-9 text-center text-base text-gray1"
      >Don’t worry! Just fill in your email and we’ll send you a link to reset
      your password.</div
    >

    <input
      spellcheck="false"
      data-cy="forgotPasswordEmailInput"
      class="form-input mt-6 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          resetPasswordForm.controls['email'].invalid &&
          resetPasswordForm.controls['email'].touched
      }"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <m-validation
      [control]="resetPasswordForm.controls['email']"
    ></m-validation>

    <button
      data-cy="forgotPasswordResetPasswordButton"
      class="mt-1 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
      type="submit"
      >Reset Password</button
    >
    <div class="flex flex-row justify-center">
      <button
        type="button"
        class="mt-6 w-36 text-center text-base text-blue4 focus:outline-none"
        (click)="backToLogin()"
        >Back to Log In</button
      >
    </div>
  </form>
</div>
