<div class="bg-b1 flex justify-center items-center h-full">
  <form
    class="flex flex-col w-96"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
  >
    <div class="text-t1 text-2xl text-center font-semibold"
      >Forgot your password?</div
    >
    <div class="mt-9 text-t3 text-center font-regular"
      >Don’t worry! Just fill in your email and we’ll send you a link to reset
      your password.</div
    >

    <input
      data-cy="forgotPasswordEmailInput"
      class="mt-6 form-input rounded border-r1 focus:border-r2 font-regular"
      [ngClass]="{
        'border-red-600':
          resetPasswordForm.controls['email'].invalid &&
          resetPasswordForm.controls['email'].touched
      }"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <m-validation
      [control]="resetPasswordForm.controls['email']"
    ></m-validation>

    <button
      data-cy="forgotPasswordResetPasswordButton"
      class="mt-1 py-3 bg-b2 text-white rounded font-medium focus:outline-none"
      type="submit"
      >Reset Password</button
    >
    <div class="flex flex-row justify-center">
      <button
        type="button"
        class="mt-6 text-t2 text-center font-regular w-36 focus:outline-none"
        (click)="backToLogin()"
        >Back to Log In</button
      >
    </div>
  </form>
</div>
