<div class="flex flex-col w-[80vw] h-[80vh] p-10">
  <div
    class="flex flex-row mb-10 text-xl text-gray1 justify-start items-center"
  >
    <div *ngIf="showNav === true">
      <div class="w-28 mr-5"> </div>

      <div class="w-[111px]"></div>
    </div>

    <div class="flex-grow"></div>

    <div
      class="flex max-w-prose flex-grow mx-5 text-gray1 line-clamp-2 text-center flex-wrap"
    >
      {{ mconfig?.chart?.title }}
    </div>

    <div class="flex-grow"></div>

    <div *ngIf="showNav === true" class="flex flex-row items-center">
      <div class="flex h-9 text-gray1 text-base items-center select-none"
        >Data</div
      >

      <ui-switch
        class="mb-1 ml-5"
        [checked]="isData"
        (change)="toggleData()"
      ></ui-switch>
    </div>

    <button
      *ngIf="showNav === true"
      data-cy="chartDialogExploreButton"
      class="w-28 py-2 ml-5 text-white text-base rounded font-medium focus:outline-none"
      [ngClass]="{
        'bg-blue3 cursor-pointer': canAccessModel === true,
        'bg-gray-400 cursor-default': canAccessModel !== true
      }"
      [disabled]="canAccessModel === false"
      (click)="explore($event)"
    >
      <div *ngIf="canAccessModel === true"> Explore </div>
      <div
        *ngIf="canAccessModel === false"
        nz-tooltip
        [nzTooltipTitle]="'No access to model'"
        nzTooltipPlacement="bottom"
      >
        Explore
      </div>
    </button>
  </div>

  <m-bricks
    class="flex mb-10 max-h-[20%] max-w-max"
    *ngIf="isShow === true && mconfig?.filters.length > 0"
    [extendedFilters]="extendedFilters"
  ></m-bricks>

  <div
    *ngIf="isShow === true && sortedColumns?.length > 0"
    class="flex overflow-auto"
    [ngClass]="{
      'flex-grow': mconfig?.chart.type !== chartTypeEnumTable,
      'w-full max-w-max ': mconfig?.chart.type === chartTypeEnumTable,
      'h-[400px]': isData === true
    }"
  >
    <m-chart-view
      class="w-full h-full overflow-auto"
      [sortedColumns]="sortedColumns"
      [qData]="qData"
      [chart]="mconfig?.chart"
      [queryStatus]="query?.status"
    ></m-chart-view>
  </div>

  <div
    *ngIf="isShow === true && isData === true && sortedColumns?.length > 0"
    class="flex flex-row mb-3 mt-10"
  >
    <div class="flex h-9 text-gray1 text-base items-center select-none"
      >Format</div
    >

    <ui-switch
      class="mb-1 ml-5"
      [checked]="isFormat"
      (change)="toggleFormat()"
    ></ui-switch>
  </div>

  <div
    *ngIf="isShow === true && isData === true && sortedColumns?.length > 0"
    class="flex h-1/3 overflow-auto max-w-max w-full"
  >
    <m-main-table
      [isEdit]="false"
      [isFormat]="isFormat"
      [mconfig]="mconfig"
      [qData]="qData"
      [sortedColumns]="sortedColumns"
    ></m-main-table>
  </div>
</div>
