<div class="flex h-[80vh] w-[80vw] flex-col p-10" [hidden]="isShow === false">
  <div class="min-h-9 mb-5 flex flex-1 flex-row justify-center text-xl">
    <div class="tems-center flex w-1/4 flex-1 flex-row justify-start"> </div>

    <div
      class="text-gray1 line-clamp-2 mx-5 flex h-14 max-w-prose flex-shrink-0 flex-grow flex-row flex-wrap text-center"
      >{{ mconfig?.chart?.title }}
    </div>

    <div class="flex w-1/4 flex-1 flex-row items-center justify-end"> </div>
  </div>

  <div class="text-gray1 mb-5 flex flex-row items-center justify-start text-xl">
    <div class="flex flex-1 flex-row items-center" *ngIf="showNav === true">
      <div class="flex flex-row items-center justify-start">
        <ui-switch
          class="mb-1"
          [checked]="isData"
          (change)="toggleData()"
        ></ui-switch>

        <div class="text-gray1 ml-5 flex h-9 select-none items-center text-base"
          >Show Data</div
        >
      </div>

      <div class="flex-grow"></div>

      <div class="flex flex-row items-center justify-end">
        <m-query-status [query]="query"></m-query-status>
      </div>

      <button
        data-cy="chartDialogRunButton"
        class="bg-blue3 ml-5 flex h-12 w-24 items-center justify-center rounded text-base font-medium text-white focus:outline-none"
        [ngClass]="{
          'cursor-default': isRunButtonPressed === true
        }"
        (click)="run()"
        [disabled]="isRunButtonPressed === true"
      >
        <div *ngIf="isRunButtonPressed === false">Run</div>
        <div
          *ngIf="isRunButtonPressed === true"
          class="relative flex h-9 w-9 flex-shrink-0"
        >
          <ngx-spinner
            [name]="chartDialogRunButtonSpinnerName"
            color="rgba(255, 255, 255, 1)"
            bdColor="rgba(0, 0, 0, 0)"
            size="default"
            type="ball-clip-rotate"
            [fullScreen]="false"
            [disableAnimation]="true"
            [zIndex]="99998"
          >
          </ngx-spinner>
        </div>
      </button>

      <ng-template #templateChartDialogExplore>
        <div *ngIf="isExplorer === false">Explorer role required</div>
        <div *ngIf="isExplorer === true && canAccessModel === false"
          >No access to model</div
        >
      </ng-template>

      <div
        class="ml-5"
        [tippy]="templateChartDialogExplore"
        [isEnabled]="isExplorer === false || canAccessModel === false"
      >
        <button
          data-cy="chartDialogExploreButton"
          class="h-12 rounded px-6 text-base font-medium text-white focus:outline-none"
          [ngClass]="{
            'bg-blue3 cursor-pointer':
              isExplorer === true && canAccessModel === true,
            'cursor-default bg-gray-400':
              isExplorer === false || canAccessModel === false
          }"
          [disabled]="isExplorer === false || canAccessModel === false"
          (click)="explore($event)"
        >
          Explore
        </button>
      </div>
    </div>
  </div>

  <m-bricks
    class="mb-10 flex max-h-[20%] max-w-max"
    *ngIf="isShow === true && mconfig?.filters.length > 0"
    [extendedFilters]="mconfig.extendedFilters"
  ></m-bricks>

  <div
    *ngIf="isShow === true && mconfig?.fields?.length > 0"
    class="flex overflow-auto"
    [ngClass]="{
      'flex-grow': mconfig?.chart.type !== chartTypeEnumTable,
      'w-full max-w-max':
        mconfig?.chart.type === chartTypeEnumTable &&
        isSelectValid === true &&
        mconfig?.chart.isValid === true &&
        qData?.length > 0,
      'h-[400px]': isData === true,
      'h-full': isData === false
    }"
  >
    <m-chart-view
      class="h-full w-full overflow-auto"
      [mconfigFields]="mconfig?.fields"
      [qData]="qData"
      [chart]="mconfig?.chart"
      [queryStatus]="query?.status"
    ></m-chart-view>
  </div>

  <div
    *ngIf="isShow === true && isData === true && mconfig?.fields?.length > 0"
    class="mb-3 mt-10 flex flex-row"
  >
    <ui-switch
      class="mb-1"
      [checked]="isFormat"
      (change)="toggleFormat()"
    ></ui-switch>

    <div class="text-gray1 ml-5 flex h-9 select-none items-center text-base"
      >Format Numbers</div
    >
  </div>

  <div
    *ngIf="isShow === true && isData === true && mconfig?.fields?.length > 0"
    class="flex h-1/3 w-full max-w-max overflow-auto"
  >
    <m-main-table
      [isEdit]="false"
      [isFormat]="isFormat"
      [mconfig]="mconfig"
      [qData]="qData"
      [mconfigFields]="mconfig?.fields"
    ></m-main-table>
  </div>

  <div
    class="mt-7 flex cursor-default flex-row items-center justify-start"
    *ngIf="showNav === true"
  >
    <div class="text-base font-semibold text-gray-400">Model:</div>

    <ng-template #templateChartDialogModel>
      <div *ngIf="isExplorer === false">Explorer role required</div>
      <div *ngIf="isExplorer === true">No access to model</div>
    </ng-template>

    <div
      class="ml-2 flex flex-row items-center"
      [tippy]="templateChartDialogModel"
      [isEnabled]="canAccessModel === false"
    >
      <div
        (click)="goToModel(mconfig.modelId, canAccessModel)"
        class="text-base font-semibold focus:outline-none"
        [ngClass]="{
          'cursor-pointer hover:text-blue-500': canAccessModel === true,
          'cursor-default': canAccessModel === false
        }"
        >{{ mconfig?.modelLabel | capitalize }}</div
      >

      <m-lock-closed-icon
        class="mb-1 ml-2 text-gray-400"
        *ngIf="canAccessModel === false"
      ></m-lock-closed-icon>
    </div>

    <div class="ml-10 text-base font-semibold text-gray-400">Timezone:</div>

    <div class="ml-2 text-base text-gray-400 focus:outline-none">{{
      mconfig?.timezone | capitalize
    }}</div>
  </div>
</div>

<div *ngIf="isExplorer$ | async"></div>
