<div class="bg-blue1 flex flex-col h-full">
  <div
    data-cy="projectTeamTitle"
    class="font-semibold text-2xl mt-8 ml-6 text-gray1"
    >Project - Team
  </div>

  <div class="flex-1 bg-white mx-6 mt-6 mb-4 rounded shadow-lg">
    <div class="mx-5 mt-8 text-gray1">
      <table class="min-w-full divide-y divide-gray-500">
        <thead>
          <tr class="text-sm h-12">
            <th>Name</th>
            <th>Email</th>
            <th>Alias</th>
            <th>Project Admin</th>
            <th>BlockML Editor</th>
            <th>Model Explorer</th>
            <th>Access Roles</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of members; let i = index">
            <td>{{ m.fullName }}</td>
            <td>{{ m.email }}</td>
            <td>{{ m.alias }}</td>
            <td>{{ m.isAdmin }}</td>
            <td>{{ m.isEditor }}</td>
            <td>{{ m.isExplorer }}</td>
            <td>{{ m.roles }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="members$ | async"></div>
