<div class="group h-full w-full bg-white border border-white rounded shadow-md">
  <div class="mx-5 h-full">
    <div class="flex flex-col h-full w-full">
      <div
        class="mt-8 mx-5 mb-5 flex flex-row text-lg text-gray1 justify-center items-start flex-shrink-0"
      >
        <div class="w-9 mr-3"></div>
        <div
          class="flex w-9 h-9 relative flex-shrink-0"
          *ngIf="query?.status === queryStatusRunning"
        ></div>

        <div
          class="flex flex-col flex-grow max-h-[60px] text-gray1 hover:text-blue-500 justify-start items-center cursor-pointer"
          (click)="showChart()"
        >
          <div
            class="flex flex-col items-center max-h-[60px] mt-[2px] text-center line-clamp-2"
          >
            {{ title }}
          </div>
        </div>

        <div
          class="flex w-9 h-9 relative flex-shrink-0"
          *ngIf="query?.status === queryStatusRunning"
        >
          <ngx-spinner
            [name]="report?.title"
            color="rgba(54, 94, 224, 100)"
            bdColor="rgba(0, 0, 0, 0)"
            size="default"
            type="ball-clip-rotate"
            [fullScreen]="false"
            [disableAnimation]="true"
            [zIndex]="99998"
          >
          </ngx-spinner>
        </div>

        <button
          data-cy="repOptionsMenuButton"
          class="flex ml-3 h-9 w-9 rounded focus:outline-none items-center justify-center hover:bg-blue-200 invisible group-hover:visible"
          #t1="tippy"
          [tippy]="templateRepOptions"
          [hideOnEscape]="true"
          variation="menu"
          className="my-menu"
        >
          <m-dots-vertical-icon></m-dots-vertical-icon>
        </button>

        <ng-template #templateRepOptions>
          <div class="w-64 bg-white rounded-md shadow-xl border-2 border-gray4">
            <button
              data-cy="repOptionsRun"
              class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
              (click)="t1.hide(); run($event)"
              >Run</button
            >

            <button
              data-cy="repOptionsExplore"
              class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
              [ngClass]="{
                'cursor-default text-gray-400':
                  report.hasAccessToModel === false
              }"
              (click)="t1.hide(); explore($event)"
              [disabled]="report.hasAccessToModel === false"
              >Explore</button
            >

            <button
              data-cy="repOptionsDelete"
              class="px-4 py-2 text-gray1 hover:bg-blue2 text-base w-full text-left focus:outline-none"
              (click)="t1.hide(); deleteReport($event)"
              >Delete</button
            >
          </div>
        </ng-template>
      </div>

      <m-bricks
        class="flex flex-row mx-7 mb-5 max-h-[120px] items-start justify-start overflow-auto max-w-max flex-shrink-0"
        *ngIf="showBricks === true && mconfig?.filters.length > 0"
        [extendedFilters]="mconfig.extendedFilters"
      ></m-bricks>

      <div
        class="flex flex-grow w-full pt-5 px-7 pb-10 rounded bg-white cursor-default overflow-auto"
        (click)="stopClick($event)"
      >
        <m-chart-view
          *ngIf="!!qData && isShow === true"
          [ngClass]="{
            'max-w-max':
              mconfig?.chart.type === chartTypeEnumTable &&
              isSelectValid === true &&
              mconfig?.chart.isValid === true &&
              qData?.length > 0
          }"
          class="w-full h-full"
          [mconfigFields]="mconfig.fields"
          [qData]="qData"
          [chart]="mconfig.chart"
          [queryStatus]="query.status"
        ></m-chart-view>
      </div>
    </div>
  </div>
</div>
<div class="text-blue1 cursor-default invisible">{{ randomId }}</div>

<div *ngIf="nav$ | async"></div>
