<div class="group h-full w-full rounded border border-white bg-white shadow">
  <div class="mx-5 h-full">
    <div class="flex h-full w-full flex-col">
      <div
        class="text-gray1 mx-5 mb-5 mt-8 flex flex-shrink-0 flex-row items-start justify-center text-lg"
      >
        <div class="mr-3 w-9"></div>
        <div
          class="relative flex h-9 w-9 flex-shrink-0"
          *ngIf="query?.status === queryStatusRunning"
        ></div>

        <div
          class="text-gray1 flex max-h-[60px] flex-grow cursor-pointer flex-col items-center justify-start hover:text-blue-500"
          (click)="showChart()"
        >
          <div
            class="mt-[2px] line-clamp-2 flex max-h-[60px] flex-col items-center text-center"
          >
            {{ title }}
          </div>
        </div>

        <div
          class="relative flex h-9 w-9 flex-shrink-0"
          *ngIf="query?.status === queryStatusRunning"
        >
          <ngx-spinner
            [name]="report?.title"
            color="rgba(54, 94, 224, 100)"
            bdColor="rgba(0, 0, 0, 0)"
            size="default"
            type="ball-clip-rotate"
            [fullScreen]="false"
            [disableAnimation]="true"
            [zIndex]="99998"
          >
          </ngx-spinner>
        </div>

        <button
          data-cy="repOptionsMenuButton"
          class="invisible ml-3 flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none group-hover:visible"
          #t1="tippy"
          [tp]="templateRepOptions"
          [tpHideOnEscape]="true"
          tpVariation="menu"
          className="my-menu"
        >
          <m-dots-vertical-icon></m-dots-vertical-icon>
        </button>

        <ng-template #templateRepOptions>
          <div class="border-gray4 w-64 rounded-md border-2 bg-white shadow-xl">
            <button
              data-cy="repOptionsRun"
              class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
              (click)="t1.hide(); run($event)"
              >Run</button
            >

            <ng-template #templateChartRepOptionsExplore>
              <div *ngIf="isExplorer === false">Explorer role required</div>
              <div *ngIf="isExplorer === true">No access to model</div>
            </ng-template>

            <div
              [tp]="templateChartRepOptionsExplore"
              placement="left"
              [tpIsEnabled]="report.hasAccessToModel === false"
            >
              <button
                data-cy="repOptionsExplore"
                class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
                [ngClass]="{
                  'cursor-default text-gray-400':
                    report.hasAccessToModel === false
                }"
                (click)="t1.hide(); explore($event)"
                [disabled]="report.hasAccessToModel === false"
                >Explore</button
              >
            </div>

            <button
              data-cy="repOptionsDelete"
              class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
              (click)="t1.hide(); deleteReport($event)"
              >Delete</button
            >
          </div>
        </ng-template>
      </div>

      <m-bricks
        class="mx-7 mb-5 flex max-h-[120px] max-w-max flex-shrink-0 flex-row items-start justify-start overflow-auto"
        *ngIf="showBricks === true && mconfig?.filters.length > 0"
        [extendedFilters]="mconfig.extendedFilters"
        [listen]="report.listen"
        [mconfigId]="report.mconfig.mconfigId"
        [deleteFilterFn]="deleteFilterFn"
        [isKeepBackgroundColor]="false"
      ></m-bricks>

      <div
        class="flex w-full flex-grow cursor-default overflow-auto rounded bg-white px-7 pb-10 pt-5"
        (click)="stopClick($event)"
      >
        <m-chart-view
          #chartView
          *ngIf="!!qData && isShow === true"
          [ngClass]="{
            'max-w-max':
              mconfig?.chart.type === chartTypeEnumTable &&
              isSelectValid === true &&
              mconfig?.chart.isValid === true &&
              qData?.length > 0
          }"
          class="h-full w-full"
          [mconfigFields]="mconfig.fields"
          [qData]="qData"
          [chart]="mconfig.chart"
          [queryStatus]="query.status"
        ></m-chart-view>
      </div>
    </div>
  </div>
</div>
<div class="text-blue1 invisible cursor-default">{{ randomId }}</div>

<div *ngIf="nav$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
