<div
  class="mt-1 flex max-h-[330px] flex-col divide-y divide-gray-300 overflow-auto pr-5"
  *ngIf="!!mconfig"
>
  <div
    *ngFor="let filter of parametersFilters; let filterIndex = index"
    class="flex flex-row items-start justify-start"
    [ngClass]="{
      'pt-6': filterIndex !== 0
    }"
  >
    <div class="flex flex-row items-start justify-center">
      <button
        class="flex h-9 w-9 flex-shrink-0 items-center justify-center rounded text-gray-500 hover:bg-blue-200 focus:outline-none"
        (click)="deleteFilter(filter)"
      >
        <m-trash-icon></m-trash-icon>
      </button>

      <button
        class="ml-3 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded text-gray-500 hover:bg-blue-200 focus:outline-none"
        (click)="toggleParFormula(filter)"
      >
        <m-formula-icon
          [ngClass]="{
            'text-blue-500': filter.parameterType === parameterTypeFormula
          }"
        ></m-formula-icon>
      </button>

      <div
        *ngIf="filter.parameterType === parameterTypeFormula"
        [formGroup]="parFormulaForm"
        class="relative ml-5 flex flex-grow"
      >
        <textarea
          data-cy="parFormulaInput"
          class="form-input border-gray3 focus:border-blue3 h-11 max-h-[100px] min-h-[44px] w-full min-w-[300px] resize-y rounded"
          [ngClass]="{
            'border-red-600':
              parFormulaForm.controls['formula'].invalid &&
              parFormulaForm.controls['formula'].touched
          }"
          formControlName="formula"
          placeholder="$ROW_PARAMETER_"
          (blur)="parFormulaFormBlur()"
        ></textarea>

        <m-validation
          class="absolute -bottom-[22px] left-0"
          [control]="parFormulaForm.controls['formula']"
        ></m-validation>
      </div>

      <button
        class="ml-3 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded text-gray-500 hover:bg-blue-200 focus:outline-none"
        (click)="addFraction(filter)"
      >
        <m-add-icon></m-add-icon>
      </button>

      <div class="ml-5 mb-5 flex flex-col items-start justify-start">
        <div class="truncate text-sm font-normal">{{
          filter.field.topLabel | capitalize
        }}</div>

        <div class="flex flex-row text-left font-semibold">
          <div *ngIf="filter.field.groupLabel"
            >{{ filter.field.groupLabel | capitalize }} -
            {{ filter.field.label | capitalize }}</div
          >

          <div *ngIf="!filter.field.groupLabel">{{
            filter.field.label | capitalize
          }}</div>
        </div>
      </div>
    </div>

    <div>
      <div
        class="flex flex-row items-start justify-start"
        *ngFor="
          let fraction of filter.fractions;
          let isFirst = first;
          let fractionIndex = index
        "
      >
        <m-fraction
          [fieldResult]="filter.field.result"
          [fraction]="fraction"
          [fractionIndex]="fractionIndex"
          [isFirst]="isFirst"
          (fractionUpdate)="fractionUpdate(filter, $event)"
        >
        </m-fraction>

        <button
          class="ml-5 flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none"
          (click)="deleteFraction(filter, fractionIndex)"
        >
          <m-delete-icon></m-delete-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="uiQuery$ | async"></div> -->
