<div class="mt-1 flex flex-col divide-y divide-gray-300 pr-5" *ngIf="!!mconfig">
  <div
    *ngFor="let filter of parametersFilters; let filterIndex = index"
    class="flex flex-row items-start justify-start"
    [ngClass]="{
      'pt-6': filterIndex !== 0
    }"
  >
    <div class="flex flex-row items-start justify-center">
      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="!!reportSelectedNode.data.parametersFormula"
      >
        <button
          class="flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
          [ngClass]="{
            'text-gray-500 hover:bg-blue-200':
              !reportSelectedNode.data.parametersFormula,
            'cursor-default text-gray-400':
              !!reportSelectedNode.data.parametersFormula
          }"
          [disabled]="!!reportSelectedNode.data.parametersFormula"
          (click)="deleteFilter(filter)"
        >
          <m-trash-icon></m-trash-icon>
        </button>
      </div>

      <div
        tp="Turn off formula to activate control"
        [tpIsEnabled]="
          filter.parameterType === parameterTypeFormula ||
          !!reportSelectedNode.data.parametersFormula
        "
      >
        <button
          class="ml-3 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
          (click)="addFraction(filter)"
          [ngClass]="{
            'text-gray-500 hover:bg-blue-200':
              filter.parameterType !== parameterTypeFormula &&
              !reportSelectedNode.data.parametersFormula,
            'cursor-default text-gray-400':
              filter.parameterType === parameterTypeFormula ||
              !!reportSelectedNode.data.parametersFormula
          }"
          [disabled]="
            filter.parameterType === parameterTypeFormula ||
            !!reportSelectedNode.data.parametersFormula
          "
        >
          <m-add-icon></m-add-icon>
        </button>
      </div>

      <div class="mb-5 ml-5 flex flex-col items-start justify-start">
        <div class="truncate text-sm font-normal">{{
          filter.field.topLabel | capitalize
        }}</div>

        <div class="flex flex-row text-left font-semibold">
          <div *ngIf="filter.field.groupLabel"
            >{{ filter.field.groupLabel | capitalize }} -
            {{ filter.field.label | capitalize }}</div
          >

          <div *ngIf="!filter.field.groupLabel">{{
            filter.field.label | capitalize
          }}</div>
        </div>
      </div>

      <button
        class="ml-5 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
        [ngClass]="{
          'text-gray-500 hover:bg-blue-200':
            !reportSelectedNode.data.parametersFormula,
          'cursor-default text-gray-400':
            !!reportSelectedNode.data.parametersFormula
        }"
        (click)="toggleParFormula(filter)"
        [disabled]="!!reportSelectedNode.data.parametersFormula"
      >
        <m-formula-icon
          [ngClass]="{
            'text-blue-500': filter.parameterType === parameterTypeFormula
          }"
        ></m-formula-icon>
      </button>
    </div>

    <div class="flex w-full flex-col">
      <div
        *ngIf="filter.parameterType === parameterTypeFormula"
        class="mb-6 flex flex-grow flex-row"
      >
        <m-parameter-formula
          class="w-full"
          [parameterFilter]="filter"
          [isDisabled]="filter.parameterType === parameterTypeFormula"
          (parameterFormulaUpdate)="parameterFormulaUpdate($event, filter)"
        ></m-parameter-formula>
      </div>

      <div
        class="flex flex-row items-start justify-start"
        *ngFor="
          let fraction of filter.fractions;
          let isFirst = first;
          let fractionIndex = index
        "
      >
        <m-fraction
          [mconfigStructId]="mconfig.structId"
          [mconfigModelId]="mconfig.modelId"
          [filterFieldId]="filter.fieldId"
          [filterFieldSqlName]="filter.field.sqlName"
          [filterFieldClass]="filter.field.fieldClass"
          [fieldResult]="filter.field.result"
          [fraction]="fraction"
          [fractionIndex]="fractionIndex"
          [isDisabled]="
            filter.parameterType === parameterTypeFormula ||
            !!reportSelectedNode.data.parametersFormula
          "
          [isFirst]="isFirst"
          (fractionUpdate)="fractionUpdate(filter, $event)"
        >
        </m-fraction>

        <div
          tp="Turn off formula to activate control"
          [tpIsEnabled]="
            filter.parameterType === parameterTypeFormula ||
            !!reportSelectedNode.data.parametersFormula
          "
        >
          <button
            class="ml-5 flex h-9 w-9 items-center justify-center rounded hover:bg-blue-200 focus:outline-none"
            (click)="deleteFraction(filter, fractionIndex)"
            [ngClass]="{
              'text-gray-500 hover:bg-blue-200':
                filter.parameterType !== parameterTypeFormula &&
                !reportSelectedNode.data.parametersFormula,
              'cursor-default text-gray-400':
                filter.parameterType === parameterTypeFormula ||
                !!reportSelectedNode.data.parametersFormula
            }"
            [disabled]="
              filter.parameterType === parameterTypeFormula ||
              !!reportSelectedNode.data.parametersFormula
            "
          >
            <m-delete-icon></m-delete-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="uiQuery$ | async"></div> -->
