<mat-form-field>
  <mat-select
    placeholder="TileHeight"
    name="chartTileHeight"
    [(ngModel)]="chart.tile_height"
    (selectionChange)="tileHeightChange($event)"
  >
    <mat-option [value]="chartTileHeightEnum._300" name="chartTileHeight300"
      >300</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._400" name="chartTileHeight400"
      >400</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._500" name="chartTileHeight500"
      >500</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._600" name="chartTileHeight600"
      >600</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._700" name="chartTileHeight700"
      >700</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._800" name="chartTileHeight800"
      >800</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._900" name="chartTileHeight900"
      >900</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1000" name="chartTileHeight1000"
      >1000</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1100" name="chartTileHeight1100"
      >1100</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1200" name="chartTileHeight1200"
      >1200</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1300" name="chartTileHeight1300"
      >1300</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1400" name="chartTileHeight1400"
      >1400</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1500" name="chartTileHeight1500"
      >1500</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1600" name="chartTileHeight1600"
      >1600</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1700" name="chartTileHeight1700"
      >1700</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1800" name="chartTileHeight1800"
      >1800</mat-option
    >

    <mat-option [value]="chartTileHeightEnum._1900" name="chartTileHeight1900"
      >1900</mat-option
    >
  </mat-select>
</mat-form-field>
