<div class="bg-m0 flex select-none flex-col p-9">
  <div
    data-cy="createModelDialogTitle"
    class="text-s2 mt-5 flex-grow text-left text-2xl font-semibold"
    >New Model</div
  >

  <div class="mt-9 flex flex-row items-start">
    <div class="flex flex-col">
      <div class="text-s1 flex h-9 w-32 select-none items-center text-base"
        >Name</div
      >
    </div>

    <div [formGroup]="modelNameForm" class="ml-5 flex flex-col items-start">
      <input
        #modelName
        autocomplete="off"
        spellcheck="false"
        data-cy="createModelDialogNameInput"
        class="form-input border-s3 focus:border-m600 h-9 w-96 rounded"
        [ngClass]="{
          'border-r600':
            modelNameForm.controls['name'].invalid &&
            modelNameForm.controls['name'].touched
        }"
        formControlName="name"
      />
      <m-validation [control]="modelNameForm.controls['name']"></m-validation>
    </div>
  </div>

  <div class="mt-1 flex w-72 flex-grow select-none flex-row items-center">
    <div class="flex flex-col">
      <div class="text-s1 flex h-9 w-32 select-none items-center text-base"
        >Connection</div
      >
    </div>

    <div
      class="relative ml-5 flex h-9 w-9 flex-shrink-0"
      *ngIf="!connectionsLoaded"
    >
      <ngx-spinner
        [name]="connectionsSpinnerName"
        color="#0084d1"
        bdColor="#00000000"
        size="default"
        type="ball-clip-rotate"
        [fullScreen]="false"
        [disableAnimation]="true"
        [zIndex]="99998"
      >
      </ngx-spinner>
    </div>

    <div *ngIf="!!connectionsLoaded" [formGroup]="connectionForm" class="ml-5">
      <ng-select
        #connectionSelect
        [fixNgSelectBottom]="connectionSelect"
        data-cy="connectionSelect"
        class="w-96 text-base"
        [loading]="connectionsLoading"
        [items]="connections"
        [clearable]="false"
        [searchable]="true"
        [searchFn]="connectionsSearchFn"
        (change)="connectionChange()"
        (keyup.esc)="$event.stopImmediatePropagation(); connectionSelect.blur()"
        (keyup.enter)="
          $event.stopImmediatePropagation(); connectionSelect.blur()
        "
        appendTo="body"
        formControlName="connection"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1">
            <div
              *ngIf="
                [connectionTypeEnumApi, connectionTypeEnumGoogleApi].indexOf(
                  item.type
                ) > -1
              "
              class="flex flex-row justify-between"
            >
              <span>{{ item.connectionId }}</span>
              <span class="text-s400 ml-3 mr-2">Store</span>
            </div>

            <div
              *ngIf="
                [connectionTypeEnumApi, connectionTypeEnumGoogleApi].indexOf(
                  item.type
                ) < 0
              "
              class="flex flex-row justify-between"
            >
              <span>{{ item.connectionId }}</span>
              <span class="text-s400 ml-3 mr-2">SQL</span>
            </div>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1">
            <div
              *ngIf="
                [connectionTypeEnumApi, connectionTypeEnumGoogleApi].indexOf(
                  item.type
                ) > -1
              "
              class="flex flex-row justify-between"
            >
              <span>{{ item.connectionId }}</span>
              <span class="text-s400 ml-3 mr-2">Store</span>
            </div>

            <div
              *ngIf="
                [connectionTypeEnumApi, connectionTypeEnumGoogleApi].indexOf(
                  item.type
                ) < 0
              "
              class="flex flex-row justify-between"
            >
              <span>{{ item.connectionId }}</span>
              <span class="text-s400 ml-3 mr-2">SQL</span>
            </div>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div
    class="mt-7 flex w-72 flex-grow select-none flex-row items-center"
    *ngIf="
      [connectionTypeEnumApi, connectionTypeEnumGoogleApi].indexOf(
        connectionForm.controls['connection'].value?.type
      ) > -1
    "
  >
    <div class="flex flex-col">
      <div class="text-s1 flex h-9 w-32 select-none items-center text-base"
        >Store Preset</div
      >
    </div>

    <div [formGroup]="presetForm" class="ml-5">
      <ng-select
        #presetSelect
        [fixNgSelectBottom]="presetSelect"
        data-cy="presetSelect"
        class="w-96 text-base"
        [items]="presets"
        [clearable]="false"
        [searchable]="true"
        [searchFn]="presetsSearchFn"
        (change)="presetChange()"
        (keyup.esc)="$event.stopImmediatePropagation(); presetSelect.blur()"
        (keyup.enter)="$event.stopImmediatePropagation(); presetSelect.blur()"
        appendTo="body"
        formControlName="preset"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{
            item.label === 'Empty' ? undefined : item.label || item.presetId
          }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.label || item.presetId }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="mt-7 flex flex-row items-start">
    <div class="flex flex-col">
      <div class="text-s1 flex h-9 w-32 select-none items-center text-base"
        >Access Roles</div
      >
    </div>

    <div [formGroup]="rolesForm" class="ml-5 flex flex-col items-start">
      <input
        spellcheck="false"
        autocomplete="off"
        data-cy="createModelDialogRolesInput"
        class="form-input border-s3 focus:border-m600 h-9 w-96 rounded"
        [ngClass]="{
          'border-r600':
            rolesForm.controls['roles'].invalid &&
            rolesForm.controls['roles'].touched
        }"
        formControlName="roles"
      />
      <m-validation [control]="rolesForm.controls['roles']"></m-validation>
    </div>
  </div>

  <div
    class="mt-7 h-9"
    *ngIf="
      [connectionTypeEnumApi, connectionTypeEnumGoogleApi].indexOf(
        connectionForm.controls['connection'].value?.type
      ) < 0
    "
  ></div>

  <div class="mt-14 flex flex-row items-center">
    <button
      data-cy="createBranchDialogCreateButton"
      class="bg-m600 text-m0 w-28 rounded py-3 text-base font-medium focus:outline-none"
      type="button"
      (click)="create()"
      >Create</button
    >

    <button
      data-cy="createBranchDialogCancelButton"
      class="border-m600 text-m600 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >

    <div *ngIf="!!formsError" class="text-r1 ml-5 flex">
      {{ formsError }}
    </div>
  </div>
</div>

<div *ngIf="struct$ | async"></div>
