<div class="bg-m0 flex flex-col p-9">
  <div
    data-cy="createModelDialogTitle"
    class="text-s2 mt-5 flex-grow text-left text-2xl font-semibold"
    >New Model</div
  >

  <div class="mt-9 flex flex-row items-start">
    <div class="flex flex-col">
      <div class="text-s1 flex h-9 w-32 select-none items-center text-base"
        >Name</div
      >
    </div>

    <div [formGroup]="modelNameForm" class="ml-5 flex flex-col items-start">
      <input
        #modelName
        autocomplete="off"
        spellcheck="false"
        data-cy="createModelDialogNameInput"
        class="form-input border-s3 focus:border-m600 h-9 w-96 rounded"
        [ngClass]="{
          'border-r600':
            modelNameForm.controls['name'].invalid &&
            modelNameForm.controls['name'].touched
        }"
        formControlName="name"
      />
      <m-validation [control]="modelNameForm.controls['name']"></m-validation>
    </div>
  </div>

  <div class="flex flex-row items-start">
    <div class="flex flex-col">
      <div class="text-s1 flex h-9 w-32 select-none items-center text-base"
        >Access Roles</div
      >
    </div>

    <div [formGroup]="rolesForm" class="ml-5 flex flex-col items-start">
      <input
        spellcheck="false"
        autocomplete="off"
        data-cy="createModelDialogRolesInput"
        class="form-input border-s3 focus:border-m600 h-9 w-96 rounded"
        [ngClass]="{
          'border-r600':
            rolesForm.controls['roles'].invalid &&
            rolesForm.controls['roles'].touched
        }"
        formControlName="roles"
      />
      <m-validation [control]="rolesForm.controls['roles']"></m-validation>
    </div>
  </div>

  <div class="mt-9">
    <button
      data-cy="createBranchDialogCreateButton"
      class="bg-m600 text-m0 w-28 rounded py-3 text-base font-medium focus:outline-none"
      type="button"
      (click)="create()"
      >Create</button
    >

    <button
      data-cy="createBranchDialogCancelButton"
      class="border-m600 text-m600 ml-3 w-28 rounded border py-3 text-base font-medium focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >
  </div>
</div>

<div *ngIf="alias$ | async"></div>
<div *ngIf="struct$ | async"></div>
