<div class="bg-blue1 flex flex-col h-full">
  <div class="font-semibold text-2xl mt-8 ml-6 text-gray1">Profile</div>
  <div class="flex-1 bg-white mx-6 mt-6 mb-4 rounded shadow-lg">
    <div class="flex flex-row mt-16 ml-32">
      <div class="flex flex-col">
        <div class="h-14 flex items-center justify-end font-semibold"
          >Profile Photo</div
        >
        <div class="h-14 flex items-center justify-end font-semibold">Name</div>
        <div class="h-14 flex items-center justify-end font-semibold"
          >Default Time Zone</div
        >
        <div class="h-14 flex items-center justify-end font-semibold"
          >Email</div
        >
        <div class="h-14 flex items-center justify-end font-semibold"></div>
        <div class="h-14 flex items-center justify-end font-semibold"></div>
      </div>

      <div class="flex flex-col ml-2">
        <div class="h-14 flex items-center"></div>
        <div class="h-14 flex items-center"></div>
        <div class="h-14 flex items-center text-gray1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <div class="h-14 flex items-center"></div>
        <div class="h-14 flex items-center"></div>
        <div class="h-14 flex items-center"></div>
      </div>

      <div class="flex flex-col ml-6">
        <div class="h-14 flex items-center"></div>
        <div class="h-14 flex items-center max-w-xl truncate">{{
          userQuery.fullName$ | async
        }}</div>
        <div class="h-14 flex items-center">{{
          userQuery.timezone$ | async
        }}</div>
        <div class="h-14 flex items-center">{{ userQuery.email$ | async }}</div>
        <div class="h-14 flex items-center">
          <button (click)="changePassword()">Change Password </button>
        </div>
        <div class="h-14 flex items-center">
          <button>Delete User</button>
        </div>
      </div>

      <div class="flex flex-col ml-6">
        <div class="h-14 flex items-center"
          ><button
            (click)="editName()"
            class="py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 focus:outline-none"
            >Edit</button
          ></div
        >
        <div class="h-14 flex items-center">
          <button
            (click)="editName()"
            class="py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 focus:outline-none"
            >Edit</button
          ></div
        >

        <div class="h-14 flex items-center"
          ><button
            (click)="editName()"
            class="py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 focus:outline-none"
            >Edit</button
          ></div
        >
        <div class="h-14 flex items-center"></div>
        <div class="h-14 flex items-center"></div>
        <div class="h-14 flex items-center"></div>
      </div>
    </div>
  </div>
</div>
