<div class="flex flex-col h-full w-full">
  <div class="flex items-center justify-between h-14 shadow relative px-6">
    <m-logo></m-logo>
    <div class="flex">
      <button
        class="text-base focus:outline-none w-28 h-8"
        [ngClass]="{
          'font-bold': lastUrl === pathRegister
        }"
        (click)="signUp()"
        >Sign Up</button
      >
      <div class="flex divide-x-2 text-gray1">
        <div></div>
        <div></div>
      </div>
      <button
        class="w-24 h-8 text-base focus:outline-none"
        [ngClass]="{
          'font-bold': lastUrl === pathLogin
        }"
        (click)="login()"
        >Log In</button
      >
    </div>
  </div>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="routerEvents$ | async"></div>
