<div
  *ngIf="isShowSpinner === true"
  class="flex h-full w-full items-center justify-center"
>
  <div class="relative flex h-9 w-9 flex-shrink-0">
    <ngx-spinner
      [name]="spinnerName"
      color="#0084d1"
      bdColor="#00000000"
      size="default"
      type="ball-clip-rotate"
      [fullScreen]="false"
      [disableAnimation]="true"
      [zIndex]="99998"
    >
    </ngx-spinner>
  </div>
</div>

<ng-monaco-editor
  [ngClass]="{
    invisible: isShowSpinner === true
  }"
  style="height: 100%"
  data-cy="chartsYamlEditor"
  [options]="editorOptions"
  [(ngModel)]="content"
></ng-monaco-editor>

<div *ngIf="chart$ | async"></div>
