<div class="mp-min-width-1 mp-max-width-1">
  <mat-toolbar color="primary">New project</mat-toolbar>
  <form
    [formGroup]="newProjectForm"
    class="new-project-form"
    (ngSubmit)="onSubmit(newProjectForm.value); dialogRef.close()"
  >
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        id="projectNameInput"
        formControlName="projectName"
        placeholder="Project name"
        required
        data-cy="dialogNewProjectNameInput"
      />
      <mat-error>
        <m-validation-msg
          [errors]="newProjectForm.controls['projectName'].errors"
        ></m-validation-msg>
      </mat-error>
    </mat-form-field>
    <br />
    <br />
    <button
      data-cy="dialogNewProjectAddButton"
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="!newProjectForm.valid"
      >Add
    </button>
    <button
      data-cy="dialogNewProjectCancelButton"
      type="reset"
      class="mp-cancel"
      mat-raised-button
      (click)="dialogRef.close()"
      >Cancel
    </button>
  </form>
</div>
