<div
  class="mb-5 mr-9 flex h-11 flex-row items-center text-lg"
  *ngIf="repSelectedNodes.length === 0"
>
  No rows selected
</div>

<div
  class="mb-5 mr-9 flex h-11 flex-row items-center"
  *ngIf="repSelectedNodes.length > 1"
>
  <div class="text-lg"> Multiple rows selected </div>

  <button
    type="button"
    data-cy="deleteRowsButton"
    class="ml-7 flex flex flex-row items-center rounded border border-gray-400 py-2 px-4 text-gray-500 hover:bg-white focus:outline-none"
    (click)="deleteRows()"
  >
    <m-trash-icon></m-trash-icon>
    <div class="ml-3"> Delete Rows </div>
  </button>

  <button
    type="button"
    data-cy="clearRowsButton"
    class="ml-5 flex flex-row items-center rounded border border-gray-400 py-2 px-4 text-gray-500 hover:bg-white focus:outline-none"
    (click)="clearRows()"
  >
    <m-delete-icon></m-delete-icon>
    <div class="ml-3"> Clear Rows </div>
  </button>
</div>

<div class="mb-5 mr-9 flex flex-col space-y-7" *ngIf="!!repSelectedNode">
  <div class="flex flex-row items-start space-x-10">
    <div class="flex h-11 flex-row items-center space-x-5 text-lg">
      <div class="text-gray1 flex select-none items-center font-semibold"
        >Row</div
      >

      <div class="flex w-[26px] items-center">{{
        repSelectedNode.data.rowId
      }}</div>
    </div>

    <div class="flex h-11 flex-row items-center">
      <button
        class="flex h-9 w-9 items-center justify-center rounded text-gray-500 hover:bg-blue-200 focus:outline-none"
        (click)="deleteRow()"
      >
        <m-trash-icon></m-trash-icon>
      </button>

      <button
        *ngIf="repSelectedNode.data.rowType !== rowTypeEmpty"
        class="ml-3 flex h-9 w-9 items-center justify-center rounded text-gray-500 hover:bg-blue-200 focus:outline-none"
        (click)="clearRow()"
      >
        <m-delete-icon></m-delete-icon>
      </button>

      <button
        *ngIf="
          repSelectedNode.data.rowType !== rowTypeEmpty &&
          repSelectedNode.data.rowType !== rowTypeHeader
        "
        class="ml-3 flex h-9 w-9 items-center justify-center rounded text-gray-500 hover:bg-blue-200 focus:outline-none"
        (click)="toggleShowFormatOptions()"
      >
        <m-adjustments-icon
          [ngClass]="{
            'text-blue-500': isShowFormatOptions === true
          }"
        ></m-adjustments-icon>
      </button>
    </div>

    <div class="flex h-11 flex-row items-center space-x-5">
      <div class="text-gray1 flex select-none items-center font-semibold"
        >Type</div
      >

      <div class="flex items-center">{{
        isToHeader === true
          ? (rowTypeHeader | capitalize)
          : isToFormula === true
          ? (rowTypeFormula | capitalize)
          : isToMetric === true
          ? (rowTypeMetric | capitalize)
          : (repSelectedNode.data.rowType | capitalize)
      }}</div>
    </div>

    <div
      class="flex flex-1 flex-row items-start space-x-5"
      *ngIf="repSelectedNode.data.rowType === rowTypeEmpty"
    >
      <div
        class="flex flex-row"
        *ngIf="
          isToHeader === false && isToFormula === false && isToMetric === false
        "
      >
        <div class="text-gray1 flex select-none items-center font-semibold"
          >Convert to</div
        >

        <button
          type="button"
          data-cy="rowToHeaderButton"
          class="ml-5 flex rounded border border-gray-400 py-2 px-4 text-gray-500 hover:bg-white focus:outline-none"
          (click)="toHeader()"
        >
          Header
        </button>

        <button
          type="button"
          data-cy="rowToFormulaButton"
          class="ml-5 flex rounded border border-gray-400 py-2 px-4 text-gray-500 hover:bg-white focus:outline-none"
          (click)="toFormula()"
        >
          Formula
        </button>

        <button
          type="button"
          data-cy="rowToMetricButton"
          class="ml-5 flex rounded border border-gray-400 py-2 px-4 text-gray-500 hover:bg-white focus:outline-none"
          (click)="toMetric()"
        >
          Metric
        </button>
      </div>

      <div
        *ngIf="isToFormula === true"
        class="flex flex-1 flex-row items-start space-x-5"
      >
        <div class="text-gray1 mt-3 flex select-none items-center font-semibold"
          >Formula</div
        >

        <div [formGroup]="newFormulaForm" class="relative flex w-full">
          <textarea
            data-cy="formulaInput"
            class="form-input border-gray3 focus:border-blue3 h-[140px] w-full resize-y rounded"
            [ngClass]="{
              'border-red-600':
                newFormulaForm.controls['formula'].invalid &&
                newFormulaForm.controls['formula'].touched
            }"
            formControlName="formula"
            placeholder="$A + $B"
          ></textarea>
          <m-validation
            class="absolute -bottom-[22px] left-0"
            [control]="newFormulaForm.controls['formula']"
          ></m-validation>
        </div>
      </div>

      <div
        *ngIf="isToHeader === true || isToFormula === true"
        class="flex h-11 max-w-[600px] flex-1 flex-row items-center space-x-5"
      >
        <div class="text-gray1 flex select-none items-center font-semibold"
          >Name</div
        >

        <div [formGroup]="newNameForm" class="relative flex w-full">
          <input
            data-cy="newNameInput"
            class="form-input border-gray3 focus:border-blue3 w-full min-w-[100px] resize-none rounded"
            [ngClass]="{
              'border-red-600':
                newNameForm.controls['name'].invalid &&
                newNameForm.controls['name'].touched
            }"
            formControlName="name"
            placeholder=""
          />
          <m-validation
            class="absolute -bottom-[22px] left-0"
            [control]="newNameForm.controls['name']"
          ></m-validation>
        </div>
      </div>

      <div
        *ngIf="isToMetric === true"
        class="flex h-11 flex-1 flex-row items-center space-x-5"
      >
        <div
          class="text-gray1 flex flex-shrink-0 select-none items-center font-semibold"
          >Metric</div
        >

        <ng-select
          data-cy="newMetricSelect"
          class="custom w-full text-base focus:outline-none"
          [items]="metrics"
          [searchable]="true"
          [clearable]="false"
          [(ngModel)]="newMetricId"
          appendTo="body"
          bindLabel="label"
          bindValue="metricId"
        >
        </ng-select>
      </div>

      <div
        class="flex flex-row"
        *ngIf="
          isToHeader === true || isToFormula === true || isToMetric === true
        "
      >
        <button
          data-cy="rowApplyButton"
          class="bg-blue3 bg-blue3 select-none rounded px-4 py-2 font-medium text-white focus:outline-none"
          type="button"
          (click)="apply()"
          >Apply</button
        >

        <button
          type="button"
          data-cy="rowCancelButton"
          class="border-blue3 text-blue3 ml-5 select-none rounded border px-4 py-2 font-medium focus:outline-none"
          (click)="cancelConvert()"
        >
          Cancel
        </button>
      </div>
    </div>

    <button
      *ngIf="repSelectedNode.data.rowType === rowTypeMetric"
      type="button"
      data-cy="metricsExploreButton"
      class="ml-5 flex h-11 flex-shrink-0 items-center justify-center rounded px-6 text-base font-medium text-white focus:outline-none"
      [ngClass]="{
        'bg-blue3':
          repSelectedNode.data.rowType === rowTypeMetric &&
          repSelectedNode.data.hasAccessToModel === true,
        'cursor-default bg-gray-400':
          repSelectedNode.data.rowType !== rowTypeMetric ||
          repSelectedNode.data.hasAccessToModel !== true
      }"
      (click)="explore()"
      [disabled]="
        repSelectedNode.data.rowType !== rowTypeMetric &&
        repSelectedNode.data.hasAccessToModel === true
      "
    >
      Explore
    </button>

    <div
      class="flex h-11 flex-row items-center space-x-5"
      *ngIf="repSelectedNode.data.rowType === rowTypeMetric"
    >
      <div
        class="text-gray1 flex flex-shrink-0 select-none items-center font-semibold"
        >Metric Id</div
      >

      <div class="flex items-center truncate">
        <div class="truncate">{{ repSelectedNode.data.metricId }}</div>
      </div>
    </div>

    <div
      *ngIf="repSelectedNode.data.rowType === rowTypeFormula"
      class="flex flex-1 flex-row items-start space-x-5"
    >
      <div class="text-gray1 mt-3 flex select-none items-center font-semibold"
        >Formula</div
      >

      <div [formGroup]="formulaForm" class="relative flex w-full">
        <textarea
          data-cy="formulaInput"
          class="form-input border-gray3 focus:border-blue3 h-[140px] w-full resize-y rounded"
          [ngClass]="{
            'border-red-600':
              formulaForm.controls['formula'].invalid &&
              formulaForm.controls['formula'].touched
          }"
          formControlName="formula"
          placeholder="$A + $B"
          (blur)="formulaBlur()"
        ></textarea>
        <m-validation
          class="absolute -bottom-[22px] left-0"
          [control]="formulaForm.controls['formula']"
        ></m-validation>
      </div>
    </div>

    <div
      *ngIf="
        repSelectedNode.data.rowType !== rowTypeEmpty &&
        repSelectedNode.data.rowType !== rowTypeMetric
      "
      class="flex h-11 max-w-[600px] flex-1 flex-row items-center space-x-5"
    >
      <div class="text-gray1 flex select-none items-center font-semibold"
        >Name</div
      >

      <div [formGroup]="nameForm" class="relative flex w-full">
        <input
          data-cy="nameInput"
          class="form-input border-gray3 focus:border-blue3 w-full min-w-[100px] resize-none rounded"
          [ngClass]="{
            'border-red-600':
              nameForm.controls['name'].invalid &&
              nameForm.controls['name'].touched
          }"
          formControlName="name"
          placeholder=""
          (blur)="nameBlur()"
        />
        <m-validation
          class="absolute -bottom-[22px] left-0"
          [control]="nameForm.controls['name']"
        ></m-validation>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      isShowFormatOptions === true &&
      (repSelectedNode.data.rowType === rowTypeFormula ||
        repSelectedNode.data.rowType === rowTypeMetric)
    "
    class="flex h-11 flex-row items-start space-x-10"
  >
    <div class="flex h-11 flex-row items-center space-x-5">
      <div
        class="text-gray1 flex flex-shrink-0 select-none items-center font-semibold"
        >Format Number</div
      >

      <div [formGroup]="formatNumberForm" class="relative flex w-32">
        <input
          data-cy="formatNumberInput"
          class="form-input border-gray3 focus:border-blue3 w-full resize-none rounded"
          [ngClass]="{
            'border-red-600':
              formatNumberForm.controls['formatNumber'].invalid &&
              formatNumberForm.controls['formatNumber'].touched
          }"
          formControlName="formatNumber"
          placeholder=""
          (blur)="formatNumberBlur()"
        />
        <m-validation
          class="absolute -bottom-[22px] left-0"
          [control]="formatNumberForm.controls['formatNumber']"
        ></m-validation>
      </div>
    </div>

    <div class="flex h-11 flex-row items-center space-x-5">
      <div
        class="text-gray1 flex flex-shrink-0 select-none items-center font-semibold"
        >Currency Prefix</div
      >

      <div [formGroup]="currencyPrefixForm" class="relative flex w-32">
        <input
          data-cy="currencyPrefixInput"
          class="form-input border-gray3 focus:border-blue3 w-full resize-none rounded"
          [ngClass]="{
            'border-red-600':
              currencyPrefixForm.controls['currencyPrefix'].invalid &&
              currencyPrefixForm.controls['currencyPrefix'].touched
          }"
          formControlName="currencyPrefix"
          placeholder=""
          (blur)="currencyPrefixBlur()"
        />
        <m-validation
          class="absolute -bottom-[22px] left-0"
          [control]="currencyPrefixForm.controls['currencyPrefix']"
        ></m-validation>
      </div>
    </div>

    <div class="flex h-11 flex-row items-center space-x-5">
      <div
        class="text-gray1 flex flex-shrink-0 select-none items-center font-semibold"
        >Currency Suffix</div
      >

      <div [formGroup]="currencySuffixForm" class="relative flex w-32">
        <input
          data-cy="currencySuffixInput"
          class="form-input border-gray3 focus:border-blue3 w-full resize-none rounded"
          [ngClass]="{
            'border-red-600':
              currencySuffixForm.controls['currencySuffix'].invalid &&
              currencySuffixForm.controls['currencySuffix'].touched
          }"
          formControlName="currencySuffix"
          placeholder=""
          (blur)="currencySuffixBlur()"
        />
        <m-validation
          class="absolute -bottom-[22px] left-0"
          [control]="currencySuffixForm.controls['currencySuffix']"
        ></m-validation>
      </div>
    </div>
  </div>

  <div
    class="flex min-h-[44px] flex-shrink-0 flex-grow flex-row"
    *ngIf="repSelectedNode.data.rowType === rowTypeMetric"
  >
    <div
      (click)="toggleParametersPanel()"
      class="text-gray1 flex h-11 select-none flex-row items-start space-x-2 text-lg font-semibold"
      [ngClass]="{
        'cursor-pointer': parametersFilters.length > 0
      }"
    >
      <div class="flex h-11 flex-row items-center space-x-2">
        <m-chevron-right-icon
          *ngIf="!isExpandedParameters && parametersFilters.length > 0"
        ></m-chevron-right-icon>

        <m-chevron-down-icon
          *ngIf="isExpandedParameters && parametersFilters.length > 0"
        ></m-chevron-down-icon>

        <div class="h-6 w-6" *ngIf="parametersFilters.length === 0"></div>

        <div> Parameters </div>
      </div>
    </div>

    <button
      type="button"
      data-cy="rowAddParameterButton"
      class="ml-7 h-11 select-none rounded border border-gray-400 py-2 px-4 text-gray-500 hover:bg-white focus:outline-none"
      (click)="addParameter()"
    >
      Add
    </button>

    <div class="ml-7 mr-5 flex min-h-[68px] flex-row items-start">
      <div class="min-h-11 flex flex-row items-end">
        <m-bricks
          class="flex max-h-[150px] max-w-max flex-row items-end justify-start overflow-auto"
          *ngIf="!isExpandedParameters && parametersFilters.length > 0"
          [extendedFilters]="parametersFilters"
        ></m-bricks>
      </div>
    </div>

    <div class="mt-1 w-2 flex-1" *ngIf="isExpandedParameters">
      <div
        class="flex flex-row"
        *ngIf="isAddParameter === true"
        [ngClass]="{
          'mb-5 border-b border-gray-300 pb-5': parametersFilters.length > 0
        }"
      >
        <div
          class="flex h-11 max-w-[700px] flex-1 flex-row items-center space-x-5"
        >
          <div
            class="text-gray1 flex flex-shrink-0 select-none items-center font-semibold"
            >Filter Metric by</div
          >

          <ng-select
            data-cy="addParameterSelect"
            class="custom w-full text-base focus:outline-none"
            [items]="metrics"
            [searchable]="true"
            [clearable]="false"
            [(ngModel)]="newParameterId"
            appendTo="body"
            bindLabel="partLabel"
            bindValue="metricId"
          >
          </ng-select>
        </div>

        <button
          data-cy="rowApplyAddParameterButton"
          class="bg-blue3 bg-blue3 ml-5 select-none rounded px-4 py-2 font-medium text-white focus:outline-none"
          type="button"
          (click)="applyAddParameter()"
          >Apply</button
        >

        <button
          type="button"
          data-cy="rowCancelAddParameterButton"
          class="border-blue3 text-blue3 ml-5 select-none rounded border px-4 py-2 font-medium focus:outline-none"
          (click)="cancelAddParameter()"
        >
          Cancel
        </button>
      </div>

      <m-row-filters
        *ngIf="parametersFilters.length > 0"
        [repSelectedNode]="repSelectedNode"
        [mconfig]="mconfig"
        [parametersFilters]="parametersFilters"
      ></m-row-filters>
    </div>
  </div>
</div>

<div *ngIf="uiQuery$ | async"></div>
<div *ngIf="metrics$ | async"></div>
<div *ngIf="rep$ | async"></div>
