<div class="flex flex-col h-full">
  <div class="flex flex-row justify-between items-center px-5 py-5">
    <div class="flex flex-row items-center space-x-5 min-w-[2px]">
      <div class="flex-grow text-lg text-gray1 truncate min-w-[2px]">{{
        file?.name
      }}</div>

      <button
        class="flex flex-row items-center text-blue-500 focus:outline-none flex-shrink-0"
        (click)="goTo()"
        *ngIf="
          ((file?.name | extension) === 'model' &&
            member?.isExplorer === true) ||
          (file?.name | extension) === 'viz' ||
          (file?.name | extension) === 'dashboard'
        "
      >
        <m-arrow-narrow-right-icon></m-arrow-narrow-right-icon>
        <div class="ml-2 text-lg">
          {{ file?.name | extension | capitalize }}</div
        >
      </button>
    </div>

    <div *ngIf="nav?.isRepoProd === false" class="space-x-3 flex-shrink-0">
      <button
        type="button"
        data-cy="blockmlEditorSaveButton"
        class="py-2 w-28 text-white text-base rounded font-medium focus:outline-none"
        [ngClass]="{
          'bg-gray-400 cursor-default': !needSave,
          'bg-blue3': needSave
        }"
        (click)="save()"
        [disabled]="!needSave"
        >Save</button
      >

      <button
        type="button"
        data-cy="blockmlEditorCancelButton"
        class="py-2 w-28 text-base rounded border font-medium focus:outline-none"
        [ngClass]="{
          ' text-gray-400 border-gray-400 cursor-default': !needSave,
          'text-blue3 border-blue3 ': needSave
        }"
        (click)="cancel()"
        [disabled]="!needSave"
        >Cancel</button
      >
    </div>
  </div>

  <div class="bg-[#1E1E1E] rounded h-full">
    <!-- <div class="bg-green-300 h-full">3</div> -->

    <ngx-monaco-editor
      style="height: 100%"
      class="my-code-editor"
      data-cy="blockmlEditorMonacoEditor"
      [options]="editorOptions"
      [(ngModel)]="content"
      (ngModelChange)="onTextChanged()"
      (onInit)="onEditorInit($event)"
    ></ngx-monaco-editor>
  </div>
</div>

<div *ngIf="needSave$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
<div *ngIf="routeLine$ | async"></div>
<div *ngIf="fileId$ | async"></div>
<div *ngIf="member$ | async"></div>
