<div class="flex flex-col p-9 bg-white">
  <div
    data-cy="chartSaveAsDialogTitle"
    class="flex-grow mt-5 mb-9 text-2xl text-gray2 font-semibold text-left"
    >Save As</div
  >

  <div
    data-cy="chartSaveAsDialogNewVizCheckbox"
    class="flex flex-row h-9 items-center cursor-pointer"
    (click)="newVizOnClick()"
  >
    <div
      class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded-full focus:outline-none"
      [ngClass]="{
        'bg-blue3 ': chartSaveAs === chartSaveAsEnum.NEW_VIZ
      }"
    >
      <m-check-icon
        *ngIf="chartSaveAs === chartSaveAsEnum.NEW_VIZ"
      ></m-check-icon>
    </div>

    <div class="ml-5 text-base">New Visualization</div>
  </div>

  <div
    data-cy="chartSaveAsDialogNewReportOfDashboardCheckbox"
    class="flex mt-5 h-9 flex-row items-center cursor-pointer"
    (click)="reportOfDashboardOnClick()"
  >
    <button
      class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded-full focus:outline-none"
      [ngClass]="{
        'bg-blue3 ': chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD
      }"
    >
      <m-check-icon
        *ngIf="chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD"
      ></m-check-icon>
    </button>

    <div class="flex flex-row items-center">
      <div class="flex ml-5 mr-5 text-base flex-shrink-0"
        >Report of Dashboard</div
      >

      <div
        class="flex w-9 h-2 mx-5 relative flex-shrink-0"
        *ngIf="
          !dashboards && chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD
        "
      >
        <ngx-spinner
          [ngClass]="{
            invisible: chartSaveAs !== chartSaveAsEnum.REPORT_OF_DASHBOARD
          }"
          class="invisible"
          [name]="spinnerName"
          color="rgba(54, 94, 224, 100)"
          bdColor="rgba(0, 0, 0, 0)"
          size="default"
          type="ball-clip-rotate"
          [fullScreen]="false"
          [disableAnimation]="true"
          [zIndex]="99998"
        >
        </ngx-spinner>
      </div>

      <ng-select
        data-cy="dashboardSaveAsDialogExistingDashboardSelect"
        *ngIf="
          !!dashboards && chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD
        "
        class="custom w-[500px] text-base focus:outline-none flex-shrink-0"
        [items]="dashboards"
        [searchable]="false"
        [clearable]="false"
        (change)="selectedDashboardChange()"
        [(ngModel)]="selectedDashboardId"
        appendTo="body"
        bindLabel="title"
        bindValue="dashboardId"
      >
        <ng-template ng-label-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.title || item.dashboardId }}</div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          <div class="ml-1 truncate">{{ item.title || item.dashboardId }}</div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="flex flex-col h-9 ml-12 mt-5">
    <div
      data-cy="chartSaveAsDialogNewVizCheckbox"
      class="flex flex-row h-9 items-center cursor-pointer"
      *ngIf="
        chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD &&
        !!selectedDashboardId
      "
      (click)="newReportOnClick()"
    >
      <div
        class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded-full focus:outline-none"
        [ngClass]="{
          'bg-blue3 ': reportSaveAs === reportSaveAsEnum.NEW_REPORT
        }"
      >
        <m-check-icon
          *ngIf="reportSaveAs === reportSaveAsEnum.NEW_REPORT"
        ></m-check-icon>
      </div>

      <div class="ml-5 text-base">New Report</div>
    </div>
  </div>

  <div class="flex flex-col h-9 ml-12 mt-5">
    <div
      data-cy="chartSaveAsDialogNewReportOfDashboardCheckbox"
      class="flex h-9 flex-row items-center cursor-pointer"
      *ngIf="
        chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD &&
        !!selectedDashboardId
      "
      (click)="replaceExistingReportOnClick()"
    >
      <button
        class="flex items-center justify-center h-6 w-6 border-2 border-blue3 text-white rounded-full focus:outline-none"
        [ngClass]="{
          'bg-blue3 ': reportSaveAs === reportSaveAsEnum.REPLACE_EXISTING_REPORT
        }"
      >
        <m-check-icon
          *ngIf="reportSaveAs === reportSaveAsEnum.REPLACE_EXISTING_REPORT"
        ></m-check-icon>
      </button>

      <div class="flex flex-row items-center">
        <div class="flex ml-5 mr-5 text-base flex-shrink-0"
          >Replace Existing Report</div
        >
        <ng-select
          data-cy="dashboardSaveAsDialogExistingDashboardSelect"
          *ngIf="reportSaveAs === reportSaveAsEnum.REPLACE_EXISTING_REPORT"
          class="custom w-[500px] text-base focus:outline-none flex-shrink-0"
          [items]="selectedDashboard?.reports || []"
          [searchable]="false"
          [clearable]="false"
          (change)="selectedReportChange()"
          [(ngModel)]="selectedReportTitle"
          appendTo="body"
          bindLabel="title"
          bindValue="title"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.title }}</div>
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <div class="ml-1 truncate">{{ item.title }}</div>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="mt-9 h-7 text-gray-400 text-base">
    <div *ngIf="chartSaveAs === chartSaveAsEnum.NEW_VIZ"
      >Users / {{ alias }} / {{ vizId }}.viz</div
    >

    <div
      *ngIf="
        chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD &&
        !!selectedDashboardId
      "
      >{{ selectedDashboardPath | capitalize }}</div
    >

    <!-- <div
      *ngIf="
        chartSaveAs === chartSaveAsEnum.NEW_REPORT_OF_EXISTING_DASHBOARD &&
        !selectedDashboardId
      "
    ></div> -->
  </div>

  <div class="mt-9 flex flex-row items-start">
    <div class="flex flex-col">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Title</div
      >
    </div>

    <div [formGroup]="titleForm" class="flex flex-col ml-5 items-start">
      <input
        spellcheck="false"
        data-cy="chartSaveAsDialogTitleInput"
        class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            titleForm.controls['title'].invalid &&
            titleForm.controls['title'].touched
        }"
        formControlName="title"
      />
      <m-validation [control]="titleForm.controls['title']"></m-validation>
    </div>
  </div>

  <div class="flex flex-row h-9 items-start">
    <div class="flex flex-col" *ngIf="chartSaveAs === chartSaveAsEnum.NEW_VIZ">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Access Roles</div
      >
    </div>

    <div
      [formGroup]="rolesForm"
      class="flex flex-col ml-5 items-start"
      *ngIf="chartSaveAs === chartSaveAsEnum.NEW_VIZ"
    >
      <input
        spellcheck="false"
        data-cy="chartSaveAsDialogRolesInput"
        class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            rolesForm.controls['roles'].invalid &&
            rolesForm.controls['roles'].touched
        }"
        formControlName="roles"
      />
      <m-validation [control]="rolesForm.controls['roles']"></m-validation>
    </div>
  </div>

  <div class="flex flex-row h-9 mt-5 items-start">
    <div class="flex flex-col" *ngIf="chartSaveAs === chartSaveAsEnum.NEW_VIZ">
      <div class="flex h-9 w-32 text-gray1 text-base items-center select-none"
        >Access Users</div
      >
    </div>

    <div
      [formGroup]="usersForm"
      class="flex flex-col ml-5 items-start"
      *ngIf="chartSaveAs === chartSaveAsEnum.NEW_VIZ"
    >
      <input
        spellcheck="false"
        data-cy="chartSaveAsDialogUsersInput"
        class="w-96 h-9 form-input rounded border-gray3 focus:border-blue3"
        [ngClass]="{
          'border-red-600':
            usersForm.controls['users'].invalid &&
            usersForm.controls['users'].touched
        }"
        formControlName="users"
      />
      <m-validation [control]="usersForm.controls['users']"></m-validation>
    </div>
  </div>

  <div class="mt-9">
    <button
      data-cy="chartSaveAsDialogSaveButton"
      class="py-3 w-28 text-base bg-blue3 text-white rounded font-medium focus:outline-none"
      type="button"
      [ngClass]="{
        'bg-blue3':
          chartSaveAs === chartSaveAsEnum.NEW_VIZ ||
          (!!selectedDashboardId &&
            (reportSaveAs === reportSaveAsEnum.NEW_REPORT ||
              !!selectedReportTitle)),
        'bg-gray-400 cursor-default':
          chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD &&
          (selectedDashboardId === undefined ||
            (reportSaveAs === reportSaveAsEnum.REPLACE_EXISTING_REPORT &&
              selectedReportTitle === undefined))
      }"
      (click)="save()"
      [disabled]="
        chartSaveAs === chartSaveAsEnum.REPORT_OF_DASHBOARD &&
        (selectedDashboardId === undefined ||
          (reportSaveAs === reportSaveAsEnum.REPLACE_EXISTING_REPORT &&
            selectedReportTitle === undefined))
      "
      >Save</button
    >

    <button
      data-cy="chartSaveAsDialogCancelButton"
      class="ml-3 py-3 w-28 text-base rounded border text-blue3 border-blue3 font-medium focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >
  </div>
</div>

<div *ngIf="alias$ | async"></div>
<div *ngIf="nav$ | async"></div>
