<div
  class="ml-5 h-10 w-10"
  #t1="tippy"
  [tippy]="templateUserOptions"
  [hideOnEscape]="true"
  variation="menu"
  className="my-menu"
  [offset]="[0, 5]"
  [isEnabled]="needSave === false"
>
  <button
    class="h-10 w-10 rounded-full bg-blue-200 text-base tracking-wider focus:outline-none"
    [disabled]="needSave === true"
  >
    <m-avatar
      [avatar]="navQuery.avatarBig$ | async"
      [initials]="userQuery.initials$ | async"
    ></m-avatar>
  </button>

  <ng-template #templateUserOptions>
    <div class="w-56 rounded-md border-2 border-gray4 bg-white shadow-xl">
      <div class="mt-2 block px-4 py-2 text-sm font-bold text-gray-400"
        >User</div
      >

      <button
        class="block w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
        [ngClass]="{
          'font-semibold': lastUrl === pathProfile
        }"
        [disabled]="lastUrl === pathProfile"
        (click)="t1.hide(); navigateProfile()"
        >Profile</button
      >

      <button
        class="block w-full px-4 py-2 text-left text-base text-gray1 hover:bg-blue2 focus:outline-none"
        (click)="t1.hide(); logout()"
        >LogOut</button
      >

      <div class="block px-4 py-2 text-sm font-bold text-gray-400"
        >Resources</div
      >

      <a
        class="block px-4 py-2 text-base text-gray1 hover:bg-blue2 hover:text-gray1"
        target="_blank"
        href="https://docs.mprove.io"
        (click)="t1.hide()"
        >Docs</a
      >
    </div>
  </ng-template>
</div>

<div *ngIf="routerEvents$ | async"></div>
<div *ngIf="needSave$ | async"></div>
