<div class="block relative">
  <button
    class="relative z-10 block h-10 w-10 rounded-full bg-blue-200 text-md tracking-widest focus:outline-none"
    (click)="isUserMenuOpen = !isUserMenuOpen"
  >
    {{ userQuery.initials$ | async }}
  </button>

  <button
    class="fixed inset-0 w-full h-full cursor-default focus:outline-none"
    *ngIf="isUserMenuOpen === true"
    (click)="isUserMenuOpen = false"
  ></button>

  <div
    class="absolute right-0 mt-1 w-48 bg-white rounded-md shadow-xl border-2 border-r3"
    *ngIf="isUserMenuOpen === true"
  >
    <div class="block mt-2 px-4 py-2 text-t3 font-bold text-sm">User</div>

    <button
      class="block px-4 py-2 text-t3 font-medium text-sm w-full text-left focus:outline-none"
      [ngClass]="{
        'hover:bg-b3': lastUrl !== pathProfile,
        'cursor-default': lastUrl === pathProfile
      }"
      [disabled]="lastUrl === pathProfile"
      (click)="profile()"
      >Profile</button
    >

    <button
      class="block px-4 py-2 text-t3 font-medium text-sm hover:bg-b3 w-full text-left focus:outline-none"
      (click)="logout()"
      >LogOut</button
    >

    <div class="block px-4 py-2 text-t3 font-bold text-sm">Resources</div>

    <a
      class="block mb-2 px-4 py-2 text-t3 font-medium text-sm hover:bg-b3"
      target="_blank"
      href="/docs"
      >Docs</a
    >
  </div>
</div>

<div *ngIf="routerEvents$ | async"></div>
