<div class="h-full w-full overflow-auto rounded bg-gray-200 py-1 px-5">
  <table>
    <tbody class="divide-y divide-gray-300">
      <tr *ngFor="let filter of extendedFilters; let filterIndex = index">
        <td class="py-1 align-top">
          <div class="flex flex-col items-start justify-start">
            <m-field-label
              [column]="filter.field"
              class="flex text-sm"
            ></m-field-label> </div
        ></td>

        <!-- <td class="align-top py-1">
          <div class="ml-5 w-[68px] text-gray1 text-sm">{{
            filter.field.result | result
          }}</div></td
        > -->

        <td class="py-1 align-top">
          <div
            class="ml-5 flex flex-row items-start justify-start"
            *ngFor="
              let fraction of filter.fractions;
              let isFirst = first;
              let fractionIndex = index
            "
          >
            <div class="flex w-9 flex-shrink-0">
              <div *ngIf="isFirst === true"></div>
              <div *ngIf="isFirst === false">
                {{
                  fraction.operator === fractionOperatorEnum.Or
                    ? 'OR'
                    : !isFirst && fraction.operator === fractionOperatorEnum.And
                    ? 'AND'
                    : ''
                }}
              </div>
            </div>
            <div class="ml-5 flex max-w-[350px] flex-shrink-0 px-5">{{
              fraction.brick
            }}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
