<div class="bg-blue1 flex h-full cursor-default flex-col">
  <div class="mx-6 mt-8 flex h-full flex-row">
    <div class="flex flex-grow flex-col">
      <div class="flex h-11 flex-row items-center">
        <div
          data-cy="modelsTitle"
          class="text-gray1 flex items-center self-center text-2xl font-semibold"
          >{{ pageTitle }}
        </div>

        <m-search-icon class="text-gray1 ml-6"></m-search-icon>

        <input
          spellcheck="false"
          data-cy="modelsSearchInput"
          class="form-input bg-blue1 focus:border-blue3 ml-3 h-10 w-[400px] rounded border-gray-400"
          placeholder="Search by Label, File Name"
          [ngClass]="{
            'bg-purple-200': !!word
          }"
          [(ngModel)]="word"
          (ngModelChange)="searchWordChange()"
        />

        <div class="h-9 w-9">
          <m-delete-icon
            *ngIf="!!word"
            class="text-gray1 ml-3 flex h-9 w-9 flex-shrink-0 items-center justify-center rounded focus:outline-none"
            [ngClass]="{
              'cursor-pointer bg-purple-200 hover:bg-purple-300': !!word
            }"
            (click)="resetSearch()"
          ></m-delete-icon>
        </div>

        <div class="flex flex-row items-center space-x-5">
          <ui-switch
            class="ml-5"
            [checked]="showViews"
            (change)="toggleShowViews()"
          ></ui-switch>

          <div class="text-gray1 flex h-9 select-none items-center text-base"
            >Show Views</div
          >
        </div>

        <div class="flex-grow"></div>
      </div>

      <div class="mt-6 flex flex-grow flex-row">
        <div class="mb-6 flex flex-grow rounded bg-white shadow-md">
          <div
            class="ml-5 mr-5 mt-10 flex w-full flex-col divide-y divide-gray-500"
          >
            <div
              class="text-gray1 mb-3 mr-4 flex flex-row space-x-5 px-5 text-base font-semibold"
            >
              <div class="flex w-1/6">File</div>
              <div class="flex w-1/3">Model</div>
              <div class="flex flex-1 flex-row space-x-5">
                <div class="flex flex-1">Connection</div>
                <div class="flex flex-1">Access Roles</div>
                <div class="flex flex-1">Access Users</div>
              </div>
            </div>

            <virtual-scroller
              [enableUnequalChildrenSizes]="enableUnequalChildrenSizes"
              [bufferAmount]="bufferAmount"
              *ngIf="isShow === true && filteredModels?.length > 0"
              #scroll
              [items]="filteredModels"
              class="h-full w-full"
            >
              <div
                *ngFor="let item of scroll.viewPortItems; trackBy: trackByFn"
                class="flex flex-row"
                [ngStyle]="
                  item.modelId !==
                    filteredModels[filteredModels.length - 1].modelId && {
                    'border-bottom-width': '1px'
                  }
                "
                [ngClass]="{
                  'border-gray-300':
                    item.modelId !==
                    filteredModels[filteredModels.length - 1].modelId
                }"
              >
                <div class="flex-grow flex-col">
                  <div
                    class="text-gray1 hover:border-blue2 hover:bg-blue2 mr-5 flex w-full flex-row items-start space-x-5 rounded border border-white bg-white px-5 text-lg focus:outline-none"
                  >
                    <div
                      class="flex w-1/6 cursor-pointer items-start truncate py-3 hover:text-blue-500 focus:outline-none"
                      (click)="goToModelFile($event, item)"
                    >
                      <span class="truncate">
                        {{ item.modelId }}
                      </span>
                    </div>

                    <ng-template #templateModelsModel>
                      <div *ngIf="isExplorer === false"
                        >Explorer role required</div
                      >
                      <div *ngIf="isExplorer === true">No access to model</div>
                    </ng-template>

                    <div
                      class="flex h-full w-1/3 flex-row py-3"
                      (click)="navigateToModel(item)"
                      [tippy]="templateModelsModel"
                      [isEnabled]="item.hasAccess === false"
                      [ngClass]="{
                        'font-semibold': showViews === true,
                        'cursor-pointer hover:text-blue-500':
                          item.hasAccess === true,
                        'cursor-default': item.hasAccess === false
                      }"
                    >
                      <span class="truncate">
                        {{ item.label || item.modelId | capitalize }}
                      </span>

                      <m-lock-closed-icon
                        class="mb-1 ml-2 mr-5 text-gray-400"
                        *ngIf="item.hasAccess === false"
                      ></m-lock-closed-icon>
                    </div>

                    <div
                      class="flex flex-1 cursor-default flex-row space-x-5 text-base"
                    >
                      <div class="flex flex-1 items-start truncate py-3">
                        <span class="truncate">
                          {{ item.connectionId }}
                        </span>
                      </div>

                      <div
                        class="flex flex-1 flex-wrap truncate py-3 text-base"
                      >
                        <span
                          *ngFor="let role of item.accessRoles"
                          class="mr-2 truncate"
                        >
                          {{ role }}
                        </span>
                      </div>

                      <div
                        class="flex flex-1 flex-wrap truncate py-3 text-base"
                      >
                        <span
                          *ngFor="let user of item.accessUsers"
                          class="mr-2 truncate"
                        >
                          {{ user }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div
                    class="mr-5 mt-3 mb-5 flex w-full flex-col items-center space-y-3 px-5 text-base focus:outline-none"
                    *ngIf="showViews === true"
                  >
                    <div
                      class="flex w-full flex-row space-x-5"
                      *ngFor="let node of item.nodes"
                    >
                      <div
                        class="flex w-1/6 cursor-pointer items-start truncate hover:text-blue-500 focus:outline-none"
                        (click)="goToFile($event, node, item)"
                      >
                        <span class="truncate">
                          {{ node.viewName || item.modelId }}
                        </span>
                      </div>

                      <div class="flex w-1/3 cursor-default truncate pl-5">
                        <span class="truncate">
                          {{ node.label }}
                        </span>
                      </div>
                      <div class="flex flex-1 flex-row">
                        <div class="flex flex-1 cursor-default"></div>
                        <div class="flex flex-1 cursor-default"></div>
                        <div class="flex flex-1 cursor-default"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="h-12"></div>
            </virtual-scroller>

            <div
              class="text-gray1 flex h-full w-full select-none items-center justify-center text-xl"
              *ngIf="filteredModels?.length === 0"
              >No models</div
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="models$ | async"></div>
<div *ngIf="isExplorer$ | async"></div>
