<ng-select
  #branchSelect
  data-cy="branchSelect"
  class="custom w-72 text-base focus:outline-none"
  (open)="openBranchSelect()"
  [loading]="branchesListLoading"
  [items]="branchesList"
  [clearable]="false"
  [disabled]="selectedProjectId === undefined || needSave === true"
  [searchable]="false"
  [(ngModel)]="selectedBranchExtraId"
  (change)="branchChange()"
  appendTo="body"
  placeholder="Repository - Branch"
  bindLabel="extraName"
  bindValue="extraId"
>
  <ng-template ng-label-tmp let-item="item">
    <!-- &&
    !!selectedBranchItem &&
    selectedBranchItem.branchId !== branchMaster -->

    <div
      class="ml-1 truncate rounded py-[1px] px-[8px]"
      [ngClass]="{
        'bg-green1': !!repo.repoId && repo.repoId !== prodRepoID,
        'bg-blue5': !repo.repoId || repo.repoId === prodRepoID
      }"
      >{{ item.extraName }}</div
    >
  </ng-template>

  <ng-template ng-option-tmp let-item="item">
    <!-- [ngClass]="{
    'bg-green1': item.isRepoProd === false,
    'bg-blue5': item.isRepoProd === true && item.branchId !== branchMaster
  }" -->

    <div class="ml-1 truncate rounded px-[8px]">{{ item.extraName }}</div>
  </ng-template>

  <ng-template ng-footer-tmp *ngIf="isEditor === true">
    <!-- <div class="p-3 text-gray-400" *ngIf="!repo.repoId">
      Branch buttons are not available on the current page. Open Files page
      and click on the branch selector again to see available buttons.
    </div> -->

    <div
      class="p-3 text-gray-400"
      *ngIf="!!repo.repoId && repo.conflicts.length > 0"
    >
      Resolve conflicts to be able to switch, merge, delete or create local
      branches
    </div>

    <div
      class="p-3 text-gray-400"
      *ngIf="
        !!repo.repoId &&
        repo.conflicts.length === 0 &&
        repo.repoStatus === repoStatusNeedCommit
      "
    >
      Commit changes to be able to switch, merge, delete or create local
      branches
    </div>

    <button
      *ngIf="
        !repo.repoId ||
        (repo.conflicts.length === 0 &&
          repo.repoStatus !== repoStatusNeedCommit)
      "
      data-cy="branchSelectDeleteBranchButton"
      class="w-full rounded py-3 text-base focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400':
          selectedBranchItem.branchId === branchMaster,
        'text-blue3 hover:bg-blue2':
          selectedBranchItem.branchId !== branchMaster
      }"
      (click)="deleteBranch(branchSelect, $event)"
      [disabled]="selectedBranchItem.branchId === branchMaster"
      >Delete Branch</button
    >

    <div
      class="p-3 text-gray-400"
      *ngIf="
        !repo.repoId ||
        (repo.conflicts.length === 0 &&
          repo.repoStatus !== repoStatusNeedCommit &&
          repo.repoId === prodRepoID)
      "
    >
      Switch to local branch to be able to merge, delete or create local
      branches
    </div>

    <button
      *ngIf="
        !!repo.repoId &&
        repo.conflicts.length === 0 &&
        repo.repoStatus !== repoStatusNeedCommit &&
        repo.repoId !== prodRepoID
      "
      data-cy="branchSelectMergeBranchButton"
      class="w-full rounded py-3 text-base focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': selectedBranchItem.isRepoProd === true,
        'text-blue3 hover:bg-blue2': selectedBranchItem.isRepoProd === false
      }"
      (click)="mergeBranch(branchSelect, $event)"
      [disabled]="selectedBranchItem.isRepoProd === true"
      >Merge Branch</button
    >

    <button
      *ngIf="
        !!repo.repoId &&
        repo.conflicts.length === 0 &&
        repo.repoStatus !== repoStatusNeedCommit &&
        repo.repoId !== prodRepoID
      "
      data-cy="branchSelectCreateBranchButton"
      class="w-full rounded py-3 text-base text-blue3 hover:bg-blue2 focus:outline-none"
      (click)="createNewBranch(branchSelect, $event)"
      >New Local Branch</button
    >
  </ng-template>
</ng-select>

<div *ngIf="repo$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="needSave$ | async"></div>
