<ng-select
  #branchSelect
  data-cy="branchSelect"
  class="custom w-64 text-base focus:outline-none"
  (open)="openBranchSelect()"
  [loading]="branchesListLoading"
  [items]="branchesList"
  [clearable]="false"
  [disabled]="selectedProjectId === undefined || needSave === true"
  [searchable]="false"
  [(ngModel)]="selectedBranchExtraId"
  (change)="branchChange()"
  appendTo="body"
  placeholder="Repository - Branch"
  bindLabel="extraName"
  bindValue="extraId"
>
  <ng-template ng-label-tmp let-item="item">
    <div class="ml-2">{{ item.extraName }}</div>
  </ng-template>

  <!-- <ng-template ng-header-tmp>
    <div
      class="flex ml-3 h-8 justify-left items-center text-gray1 font-semibold text-base select-none"
    >
      repository - branch
    </div>
  </ng-template> -->

  <ng-template ng-option-tmp let-item="item">
    <div class="flex ml-2">{{ item.extraName }}</div>
  </ng-template>

  <ng-template ng-footer-tmp *ngIf="isEditor === true">
    <button
      data-cy="branchSelectDeleteBranchButton"
      class="py-3 rounded w-full text-base focus:outline-none"
      [ngClass]="{
        'text-gray-400 cursor-default':
          selectedBranchItem.branchId === branchMaster,
        'text-red1 hover:bg-blue2': selectedBranchItem.branchId !== branchMaster
      }"
      (click)="deleteBranch(branchSelect, $event)"
      [disabled]="selectedBranchItem.branchId === branchMaster"
      >Delete Branch</button
    >

    <button
      data-cy="branchSelectMergeBranchButton"
      class="py-3 rounded w-full text-base focus:outline-none"
      [ngClass]="{
        'text-gray-400 cursor-default': selectedBranchItem.isRepoProd === true,
        'text-blue3 hover:bg-blue2': selectedBranchItem.isRepoProd === false
      }"
      (click)="mergeBranch(branchSelect, $event)"
      [disabled]="selectedBranchItem.isRepoProd === true"
      >Merge Branch</button
    >

    <button
      data-cy="branchSelectCreateBranchButton"
      class="py-3 rounded text-base text-blue3 hover:bg-blue2 w-full focus:outline-none"
      (click)="createNewBranch(branchSelect, $event)"
      >+ New Local Branch</button
    >
  </ng-template>
</ng-select>

<div *ngIf="nav$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="needSave$ | async"></div>
