<ng-select
  *ngIf="showEmptySelector === true"
  #emptyBranchSelect
  [fixNgSelectBottom]="emptyBranchSelect"
  class="w-72 text-base"
  appendTo="body"
></ng-select>

<ng-select
  *ngIf="showEmptySelector === false"
  #branchSelect
  [fixNgSelectBottom]="branchSelect"
  data-cy="branchSelect"
  class="w-72 select-none text-base"
  (open)="openBranchSelect()"
  [loading]="branchesListLoading"
  [items]="branchesList"
  [clearable]="false"
  [searchable]="false"
  [disabled]="selectedProjectId === undefined || needSave === true"
  [(ngModel)]="selectedBranchExtraId"
  (change)="branchChange()"
  (keyup.esc)="$event.stopImmediatePropagation(); branchSelect.blur()"
  (keyup.enter)="$event.stopImmediatePropagation(); branchSelect.blur()"
  appendTo="body"
  placeholder="Repository - Branch"
  bindLabel="extraName"
  bindValue="extraId"
>
  <ng-template ng-label-tmp let-item="item">
    <!-- <div
      class="ml-1 truncate rounded px-[8px] py-[1px]"
      [ngClass]="{
        'bg-g2': item.extraName.substring(0, 4) === 'dev-',
        'bg-m150': item.extraName.substring(0, 10) === 'production'
      }"
      >{{ item.extraName }}</div
    > -->
    <div class="ml-1 truncate">{{ item.extraName }}</div>
  </ng-template>

  <ng-template ng-option-tmp let-item="item">
    <div class="ml-1 truncate">{{ item.extraName }}</div>
  </ng-template>

  <ng-template ng-footer-tmp>
    <div class="text-s400 cursor-default p-3" *ngIf="isEditor === false">
      FileEditor role is required to switch to Dev repo branches (Development
      mode)
    </div>

    <div
      class="text-s400 cursor-default p-3"
      *ngIf="isEditor === true && !!repo.repoId && repo.conflicts.length > 0"
    >
      Resolve conflicts to be able to switch, merge, delete or create Dev repo
      branches
    </div>

    <div
      class="text-s400 cursor-default p-3"
      *ngIf="
        isEditor === true &&
        !!repo.repoId &&
        repo.conflicts.length === 0 &&
        repo.repoStatus === repoStatusNeedCommit
      "
    >
      Commit changes to be able to switch, merge, delete or create Dev repo
      branches
    </div>

    <button
      *ngIf="
        isEditor === true &&
        !!repo.repoId &&
        repo.conflicts.length === 0 &&
        repo.repoStatus !== repoStatusNeedCommit
      "
      data-cy="branchSelectCreateBranchButton"
      class="text-m600 hover:bg-m50 w-full rounded py-3 text-base focus:outline-none"
      (click)="createNewBranch(branchSelect, $event)"
      >New Branch</button
    >

    <button
      *ngIf="
        isEditor === true &&
        !!repo.repoId &&
        repo.conflicts.length === 0 &&
        repo.repoStatus !== repoStatusNeedCommit &&
        repo.repoId !== prodRepoID
      "
      data-cy="branchSelectMergeBranchButton"
      class="w-full rounded py-3 text-base focus:outline-none"
      [ngClass]="{
        'text-s400 cursor-default': selectedBranchItem.isRepoProd === true,
        'text-m600 hover:bg-m50': selectedBranchItem.isRepoProd === false
      }"
      (click)="mergeBranch(branchSelect, $event)"
      [disabled]="selectedBranchItem.isRepoProd === true"
      >Merge Branch</button
    >

    <button
      *ngIf="
        isEditor === true &&
        (!repo.repoId ||
          (repo.conflicts.length === 0 &&
            repo.repoStatus !== repoStatusNeedCommit))
      "
      data-cy="branchSelectDeleteBranchButton"
      class="w-full rounded py-3 text-base focus:outline-none"
      [ngClass]="{
        'text-s400 cursor-default':
          selectedBranchItem.branchId === defaultBranch,
        'text-m600 hover:bg-m50': selectedBranchItem.branchId !== defaultBranch
      }"
      (click)="deleteBranch(branchSelect, $event)"
      [disabled]="selectedBranchItem.branchId === defaultBranch"
      >Delete Branch</button
    >

    <!-- <div
      class="cursor-default p-3 text-s400"
      *ngIf="
        isEditor === true &&
        (!repo.repoId ||
          (repo.conflicts.length === 0 &&
            repo.repoStatus !== repoStatusNeedCommit &&
            repo.repoId === prodRepoID))
      "
    >
      Switch to the Dev repo to be able to merge dev branches
    </div> -->
  </ng-template>
</ng-select>

<div *ngIf="repo$ | async"></div>
<div *ngIf="nav$ | async"></div>
<div *ngIf="isEditor$ | async"></div>
<div *ngIf="file$ | async"></div>
<div *ngIf="needSave$ | async"></div>
<div *ngIf="routerEvents$ | async"></div>
