<div class="flex flex-col bg-white p-9">
  <div
    data-cy="addRoleDialogTitle"
    class="mt-5 flex-grow text-left text-2xl font-semibold text-gray2"
    >Add Role</div
  >

  <form class="flex w-80 flex-col" [formGroup]="addRoleForm" (ngSubmit)="add()">
    <input
      spellcheck="false"
      data-cy="addRoleDialogRoleInput"
      class="form-input mt-9 rounded border-gray3 focus:border-blue3"
      [ngClass]="{
        'border-red-600':
          addRoleForm.controls['role'].invalid &&
          addRoleForm.controls['role'].touched
      }"
      formControlName="role"
      placeholder="Role"
    />
    <m-validation [control]="addRoleForm.controls['role']"></m-validation>

    <div class="mt-6">
      <button
        data-cy="addRoleDialogAddButton"
        class="w-28 rounded bg-blue3 py-3 text-base font-medium text-white focus:outline-none"
        type="submit"
        >Add</button
      >

      <button
        data-cy="addRoleDialogCancelButton"
        class="ml-3 w-28 rounded border border-blue3 py-3 text-base font-medium text-blue3 focus:outline-none"
        type="button"
        (click)="cancel()"
        >Cancel</button
      >
    </div>
  </form>
</div>
