<button
  data-cy="repOptionsMenuButton"
  class="ml-3 flex h-8 w-8 flex-shrink-0 items-center justify-center rounded hover:bg-white focus:outline-none"
  #t1="tippy"
  [tp]="templateRepOptions"
  [tpHideOnEscape]="true"
  variation="menu"
  className="my-menu"
  [tpOffset]="[0, 5]"
  (click)="clickMenu($event)"
>
  <m-dots-vertical-icon></m-dots-vertical-icon>
</button>

<ng-template #templateRepOptions>
  <div class="border-gray4 w-48 rounded-md border-2 bg-white shadow-xl">
    <button
      data-cy="repOptionsGoToFileButton"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      (click)="t1.hide(); goToFileLine($event)"
      >Go to File</button
    >

    <button
      data-cy="repOptionsDelete"
      class="text-gray1 hover:bg-blue2 w-full px-4 py-2 text-left text-base focus:outline-none"
      [ngClass]="{
        'cursor-default text-gray-400': rep.canEditOrDeleteRep === false
      }"
      (click)="t1.hide(); deleteRep($event)"
      [disabled]="rep.canEditOrDeleteRep === false"
      >Delete</button
    >
  </div>
</ng-template>
