<div class="flex flex-col p-9 bg-white h-[500px]">
  <div
    data-cy="editTimezoneDialogTitle"
    class="mt-5 text-2xl text-gray2 font-semibold text-left"
    >Edit Timezone</div
  >

  <ng-select
    data-cy="editTimezoneDialogTimezoneSelect"
    class="mt-6 w-80 focus:outline-none"
    [items]="timezones"
    [clearable]="false"
    [(ngModel)]="timezone"
    bindLabel="label"
    bindValue="value"
  >
  </ng-select>
  <div class="flex-grow"></div>

  <div class="mt-6">
    <button
      data-cy="editTimezoneDialogSaveButton"
      class="py-3 w-28 bg-blue3 text-white rounded font-medium focus:outline-none"
      (click)="save()"
      >Save</button
    >

    <button
      data-cy="editTimezoneDialogCancelButton"
      class="ml-3 py-3 w-28 rounded border text-blue3 border-blue3 font-medium focus:outline-none"
      type="button"
      (click)="cancel()"
      >Cancel</button
    >
  </div>
</div>

<div *ngIf="timezone$ | async"></div>
