@import '../node_modules/@angular/material/theming';

/* add components themes*/
@import '../app/components/blockml/blockml-catalog-tree/_catalog-tree-theme';
@import '../app/components/blockml/blockml-conflicts/_conflicts-theme';
@import '../app/components/blockml/blockml-errors/_errors-theme';
@import '../app/components/blockml/blockml-hint/_hint-theme';
@import '../app/components/blockml/blockml-file-editor/_file-editor-theme';

@import '../app/components/dashboard/_dashboard-page/_dashboard-theme';
@import '../app/components/dashboard/dashboard-filters/_dashboard-filters-theme';
@import '../app/components/dashboard/dashboard-report-title/_report-title-theme';

@import '../app/components/menu/logo/_logo-theme';
@import '../app/components/menu/menu-user/_user-theme';
@import '../app/components/menu/menu-user-theme-picker/_theme-picker-theme';
@import '../app/components/menu/project-select/_project-select-theme';
@import '../app/components/menu/project-setup/_project-setup-theme';

@import '../app/components/model/_model-page/_model-theme';
@import '../app/components/model/chart/_chart-theme';
@import '../app/components/model/chart-editor/_chart-editor-theme';
@import '../app/components/model/chart-viewer/_chart-viewer-theme';
@import '../app/components/model/data/_data-theme';
@import '../app/components/model/main-table/_main-table-theme';
@import '../app/components/model/model-filters/_model-filters-theme';
@import '../app/components/model/model-tree/_model-tree-theme';
@import '../app/components/model/query/_query-theme';

@import '../app/components/profile/_profile-page/_profile-theme';

@import '../app/components/project/_project-page/_project-theme';
@import '../app/components/project/pdts/_pdts-theme';
@import '../app/components/model/sql/_sql-theme';
@import '../app/components/project/repo/_repo-theme';
@import '../app/components/project/settings/_setting-theme';

@import '../app/components/space/_space-page/_space-theme';

@import '../app/components/visual/_visual-page/_visual-theme';

@import '../app/modules/colorpicker/_colorpicker-theme';

@mixin material-app-theme($theme) {
  $sub-primary: map-get($theme, sub-primary);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  /* include components mixin*/
  @include user-theme($theme);
  @include logo-theme($theme);
  @include project-select-theme($theme);
  @include project-setup-theme($theme);
  @include space-theme($theme);
  @include profile-theme($theme);
  @include project-theme($theme);
  @include catalog-tree-theme($theme);
  @include repo-theme($theme);
  @include model-theme($theme);
  @include conflicts-theme($theme);
  @include errors-theme($theme);
  @include hint-theme($theme);
  @include model-tree-theme($theme);
  @include chart-editor-theme($theme);
  @include dashboard-theme($theme);
  @include report-title-theme($theme);
  @include settings-theme($theme);
  @include theme-picker-theme($theme);
  @include query-theme($theme);
  @include pdts-theme($theme);
  @include sql-theme($theme);
  @include model-filters-theme($theme);
  @include dashboard-filters-theme($theme);
  @include data-theme($theme);
  @include main-table-theme($theme);
  @include file-editor-theme($theme);
  @include visual-theme($theme);
  @include chart-viewer-theme($theme);
  @include chart-theme($theme);
  @include colorpicker-theme($theme);
  /* ====================== */

  mat-nav-list {
    [mat-list-item].active {
      mat-icon[mat-list-avatar] {
        background-color: mat-color($accent);
        color: mat-color($accent, default-contrast);
      }
      mat-icon[mat-list-icon] {
        color: mat-color($accent);
      }
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    background: #ff7b00;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(173, 173, 173);
  }

  .mat-flat-fab {
    padding: 0 !important;
    min-width: 30px !important;
    max-height: 30px !important;
    border-radius: 30px !important;
    line-height: 30px !important;
    .mat-button-ripple {
      border-radius: 30px !important;
    }
  }
}
