<table>
  <thead>
    <tr>
      <th
        style="min-width: 200px; max-width: 350px"
        class="group border-4 border-white p-0 align-top"
        [ngClass]="{
          'bg-blue5': column.fieldClass === fieldClassDimension,
          'bg-purple-300': column.fieldClass === fieldClassMeasure,
          'bg-green1': column.fieldClass === fieldClassCalculation
        }"
        *ngFor="let column of mconfigFields; let columnIndex = index"
      >
        <div
          *ngIf="isEdit === true"
          class="flex h-12 items-center justify-start space-x-3 bg-white pr-5"
        >
          <div class="flex items-center justify-start">
            <div
              class="flex h-8 w-4 select-none items-center justify-center text-blue-500"
            >
              <div *ngIf="column.sortingNumber > -1">{{
                column.sortingNumber + 1
              }}</div>
            </div>

            <button
              *ngIf="column.sorting?.desc === false"
              class="hover:bg-blue4 flex h-8 w-8 items-center justify-center rounded text-blue-500 focus:outline-none"
              (click)="sort(column.id, false)"
            >
              <m-asc-icon></m-asc-icon>
            </button>

            <button
              *ngIf="column.sorting?.desc === true"
              class="hover:bg-blue4 flex h-8 w-8 items-center justify-center rounded text-blue-500 focus:outline-none"
              (click)="sort(column.id, true)"
            >
              <m-desc-icon></m-desc-icon>
            </button>

            <button
              *ngIf="!column.sorting"
              class="hover:bg-blue4 invisible flex h-8 w-8 items-center justify-center rounded focus:outline-none group-hover:visible"
              (click)="sort(column.id, true)"
            >
              <m-desc-icon></m-desc-icon>
            </button>
          </div>

          <button
            class="invisible flex h-8 w-8 items-center justify-center rounded focus:outline-none group-hover:visible"
            [ngClass]="{
              'cursor-default text-gray-400':
                columnIndex === 0 ||
                column.fieldClass !== mconfigFields[columnIndex - 1].fieldClass,
              'hover:bg-blue4':
                columnIndex !== 0 &&
                column.fieldClass === mconfigFields[columnIndex - 1].fieldClass
            }"
            [disabled]="
              columnIndex === 0 ||
              column.fieldClass !== mconfigFields[columnIndex - 1].fieldClass
            "
            (click)="moveLeft(column.id)"
          >
            <m-arrow-left-icon></m-arrow-left-icon>
          </button>

          <button
            class="invisible flex h-8 w-8 items-center justify-center rounded focus:outline-none group-hover:visible"
            [ngClass]="{
              'cursor-default text-gray-400':
                columnIndex + 1 === mconfigFields.length ||
                column.fieldClass !== mconfigFields[columnIndex + 1].fieldClass,
              'hover:bg-blue4':
                columnIndex + 1 !== mconfigFields.length &&
                column.fieldClass === mconfigFields[columnIndex + 1].fieldClass
            }"
            (click)="moveRight(column.id)"
            [disabled]="
              columnIndex + 1 === mconfigFields.length ||
              column.fieldClass !== mconfigFields[columnIndex + 1].fieldClass
            "
          >
            <m-arrow-right-icon></m-arrow-right-icon>
          </button>

          <div
            tp="A required field cannot be deselected"
            [tpIsEnabled]="column.required === true"
          >
            <button
              class="invisible flex h-8 w-8 items-center justify-center rounded focus:outline-none group-hover:visible"
              [ngClass]="{
                'cursor-default text-gray-400': column.required === true,
                'hover:bg-blue4': column.required === false
              }"
              [disabled]="column.required === true"
              (click)="remove(column.id)"
            >
              <m-delete-icon></m-delete-icon>
            </button>
          </div>
        </div>

        <div
          class="flex flex-col items-start justify-center overflow-hidden text-clip px-5 py-2"
        >
          <div class="flex select-none flex-col items-start justify-center">
            <div class="truncate text-sm font-normal">{{
              column.topLabel | capitalize
            }}</div>

            <div class="flex flex-row text-left font-semibold">
              <div *ngIf="column.groupLabel"
                >{{ column.groupLabel | capitalize }} -
                {{ column.label | capitalize }}</div
              >

              <div *ngIf="!column.groupLabel">{{
                column.label | capitalize
              }}</div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr data-cy="mainTableRow" *ngFor="let row of qData; let i = index">
      <td
        style="min-width: 200px; max-width: 350px"
        data-cy="mainTableCell"
        *ngFor="let column of mconfigFields"
        class="truncate px-5"
        [ngClass]="{
          'bg-gray-100': (i + 1) % 2 === 0,
          'text-right': column.result === fieldResultNumber
        }"
      >
        {{
          isFormat === true
            ? row[column.sqlName]?.valueFmt
            : row[column.sqlName]?.value
        }}
      </td>

      <!-- <td
        style="min-width: 200px; max-width: 350px"
        data-cy="mainTableCell"
        *ngFor="let column of mconfigFields"
        class="px-5 truncate"
        [ngClass]="{
          'bg-blue6':
            (i + 1) % 2 === 0 && column.fieldClass === fieldClassDimension,
          'bg-purple-100 text-right':
            (i + 1) % 2 === 0 && column.fieldClass === fieldClassMeasure,
          'bg-green2':
            (i + 1) % 2 === 0 && column.fieldClass === fieldClassCalculation,
          'text-right': column.result === fieldResultNumber
        }"
      >
        {{
          isFormat === true
            ? row[column.sqlName]?.valueFmt
            : row[column.sqlName]?.value
        }}
      </td> -->
    </tr>
  </tbody>
</table>

<div *ngIf="chart$ | async"></div>
