<table>
  <thead>
    <tr>
      <th
        style="min-width: 200px; max-width: 350px"
        class="group align-top border-white border-4 p-0"
        [ngClass]="{
          'bg-blue5': column.fieldClass === fieldClassDimension,
          'bg-purple-300': column.fieldClass === fieldClassMeasure,
          'bg-green1': column.fieldClass === fieldClassCalculation
        }"
        *ngFor="let column of mconfigFields; let columnIndex = index"
      >
        <div
          *ngIf="isEdit === true"
          class="pr-5 h-12 flex items-center justify-start space-x-3 bg-white"
        >
          <div class="flex items-center justify-start">
            <div
              class="h-8 w-4 flex items-center justify-center text-blue-500 select-none"
            >
              <div *ngIf="column.sortingNumber > -1">{{
                column.sortingNumber + 1
              }}</div>
            </div>

            <button
              *ngIf="column.sorting?.desc === false"
              class="h-8 w-8 flex items-center justify-center rounded hover:bg-blue2 text-blue-500 focus:outline-none"
              (click)="sort(column.id, false)"
            >
              <m-asc-icon></m-asc-icon>
            </button>

            <button
              *ngIf="column.sorting?.desc === true"
              class="h-8 w-8 flex items-center justify-center rounded hover:bg-blue2 text-blue-500 focus:outline-none"
              (click)="sort(column.id, true)"
            >
              <m-desc-icon></m-desc-icon>
            </button>

            <button
              *ngIf="!column.sorting"
              class="h-8 w-8 flex items-center justify-center rounded hover:bg-blue2 focus:outline-none invisible group-hover:visible"
              (click)="sort(column.id, true)"
            >
              <m-desc-icon></m-desc-icon>
            </button>
          </div>

          <button
            class="h-8 w-8 flex items-center justify-center rounded focus:outline-none invisible group-hover:visible"
            [ngClass]="{
              'cursor-default text-gray-400':
                columnIndex === 0 ||
                column.fieldClass !== mconfigFields[columnIndex - 1].fieldClass,
              'hover:bg-blue2':
                columnIndex !== 0 &&
                column.fieldClass === mconfigFields[columnIndex - 1].fieldClass
            }"
            [disabled]="
              columnIndex === 0 ||
              column.fieldClass !== mconfigFields[columnIndex - 1].fieldClass
            "
            (click)="moveLeft(column.id)"
          >
            <m-arrow-left-icon></m-arrow-left-icon>
          </button>

          <button
            class="h-8 w-8 flex items-center justify-center rounded focus:outline-none invisible group-hover:visible"
            [ngClass]="{
              'cursor-default text-gray-400':
                columnIndex + 1 === mconfigFields.length ||
                column.fieldClass !== mconfigFields[columnIndex + 1].fieldClass,
              'hover:bg-blue2':
                columnIndex + 1 !== mconfigFields.length &&
                column.fieldClass === mconfigFields[columnIndex + 1].fieldClass
            }"
            (click)="moveRight(column.id)"
            [disabled]="
              columnIndex + 1 === mconfigFields.length ||
              column.fieldClass !== mconfigFields[columnIndex + 1].fieldClass
            "
          >
            <m-arrow-right-icon></m-arrow-right-icon>
          </button>

          <button
            class="h-8 w-8 flex items-center justify-center rounded hover:bg-blue2 focus:outline-none invisible group-hover:visible"
            (click)="remove(column.id)"
          >
            <m-delete-icon></m-delete-icon>
          </button>
        </div>

        <div
          class="flex flex-col px-5 py-2 justify-center items-start overflow-clip overflow-hidden"
        >
          <div class="flex flex-col justify-center items-start select-none">
            <div class="font-normal text-sm truncate">{{
              column.topLabel | capitalize
            }}</div>

            <div class="flex flex-row font-semibold text-left">
              <div *ngIf="column.groupLabel"
                >{{ column.groupLabel | capitalize }} -
                {{ column.label | capitalize }}</div
              >

              <div *ngIf="!column.groupLabel">{{
                column.label | capitalize
              }}</div>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr data-cy="mainTableRow" *ngFor="let row of qData; let i = index">
      <td
        style="min-width: 200px; max-width: 350px"
        data-cy="mainTableCell"
        *ngFor="let column of mconfigFields"
        class="px-5 truncate"
        [ngClass]="{
          'bg-gray-100': (i + 1) % 2 === 0,
          'text-right': column.result === fieldResultNumber
        }"
      >
        {{
          isFormat === true
            ? row[column.sqlName]?.fValue
            : row[column.sqlName]?.value
        }}
      </td>

      <!-- <td
        style="min-width: 200px; max-width: 350px"
        data-cy="mainTableCell"
        *ngFor="let column of mconfigFields"
        class="px-5 truncate"
        [ngClass]="{
          'bg-blue6':
            (i + 1) % 2 === 0 && column.fieldClass === fieldClassDimension,
          'bg-purple-100 text-right':
            (i + 1) % 2 === 0 && column.fieldClass === fieldClassMeasure,
          'bg-green2':
            (i + 1) % 2 === 0 && column.fieldClass === fieldClassCalculation,
          'text-right': column.result === fieldResultNumber
        }"
      >
        {{
          isFormat === true
            ? row[column.sqlName]?.fValue
            : row[column.sqlName]?.value
        }}
      </td> -->
    </tr>
  </tbody>
</table>

<!-- <div *ngIf="mconfig$ | async"></div> -->
