<!--
  <div class="profile-image-upload"
       fxLayout="row">
    <div fxFlex="1 1 50%">
      <div #imagePlace
           class="image-init"></div>
    </div>
    <div fxFlex="1 1 50%">
      <mat-toolbar color="primary">Edit avatar</mat-toolbar>
      <form class="profile-image-upload-form"
            [formGroup]="pictureForm"
            (ngSubmit)="onSubmit(pictureForm); dialogRef.close()">
        <div fxLayout="column"
             class="profile-image-upload-form-layout">
          <div fxFlex="0 0 50px"
               class="upload-file">
            <td-file-input color="primary"
                           (select)="fileChangeListener($event)">
              <mat-icon>attach_file</mat-icon>
              <span>Choose a file...</span>
            </td-file-input>
          </div>
          <div fxFlex="1 1 100%">
            <div #imagePlaceCropper
                 class="image-init image-init_preview"></div>
          </div>
          <div fxFlex="0 0 25px">
            <div fxLayout="row">
              <div fxFlex="1 1 100%">
                <button mat-icon-button
                        color="primary"
                        type="submit">
                  <mat-icon>done</mat-icon>
                </button>
                <button mat-icon-button
                        color="primary"
                        type="reset"
                        (click)="dialogRef.close()">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
              <div fxFlex="0 0 40px">
                <button type="button"
                        mat-icon-button
                        color="primary"
                        (click)="rotateImage()">
                  <mat-icon>rotate_90_degrees_ccw</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
-->
