<div class="bg-white ml-6 mr-6 mt-6 mb-4 rounded shadow-lg w-full">
  <m-repo-conflicts
    *ngIf="repo && repo.conflicts.length > 0"
  ></m-repo-conflicts>

  <m-blockml-errors
    *ngIf="
      repo && repo.conflicts.length === 0 && struct && struct.errors.length > 0
    "
  ></m-blockml-errors>

  <div
    *ngIf="
      repo &&
      repo.conflicts.length === 0 &&
      struct &&
      struct.errors.length === 0
    "
    class="flex flex-col space-y-3 justify-center items-center h-full"
  >
    <m-completed-ring></m-completed-ring>
    <div class="text-xl"> BlockML is valid </div>
  </div>
</div>

<div *ngIf="repo$ | async"></div>
<div *ngIf="struct$ | async"></div>
