<div class="flex flex-row items-start justify-start h-16">
  <div class="flex ml-5 w-10 h-[36px] items-center justify-start">
    {{
      !isFirst && fraction.operator === fractionOperatorEnum.Or
        ? 'OR'
        : !isFirst && fraction.operator === fractionOperatorEnum.And
        ? 'AND'
        : ''
    }}
  </div>

  <form class="flex flex-row ml-2" [formGroup]="fractionForm">
    <ng-select
      #fractionStringTypeSelect
      data-cy="fractionStringTypeSelect"
      class="flex w-56 focus:outline-none h-[36px]"
      [items]="fractionStringTypesList"
      [clearable]="false"
      [searchable]="false"
      (change)="typeChange($event)"
      bindLabel="label"
      bindValue="value"
      formControlName="fractionType"
    >
    </ng-select>

    <div class="flex flex-col ml-5">
      <div
        *ngIf="
          fraction.type === fractionTypeEnum.StringIsEqualTo ||
          fraction.type === fractionTypeEnum.StringContains ||
          fraction.type === fractionTypeEnum.StringStartsWith ||
          fraction.type === fractionTypeEnum.StringEndsWith ||
          fraction.type === fractionTypeEnum.StringIsNotEqualTo ||
          fraction.type === fractionTypeEnum.StringDoesNotContain ||
          fraction.type === fractionTypeEnum.StringDoesNotStartWith ||
          fraction.type === fractionTypeEnum.StringDoesNotEndWith
        "
      >
        <input
          data-cy="fractionStringValueInput"
          class="w-48 h-[36px] form-input rounded border-gray3 focus:border-blue3"
          [ngClass]="{
            'border-red-600':
              fractionForm.controls['stringValue'].invalid &&
              fractionForm.controls['stringValue'].touched
          }"
          formControlName="stringValue"
          (blur)="stringValueBlur()"
        />

        <m-validation
          [control]="fractionForm.controls['stringValue']"
        ></m-validation>
      </div>
    </div>
  </form>

  <!-- StringIsNull -->
  <!-- StringIsBlank -->
  <!-- StringIsNotNull -->
  <!-- StringIsNotBlank -->
</div>
