<div class="mp-min-width-1 mp-max-width-2">
  <mat-toolbar color="primary">Delete user</mat-toolbar>

  <br />
  <p
    >Are you sure you wish to delete {{ userId$ | async }} user profile and
    related data?</p
  >
  <br />

  <button
    type="submit"
    color="warn"
    mat-raised-button
    data-cy="dialogDeleteUserYesButton"
    (click)="onSubmit(); dialogRef.close()"
    >Yes, Delete
  </button>

  <button
    type="reset"
    class="mp-cancel"
    mat-raised-button
    (click)="dialogRef.close()"
    >Cancel
  </button>
</div>
