<div class="flex flex-col divide-y divide-gray-300 w-full">
  <div
    *ngFor="let filter of extendedFilters; let filterIndex = index"
    class="flex flex-row items-start justify-start pt-5"
  >
    <div class="flex flex-row items-center justify-center">
      <button
        class="flex h-9 w-9 items-center justify-center rounded hover:bg-blue2"
        (click)="addFraction(filter, filterIndex)"
      >
        <m-add-icon></m-add-icon>
      </button>

      <div class="flex flex-col justify-start items-start w-36 ml-3">
        <div class="font-normal text-sm truncate">{{
          filter.field.topLabel | capitalize
        }}</div>

        <div class="flex flex-row font-semibold text-left">
          <div *ngIf="filter.field.groupLabel"
            >{{ filter.field.groupLabel | capitalize }} -
            {{ filter.field.label | capitalize }}</div
          >

          <div *ngIf="!filter.field.groupLabel" class="">{{
            filter.field.label | capitalize
          }}</div>
        </div>
      </div>
    </div>

    <div class="mt-1">
      <div
        class="h-16 flex flex-row justify-start items-start"
        *ngFor="
          let fraction of filter.fractions;
          let isFirst = first;
          let fractionIndex = index
        "
      >
        <m-fraction
          [fieldResult]="filter.field.result"
          [fraction]="fraction"
          [fractionIndex]="fractionIndex"
          [isFirst]="isFirst"
          (fractionUpdate)="fractionUpdate(filter, filterIndex, $event)"
        >
        </m-fraction>

        <!-- <button
      mat-icon-button
      color="warn"
      (click)="deleteFraction(filter, filterIndex, fractionIndex)"
      >
      <mat-icon>close</mat-icon>
    </button> -->

        <!-- <span *ngIf="fraction.hasDuplicates">duplicate filter</span> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="extendedFilters$ | async"></div>
