<div class="flex h-full flex-col">
  <div
    class="text-r1 mx-6 mb-6 mt-6 flex flex-row items-center space-x-3 text-2xl font-semibold"
  >
    <m-exclamation-icon></m-exclamation-icon>
    <div>Merge Conflicts</div>
  </div>

  <div class="flex flex-grow flex-col overflow-y-auto">
    <div *ngIf="repo?.conflicts" class="mt-5 h-2">
      <div
        *ngFor="let conflict of repo.conflicts"
        class="hover:bg-m50 px-6 py-2 text-base hover:cursor-pointer"
        (click)="goToFileLine(conflict)"
      >
        <div *ngIf="conflict.lineNumber !== 0" class="flex w-full flex-row">
          <div class="max-w-[80%] truncate">{{ conflict.fileName }}</div>

          <div class="ml-5 flex font-semibold"
            >line: {{ conflict.lineNumber }}</div
          >
        </div>

        <div class="font-semibold" *ngIf="conflict.lineNumber === 0"
          >line: {{ conflict.fileName }}</div
        >

        <!-- <div *ngIf="conflict.lineNumber !== 0" class="flex flex-row w-full">
          <div class="truncate max-w-[90%]">{{ conflict.fileName }}</div>

          <div class="flex ml-5"> - {{ conflict.lineNumber }}</div>
        </div>

        <div *ngIf="conflict.lineNumber === 0">{{ conflict.fileName }}</div> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="repo$ | async"></div>
