@mixin docs-link-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  .docs-link {
    &__button_hover_primary {
      &:hover {
        color: mat-color($primary);
      }

      &:hover .mat-button-focus-overlay {
        background-color: transparent!important;
      }
    }
  }
}
.dark-theme .docs-link {
  &__button_hover_primary {
    &:hover {
      color: #ff9800 !important; 
    }
  }
}