<div fxHide.lt-md>
  <a
    mat-button
    class="docs-link docs-link__button_hover_primary"
    href="/docs"
    target="_blank"
  >
    <div fxLayout="row" fxLayoutAlign="start center"> Docs </div>
  </a>
</div>

<!-- mobile -->
<div fxHide.gt-sm>
  <mat-accordion>
    <mat-expansion-panel hideToggle="true" disabled="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-button href="/docs" target="_blank">
            <div fxLayout="row" fxLayoutAlign="start center"> Docs </div>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
