name: build-mprove-cli
on:
  push:
    tags:
      - prep-*
jobs:
  build:
    strategy:
      matrix:
        os: [macos]
        # os: [windows, macos, ubuntu]
        include:
          # - os: ubuntu
          #   build: pnpm build:mcli
          #   pkg: |
          #     pnpm pkg:mcli
          #     pnpm shx mv dist/apps/mcli/bin/mprove mprove
          #     tar czf "mprove-cli-linux-${{ github.sha }}.tgz" "mprove"
          #   artifact: mprove-cli-linux-${{ github.sha }}.tgz
          - os: macos
            arch: x64
            build: pnpm build:mcli
            pkg: |
              pnpm pkg:mcli --targets node24-macos-x64 --no-bytecode --public-packages "*" --public
              pnpm shx mv bin/mprove mprove
              tar czf "mprove-cli-macos-${{ github.sha }}.tgz" "mprove"
            artifact: mprove-cli-macos-${{ github.sha }}.tgz
          # - os: windows
          #   build: pnpm build:mcli:win
          #   pkg: |
          #     pnpm pkg:mcli:win
          #     pnpm shx mv dist/apps/mcli/bin/mprove.exe mprove-cli-windows-${{ github.sha }}.exe
          #   artifact: mprove-cli-windows-${{ github.sha }}.exe
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4 

      - uses: actions/setup-node@v6
        with:
          node-version: 24.10.0
          cache: pnpm

      - name: Install top dependencies
        run: pnpm install --frozen-lockfile

      - name: Install apps/mcli dependencies
        run: pnpm install --frozen-lockfile
        working-directory: apps/mcli

      - name: Build
        run: ${{ matrix.build }}

      - name: Install dist/apps/mcli dependencies
        run: pnpm install --frozen-lockfile
        working-directory: dist/apps/mcli

      - name: Package with pkg
        run: ${{ matrix.pkg }}
        working-directory: dist/apps/mcli

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact }}
          path: dist/apps/mcli/${{ matrix.artifact }}

  upload-files:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/download-artifact@v6
      #   with:
      #     name: mprove-cli-linux-${{ github.sha }}.tgz
      - uses: actions/download-artifact@v6
        with:
          name: mprove-cli-macos-${{ github.sha }}.tgz
      # - uses: actions/download-artifact@v6
      #   with:
      #     name: mprove-cli-windows-${{ github.sha }}.exe

      - uses: softprops/action-gh-release@v2
        with:
          repository: mprove-io/mprove-cli-releases
          # token: ${{ secrets.MPROVE_FILES_GITHUB_TOKEN }}
          files: |
            mprove-cli-macos-${{ github.sha }}.tgz
          # files: |
          #   mprove-cli-linux-${{ github.sha }}.tgz
          #   mprove-cli-macos-${{ github.sha }}.tgz
          #   mprove-cli-windows-${{ github.sha }}.exe
