name: build-mprove-cli
on:
  push:
    tags:
      - t-*
jobs:
  build:
    strategy:
      matrix:
        os: [windows, macos, ubuntu]
        include:
          - os: ubuntu
            build: pnpm build:mcli
            pacx: |
              pnpm pacx:mcli
              pnpm shx mv dist/bin/mp mprove
              tar czf "mprove-cli-linux-${{ github.sha }}.tgz" "mprove"
            artifact: mprove-cli-linux-${{ github.sha }}.tgz
          - os: macos
            build: pnpm build:mcli
            pacx: |
              pnpm pacx:mcli
              pnpm shx mv dist/bin/mp mprove
              tar czf "mprove-cli-macos-${{ github.sha }}.tgz" "mprove"
            artifact: mprove-cli-macos-${{ github.sha }}.tgz
          - os: windows
            build: pnpm build:mcli:win
            pacx: |
              pnpm pacx:mcli:win
              pnpm shx mv dist/bin/mp.exe mprove-cli-windows-${{ github.sha }}.exe
            artifact: mprove-cli-windows-${{ github.sha }}.exe
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16.19.0

      - name: install using package.json
        run: pnpm install --frozen-lockfile

      - name: build
        run: ${{ matrix.build }}

      - name: replace package.json
        run: pnpm shx cp package.cli.json package.json

      - name: remove node_modules
        run: pnpm shx rm -rf node_modules

      - name: install using package.cli.json
        run: pnpm install --frozen-lockfile

      - name: pacx
        run: ${{ matrix.pacx }}

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.artifact }}

  upload-files:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: mprove-cli-linux-${{ github.sha }}.tgz
      - uses: actions/download-artifact@v3
        with:
          name: mprove-cli-macos-${{ github.sha }}.tgz
      - uses: actions/download-artifact@v3
        with:
          name: mprove-cli-windows-${{ github.sha }}.exe

      - uses: softprops/action-gh-release@v1
        with:
          repository: mprove-io/mprove-files
          token: ${{ secrets.MPROVE_FILES_GITHUB_TOKEN }}
          files: |
            mprove-cli-linux-${{ github.sha }}.tgz
            mprove-cli-macos-${{ github.sha }}.tgz
            mprove-cli-windows-${{ github.sha }}.exe
